<!DOCTYPE html>

<html>
<head>

    <title>The Makeup Date 2018 - Tutorials and Tips by Bloomingdale's</title>
    <meta name="description" content="The Makeup Date is happening now! Get makeup tips, expert tutorials and amazing beauty hacks to get you looking your best on the quick.">
    <link rel="canonical" href="https://www.bloomingdales.com/b/campaigns/makeup-date/makeup-tutorial/"/>
    <link rel="stylesheet" type="text/css" href="/b/fashion/campaigns/styles/makeup-date/makeup-tutorial/styles.css"/>

</head>

<body>


<div class="container">


</div>

<a coremetricTag="back-to-top"  href="#" class="desktop_back_to_top">
    <img class="desktop_back_to_top_img" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/desktop_back_to_top.jpg" alt="back to top button">
</a>


</body>



<script type="text/javascript" src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="/b/fashion/javascripts/includes/wssg.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/makeup-date/makeup-tutorial/index.js"></script>
<script type="text/javascript" src="/b/fashion/campaigns/javascripts/makeup-date/makeup-tutorial/mobile.js"></script>
<script type="text/javascript" src="/b/fashion/campaigns/javascripts/makeup-date/makeup-tutorial/core-metrics.js"></script>



</html>
