<!DOCTYPE html>

<html>
    <head>

        <title>The Makeup Date 2017 - Tutorials and Tips by Bloomingdale's</title>
        <meta name="description" content="The Makeup Date is happening now! Get makeup tips, expert tutorials and amazing beauty hacks to get you looking your best on the quick.">
        <link rel="canonical" href="https://www.bloomingdales.com/b/campaigns/makeup-date/makeup-tutorial/"/>
        <link rel="stylesheet" type="text/css" href="/b/fashion/campaigns/styles/makeup-date/makeup-tutorial/styles.css"/>

    </head>

    <body>


        <div class="container">


            <!-- Section 0 - Header -->
            <div coremetricTag="header-section" class="section section-0">


                <div class="row">
                    <div class="col col-50">
                        <div class="image">
                            <img alt="The Makeup Date" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png-header.png" class="header-image"/>
                        </div>


                        <div class="gif">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/gif0.gif" class="header-gif" />
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="header-second-text">
                            <p>
                                Learn how to create four party-perfect <br>
                                looks for any New Year’s celebration.
                            </p>
                            <span class="limited-promo">
                                <p class="icon-plus" style="font-family: 'Gotham Ultra'; color: #d31874; font-size: 35px">
                                    +
                                </p>
                                <p>
                                    <span class="heavy">FREE 18-PIECE GIFT</span> with any <br>
                                    $150 beauty purchase! Ends 12/17. <br>
                                    <a coremetricTag="header_see-details" href="#footer-section"><b><u>See details below</u></b></a>
                                </p>
                            </span>
                        </div>
                    </div>
                </div>



            </div>

            <hr>
            <hr>

            <!-- Section 1 -->
            <div coremetricTag="section-1" class="section section-1">
                <div class="row main-row flex">
                    <div class="col col-40 text-align-right content-center">
                        <p>
                            <span class="heavy">THE LOOK:</span><br>
                            Top cat-eye meets
                            bottom glitter.
                        </p>
                        <br><br>
                        <p>
                            <span class="heavy">PERFECT FOR:</span><br>
                            A black-tie fête and
                            dancing ’til 2AM.
                        </p>
                        <br><br>
                        <p>
                            <span class="heavy">WHY WE LOVE IT:</span><br>
                            This glam twist on winged
                            liner adds a festive touch
                            to a classic makeup look.
                        </p>

                    </div>
                    <div class="col col-60">
                        <div class="main-image-container">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/number_1.png" />
                        </div>
                    </div>
                </div>

                <div class="row text-center get-the-look-container">
                    <div class="get-the-look">
                        GET THE LOOK:
                    </div>
                    <div class="icon-arrow-down">
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-45 content-center">
                        <p>
                            Start by rimming your lower
                            lash line with <a coremetricTag="section-1_tom-fords-eye-defining-pencil" target="_blank" href="https://www.bloomingdales.com/shop/product/tom-ford-eye-defining-pencil?ID=850476"><b><u><i> Tom Ford’s
                            Eye Defining Pencil</i></u></b></a> ,
                            blending it softly, to define
                            the eye and create contrast
                            for the glitter.
                        </p>
                    </div>
                    <div class="col col-55">
                        <div>
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png2.png">
                        </div>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50">
                        <div class="image gif-container">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/gif1.gif" />
                        </div>
                    </div>
                    <div class="col col-50 content-center">
                        <p>
                            Next, create a cat-eye line with
                            liquid liner, extending it out
                            toward the end of your brow.
                        </p>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50 content-center">
                        <p>
                            Complete the look by <br>
                            layering on <a coremetricTag="section-1_lime-crimes-diamond-dew" target="_blank" href="https://www.bloomingdales.com/shop/product/?ID=2809238"><b><u><i> Lime Crime’s <br>
                            Diamond Dew </i></u></b></a> underneath <br>
                            your lower lashes.
                        </p>
                    </div>
                    <div class="col col-50">
                        <div class="baloon">
                            <p class="bold">An easy, <br>
                                no-mess <br>
                                way to apply <br>
                                glitter.
                            </p>
                        </div>
                        <div class="image" style="position: relative; margin-top: -170px;z-index: 1">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png3.png">
                        </div>

                    </div>
                </div>

                <br>

                <hr>

                <br><br>

                <div class="carousel">
                    <div id="carousel-1" class="carousel-shell" data-items='2809238,850476,2548920,2695140,1501288,2671628,1797746,2752688,2606986' data-groupSize="4">
                    </div>
                </div>



            </div>


            <hr>
            <hr>


            <!-- Section 2 -->
            <div coremetricTag="section-2" class="section section-2">
                <div class="row section-header-even flex">
                    <div class="col col-60">
                        <div class="main-image-container">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/number_2.png" />
                        </div>
                    </div>
                    <div class="col col-40 content-center">
                        <div class="text">
                            <p>
                                <span class="heavy">THE LOOK:</span> <br>
                                Lush lashes with
                                a sparkly twist.
                            </p>

                            <br>
                            <p>
                                <span class="heavy">PERFECT FOR:</span> <br>
                                A late-night dinner
                                with friends followed
                                by barhopping.
                            </p>

                            <br>
                            <p>
                                <span class="heavy">WHY WE LOVE IT:</span> <br>
                                This sophisticated
                                way to wear glitter
                                requires minimal effort
                                and looks insanely good
                                with a velvet mini
                            </p>
                        </div>

                    </div>
                </div>

                <div class="row text-center get-the-look-container">
                    <div class="get-the-look">
                        GET THE LOOK:
                    </div>
                    <div class="icon-arrow-down">
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50 content-center">
                        <p>
                            Fill in between your eyelashes
                            with deep brown or black eyeliner
                            for a fuller look. Then, curl your
                            lashes and use <a coremetricTag="section-2_mac-bold-bad-lashs" href="https://www.bloomingdales.com/shop/product/mac-bold-bad-lash?ID=2619862"><b><u> M·A·C Bold & Bad
                            Lash’s</u></b></a> tiny brush to coat your
                            bottom lashes, followed by the
                            bigger brush for the top.
                        </p>
                    </div>
                    <div class="col col-50 text-right">
                        <div class="image">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png7.png">
                        </div>
                        <div class="baloon">
                            <p class="bold">
                                Two different <br>
                                formulas—and <br>
                                brushes!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50">
                        <div class="image">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png9.png">
                        </div>
                    </div>
                    <div class="col col-50 content-center padding-25">
                        <p>
                            Shake well and add <a coremetricTag="section-2_estee-lauder-crystal-lash-top-coat" target="_blank" href="https://www.bloomingdales.com/shop/product/?ID=2711465"><b><u>Estée
                            Lauder Crystal Lash Top
                            Coat</u></b></a> to your top lashes
                            only, layering on extra for
                            added intensity.
                        </p>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50 content-center text-align-right">
                        <p>
                            Finish the look with matte
                            taupe eyeshadow to let
                            your eyelashes pop.
                        </p>
                    </div>
                    <div class="col col-50">
                        <div class="image gif-container">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/gif2.gif">
                        </div>
                    </div>
                </div>

                <hr class="margin" />

                <div class="carousel">
                    <div id="carousel-2" class="carousel-shell" data-items='2619862,2711465,2653258,2692372,2747865,2653306,2605170,2711444,454084,2683964' data-groupSize="4">
                    </div>
                </div>

            </div>

            <hr>
            <hr>


            <!-- Section 3 -->
            <div coremetricTag="section-3" class="section section-3">
                <div class="row main-row flex">
                    <div class="col col-45 text-align-right content-center">
                        <p>
                            <span class="heavy">THE LOOK:</span><br>
                            Perfectly defined pop lips.
                        </p>
                        <br>
                        <p>
                            <span class="heavy">PERFECT FOR:</span><br>
                            An under-the-stars hotel party
                            somewhere exotic.
                        </p>
                        <br>
                        <p>
                            <span class="heavy">WHY WE LOVE IT:</span><br>
                            A bright lip is an easy
                            statement that requires
                            very little additional
                            makeup.
                        </p>
                    </div>
                    <div class="col col-55">
                        <div class="main-image-container">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/number_3.png"/>
                        </div>
                    </div>
                </div>

                <div class="row text-center get-the-look-container">
                    <div class="get-the-look">
                        GET THE LOOK:
                    </div>
                    <div class="icon-arrow-down">
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50">
                        <div class="image">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png10.png" />
                        </div>
                    </div>
                    <div class="col col-50 content-center padding-25">
                        <p>
                            Prep the lips by using an exfoliating
                            lip balm. Make sure to wipe
                            away any excess balm before
                            applying <a coremetricTag="section-3_dior-rouge-dior-liquid-lip-stain" coremetricTag="section-_" target="_blank" href="https://www.bloomingdales.com/shop/product/dior-rouge-dior-liquid?ID=2714203"><b><u>Dior Rouge Dior Liquid
                            Lip Stain in Impulsive Matte.</u></b></a>
                        </p>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50 content-center text-align-right">
                        <p>
                            Smudge it with your finger
                            to give it a softer effect,
                            and don’t forget to connect
                            the inner corners of the lips
                            with the color.
                        </p>
                    </div>
                    <div class="col col-50">
                        <div class="image gif-container">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/gif3.gif" />
                        </div>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50">
                        <div class="image">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png11.png" />
                        </div>
                        <div class="baloon">
                            <p class="bold">
                                Part concealer, <br>
                                part highlighter <br>
                                and totally <br>
                                versatile.
                            </p>
                        </div>
                    </div>
                    <div class="col col-50 content-center padding-25 text-align-right no-padding-mobile"  style="padding-left: 120px">
                        <p>
                            To make your lips really pop,
                            outline them with <a coremetricTag="section-3_ysl-beauty-dazzling-lights" target="_blank" href="https://www.bloomingdales.com/shop/product/yves-saint-laurent-dazzling-lights-touche-eclat-pen?ID=2733721"><b><u>YSL
                            Beauty Dazzling Lights Touche Éclat Pen,</u></b></a> patting
                            gently to blur any lines.
                        </p>
                    </div>
                </div>

                <hr class="margin" />

                <div class="carousel">
                    <div id="carousel-3" class="carousel-shell" data-items='2714203,2733721,2713057,2711155,2763569,2456176,2649179,2614950' data-groupSize="4">
                    </div>
                </div>

            </div>


            <hr>
            <hr>


            <!-- Section 4 -->
            <div coremetricTag="section-4" class="section section-4">
                <div class="row section-header-even flex">
                    <div class="col col-60">
                        <div class="main-image-container">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/number_4.png" />
                        </div>
                    </div>
                    <div class="col col-40 content-center">
                        <div class="text">
                            <p>
                                <span class="heavy">THE LOOK:</span> <br>
                                Just-enough-flush cheeks
                                and an allover glow.
                            </p>

                            <br>
                            <p>
                                <span class="heavy">PERFECT FOR:</span> <br>
                                A low-key night at home
                                with champagne and a killer
                                cheese plate.
                            </p>

                            <br>
                            <p>
                                <span class="heavy">WHY WE LOVE IT:</span> <br>
                                Dewy skin with a little
                                highlighter and blush is
                                the ultimate night-in look.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="row text-center get-the-look-container">
                    <div class="get-the-look">
                        GET THE LOOK:
                    </div>
                    <div class="icon-arrow-down">
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-45 content-center padding-25">
                        <p>
                            Start by plumping the skin
                            with a hydrating serum, and
                            then apply <a coremetricTag="section-4_bobbi-browns-extra-illuminating-moisture-bal" target="_blank" href="https://www.bloomingdales.com/shop/product/bobbi-brown-extra-illuminating-moisture-balm-skin-glow-collection?ID=1203065"><b><u><i>Bobbi Brown’s
                            Extra Illuminating Moisture
                            Balm,</i></u></b></a> which works as both a
                            moisturizer and base.
                        </p>
                    </div>
                    <div class="col col-50 text-right">
                        <div class="image">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png13.png">
                        </div>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50">
                        <div class="image gif-container">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/gif4.gif">
                        </div>
                    </div>
                    <div class="col col-50 content-center">
                        <p>
                            Use <a coremetricTag="section-4_kevyn-aucoins-neo-trio-pallete" target="_blank" href="https://www.bloomingdales.com/shop/product/kevyn-aucoin-neo-trio-palette?ID=2740181"><b><u><i>Kevyn Aucoin’s
                            Neo-Trio Palette</i></u></b></a> for a
                            soft pink on the apples
                            of the cheeks.
                        </p>
                    </div>
                </div>

                <div class="row flex">
                    <div class="col col-50 content-center text-align-right">
                        <p>
                            Apply the bronzer on your
                            eyelids and highlighter on
                            your cheekbones. Finish the
                            look with sheer gloss.
                        </p>
                        <div class="baloon">
                            <p class="bold">
                                Bronzer, <br>
                                highlighter and <br>
                                setting powder <br>
                                in one.
                            </p>
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="image">
                            <img alt="" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/png15.png">
                        </div>
                    </div>
                </div>

                <hr class="margin" />

                <div class="carousel">
                    <div id="carousel-4" class="carousel-shell" data-items='1203065,2740181,2661069,714433,2632014,2702737,2687217,1785886,2685179,2684605,806064' data-groupSize="4">
                    </div>
                </div>
            </div>

            <hr>
            <hr>

            <!-- Section 5 - Footer -->
            <div coremetricTag="footer-section" id="footer-section" class="section section-5">
                <div class="row limited-promo">
                    <div class="col col-40">
                        <p class="bold padding-right-100 text-align-right no-padding-mobile">
                            <span class="color-pink heavy">
                                RECEIVE A FREE <br>
                                18-PIECE GIFT <br>
                            </span>
                            WITH ANY $150 <br>
                            BEAUTY PURCHASE. <br>
                            ONLINE ONLY. <br>
                            ENDS 12/17, WHILE <br>
                            SUPPLIES LAST. <br>

                            <a coremetricTag="section-5_see-whats-included" target="_blank" href="https://www.bloomingdales.com/shop/product/?ID=2714741">
                                <u>See What’s Included</u>
                            </a>

                            <br><br>

                            <span class="heavy">+</span>

                            <br><br>

                            <span class="color-purple heavy">
                                LOYALLISTS GET <br>
                                TRIPLE POINTS <br>
                            </span>

                            ON ALL BEAUTY <br>
                            PURCHASES <br>
                            THROUGH 12/17.<br>

                            <a coremetricTag="section-5_see-info" href="javascript:pop('/shop/popup?popupID=563664','myDynaPop','width=575,height=350')">
                                <u>See Info</u>
                            </a>


                        </p>
                    </div>
                    <div class="col col-60">
                        <div class="image">
                            <a coremetricTag="section-5_image" target="_blank" href="https://www.bloomingdales.com/shop/product/?ID=2714741">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-100">
                        <div class="footer-box bg-color-pink text-center padding-25 limited-promo">
                            <p class="color-white bold">
                                WIN A $500 BEAUTY GIFT BAG!
                            </p>
                            <p class="color-white" style="font-size: 18px;">
                                Enter for a chance to win a spectacular gift bag filled with Juice Beauty products. Ends 12/17.<br>
                                <a id="back-to-top" coremetricTag="section-5_footer-see-info" class="footer-see-info" href="javascript:pop('/shop/popup?popupID=590756','myDynaPop','width=575,height=350')">
                                    <b><u>See Info</u></b>
                                </a>
                            </p>
                            <br>
                            <a coremetricTag="section-5_enter-now" target="_blank" href="http://ebm.cheetahmail.com/r/regf2?a=0&aid=2076410053&n=938">
                                <button class="small tertiary bold">ENTER NOW</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-100">
                        <nav class="footer-links">
                            <a coremetricTag="section-5_footer-link_face" target="_blank" href="https://www.bloomingdales.com/shop/makeup-perfume-beauty/face-makeup?id=14721">FACE</a>
                            <a coremetricTag="section-5_footer-link_eyes" target="_blank" href="https://www.bloomingdales.com/shop/makeup-perfume-beauty/eye-makeup?id=14797">EYES</a>
                            <a coremetricTag="section-5_footer-link_lips" target="_blank" href="https://www.bloomingdales.com/shop/makeup-perfume-beauty/lip-makeup?id=14806">LIPS</a>
                            <a coremetricTag="section-5_footer-link_all-beauty" target="_blank" href="https://www.bloomingdales.com/shop/makeup-perfume-beauty?id=2921">ALL BEAUTY</a>
                        </nav>
                    </div>
                </div>

            </div>






            <br><br><br><br>
            <br><br><br><br>


        </div>

        <a coremetricTag="back-to-top"  href="#" class="desktop_back_to_top">
            <img class="desktop_back_to_top_img" src="/b/fashion/campaigns/images/makeup-date/makeup-tutorial/desktop_back_to_top.jpg" alt="back to top button">
        </a>


    </body>



    <script type="text/javascript" src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>

    <script type="text/javascript" src="/b/fashion/javascripts/includes/wssg.js"></script>

    <script type="text/javascript" src="/b/fashion/campaigns/javascripts/makeup-date/makeup-tutorial/index.js"></script>
    <script type="text/javascript" src="/b/fashion/campaigns/javascripts/makeup-date/makeup-tutorial/core-metrics.js"></script>



</html>
