// ======================================
// Registry Checklist redesign
// Author: Alessandro Ribeiro
// Date: 10/04/2016
// Project: /registry/wedding/checklist
// ======================================

$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-sans-serif: Avenir, helvetica, arial, sans-serif;

@mixin generate-page-section($name, $width: 420px) {
    &.rwc-#{$name} {
        .rwc-content {
            background-color: #ededed;
            height: $width;
        }

        .rwc-footer {
            background: transparent url('/fashion/images/projects/registry/wedding/checklist/#{$name}-bottom.jpg') no-repeat;
        }

        .rwc-#{$name}-img {
            margin-top: 50px;
        }
    }
}

.registry-wedding-checklist {
    font-family: $font-family-sans-serif;
}

.rwc-section {
    margin-bottom: 70px;
    position: relative;
    text-align: center;

    .rwc-title {
        background-color: #fff;
        display: inline-block;
        font-family: $font-family-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.2em;
        margin-bottom: -20px;
        padding: 10px 0;
        text-transform: uppercase;
        width: 294px;
    }

    .rwc-footer {
        height: 210px;
    }

    a.rwc-button {
        background-color: #fff;
        border: 3px solid #000;
        color: #000;
        font-size: 16px;
        margin: 190px 0 0;
        padding: 0 30px;
        width: 200px;

        &.rwc-button-download {
            margin-top: 0;
            text-transform: none;
            width: auto;
        }
    }

    &.rwc-hero {
        background: transparent url('/fashion/images/projects/registry/wedding/checklist/hero.jpg') no-repeat;
        color: #fff;
        height: 461px;
        padding-top: 90px;

        .rwc-content {
            font-size: 18px;
            line-height: 2;
            text-align: center;
        }

        .rwc-content-header {
            margin-bottom: 25px;
        }

        .rwc-content-title {
            color: #fff;
            font-family: $font-family-serif;
            font-size: 52px;
        }

        .rwc-line {
            height: 1px;
            margin: 0 auto;
            width: 250px;
        }

        .rwc-button {
            background-color: transparent;
            border-color: #FFF;
            color: #FFF;
            margin: 0;
            text-transform: none;
            width: auto;
        }
    }

    // Add settings section
    @include generate-page-section("settings");

    // Add cutlery section
    @include generate-page-section("cutlery");

    // Add barware section
    @include generate-page-section("barware");

    // Add stemware section
    @include generate-page-section("stemware");

    // Add bedding section
    @include generate-page-section("bedding", 210px);
}

