$site-red: #e84260;
$hamburger-icon-color: #000;
$site-font-family: 'Avenir W01', Helvetica, Arial, sans-serif;
$nav-font-family: 'Oswald', sans-serif;
$side-nav-zindex: 9998;
$sticky-header-zindex: 9999;
$sticky-header-height:54px;

$container-width: 1440px;
$site-width: 100%;

