@import "foundation-6.4.2-custom/foundation-xy-grid";
@import "flexbox_mixins";
@import "slick";
@import "variables";
@import "nav";

body, html {
  width: 100%;
  height: 100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
p {
  font-family: $site-font-family;
  font-size: 16px;
  line-height: 1.5;
  @media screen and (min-width: 767px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1020px) {
    font-size: 20px;
  }
  a {
    color: #000;
    transition: 0.3s ease-out;
    &:hover {
      color: $site-red;
    }
  }
}
h1, h2 {
  font-family: $nav-font-family;
  font-weight: 700;
}
.heart-of-ny-landing, .heart-of-ny-home, .heart-of-ny-shoes, .heart-of-ny-men, .heart-of-ny-events {
  opacity: 0;
  width: $site-width;
  display: block;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  text-align: center;
}
.heart-of-ny-sticky-header {
  width: $site-width;
  height: $sticky-header-height;
  max-height: $sticky-header-height;
  background: #fff;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  z-index: $sticky-header-zindex;
  .bloom-logo {
    transition: .3s ease-out;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%) translateY(-50%) scale(.5);
  }
}
.heart-scrolled {
  .heart-of-ny-sticky-header {
    border-bottom: 1px solid #000;
    .bloom-logo {
      top: 50%;
      transform: translateX(-50%) translateY(-50%) scale(.5);
    }
  }
}
.heart-of-ny-landing-jumbotron {
  width: $site-width;
}
header {
  width: $site-width;
  max-width: 600px;
  margin: 0 auto;
  padding: 70px 0 0 0;
  text-align: center;
  display: block;
  max-width: 80%;
  .bloom-logo {
    margin: 0 auto;
    display: block;
    max-width: 300px;
    height: auto;
  }
  h1 {
    font-family: $nav-font-family;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 50px;
    display: block;
    margin: 0;
    line-height: 1;
    margin: 25px auto 10px;
  }
  p {
    font-size: 16px;
    max-width: 545px;
    display: block;
    margin: 0 auto 40px auto;
    line-height: 1.3;
  }
  &.home-header {
    p {
      max-width: 730px;
    }
  }
  &.mens-header {
    p {
      max-width: none;
    }
  }
  @media screen and (min-width: 767px) {
      max-width: 90%;
      .bloom-logo {
        max-width: 420px;
        height: auto;
      }
      h1 {
        font-size: 90px;
      }
      p {
        font-size: 20px;
        margin: 0 auto 60px auto;
      }
  }
  @media screen and (min-width: 1280px) {
    max-width: 100%;
    .bloom-logo {
      max-width: 100%;
      height: auto;
    }
    h1 {
      font-size: 100px;
    }
    p {
      font-size: 20px;
      margin: 0 auto 60px auto;
    }
  }
}
.heart-of-ny-home {
  @media screen and (min-width: 1280px) {
    header {
      h1 {
        font-size: 83px;
      }
      p {
        max-width: 718px;
      }
    }
  }
}
.caption {
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
  &.events-caption {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
}
.feature-bar {
  width: 100%;
  position: relative;
  overflow: visible;
  padding: 10px 0;
  display: block;
  min-height: 350px;

  .inner {
    width: 100%;
    height: 150px;
    margin: 10px 0 30px 0;
    position: relative;
    overflow: visible;
    background: #000;

    .contain {
      width: 100%;
      max-width: 1200px;
      height: 150px;
      margin: 0 auto;
      position: relative;
      overflow: visible;
      display: flex;
      justify-content: center;
      flex-direction: column;

      img {
        position: absolute;
        right: 50%;
        width: 40%;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        max-height: 200px;
        width: auto;
        &.lv {
          top: 56%;
        }
        &.sparrow {
          top: 56%;
        }
        &.dsquared {
          top: 56%;
        }
      }
      h2 {
        font-size: 7vw;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        left: 55%;
        position: absolute;
        line-height: 1;
      }
      p {
        display: block;
        position: relative;
        width: 90%;
        margin: 0 auto;
        font-size: 16px;
        top: 170px;
      }


    }
  }
  &.reverse {
    .inner {
      .contain {
        img {
          left: 20%;
        }
        h2 {
          left: 60%;
        }
      }
    }
  }
  @media screen and (min-width: 767px) {
    padding: 30px 0 120px 0;
    .inner {
      height: 350px;
      margin: 40px auto 90px auto;
      .contain {
        height: 350px;
        img {
          height: 450px;
          max-height: 450px;
        }
        p {
          left: 55%;
          width: auto;
          position: absolute;
          top: 380px;
          font-size: 18px;
          padding-right: 20px;
          text-align: left;
        }
      }
    }
  }
  @media screen and (min-width: 1020px) {
    padding: 70px 0 120px 0;
    .inner {
      .contain {
        img {
          height: 550px;
          max-height: 550px;
        }
        p {
          top: 420px;
          max-width: 560px;
        }
      }
    }
  }
  @media screen and (min-width: 1280px) {
    padding: 80px 0 130px 0;
    .inner {
      height: 465px;
      margin: 90px auto 170px auto;
      .contain {
        height: 465px;
        img {
          height: 760px;
          max-height: 760px;
        }
        h2 {
         font-size: 90px;
        }
        p {
          top: 565px;
          font-size: 20px;
        }
      }
    }
  }
}
.photos-container {
  width: 100%;
  overflow: hidden;
}
.two-photos {
  width: 90%;
  display: inline-block;
  max-width: 1195px;
  margin: 0 auto;
  img {
    width: 50%;
    float: left;
  }
  &.two-photos-home {
    padding: 50px 0 100px 0;
  }
}
.logos {
  width: 100%;
  margin: 0 auto;
  max-width: $container-width;
  padding: 20px 0;
  @include flexbox;
  @include justify-content(center);
  @media screen and (min-width: 767px) {
    padding: 40px 0;
  }
}
.jumbotron {
  width: 100%;
  height: auto;
}
// global text links
.text-link {
  font-family: $nav-font-family;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  text-decoration: none;
  display: inline-block;
  color: #000;
  transition: 0.3s ease-out;
  margin-bottom: 60px;
  @media screen and (min-width: 767px) {
    border-bottom: 4px solid #000;
    margin-bottom: 125px;
  }
  &:hover {
    color: $site-red;
    border-color: $site-red;
  }
  @media screen and (min-width: 767px) {
    font-size: 50px;
    line-height: 1.3;
  }
}

// box with headline and copy
.sub-head-box {
  width: 100%;
  background: #000;

  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  .inner {
    text-align: center;
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 60px 20px;
    position: relative;
    display: block;
    h2 {
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      font-size: 50px;
      color: #fff;
      line-height: 1;
      margin-bottom: 15px;
      z-index: 2;
      position: relative;
      display: inline-block;
    }
    p {
      color: #fff;
      margin: 0 auto;
    }
    .heart {
      width: 158px;
      height: 139px;
      background-image: url(../../images/heart-of-ny/heart-icon.png);
      position:absolute;
      z-index: 1;
      display: none;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      transform: scale(0);
      right: 110px;

      p {
        text-align: center;
        font-family: $site-font-family;
        font-weight: 900;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1;
        max-width: 84px;
        margin-top: -10px;
      }
    }
  }
  @media screen and (min-width: 767px) {
   // height: 400px;
    .inner {
      p {
        max-width: 90%;
      }
      h2 {
        font-size: 62px;
      }
      .heart {
        right: 35px;
        animation: heartbeat2 2s infinite;
      }
    }
  }
  @media screen and (min-width: 1020px) {
    min-height: 400px;
    .inner {
      p {
        max-width: 920px;
        &.streamlined-type {
          max-width: 800px;
        }
      }
      h2 {
        font-size: 80px;
      }
      .heart {
        right: 135px;
        animation: heartbeat 2s infinite;
      }
    }
  }
  @media screen and (min-width: 1100px) {
    .inner {
      h2 {
        font-size: 90px;
      }
    }
  }

}
.sub-head-photo {
  max-width: 1200px;
  width: 90%;
  margin: -40px auto 60px auto;
}

// shoe grid
.shoe-grid {
  margin: 0 auto;
  width: 100%;
  max-width: $container-width;
  .col {
    //width: 90%;
    width: 49%;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    &.half {
      width: 100%;
    }
    p {
      font-weight: 700;
      margin-top: 20px;
      display: block;
      span {
        font-weight: 500;
        display: block;
      }
    }

    img {
      width: 100%;
      height: auto;
      transition: 0.3s ease-out;
    }
  }

  @media screen and (min-width: 767px) {
    margin: 70px auto 0 auto;
    .col {
      width: 24%;
      display: inline-block;
      &.half {
        width: 49%;
      }
    }
  }
}
.heart-of-new-york {
  footer {
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px 60px 20px;
    max-width: 1000px;
    overflow: hidden;
    img {
      max-width: 798px;
      width: 90%;
      height: auto;
      margin: 0 auto;
    }
    h3 {
      text-transform: uppercase;
      font-family: $site-font-family;
      font-weight: 700;
      font-size: 14px;
      color: #000;
      margin-top: 25px;
    }
    @media screen and (min-width: 767px) {
      padding: 60px 20px 120px 20px;
      h3 {
        font-size: 20px;
      }
    }
  }
}

// variables for feature
$small-feature-height: 220px;
$small-feature-bg-height: 150px;
$small-feature-bg-top: ($small-feature-height - $small-feature-bg-height)/2;

$medium-feature-height: 430px;
$medium-feature-bg-height: 310px;
$medium-feature-bg-top: ($medium-feature-height - $medium-feature-bg-height)/2;
  
$large-feature-height: 675px;
$large-feature-bg-height: 460px;
$large-feature-bg-top: ($large-feature-height - $large-feature-bg-height)/2;
   
// feature with photo and content
.new-feature {
  //height: 220px;
  width: 100%;
  position: relative;
  margin-bottom: 0;

  // small only
  .small-feature-type {
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.3;
  }

  .col {
    width: 49%;
    display: inline-block;
    height: $small-feature-height;
    z-index: 100;
    position: relative;
    &:nth-child(2) {
      width: 40%;
    }
    h2 {
      float: right;
      text-align: right;
      padding-right: 20px;
      text-transform: uppercase;
      color: #fff;
      line-height: 1;
      font-size: 6vw;
      @include vertical-align();
      max-width: 700px;
      span {
        font-size: 4vw;
      }
    }
    p {
      text-align: right;
      font-size: 20px;
      max-width: 380px;
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 1.3;
      padding: 0 50px 0 0;
      margin-bottom: 0;
      display: none;

    }
    img {
      float: left;
      @include vertical-align();
      max-height: $small-feature-height;
    }
    &.col-right {
      width: 40%;
      img {
        float: right;
      }
    }
    &.col-left {
      width: 50%;
      p, h2 {
        text-align: left;
        padding: 0 0 0 20px;
        float: left;
      }
      p {
        left: 0;
      }
    }
  }

  .bg {
    width: 100%;
    height: $small-feature-bg-height;
    background: #000;
    position: absolute;
    top: $small-feature-bg-top;
    z-index: 1;
  }
  @media screen and (min-width: 767px) {
    .small-feature-type {
      display: none;
    }
    //height: $medium-feature-height;
    .col {
      height: $medium-feature-height;
      p {
        font-size: 16px;
        display: block;
        top: 400px;
        max-width: 650px;
      }
      h2 {
        padding: 0 50px 0 0;
      }
      img {
        max-height: $medium-feature-height;
      }
      &:nth-child(2) {
        width: 40%;
      }
      &.col-right {
        width: 45%;
      }
      &.col-left {
        p, h2 {
          padding: 0 0 0 50px;
        }
      }
    }
    .bg {
      height: $medium-feature-bg-height;
      top: $medium-feature-bg-top;
    }

  }
  @media screen and (min-width: 1020px) {
    //height: $large-feature-height;
    .col {
      height: $large-feature-height;

      p {
        max-width: 650px;
        font-size: 20px;
        top: 650px;
      }
      img {
        max-height: $large-feature-height;
      }
      &:nth-child(2) {
        width: 45%;
      }
    }
    .bg {
      height: $large-feature-bg-height;
      top: $large-feature-bg-top;
    }
  }
  @media screen and (min-width: 1400px) {
    .col {
      h2 {
        font-size: 100px;
      }
    }
  }
}


/*
.hp-outer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .hp {
    width: 100%;
    height: 100%;
    background-image: url(../../images/heart-of-ny/hp-bg-new.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .hp-lights {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      opacity: 0;
      transition: 0.5s ease-in;
      &.active1 {
        opacity: 1;
        transition: 0.5s ease-out;
        background-image: url(../../images/heart-of-ny/hp-bg-new-1.jpg);
      }
      &.active2 {
        opacity: 1;
        transition: 0.5s ease-out;
        background-image: url(../../images/heart-of-ny/hp-bg-new-2.jpg);
      }
      &.active3 {
        opacity: 1;
        transition: 0.5s ease-out;
        background-image: url(../../images/heart-of-ny/hp-bg-new-3.jpg);
      }
    }
    .hp-floor  {
      display: block;
      z-index: 200;
      position: relative;
      cursor: pointer;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .box1 {
      width: 100%;
      height: 29%;

    }
    .box2 {
      width: 100%;
      height: 9.5%;
    }
    .box3 {
      width: 100%;
      height: 27%;

    }
    .box4 {
      width: 100%;
      height: 13%;
    }
    .box5 {
      width: 100%;
      height: 12%;
    }
    .hp-nav {
      width: 100%;
      height: 100%;
      z-index: 22;
      position: absolute;
      top: 0;
      overflow: hidden;
      div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -150px;
        transition: 0.3s ease-out;
        transition-delay: 0s;
        &.active {
          right: 0px;
          transition-delay: 0.3s;
        }
      }
    }
    .hp-logo {
      position: absolute;
      left: 50%;
      top: 11%;
      z-index: 23;
      //width: 75%;
      transform: translateX(-50%);
      max-width: 986px;
    }
  }
}
*/

.heart-of-ny-landing{
  width: 100%;
  height: 100%;
  opacity: 1;
  &.active {
    transform: scale(4);
    opacity: 0!important;
    transition: 0.3s ease-out;
  }
  .hp-outer-strips {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }
  }
  .hp-logo {
    position: absolute;
    left: 50%;
    top: 4%;
    z-index: 23;
    pointer-events: none;
    opacity: 0;
    transform: translateX(-50%) scale(0);
    text-align: center;
    width: 100%;
    max-width: 1000px;
    &.animate {
      opacity: 1;
      transition: all .5s ease-out;
      transform: translateX(-50%) scale(.9);
    }
    img {
      max-width: 700px;
      width: 80%;
      text-align: center;
    }
    h1 {
      font-family: $site-font-family;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
      line-height: 1.4;
      font-size: 15px;
      @media screen and (min-width: 960px) {
        font-size: 1.6vw;
      }
      @media screen and (min-width: 1160px) {
        font-size: 18.5px;
      }
    }
  }
  .hp-strips-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    max-width: 1500px;
    li {
      width: 100%;
      cursor: pointer;
      margin: 0;
      padding: 0;
      a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
      }
    }
  }
  .hp-nav {
    width: 100%;
    height: 100%;
    z-index: 25;
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -150px;
      transition: 0.3s ease-out;
      transition-delay: 0s;
      width: 75px;
      @media screen and (min-width: 767px) {
        width: 100px;
      }
      &.active {
        right: 0px;
        transition-delay: 0.3s;
      } 
    }
  }
}

.grid-33 {
  width: calc(33.3333% - 15px);
}

.grid-50 {
  width: calc(50% - 15px);
}
.events-feature {
  max-width: 1240px;
  margin: 0 auto 60px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 15px 0 0;
  .col {
    padding: 10px;
    margin: 0 0 0 15px;
    flex: auto;
    width: 100%;
    p {
      font-size: 14px;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      max-width: 80%;
      margin: 10px auto;
    }
  } 
  @media screen and (min-width: 767px) {
    .col {
      flex: 1;
    }
  }
  @media screen and (min-width: 1020px) {
    .col {
      p {
        font-size: 20px;
      }
    }
  }
}

$events-margin: 15px;
.events {
  .ev-headers {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: $events-margin $events-margin 0 0;
    .col {
      padding: $events-margin;
      margin: 0 0 0 $events-margin;
      width: calc(20% - 15px);
      &:first-child {
        width: calc(60% - 15px);
      }
      font-family: $nav-font-family;
      text-transform: uppercase;
      font-size: 50px;
      color: #000;
      text-align: left;
    }
  }
  .ev-container {
    width: 100%;
    background: #fff;
    &:nth-child(even) {
      background: #f2f2f2;
    }
    .event {
      max-width: 1240px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      padding: $events-margin $events-margin 0 0;
      .col {
        padding: $events-margin;
        margin: 0 0 $events-margin $events-margin;
        width: 100%;
        text-align: left;
        h3 {
          font-family: $site-font-family;
          font-size: 20px;
          font-weight: 900;
          text-transform: uppercase;
        }
        p {
          font-family: $site-font-family;
          &.events-fp {
            font-size: 14px;
            margin-bottom: 5px;
          }
          &.events-date {
            font-size: 20px;
            font-weight: 900;
          }
          &.events-loc {
            font-size: 20px;
            font-weight: 900;
          }
        }
        .events-cta {
            p {
              font-size: 14px;
              font-weight: 900;
              text-transform: uppercase;
              margin-bottom: 5px;
            }
          }
        .events-des {
          p {
            font-size: 20px;
            margin-bottom: 5px;
          }
        }
      }
    }
    @media screen and (min-width: 767px) {
      .event {
        .col {
          width: calc(20% - 15px);
          &:first-child {
            width: calc(60% - 15px);
          }
        }
      }
    }
  }
}
.59-carousel {
  div {
    img {
      width: 100%;
    }
  }
}
.slick-slide img {
  width: 100%!important;
}
.slick-dots {
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
  li {
    float: left;
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }

    button {
      height: 10px;
      width: 10px;
      background-color: #CCC;
      border-radius: 50%;
      color: #ccc;
      cursor: pointer;
      font-size: 0;
      &:hover {
        background-color: #333;
        color: #333;
      }
    }
    &.slick-active {
      button {
        background-color: #333;
        color: #333;
      }
    }
  }
}
.slick-arrow {
  width: 34px;
  height: 58px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;

  &.slick-next {
    right: 0;
    z-index: 500;
    background-image: url(../../images/heart-of-ny/right-arrow.gif);
  }
  &.slick-prev {
    left: 0;
    z-index: 501;
    background-image: url(../../images/heart-of-ny/left-arrow.gif);
  }
  @media screen and (min-width: 767px) {
    display: block;
  }
}



/* mobile landing page*/
.heart-of-ny-landing-mobile {
  margin: 0;
  padding: 0;
  width: 100%;
  header {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    .building {
      width: 100%;
      height: auto;
      background: #000;
      img {
        width: 100%;
        height: auto;
        max-width: 100%;
      }
    }
    .hp-logo {
      position: absolute;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
      width: 100%;
      transition: all 0.4s ease-out;
      opacity: 0;
      &.animate {
        opacity: 1;
      }
      img {
        max-width: 522px;
        margin: 0 auto;
        width: 80%;
      }
      h1 {
        font-family: $site-font-family;
        font-weight: 900;
        line-height: 1.4;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        max-width: 80%;
        font-size: 3.4vw;
        margin: 10px auto 10px;
      }
    }
  }
  main {
    width: 100%;
    margin: 0 auto;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
        padding: 6vw 20px 4vw 20px;
        &:last-child {
          border-bottom: none;
        }
        a {
          display: block;
          text-decoration: none;
          h2 {
            font-family: $nav-font-family;
      
            font-size: 7vw;
            text-transform: uppercase;
            font-weight: 900;
            span {
              font-size: 3.5vw;
              font-family: $site-font-family;
              letter-spacing: 1px;
            }
          }
          p {
            font-family: $site-font-family;
            font-size: 3.5vw;
            line-height: 1.4em;
            font-weight: 400;
          }
        }
      }
    }
  }
}


@keyframes heartbeat2 {
  0%
  {
    transform: scale( .65 );
  }
  20%
  {
    transform: scale( .75 );
  }
  40%
  {
    transform: scale( .65 );
  }
  60%
  {
    transform: scale( .75 );
  }
  80%
  {
    transform: scale( .65 );
  }
  100%
  {
    transform: scale( .65 );
  }
}
@keyframes heartbeat {
  0%
  {
    transform: scale( .85 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .85 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .85 );
  }
  100%
  {
    transform: scale( .85 );
  }
}