<!-- {pageTitle: "Help USA", pageLabel:"Help USA &mdash; b.cause Philanthropy &mdash; About Us | Bloomingdale's"} -->
{{{coremetrics '(lp-xx-xx-xx.mentoringusa)' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}

    <div id="bl_main_wrapper" class="newLayout">
    <div id="bl_main_container">
        <a name="top"></a>
        <script type="text/javascript">
            // <![CDATA[
            ( function ( w ) {
                'use strict';
                var path, hash, href, flag = 'nojsredirect=true',
                        host = w.location.host + '',
                        search = w.location.search + '';
                function isJsRedirectEnabled( search ) {
                    var regex = /\bnojsredirect=true\b/;
                    return !( regex.test( search ) );
                }
                function getHostName( url ) {
                    var match,
                            regex = /^(?:https?\:\/\/)?((?:[a-z0-9\-]+\.)*[a-z0-9\-]+)(?:\:\d+)?(?:\/.*)?$/;
                    url = url.toLocaleLowerCase();
                    if ( ( match = regex.exec( url ) ) !== null ) {
                        return match[1];
                    }
                    return null;
                }
                try {
                    if ( typeof w.baseServerURL === 'string'
                            && getHostName( w.baseServerURL ) !== getHostName( host )
                            && isJsRedirectEnabled( search ) ) {
                        path = w.location.pathname + '';
                        hash = w.location.hash + '';
                        href = w.baseServerURL + ( path.charAt( 0 ) !== '/' ? '/' + path : path );
                        search = search.length > 0 ? search + '&' + flag : flag;
                        href += search.charAt( 0 ) !== '?' ? '?' + search : search;
                        if ( hash.length > 0 ) {
                            href += hash.charAt( 0 ) !== '#' ? '#' + hash : hash;
                        }
// finally redirect...
                        w.location.href = href;
                    }
                } catch ( e ) { /* silence is golden... */ }
            } )( window );
            // ]]>
        </script>
        <link href="http://fonts.googleapis.com/css?family=Lato:light,black,400,900,bolditalic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" href="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15.css" />
        <link type="text/css" rel="stylesheet" href="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-featured-designs.css" />
        <div id="blmwbs15_window"
             style="display: block; position: relative; margin: 0 0 10px 0; padding: 0; width: 962px; height: 614px; overflow: hidden;">
            <div id="blmwbs15_intro_loader"
                 style="display: block; position: absolute; display: block; height: 100%; width: 100%; left: 0; top: 0; z-index: 999; background: #fff url('http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-ajax-loader.gif') no-repeat scroll 50% 50%;"></div>
            <div id="blmwbs15_intro" style="display: none;">
                <img id="blmwbs15_intro_bg" src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-intro-bg.jpg" width="962" height="614" />
                <div id="blmwbs15_intro_main" style="display: none;">
                    <h1 class="blmwbs15_invisible">MICHELE</h1>
                    <h2 class="blmwbs15_invisible">MIX. MATCH. MAKE TIME.</h2>
                    Use our tool to create a custom timepiece with luxurious
                    heads and interchangeable bands. From diamond-encrusted dials to exotic
                    alligator straps, the possibilities are infinite.
                    <a class="blmwbs15_flying_link blmwbs15_button"
                       data-cm="link_hp-customize_your_timepiece"
                       style="width: 480px; height: 236px; left: 0px; top: 0px;" href="#/builder/show">CUSTOMIZE YOUR TIMEPIECE</a>
                    <a class="blmwbs15_flying_link blmwbs15_button"
                       data-cm="link_hp-shop_featured_designs"
                       style="width: 192px; height: 28px; left: 142px; top: 256px;" href="#/featured-designs/show">SHOP FEATURED DESIGNS</a>
                </div>
                <div id="blmwbs15_intro_error" style="display: none;">
                    We're sorry—our MICHELE Mix &amp; Match Tool is
                    currently experiencing technical difficulties.
                    check back later to customize your timepiece AND
                    <a class="blmwbs15_flying_link blmwbs15_button"
                       data-cm="error_failure-shop_michele_now"
                       style="width: 194px; height: 26px; left: 98px; top: 72px;" href="/shop/MICHELE?id=1003996">SHOP MICHELE NOW</a>
                </div>
                <div id="blmwbs15_intro_ie8" style="display: none;">
                    We're sorry&mdash;the MICHELE Mix &amp; Match Tool requires
                    an updated version of Internet Explorer.
                    Please update your browser or
                    <a class="blmwbs15_flying_link blmwbs15_button"
                       data-cm="error_ie8-shop_michele_now"
                       style="width: 192px; height: 28px; left: 68px; top: 70px;" href="/shop/MICHELE?id=1003996">SHOP MICHELE NOW</a>
                    <!--[if lt IE 9 ]><div id="blmwbs15_ie8only" style="display: none;"></div><![endif]-->
                </div>
                <a class="blmwbs15_flying_link blmwbs15_button"
                   data-cm="social-fb"
                   style="width: 37px; height: 38px; left: 18px; top: 556px;" href="#/sharing/facebook/">Facebook</a>
                <a class="blmwbs15_flying_link blmwbs15_button"
                   data-cm="social-twitter"
                   style="width: 37px; height: 38px; left: 64px; top: 556px;" href="#/sharing/twitter/">Twitter</a>
                <a class="blmwbs15_flying_link blmwbs15_button"
                   data-cm="social-pinterest"
                   style="width: 36px; height: 38px; left: 110px; top: 556px;" href="#/sharing/pinterest/">Pinterest</a>
            </div>
            <div id="blmwbs15_contents" stye="display: none;">
                <div id="blmwbs15_builder">
                    <div id="blmwbs15_builder_heads">
                        <div id="blmwbs15_builder_heads_viewport">
                            <div id="blmwbs15_builder_heads_container">
                                <!--
                                <div class="blmwbs15_builder_head">
                                <img src="http://s7d5.scene7.com/is/image/BLMDev/1130545?fmt=png-alpha" />
                                <span>ORIG $1,995.00</span>
                                <span class="blmwbs15_price_sale">NOW $1,775.00</span>
                                <a href="#/builder/heads/select/1130545" class="blmwbs15_button">Select</a>
                                </div>
                                <div class="blmwbs15_builder_head">
                                <img src="http://s7d5.scene7.com/is/image/BLMDev/1130545?fmt=png-alpha" />
                                <span>$1,995.00</span>
                                <a href="#/builder/heads/select/1130545" class="blmwbs15_button">Select</a>
                                </div>
                                -->
                            </div>
                        </div>
                        <a href="#/builder/heads/scroll/up" class="blmwbs15_arrow_up blmwbs15_button" data-cm="Arrow-Up-Watch"></a>
                        <a href="#/builder/heads/scroll/down" class="blmwbs15_arrow_down blmwbs15_button" data-cm="Arrow-Down-Watch"></a>
                        <div class="blmwbs15_uiblocker"></div>
                    </div>
                    <div id="blmwbs15_builder_straps">
                        <div id="blmwbs15_builder_straps_viewport">
                            <div id="blmwbs15_builder_straps_container">
                                <!--
                                <div class="blmwbs15_builder_strap">
                                <img src="http://s7d5.scene7.com/is/image/BLMDev/1130540?fmt=png-alpha" />
                                <span>$180.00</span>
                                <span class="blmwbs15_price_sale">NOW $1,775.00</span>
                                <a href="#/builder/straps/select/1130540" class="blmwbs15_button">Select</a>
                                </div>
                                <div class="blmwbs15_builder_strap">
                                <img src="http://s7d5.scene7.com/is/image/BLMDev/1130540?fmt=png-alpha" />
                                <span>$180.00</span>
                                <a href="#/builder/straps/select/1130540" class="blmwbs15_button">Select</a>
                                </div>
                                -->
                            </div>
                        </div>
                        <a href="#/builder/straps/scroll/up" class="blmwbs15_arrow_up blmwbs15_button" data-cm="Arrow-Up-Band"></a>
                        <a href="#/builder/straps/scroll/down" class="blmwbs15_arrow_down blmwbs15_button" data-cm="Arrow-Down-Band"></a>
                        <div class="blmwbs15_uiblocker"></div>
                    </div>
                    <div id="blmwbs15_builder_display">
                        <div id="blmwbs15_builder_display_viewer">
                            <div id="blmwbs15_builder_display_watch">
                                <img id="blmwbs15_builder_display_image" src="" style="visibility: hidden;" />
                            </div>
                            <div id="blmwbs15_builder_display_message">
                                CLICK ON A WATCH HEAD TO BEGIN. THEN, CHOOSE A BAND TO COMPLETE YOUR TIMEPEACE.
                            </div>
                            <div id="blmwbs15_builder_display_control">
                                <a class="blmwbs15_button" href="#/builder/clear/" data-cm="Start-Over">Clear</a>
                                <a class="blmwbs15_button" href="#/builder/help/" data-cm="Help">Help</a>
                            </div>
                        </div>
                        <div id="blmwbs15_builder_display_bag">
                            <div id="blmwbs15_builder_display_items">
                                <div id="blmwbs15_builder_display_item_head" class="blmwbs15_builder_display_item">
                                    <a href="/shop/product/?ID=878116" target="_blank" class="blmwbs15_text">SIGNATURE DECO DIAMOND GOLD. DIAMOND DIAL</a>
                                    <div class="blmwbs15_tiered_pricing">
                                        <span class="blmwbs15_price">$1,995.00</span>
                                        <span class="blmwbs15_price_sale" style="display: none;">$1,695.00</span>
                                    </div>
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/builder/bag/checkbox/head">Include/Exclude</a>
                                </div>
                                <div id="blmwbs15_builder_display_item_strap" class="blmwbs15_builder_display_item">
                                    <a href="/shop/product/?ID=878116" target="_blank" class="blmwbs15_text">18MM PASTEL PURPLE ALLIGATOR STRAP</a>
                                    <div class="blmwbs15_tiered_pricing">
                                        <span class="blmwbs15_price">$180.00</span>
                                        <span class="blmwbs15_price_sale" style="display: none;">$120.00</span>
                                    </div>
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/builder/bag/checkbox/strap">Include/Exclude</a>
                                </div>
                            </div>
                            <div id="blmwbs15_builder_display_total">
                                TOTAL
                                <span class="blmwbs15_price">$2,175.00</span>
                                <a class="blmwbs15_button" href="#/builder/bag/add" data-cm="Add-To-Bag">ADD TO BROWN BAG</a>
                                <span id="blmwbs15_error_messages" style="display: none;"></span>
                            </div>
                        </div>
                    </div>
                    <div id="blmwbs15_builder_options">
                        <div class="menu_view-options">
                            <a class="blmwbs15_button menu_view-option" href="#/builder/menu/refine" data-cm="Menu-Refine">Refine</a>
                            <span class="menu_view-separator"></span>
                            <a class="blmwbs15_button menu_view-option" href="#/builder/menu/sort" data-cm="Menu-Sort">Sort By</a>
                        </div>
                        <div class="menu_view-flyout" id="blmwbs15_builder_options_menu_refine" style="display: none;">
                            <dl id="blmwbs15_builder_options_refine_size">
                                <dt>Band Size</dt>
                                <!-- <dd class="blmwbs15_option"><a class="blmwbs15_checkbox" href="#">Option</a></dd> -->
                            </dl>
                            <dl id="blmwbs15_builder_options_refine_type">
                                <dt>Band Type</dt>
                                <!-- <dd class="blmwbs15_option"><a class="blmwbs15_checkbox" href="#">Option</a></dd> -->
                            </dl>
                            <dl id="blmwbs15_builder_options_refine_color">
                                <dt>Band Color</dt>
                                <!-- <dd class="blmwbs15_option"><a class="blmwbs15_checkbox" href="#">Option</a></dd> -->
                            </dl>
                            <a class="blmwbs15_button blmwbs15_button_clear" href="#/builder/options/refine/clear" data-cm="Refine-Clear">Clear All</a>
                            <a class="blmwbs15_button blmwbs15_button_close" href="#/builder/menu/close" data-cm="Refine-Close">Close</a>
                            <a class="blmwbs15_button blmwbs15_button_submit" href="#/builder/options/refine/submit" data-cm="Refine-Submit">Submit</a>
                        </div>
                        <div class="menu_view-flyout" id="blmwbs15_builder_options_menu_sort" style="display: none;">
                            <dl id="blmwbs15_builder_options_sort_straps">
                                <dt>Band Price</dt>
                                <dd><a class="blmwbs15_button blmwbs15_checkbox" data-name="price-asc"
                                       href="#/builder/options/sorting/straps/price-asc">LOW TO HIGH</a></dd>
                                <dd><a class="blmwbs15_button blmwbs15_checkbox" data-name="price-desc"
                                       href="#/builder/options/sorting/straps/price-desc">HIGH TO LOW</a></dd>
                            </dl>
                            <dl id="blmwbs15_builder_options_sort_heads">
                                <dt>Head Price</dt>
                                <dd><a class="blmwbs15_button blmwbs15_checkbox" data-name="price-asc"
                                       href="#/builder/options/sorting/heads/price-asc">LOW TO HIGH</a></dd>
                                <dd><a class="blmwbs15_button blmwbs15_checkbox" data-name="price-desc"
                                       href="#/builder/options/sorting/heads/price-desc">HIGH TO LOW</a></dd>
                            </dl>
                            <a class="blmwbs15_button blmwbs15_button_close" href="#/builder/menu/close" data-cm="Sort-Close">Close</a>
                            <a class="blmwbs15_button blmwbs15_button_submit" href="#/builder/options/sorting/submit" data-cm="Sort-Submit">Submit</a>
                        </div>
                    </div>
                </div>
                <div id="blmwbs15_featured">
                    <ul class="bxslider" style="visibility: hidden;">
                        <li id="blmwbs15_featured_slide_1">
                            <img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-feat-1.jpg" alt="" />
                            <div class="blmwbs15_featured_description">
                                <span>1/5</span>
                                <div class="blmwbs15_featured_face">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/head/1">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_strap">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/strap/1">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_totalprice">TOTAL: <span></span></div>
                                <a class="blmwbs15_button blmwbs15_featured_edit" href="#/featured-designs/edit/1" data-cm="Edit-Design-Slide-1"></a>
                                <a class="blmwbs15_button blmwbs15_featured_add" href="#/featured-designs/add/1" data-cm="Add-To-Bag-Slide-1"></a>
                            </div>
                        </li>
                        <li id="blmwbs15_featured_slide_2">
                            <img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-feat-2.jpg" alt="" />
                            <div class="blmwbs15_featured_description left">
                                <span>2/5</span>
                                <div class="blmwbs15_featured_face">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/head/2">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_strap">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/strap/2">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_totalprice">TOTAL: <span></span></div>
                                <a class="blmwbs15_button blmwbs15_featured_edit" href="#/featured-designs/edit/2" data-cm="Edit-Design-Slide-2"></a>
                                <a class="blmwbs15_button blmwbs15_featured_add" href="#/featured-designs/add/2" data-cm="Add-To-Bag-Slide-2"></a>
                            </div>
                        </li>
                        <li id="blmwbs15_featured_slide_3">
                            <img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-feat-3.jpg" alt="" />
                            <div class="blmwbs15_featured_description">
                                <span>3/5</span>
                                <div class="blmwbs15_featured_face">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/head/3">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_strap">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/strap/3">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_totalprice">TOTAL: <span></span></div>
                                <a class="blmwbs15_button blmwbs15_featured_edit" href="#/featured-designs/edit/3" data-cm="Edit-Design-Slide-3"></a>
                                <a class="blmwbs15_button blmwbs15_featured_add" href="#/featured-designs/add/3" data-cm="Add-To-Bag-Slide-3"></a>
                            </div>
                        </li>
                        <li id="blmwbs15_featured_slide_4">
                            <img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-feat-4.jpg" alt="" />
                            <div class="blmwbs15_featured_description">
                                <span>4/5</span>
                                <div class="blmwbs15_featured_face">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/head/4">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_strap">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/strap/4">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_totalprice">TOTAL: <span></span></div>
                                <a class="blmwbs15_button blmwbs15_featured_edit" href="#/featured-designs/edit/4" data-cm="Edit-Design-Slide-4"></a>
                                <a class="blmwbs15_button blmwbs15_featured_add" href="#/featured-designs/add/4" data-cm="Add-To-Bag-Slide-4"></a>
                            </div>
                        </li>
                        <li id="blmwbs15_featured_slide_5">
                            <img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-feat-5.jpg" alt="" />
                            <div class="blmwbs15_featured_description">
                                <span>5/5</span>
                                <div class="blmwbs15_featured_face">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/head/5">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_strap">
                                    <a class="blmwbs15_button blmwbs15_checkbox checked" href="#/featured-designs/checkboxes/strap/5">Include/Exclude</a>
                                    <span class="blmwbs15_item_name"></span>
                                    <span class="blmwbs15_item_price"></span>
                                </div>
                                <div class="blmwbs15_featured_totalprice">TOTAL: <span></span></div>
                                <a class="blmwbs15_button blmwbs15_featured_edit" href="#/featured-designs/edit/5" data-cm="Edit-Design-Slide-5"></a>
                                <a class="blmwbs15_button blmwbs15_featured_add" href="#/featured-designs/add/5" data-cm="Add-To-Bag-Slide-5"></a>
                            </div>
                        </li>
                    </ul>
                    <div id="blmwbs15_featured_loader"></div>
                </div>
            </div>
            <div id="blmwbs15_bar" style="display: none;">
                <div id="blmwbs15_tabs">
                    <a id="blmwbs15_tab_builder" class="blmwbs15_button" href="#/builder/show" data-cm="link_nav-mix_match_tool">MIX &amp; MATCH TOOL</a>
                    <a id="blmwbs15_tab_featured" class="blmwbs15_button" href="#/featured-designs/show" data-cm="link_nav-featured_designs">FEATURED DESIGNS</a>
                </div>
                <div id="blmwbs15_links">
                    <a class="blmwbs15_button" href="/shop/MICHELE?id=1003996" data-cm="link-shop_all_michele_watches" target="_blank">SHOP ALL MICHELE WATCHES</a>
                </div>
                <div id="blmwbs15_sharing">
                    <a class="blmwbs15_button link_facebook" href="#/sharing/facebook/" data-cm="social-fb">Facebook</a>
                    <a class="blmwbs15_button link_twitter" href="#/sharing/twitter/" data-cm="social-twitter">Twitter</a>
                    <a class="blmwbs15_button link_pinterest" href="#/sharing/pinterest/" data-cm="social-pinterest">Pinterest</a>
                </div>
            </div>
            <div id="blmwbs15_full_uiblocker" style="display: none;">
                <div id="blmwbs15_a2b_confirmation" class="blmwbs15_overlay" style="display: none;">
<span class="blmwbs15_invisible_text" style="left: 39px; top: 62px; width: 233px; height: 39px;">
Your selection(s) has been added to your bag.
</span>
                    <a class="blmwbs15_button" style="left: 52px; top: 119px; width: 208px; height: 31px;"
                       data-cm="Continue-Customizing"
                       href="#/builder/bag/confirmation">Continue Customizing</a>
                    <a class="blmwbs15_button" style="left: 52px; top: 162px; width: 208px; height: 31px;"
                       data-cm="Checkout"
                       href="/bag/index.ognc">Checkout</a>
                    <a class="blmwbs15_button" style="left: 272px; top: 20px; width: 21px; height: 20px;"
                       data-cm="Close"
                       href="#/builder/bag/confirmation">Close</a>
                </div>
                <div id="blmwbs15_overlay_error_message" class="blmwbs15_overlay" style="display: none;">
                    <a class="blmwbs15_button" href="#" data-cm="Close-Error-Overlay">Close</a>
                    <div class="blmwbs15_content">
                        <span class="blmwbs15_text"></span>
                    </div>
                    <div class="blmwbs15_footer"></div>
                </div>
                <div id="blmwbs15_featured_a2b_confirmation" class="blmwbs15_overlay" style="display: none;">
<span class="blmwbs15_invisible_text" style="left: 39px; top: 62px; width: 233px; height: 39px;">
Your selection(s) has been added to your bag.
</span>
                    <a class="blmwbs15_button" style="left: 52px; top: 119px; width: 208px; height: 31px;"
                       data-cm="Continue-Customizing"
                       href="#/featured-designs/acknowledge">Continue Customizing</a>
                    <a class="blmwbs15_button" style="left: 52px; top: 162px; width: 208px; height: 31px;"
                       data-cm="Checkout"
                       href="/bag/index.ognc">Checkout</a>
                    <a class="blmwbs15_button" style="left: 272px; top: 20px; width: 21px; height: 20px;"
                       data-cm="Close"
                       href="#/featured-designs/acknowledge">Close</a>
                </div>
            </div>
        </div>
        <div id="blmwbs15_mobile" style="display: none;">
            <section id="blmwbs15_mobile_slider">
                <ul class="bxslider">
                    <li><img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-mobile-slider-1.jpg" alt="" /></li>
                    <li><img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-mobile-slider-2.jpg" alt="" /></li>
                    <li><img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-mobile-slider-3.jpg" alt="" /></li>
                    <li><img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-mobile-slider-4.jpg" alt="" /></li>
                    <li><img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-mobile-slider-5.jpg" alt="" /></li>
                </ul>
                <img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-mobile-slider-n1.png" alt="">
            </section>
            <section id="blmwbs15_mobile_footer">
                <img src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-mobile-footer.jpg" alt=""/>
            </section>
        </div>

        <script type="text/javascript">var michele_builder_s15_baseUrlAssets = "http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15";</script>
        <script type="text/javascript" src="/fashion/javascripts/projects/fashion-tips/customize-michelle-watch/michele_builder_s15-bxslider.min.js"></script>
        <script type="text/javascript" src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-hammer.min.js"></script>
        <script type="text/javascript" src="/fashion/javascripts/projects/fashion-tips/customize-michelle-watch/michele_builder_s15-builder.js"></script>
        <script type="text/javascript" src="/fashion/javascripts/projects/fashion-tips/customize-michelle-watch/michele_builder_s15-featured-designs.js"></script>
        <script type="text/javascript" src="/fashion/javascripts/projects/fashion-tips/customize-michelle-watch/michele_builder_s15-mobile.js"></script>
        <script type="text/javascript" src="/fashion/javascripts/projects/fashion-tips/customize-michelle-watch/michele_builder_s15-main.js"></script>


<!--        <script type="text/javascript">var michele_builder_s15_baseUrlAssets = "http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15";</script>
        <script type="text/javascript" src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-detectDevice.js"></script>
        <script type="text/javascript" src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-bxslider.min.js"></script>
        <script type="text/javascript" src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-hammer.min.js"></script>
        <script type="text/javascript" src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-builder.js"></script>
        <script type="text/javascript" src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-featured-designs.js"></script>
        <script type="text/javascript" src="http://assets.bloomingdales.com/dyn_img/cat_splash/michele_builder_s15-mobile.js"></script>
        <script type="text/javascript" src="/fashion/javascripts/projects/fashion-tips/customize-michelle-watch/michele_builder_s15-main.js"></script>-->

    </div>
</div>


</div>




