<title>Chloe Women&#039;s Clothing - Bloomingdale&#039;s</title>
<meta name="description" content="Shop In Store for Chloe Women&#039;s Clothing with Free Shipping and Free Returns. Bloomingdale&#039;s like no other store in the world." />

<!--headCanonical={"href":"http://fashion.bloomingdales.com/in-store/chloe-clothing/"}-->

<link href="/fashion/styles/projects/in-store/chloe-clothing/style.css" rel="stylesheet" type="text/css" />

<div class="desktop_main_container">
	<section class="chloe">
		<div class="chloe-header">
			<h1 class="chloe-title">CHLO&Eacute;</h1>
		</div>
		<div class="chloe-content">
			<div class="chloe-content-header row">
				<h2 class="chloe-content-title">CHLO&Eacute; WOMEN&#039;S CLOTHING IS ONLY AVAILABLE AT DEDICATED BOUTIQUES</h2>
				<p class="chloe-content-subtitle">in select Bloomingdale&rsquo;s stores. Please call or visit one of the following locations for assistance.</p>
			</div>
			<div class="chloe-content-stores row">
				<ul class="chloe-store-column small-24 columns">
					<li class="chloe-store">
						<h4 class="chloe-store-link chloe-store-link--title">
							<a href="http://locations.bloomingdales.com/century-city?cm_sp=search_no_results-_-store_only-chloe_clothing-_-CENTURY-CITY">Century City</a>
						</h4>
						<p class=chloe-store-link "chloe-store-address">
							<a href="http://locations.bloomingdales.com/century-city?cm_sp=search_no_results-_-store_only-chloe_clothing-_-CENTURY-CITY">10250 Santa Monica Boulevard <br />Los Angeles, CA 90067</a>
						</p>
						<p class="chloe-store-link">
							<a href="tel:3107722100" class="chloe-phone-link" data-store="CENTURY-CITY">310-772-2100</a>
						</p>
					</li>
					<li class="chloe-store">
						<h4 class="chloe-store-link chloe-store-link--title">
							<a href="http://locations.bloomingdales.com/short-hills?cm_sp=search_no_results-_-store_only-chloe_clothing-_-SHORT-HILLS">SHORT HILLS</a>
						</h4>
						<p class=chloe-store-link "chloe-store-address">
							<a href="http://locations.bloomingdales.com/short-hills?cm_sp=search_no_results-_-store_only-chloe_clothing-_-SHORT-HILLS">1200 Morris Turnpike <br />The Mall at Short Hills <br />Short Hills, NJ 07078</a>
						</p>
						<p class="chloe-store-link">
							<a href="tel:9735482200" class="chloe-phone-link" data-store="AVENTURA-MALL">973-548-2200</a>
						</p>
					</li>
				</ul>
				<ul class="chloe-store-column small-24 columns">
					<li class="chloe-store">
						<h4 class="chloe-store-link chloe-store-link--title">
							<a href="http://locations.bloomingdales.com/north-michigan-avenue?cm_sp=search_no_results-_-store_only-chloe_clothing-_-NORTH-MICHIGAN-AVENUE">NORTH MICHIGAN AVENUE</a>
						</h4>
						<p class=chloe-store-link "chloe-store-address">
							<a href="http://locations.bloomingdales.com/north-michigan-avenue?cm_sp=search_no_results-_-store_only-chloe_clothing-_-NORTH-MICHIGAN-AVENUE">900 North Michigan Avenue <br />Chicago, IL 60611</a>
						</p>
						<p class="chloe-store-link">
							<a href="tel:3124404460" class="chloe-phone-link" data-store="SAN-FRANCISCO-CENTRE">312-440-4460</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<script type="application/javascript" src="/fashion/javascripts/libs/jquery-1.11.2.min.js"></script>
<script type="application/javascript" src="/fashion/javascripts/projects/in-store/chloe-clothing/main-mobile.js"></script>
