<!-- {pageTitle:"Bloomingdale’s Loyallists Top of the List"} -->
<!--headCanonical={"href":"fashion.bloomingdales.com/loyallist/top-of-the-list"}-->
{{{coremetrics 'loyallist--top_of_list' 'Loyallist'}}}
<div class="row collapse lty-redesign">
    {{>title}}
    <meta name="description" content="Bloomingdale's Loyallist Top of the List.">
    <link rel="stylesheet" href="/b/fashion/styles/projects/about-us/aboutus.css" />
    <link href="/b/fashion/styles/projects/loyallist/top-of-the-list/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/loyallist/top-of-the-list/main.js"></script>

    <section id="mb-loyallist-tol-benefits-landing" class="b-loyallist-tol-redesign">
       <div class='b-loyallist-tol-right'>
        <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-logo.png" class="b-loyallist-tol-logo" alt="Bloomingdale's Loyallist">
      </div>
      <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-header-mobile.jpg" alt="">
      <div class="b-loyallist-tol-sub-text">
        <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-title-header-mobile.png" alt="Its even better at the top of the list">
      </div>
      <div class="row">
        <div class="b-loyallist-tol-border"></div>
        <div class="b-loyallist-tol-benefits-header-text">
         Spend $3,500 per year on your Bloomingdale&rsquo;s Credit card and enjoy the best of Loyallist.<sup>1</sup>
        </div>
      </div>
      <section class="b-loyallist-tol-benefits-content">
        <div class="row">
          <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-point-combo-1.svg" alt="In Store, Online, Outlets">
        </div>
        <div class="b-loyallist-tol-benefits-title">4 POINTS FOR EVERY DOLLAR YOU SPEND</div>
        <div class="b-loyallist-tol-benefits-text">on bloomingdales.com and in our stores and outlets with your Bloomingdale&rsquo;s Credit Card.<sup>2</sup></div>

        <div class="row">
          <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-point-combo-2.svg" alt="Shoes, Cosmetics, Frangrances">
        </div>

        <div class="b-loyallist-tol-benefits-title">8 POINTS FOR EVERY DOLLAR YOU SPEND</div>
        <div class="b-loyallist-tol-benefits-text">on all shoes, cosmetics and fragrances at Bloomingdale&rsquo;s and bloomingdales.com with your Bloomingdale&rsquo;s Credit Card. That&rsquo;s Double Points every day!<sup>3</sup></div>

        <div class="row">
          <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-triple-points.svg" class="b-loyallist-tol-triple-points-image" alt="Triple Points">
        </div>

        <div class="b-loyallist-tol-benefits-title">CHOOSE YOUR OWN TRIPLE POINTS DAYS</div>
        <div class="b-loyallist-tol-benefits-text">Pick four days throughout the year to get Triple Points on your purchases in store at Bloomingdale&rsquo;s and online at bloomingdales.com. Register at least one day in advance by calling 866-404-8787 or see a sales associate in store to sign up the same day.<sup>4</sup></div>

        <div class="row">
          <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-gift-wrap.svg" class="b-loyallist-tol-perks-image" alt="">
        </div>

        <div class="b-loyallist-tol-benefits-title">UNLIMITED COMPLIMENTARY GIFT WRAP</div>
        <div class="b-loyallist-tol-benefits-text">Top of the list Loyallists deserve the total package&dash;including free gift wrap for all in-store purchases.<sup>5</sup></div>

        <div class="row">
          <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-velvet-rope.svg" class="b-loyallist-tol-perks-image" alt="">
        </div>

        <div class="b-loyallist-tol-benefits-title">TOP OF THE LIST ONLY OFFERS</div>
        <div class="b-loyallist-tol-benefits-text">Surprise and delight: Take advantage of special offers exclusively for you.</div>

        <div class="row">
          <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-dining-club.svg" class="b-loyallist-tol-dining-club-image" alt="">
        </div>

        <div class="b-loyallist-tol-benefits-title">DINING CLUB</div>
        <div class="b-loyallist-tol-benefits-text">Enjoy an entr&eacute;e and non-alcoholic beverage on the house (up to $19) every time you spend $100 on your Bloomingdale&rsquo;s Credit Card at a Bloomingdale&rsquo;s restaurants.<sup>6</sup></div>


        <div class="row">
          <img src="/b/fashion/images/projects/loyallist/top-of-the-list/top-of-the-list-free-shipping.svg" class="b-loyallist-tol-free-shipping-image" alt="">
        </div>

        <div class="b-loyallist-tol-benefits-title">FREE SHIPPING &amp; RETURNS</div>
        <div class="b-loyallist-tol-benefits-text">Shipping&rsquo;s on us for all online orders every day. Plus, we can ship your in-store purchases home so you don&rsquo;t have to carry them.<sup>7</sup></div>

      </section>  

      <section>
        <div class="row b-loyallist-tol-bottom-banner">
          <div class="b-loyallist-tol-card-banner">
            <span class="b-loyallist-tol-card-banner-text">5,000 POINTS = $25 REWARD CARD</span>
          </div>
        </div>
      </section>

      <section class="b-loyallist-tol-benefits-footer-disclaimer">
          <div class='row b-loyallist-tol-disclaimer'>
            <div class='b-loyallist-tol-disclaimer-header'>
              <span>Legal Notice and Disclaimers</span>
              <a href="#" aria-label="Open disclaimer text" class="toggle-disclaimer-icon"></a>
            </div>
            <div class='lty-disclaimer-content hidden'>
              <p>
                1. Spending $3,500 in net purchases on your Bloomingdale&rsquo;s Credit Card in our stores, in our outlets or at bloomingdales.com in a calendar year qualifies you for a Bloomingdale&rsquo;s Credit Card at the Top of the List.
              </p>
              <p>
                2. Points are not earned in Nespresso shops, restaurants, on store services, sales tax, or when redeeming Bloomingdale&rsquo;s Gift and Reward Cards. On December 31 of each year, 75% of all remaining points on your account will be forfeited. U.S. Bloomingdale&rsquo;s stores only. See Bloomingdale&rsquo;s Loyallist Program Terms and Conditions for complete details at <a href="https://www.bloomingdales.com/loyallist/termsandconditions">bloomingdales.com/loyallist/termsandconditions.</a>
              </p>
              <p>
                3. Double Points are not earned on shoe purchases at Bloomingdale&rsquo;s The Outlet Store.
              </p>
              <p>
                4. U.S. Bloomingdale&rsquo;s stores only. Select leased brands excluded. Shoe, cosmetic and fragrance purchases earn 12 points per dollar. Four triple point days of your choice per account, per calendar year. Employees of Bloomingdale&rsquo;s and its affiliates are not eligible.
              <p>
                5. Not available at all stores, bloomingdales.com or at Bloomingdale&rsquo;s The Outlet Store. Purchases must be made with your Bloomingdale&rsquo;s Credit Card at Bloomingdale&rsquo;s. Bloomingdale&rsquo;s may terminate this benefit at any time without notice.
              </p>
              <p>
                6. Tax and gratuity are excluded. Restaurants in select stores only. Bloomingdale&rsquo;s may terminate this benefit at any time without notice.
              </p>
              <p>
                7. Purchases must be made with your Bloomingdale&rsquo;s Credit Card or Loyallist ID. Free shipping for all Loyallists on online orders every day. Valid only on shipments to a single address within the U.S. See <a href="https://www.bloomingdales.com/shipping">bloomingdales.com/shipping</a> for details. Excludes gift cards, furniture and mattresses.
              </p>
            </div>
          </div>
      </section>
    </section>


</div>

