[data-page-alias="size-chart-page"] {

  > nav:first-child {
    margin: 16px auto;
    text-align: center;

    > ul {
      margin: 0;
    }

    > ul li,
    > ul li a,
    > ul li a span {
      display: inline-block;
    }
    > ul li a {
      padding: 12.5px;
      text-transform: uppercase;
      text-decoration: none;

      > span:first-child {
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;
      }
    }
    > ul li a:active > span:first-child {
      border-color: #EEE;
    }
    > ul li a.active > span:first-child {
      border-color: #000;
    }
  }

  // Content Manip
  #bl_main_wrapper .bl_main {
    padding-top: 0;
  }
  .hshim {
    margin-top: -20px;
  }

}
