<!-- headTags // @todo use helper here to move these to head -->
<title>Baby Essentials Checklist: Baby Must-Haves Products</title>
<meta content="From cozy footies to tricked-out gear, we've ID'd everything you'll need for the baby-to-be." name="description" />
<meta property="og:title" content="Baby Essentials Checklist: Baby Must-Haves Products"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="/fashion-tips/baby-essentials-must-haves-checklist"/>
<meta property="og:description" content="From cozy footies to tricked-out gear, we've ID'd everything you'll need for the baby-to-be."/>
<meta property="og:image" content="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/icon_fb.jpg"/>
<link rel="canonical" href="//www.bloomingdales.com"/>
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:400,900' >
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/fashion/styles/projects/fashion-tips/baby-essentials-must-haves-checklist/template_base.css" />
<link rel="stylesheet" type="text/css" href="/fashion/styles/projects/fashion-tips/baby-essentials-must-haves-checklist/baby-essentials-checklist-2015.css" />
<!-- /headTags -->

<div class="row layout-mobile" style="position: relative; width: 100%; height: auto; max-width: 100%;">
     <div id="mobile_artwork_container" style="position: relative; padding: 0; margin: 0; overflow: hidden; width: 100%; height: auto; max-width: 100%;">

               <img id="mobile-img-landing" style="display: block; position: relative; margin: 0; width: 100%; height: auto; max-width: 100%; left: 0; top: 0px;"
                         src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/baby_essentials-mbl_header.jpg" alt="" />

               <div id="mbl_content_sections">
                    <div id="mbl_clothing-wrapper"
                              style="display: block; position: relative; width: 100%; height: auto; top: 0%;  margin-bottom: 2px;">
                              <div id="mbl_clothing-menu" class="mobile-menu-link" data-cm="clothing" style="top: 0; left: 0; width: 100%; height: 90px; color: #fff; background-color: #1F4C91;">
                                   <i class="fa fa-angle-down fa-3x" style="position: absolute; top: 27px; left: 20px;"></i>
                                   <a href="#/mbl_clothing" style="position: absolute; text-align: center; width: 100%; height: 58px; color: #fff; font-family: 'lato'; font-weight: bold; font-size: 22px; text-decoration: none; padding-top: 32px;">CLOTHING</a>                                    
                              </div>
                              
                              <div id="mbl_clothing" class="section-content" data-cm="" style="display:none; position: relative;">
                              <img id="mobile-img-wedding" style="display: block; position: relative; margin: 0; width: 100%; height: auto; max-width: 100%; left: 0; top: 0;"
                                             src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/baby_essentials-mbl_clothing.jpg" alt="" />

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Footies?id=23708" data-cm="clothing-link-footies"
                                        style="display: block; position: absolute; width: 100%; height: 10.330189%; left: 0%; top: 0%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Bodysuits?id=23708" data-cm="clothing-link-bodysuits"
                                        style="display: block; position: absolute; width: 100%; height: 9.330189%; left: 0%; top: 10.5%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Coveralls%7CShortalls?id=23708" data-cm="clothing-link-coveralls_shortalls"
                                        style="display: block; position: absolute; width: 100%; height: 9.530189%; left: 0%; top: 19.85%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kids_style_type_site/2-piece%20Sets?id=23708" data-cm="clothing-link-two_piece"
                                        style="display: block; position: absolute; width: 100%; height: 9.130189%; left: 0%; top: 29.5%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kid_s_category_type_site/Coats%20%26%20Jackets?id=23708" data-cm="clothing-link-jacket_bunting"
                                        style="display: block; position: absolute; width: 100%; height: 9.930189%; left: 0%; top: 38.8%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Swaddle%20Blankets?id=23708" data-cm="clothing-link-swaddle_blankets"
                                        style="display: block; position: absolute; width: 100%; height: 9.130189%; left: 0%; top: 48.9%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kid_s_category_type_site/Sweaters?id=23708" data-cm="clothing-link-sweaters"
                                        style="display: block; position: absolute; width: 100%; height: 9.930189%; left: 0%; top: 58.3%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Side-Snap%20Shirts?id=23708" data-cm="clothing-link-side_snap_shirts"
                                        style="display: block; position: absolute; width: 100%; height: 9.130189%; left: 0%; top: 68.4%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Hats?id=23708" data-cm="clothing-link-lightweight_hats"
                                        style="display: block; position: absolute; width: 100%; height: 9.430189%; left: 0%; top: 77.8%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Kid_s_category_type_site/Socks?id=23708" data-cm="clothing-link-socks_booties"
                                        style="display: block; position: absolute; width: 100%; height: 10.230189%; left: 0%; top: 87.4%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/newborn-0-9-months/Sortby,Productsperpage/ORIGINAL,96?id=23708" data-cm="clothing-link-shop_all"
                                        style="display: block; position: absolute; width: 100%; height: 2.160189%; left: 0%; top: 97.75%;"></a>

                             </div>
                    </div>

                    <div id="mbl_gear-wrapper"
                              style="display: block; position: relative; width: 100%; height: auto; top: 0%;  margin-bottom: 2px;">
                              <div id="mbl_gear-menu" class="mobile-menu-link" data-cm="gear" style="top: 0; left: 0; width: 100%; height: 90px; background-color: #1F4C91; color: #fff;">
                                   <i class="fa fa-angle-down fa-3x" style="position: absolute; top: 27px; left: 20px;"></i>
                                   <a href="#/mbl_gear" style="position: absolute; text-align: center; width: 100%; height: 58px; color: #fff; font-family: 'lato'; font-weight: bold; font-size: 22px; text-decoration: none; padding-top: 32px;">GEAR</a>

                              </div>
                              
                              <div id="mbl_gear" class="section-content" data-cm="" style="display:none; position: relative;">
                              <img id="mobile-img-wedding" style="display: block; position: relative; margin: 0; width: 100%; height: auto; max-width: 100%; left: 0; top: 0;"
                                             src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/baby_essentials-mbl_gear.jpg" alt="" />

                                   <a class="mobile-artwork-link" href="/shop/kids/diaper-bags-strollers-gear/Kids_style_type_site/Bouncers?id=1005607" data-cm="gear-link-bouncers"
                                        style="display: block; position: absolute; width: 100%; height: 13.050189%; left: 0%; top: 0%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/diaper-bags-strollers-gear/Kids_style_type_site/Car%20Seats?id=1005607" data-cm="gear-link-car_seats"
                                        style="display: block; position: absolute; width: 100%; height: 13.030189%; left: 0%; top: 13.3%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/diaper-bags-strollers-gear/Kids_style_type_site/Carriers?id=1005607" data-cm="gear-link-carriers"
                                        style="display: block; position: absolute; width: 100%; height: 14.030189%; left: 0%; top: 26.6%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/diaper-bags-strollers-gear/Kid_s_category_type_site/Diaper%20Bags?id=1005607" data-cm="gear-link-diaper_bags"
                                        style="display: block; position: absolute; width: 100%; height: 13.430189%; left: 0%; top: 40.85%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/diaper-bags-strollers-gear/Kid_s_category_type_site/Strollers%20%26%20Accessories?id=1005607" data-cm="gear-link-lightweight_strollers"
                                        style="display: block; position: absolute; width: 100%; height: 14.540189%; left: 0%; top: 54.5%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/diaper-bags-strollers-gear/Kid_s_category_type_site/Strollers%20%26%20Accessories?id=1005607" data-cm="gear-link-full_size_strollers"
                                        style="display: block; position: absolute; width: 100%; height: 12.930189%; left: 0%; top: 69.3%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/diaper-bags-strollers-gear/Kid_s_category_type_site/Travel%20Cribs%20%26%20Playards?id=1005607" data-cm="gear-link-playards_bassinets"
                                        style="display: block; position: absolute; width: 100%; height: 14.030189%; left: 0%; top: 82.5%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/diaper-bags-strollers-gear?id=1005607" data-cm="gear-link-shop_all"
                                        style="display: block; position: absolute; width: 100%; height: 3.2%; left: 0%; top: 96.68%;"></a>

                             </div>
                    </div>
                    
                    <div id="mbl_toys-wrapper"
                              style="display: block; position: relative; width: 100%; height: auto; top: 0%;  margin-bottom: 2px;">
                              <div id="mbl_toys-menu" class="mobile-menu-link" data-cm="toys" style="top: 0; left: 0; width: 100%; height: 90px; background-color: #1F4C91; color: #fff;">
                                   <i class="fa fa-angle-down fa-3x" style="position: absolute; top: 27px; left: 20px;"></i>
                                   <a href="#/mbl_toys" style="position: absolute; text-align: center; width: 100%; height: 58px; color: #fff; font-family: 'lato'; font-weight: bold; font-size: 22px; text-decoration: none; padding-top: 32px;">TOYS</a>                                       
                              </div>
                              
                              <div id="mbl_toys" class="section-content" data-cm="" style="display:none; position: relative;">
                              <img id="mobile-img-wedding" style="display: block; position: relative; margin: 0; width: 100%; height: auto; max-width: 100%; left: 0; top: 0;"
                                             src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/baby_essentials-mbl_toys.jpg" alt="" />

                                   <a class="mobile-artwork-link" href="/shop/kids/toys/Kids_style_type_site/Activity%20Toys?id=1000307" data-cm="toys-link-activity"
                                        style="display: block; position: absolute; width: 100%; height: 18.330189%; left: 0%; top: 0%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/toys/Kids_style_type_site/Soft%20%26%20Plush%20Toys?id=1000307" data-cm="toys-link-plush"
                                        style="display: block; position: absolute; width: 100%; height: 18.030189%; left: 0%; top: 18.7%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/toys/Kids_style_type_site/Learning%20Toys?id=1000307" data-cm="toys-link-learning"
                                        style="display: block; position: absolute; width: 100%; height: 19.530189%; left: 0%; top: 37%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/toys/Kids_style_type_site/Bath%20Toys?id=1000307" data-cm="toys-link-bath"
                                        style="display: block; position: absolute; width: 100%; height: 18.530189%; left: 0%; top: 56.8%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/toys/Kids_style_type_site/Nap%20%26%20Play%20Mats?id=1000307" data-cm="toys-link-play_mats"
                                        style="display: block; position: absolute; width: 100%; height: 20.030189%; left: 0%; top: 75.7%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/toys/Sortby,Productsperpage/ORIGINAL,96?id=1000307" data-cm="toys-link-shop_all"
                                        style="display: block; position: absolute; width: 100%; height: 3.930189%; left: 0%; top: 95.9%;"></a>

                             </div>
                    </div>

                    <div id="mbl_bedding_bath-wrapper"
                              style="display: block; position: relative; width: 100%; height: auto; top: 0%;  margin-bottom: 2px;">
                              <div id="mbl_bedding_bath-menu" class="mobile-menu-link" data-cm="bedding_bath" style="top: 0; left: 0; width: 100%; height: 90px; background-color: #1F4C91; color: #fff;">
                                   <i class="fa fa-angle-down fa-3x" style="position: absolute; top: 27px; left: 20px;"></i>
                                   <a href="#/mbl_bedding_bath" style="position: absolute; text-align: center; width: 100%; height: 58px; color: #fff; font-family: 'lato'; font-weight: bold; font-size: 22px; text-decoration: none; padding-top: 32px;">BEDDING &amp; BATH</a>                                     
                              </div>
                              
                              <div id="mbl_bedding_bath" class="section-content" data-cm="" style="display:none; position: relative;">
                              <img id="mobile-img-wedding" style="display: block; position: relative; margin: 0; width: 100%; height: auto; max-width: 100%; left: 0; top: 0;"
                                             src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/baby_essentials-mbl_bedding_bath.jpg" alt="" />

                                   <a class="mobile-artwork-link" href="/shop/kids/blankets-bath-feeding/Kids_style_type_site/Plush%20Blankets%7CSwaddle%20Blankets?id=1005604" data-cm="bedding_bath-link-blankets"
                                        style="display: block; position: absolute; width: 100%; height: 18.030189%; left: 0%; top: 0%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/nursery-decor/Kids_style_type_site,Productsperpage/Monitors,180?id=1005606" data-cm="bedding_bath-link-monitors"
                                        style="display: block; position: absolute; width: 100%; height: 18.030189%; left: 0%; top: 18.4%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/nursery-decor/Kids_style_type_site/Humidifiers?id=1005606" data-cm="bedding_bath-link-air_purifiers"
                                        style="display: block; position: absolute; width: 100%; height: 19.450189%; left: 0%; top: 36.8%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/nursery-decor/Kids_style_type_site/Nightlights?id=1005606" data-cm="bedding_bath-link-nightlights"
                                        style="display: block; position: absolute; width: 100%; height: 18.630189%; left: 0%; top: 56.6%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/blankets-bath-feeding/Kids_style_type_site/Bath%20Towels%7CHooded%20Towels?id=1005604" data-cm="bedding_bath-link-hooded_towels"
                                        style="display: block; position: absolute; width: 100%; height: 20.030189%; left: 0%; top: 75.6%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/blankets-bath-feeding?id=1005604" data-cm="bedding_bath-link-shop_all"
                                        style="display: block; position: absolute; width: 100%; height: 3.7%; left: 0%; top: 96%;"></a>
                             </div>
                    </div>

                    <div id="mbl_feeding-wrapper"
                              style="display: block; position: relative; width: 100%; height: auto; top: 0%;  margin-bottom: 2px;">
                              <div id="mbl_feeding-menu" class="mobile-menu-link" data-cm="feeding" style="top: 0; left: 0; width: 100%; height: 90px; background-color: #1F4C91; color: #fff;">
                                   <i class="fa fa-angle-down fa-3x" style="position: absolute; top: 27px; left: 20px;"></i>
                                   <a href="#/mbl_feeding" style="position: absolute; text-align: center; width: 100%; height: 58px; color: #fff; font-family: 'lato'; font-weight: bold; font-size: 22px; text-decoration: none; padding-top: 32px;">FEEDING</a>                            
                              </div>
                              
                              <div id="mbl_feeding" class="section-content" data-cm="" style="display:none; position: relative;">
                              <img id="mobile-img-wedding" style="display: block; position: relative; margin: 0; width: 100%; height: auto; max-width: 100%; left: 0; top: 0;"
                                             src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/baby_essentials-mbl_feeding.jpg" alt="" />

                                   <a class="mobile-artwork-link" href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Bibs%20%26%20Burp%20Cloths,180?id=1006101" data-cm="feeding-link-bibs"
                                        style="display: block; position: absolute; width: 100%; height: 18.330189%; left: 0%; top: 0%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Bibs%20%26%20Burp%20Cloths,180?id=1006101" data-cm="feeding-link-burp_cloths"
                                        style="display: block; position: absolute; width: 100%; height: 17.930189%; left: 0%; top: 18.7%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Plates%2FCups%2FUtensils,180?id=1006101" data-cm="feeding-link-plates_bowls_cups"
                                        style="display: block; position: absolute; width: 100%; height: 19.330189%; left: 0%; top: 37%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Plates%2FCups%2FUtensils,180?id=1006101" data-cm="feeding-link-spoons"
                                        style="display: block; position: absolute; width: 100%; height: 18.450189%; left: 0%; top: 56.7%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/High%20Chairs,180?id=1006101" data-cm="feeding-link-high_chairs"
                                        style="display: block; position: absolute; width: 100%; height: 19.930189%; left: 0%; top: 75.6%;"></a>

                                   <a class="mobile-artwork-link" href="/shop/kids/feeding-mealtime-essentials?id=1006101" data-cm="feeding-link-shop_all"
                                        style="display: block; position: absolute; width: 100%; height: 4%; left: 0%; top: 95.8%;"></a>

                             </div>
                    </div>
               </div>
               <a class="mobile-artwork-link" href="/shop/kids/all-baby?id=1004563" data-cm="link-shop_all_baby" id="link-shop_all_baby"
                         style="display: block; width: 100%; height: 58px; background-color: #fff; text-align: center; top: 0%; color: #1F4C91; font-family: 'lato'; font-weight: bold; font-size: 22px; padding-top: 32px; margin-bottom: 2px;">SHOP ALL BABY</a>

               <div class="" data-cm="" id=""
                         style="display: block; position: relative; width: 100%; height: 90px; background-color: #000; top: 0%; color: #fff; font-family: 'lato'; font-weight: bold; font-size: 15.5px; margin-bottom: 2px;">

                    <a class="mobile-artwork-link btn-facebook" href="" data-cm="social_facebook" target="_blank"
                              style="position: absolute; top: 0; left: 0%; width: 33.333333%; height: 60px; color: #fff; padding-top: 30px; font-size: 25px; text-align: center;"><i class="fa fa-facebook fa-lg" style="line-height: 23px;"></i></a>
                    <a class="mobile-artwork-link btn-twitter" href="" data-cm="social_twitter" target="_blank"
                              style="position: absolute; top: 0; left: 33.333334%; width: 33.333333%; height: 60px; color: #fff; padding-top: 30px; font-size: 25px; text-align: center;"><i class="fa fa-twitter fa-lg" style="line-height: 23px;"></i></a>
                    <a class="mobile-artwork-link btn-pinterest" href="" data-cm="social_pinterest" target="_blank"
                              style="position: absolute; top: 0; left: 66.666667%; width: 33.333333%; height: 60px; color: #fff; padding-top: 30px; font-size: 25px; text-align: center;"><i class="fa fa-pinterest fa-lg" style="line-height: 23px;"></i></a>

               </div>
          
         </div>
          
     </div>
</div>

<script src="/fashion/javascripts/libs/jquery-1.11.2.min.js"></script>
<!-- <script type="application/javascript" src="/fashion/javascripts/projects/fashion-tips/baby-essentials-must-haves-checklist/template_base.js"></script> -->
<script src="/fashion/javascripts/libs/hammer-2.0.6-min.js"></script>
<script src="/fashion/javascripts/projects/fashion-tips/baby-essentials-must-haves-checklist/baby-essentials-mobile.js"></script>
