<!-- headTags -->
<title>Baby Essentials Checklist: Baby Must-Haves Products</title>
<meta content="From cozy footies to tricked-out gear, we've ID'd everything you'll need for the baby-to-be." name="description" />
<meta property="og:title" content="Baby Essentials Checklist: Baby Must-Haves Products"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="/fashion-tips/baby-essentials-must-haves-checklist"/>
<meta property="og:description" content="From cozy footies to tricked-out gear, we've ID'd everything you'll need for the baby-to-be."/>
<meta property="og:image" content="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/icon_fb.jpg"/>
<link rel="canonical" href="//www.fashion.bloomingdales.com/fashion-tips/baby-essentials-must-haves-checklist/"/>
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:400,900'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/fashion/styles/projects/fashion-tips/baby-essentials-must-haves-checklist/template_base.css" />
<link rel="stylesheet" type="text/css" href="/fashion/styles/projects/fashion-tips/baby-essentials-must-haves-checklist/baby-essentials-checklist-2015.css" />
<!-- /headTags -->

     <div class="row layout-desktop">
          <div id="qa-auto-look-book" class="lookbook-wrapper small-24 medium-24 large-24 column">
               <div id="qa-auto-pagination_container" class="lookbook-pagination">
                    <a href="#toys" id="qa-auto-pagination-1" data-context="toys" data-cm-element-tag="navigation-toys" data-for-page-number="1" class="sprite-btn sprite-btn-toys current-page"></a>
                    <a href="#clothing" id="qa-auto-pagination-2" data-context="clothing" data-cm-element-tag="navigation-clothing" data-for-page-number="2" class="sprite-btn sprite-btn-clothing "></a>
                    <a href="#bedding-bath" id="qa-auto-pagination-3" data-context="bedding-bath" data-cm-element-tag="navigation-bedding-bath" data-for-page-number="3" class="sprite-btn sprite-btn-bedding "></a>
                    <a href="#feeding" id="qa-auto-pagination-4" data-context="feeding" data-cm-element-tag="navigation-feeding" data-for-page-number="4" class="sprite-btn sprite-btn-feeding "></a>
                    <a href="#gear" id="qa-auto-pagination-5" data-context="gear" data-cm-element-tag="navigation-gear" data-for-page-number="4" class="sprite-btn sprite-btn-gear "></a>
                    <a href="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/checklist.pdf" data-cm-element-tag="checklist" class="sprite-btn sprite-btn-download-square" target="_blank"></a>
                    <a href="/shop/kids/gifts-keepsakes?id=1005608" class="sprite-btn sprite-btn-shop" data-cm-element-tag="navigation-shop-gifts"></a>
                    <a href="#" id="qa-auto-facebook-top" class="sprite-btn sprite-btn-facebook" data-cm-element-tag="social-fb" target="_blank"></a>
                    <a href="#" id="qa-auto-teitter-top" class="sprite-btn sprite-btn-twitter" data-cm-element-tag="social-twitter" target="_blank"></a>
                    <a href="#" id="qa-auto-pinterest-top" class="sprite-btn sprite-btn-pinterest" data-cm-element-tag="social-pinterest" target="_blank"></a>
               </div>
               <div class="lookbook-page-wrapper">
                    <div class="lookbook-page" data-page-number="0">
                         <img src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/page0.jpg" >
                         <a href="//www.bloomingdales.com//wishlist/mylist" class="wishlist-button" data-cm-element-tag="top-wishlist"></a>
                         <a href="//www.bloomingdales.com/shop/kids/all-baby?id=1004563" class="shop-all-button" data-cm-element-tag="top-shop-all-baby"></a>
                    </div>
                    <div class="lookbook-page" data-page-number="1">
                         <a name="toys" class="scroll-anchor" data-scroll-offset="-61"></a>
                         <img class="launch-overlay" src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/page1.jpg" data-show-overlay="toys" data-cm-pageview-tag="fall14_newbornessentials-toys" />
                    </div>
                    <div class="lookbook-page" data-page-number="2">
                         <a name="clothing" class="scroll-anchor" data-scroll-offset="0"></a>
                         <img class="launch-overlay" src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/page2.jpg" data-show-overlay="clothing" data-cm-pageview-tag="fall14_newbornessentials-clothing" />
                    </div>
                    <div class="lookbook-page" data-page-number="3">
                         <a name="bedding-bath" class="scroll-anchor" data-scroll-offset="-154"></a>
                         <img class="launch-overlay" src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/page3.jpg" data-show-overlay="bedding" data-cm-pageview-tag="fall14_newbornessentials-bedding" />
                         <!-- changed according to callout #12, #17 -->
                         <a class="launch-overlay" data-show-overlay="gear" data-cm-pageview-tag="fall14_newbornessentials-gear" style="position: absolute; width: 90%; height: 310px; right: 0px; bottom: 0px;"></a>
                    </div>
                    <div class="lookbook-page" data-page-number="4">
                         <a name="feeding" class="scroll-anchor" data-scroll-offset="0"></a>
                         <img class="launch-overlay pull-left" src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/page4a.jpg" data-show-overlay="feeding" data-cm-pageview-tag="fall14_newbornessentials-feeding" />
                         <a name="gear" class="scroll-anchor" data-scroll-offset="-310"></a>
                         <img class="launch-overlay pull-left" src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/page4b.jpg" data-show-overlay="gear" data-cm-pageview-tag="fall14_newbornessentials-gear" />
                    </div>
                    <div class="lookbook-footer">
                         <a href="#" class="footer-sprite back-to-top back-to-top-button" data-cm-element-tag="back-to-top"></a>
                         <a href="//www.bloomingdales.com/shop/kids/all-baby?id=1004563" class="footer-sprite shop-baby" data-cm-element-tag="bottom-shop-all-baby"></a>
                    </div>
               </div>
          </div>

          <!-- <div class="overlay-background"></div> -->
          <div class="overlay-wrapper" data-cm-category-base="">
               <div class="overlay-close overlay-general btn-close" data-cm-element-tag="close" data-cm-prepend-cat="true"></div>
               <div class="overlay-header toys"></div>
               <div class="overlay-action-items">
                    <a href="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/checklist.pdf" class="sprite-btn sprite-btn-download-square" target="_blank" data-cm-element-tag="print" data-cm-prepend-cat="true"></a>
                    <div class="overlay-general btn-size" data-cm-element-tag="size-chart-clothing"></div>
               </div>

               <div class="overlay-size-chart">
                    <div class="size-chart-background"></div>
                    <div class="size-chart-close-button"></div>
                    <img class="size-chart-image" src="/fashion/images/projects/fashion-tips/baby-essentials-must-haves-checklist/sizechart.jpg">
               </div>

               <!-- TOYS -->
               <div class="toys-lookbook lookbook-wrapper small-24 medium-24 large-24 column">
                    <div class="lookbook-nav-arrow go-to-prev overlay-general btn-prev" data-cm-element-tag="left-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-nav-arrow go-to-next overlay-general btn-next" data-cm-element-tag="right-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-page-wrapper">
                         <div class="lookbook-page" data-page-number="1">
                              <a href="/shop/kids/toys/Kids_style_type_site/Activity%20Toys?id=1000307" class="lookbook-item overlay-toys activity-toys" data-cm-element-tag="activity-toys"></a>
                              <a href="/shop/kids/toys/Kids_style_type_site/Soft%20%26%20Plush%20Toys?id=1000307" class="lookbook-item overlay-toys plush-toys" data-cm-element-tag="plush-toys"></a>
                              <a href="/shop/kids/toys/Kids_style_type_site/Learning%20Toys?id=1000307" class="lookbook-item overlay-toys learning-toys" data-cm-element-tag="learning-toys"></a>
                         </div>
                         <div class="lookbook-page" data-page-number="2">
                              <a href="/shop/kids/toys/Kids_style_type_site/Bath%20Toys?id=1000307" class="lookbook-item overlay-toys bath-toys" data-cm-element-tag="bath-toys"></a>
                              <a href="/shop/kids/toys/Kids_style_type_site/Nap%20%26%20Play%20Mats?id=1000307" class="lookbook-item overlay-toys play-mat" data-cm-element-tag="play-mat"></a>
                         </div>
                    </div>
               </div>

               <!-- CLOTHING -->
               <div class="clothing-lookbook lookbook-wrapper small-24 medium-24 large-24 column">
                    <div class="lookbook-nav-arrow go-to-prev overlay-general btn-prev" data-cm-element-tag="left-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-nav-arrow go-to-next overlay-general btn-next" data-cm-element-tag="right-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-page-wrapper">
                         <div class="lookbook-page" data-page-number="1">
                              <a href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Side-Snap%20Shirts?id=23708" class="lookbook-item overlay-clothing side-snap-shirt" data-cm-element-tag="side-snap-shirt"></a>
                              <a href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Bodysuits?id=23708" class="lookbook-item overlay-clothing bodysuit" data-cm-element-tag="bodysuit"></a>
                              <a href="/shop/kids/newborn-0-9-months/Kid_s_category_type_site/Sweaters?id=23708" class="lookbook-item overlay-clothing sweater" data-cm-element-tag="sweater"></a>
                         </div>
                         <div class="lookbook-page" data-page-number="2">
                              <a href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Hats?id=23708" class="lookbook-item overlay-clothing lightweight-hats" data-cm-element-tag="lightweight-hats"></a>
                              <a href="/shop/kids/newborn-0-9-months/Kid_s_category_type_site/Socks?id=23708" class="lookbook-item overlay-clothing socks" data-cm-element-tag="socks"></a>
                              <a href="/shop/kids/newborn-0-9-months/Kids_style_type_site/2-piece%20Sets?id=23708" class="lookbook-item overlay-clothing two-piece" data-cm-element-tag="two-piece"></a>
                         </div>
                         <div class="lookbook-page" data-page-number="3">
                              <a href="/shop/kids/newborn-0-9-months/Kid_s_category_type_site/Coats%20%26%20Jackets?id=23708" class="lookbook-item overlay-clothing jacket" data-cm-element-tag="jacket"></a>
                              <a href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Coveralls%7CShortalls?id=23708" class="lookbook-item overlay-clothing coverall" data-cm-element-tag="coverall"></a>
                              <a href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Footies?id=23708" class="lookbook-item overlay-clothing footie" data-cm-element-tag="footie"></a>
                         </div>
                         <div class="lookbook-page" data-page-number="4">
                              <a href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Swaddle%20Blankets?id=23708" class="lookbook-item overlay-clothing swaddle-blanket" data-cm-element-tag="swaddle-blanket"></a>
                              <a href="/shop/kids/newborn-0-9-months/Kids_style_type_site/Bassinets?id=23708" class="lookbook-item overlay-clothing moses-basket" data-cm-element-tag="moses-basket"></a>
                         </div>
                    </div>
               </div>


               <!-- BEDDING -->
               <div class="bedding-lookbook lookbook-wrapper small-24 medium-24 large-24 column">
                    <div class="lookbook-nav-arrow go-to-prev overlay-general btn-prev" data-cm-element-tag="left-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-nav-arrow go-to-next overlay-general btn-next" data-cm-element-tag="right-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-page-wrapper">
                         <div class="lookbook-page" data-page-number="1">
                              <a href="/shop/kids/blankets-bath-feeding/Kids_style_type_site/Plush%20Blankets%7CSwaddle%20Blankets?id=1005604" class="lookbook-item overlay-bedding blankets" data-cm-element-tag="blankets"></a>
                              <a href="/shop/kids/nursery-decor/Kids_style_type_site,Productsperpage/Monitors,180?id=1005606" class="lookbook-item overlay-bedding monitor" data-cm-element-tag="monitor"></a>
                              <a href="/shop/kids/nursery-decor/Kids_style_type_site/Humidifiers?id=1005606" class="lookbook-item overlay-bedding air-purifier" data-cm-element-tag="air-purifier"></a>
                         </div>
                         <div class="lookbook-page" data-page-number="2">
                              <a href="/shop/kids/nursery-decor/Kids_style_type_site/Nightlights?id=1005606" class="lookbook-item overlay-bedding nightlight" data-cm-element-tag="nightlight"></a>
                              <a href="/shop/kids/blankets-bath-feeding/Kids_style_type_site/Bath%20Accessories%7CBath%20Toys?id=1005604" class="lookbook-item overlay-bedding bath-toys" data-cm-element-tag="bath-toys"></a>
                              <a href="/shop/kids/blankets-bath-feeding/Kids_style_type_site/Bath%20Towels%7CHooded%20Towels?id=1005604" class="lookbook-item overlay-bedding hooded-towel" data-cm-element-tag="hooded-towel"></a>
                         </div>
                    </div>
               </div>

               <!-- FEEDING -->
               <div class="feeding-lookbook lookbook-wrapper small-24 medium-24 large-24 column">
                    <div class="lookbook-nav-arrow go-to-prev overlay-general btn-prev" data-cm-element-tag="left-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-nav-arrow go-to-next overlay-general btn-next" data-cm-element-tag="right-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-page-wrapper">
                         <div class="lookbook-page" data-page-number="1">
                              <a href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Bibs%20%26%20Burp%20Cloths,180?id=1006101" class="lookbook-item overlay-feeding bibs" data-cm-element-tag="bibs"></a>
                              <a href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Bibs%20%26%20Burp%20Cloths,180?id=1006101" class="lookbook-item overlay-feeding burp-cloths" data-cm-element-tag="burp-cloths"></a>
                              <a href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Plates%2FCups%2FUtensils,180?id=1006101" class="lookbook-item overlay-feeding plates-bowls-cups" data-cm-element-tag="plates-bowls-cups"></a>
                         </div>
                         <div class="lookbook-page" data-page-number="2">
                              <a href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Plates%2FCups%2FUtensils,180?id=1006101" class="lookbook-item overlay-feeding spoons" data-cm-element-tag="spoons"></a>
                              <a href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/Food%20Storage%7CFood%20Preparation,180?id=1006101" class="lookbook-item overlay-feeding food-prep" data-cm-element-tag="food-prep"></a>
                              <a href="/shop/kids/feeding-mealtime-essentials/Kids_style_type_site,Productsperpage/High%20Chairs,180?id=1006101" class="lookbook-item overlay-feeding high-chair" data-cm-element-tag="high-chair"></a>
                         </div>
                    </div>
               </div>

               <!-- GEAR -->
               <div class="gear-lookbook lookbook-wrapper small-24 medium-24 large-24 column">
                    <div class="lookbook-nav-arrow go-to-prev overlay-general btn-prev" data-cm-element-tag="left-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-nav-arrow go-to-next overlay-general btn-next" data-cm-element-tag="right-arrow" data-cm-prepend-cat="true"></div>
                    <div class="lookbook-page-wrapper">
                         <div class="lookbook-page" data-page-number="1">
                              <a href="/shop/kids/diaper-bags-strollers-gear/Kids_style_type_site/Bouncers?id=1005607" class="lookbook-item overlay-gear bouncer" data-cm-element-tag="bouncer"></a>
                              <a href="/shop/kids/diaper-bags-strollers-gear/Kids_style_type_site/Car%20Seats?id=1005607" class="lookbook-item overlay-gear car-seat" data-cm-element-tag="car-seat"></a>
                              <a href="/shop/kids/diaper-bags-strollers-gear/Kids_style_type_site/Carriers?id=1005607" class="lookbook-item overlay-gear carrier" data-cm-element-tag="carrier"></a>
                         </div>
                         <div class="lookbook-page" data-page-number="2">
                              <a href="/shop/kids/diaper-bags-strollers-gear/Kid_s_category_type_site/Diaper%20Bags?id=1005607" class="lookbook-item overlay-gear diaper-bag" data-cm-element-tag="diaper-bag"></a>
                              <a href="/shop/kids/diaper-bags-strollers-gear/Kid_s_category_type_site/Strollers%20%26%20Accessories?id=1005607" class="lookbook-item overlay-gear lightweight-stroller" data-cm-element-tag="lightweight-stroller"></a>
                              <a href="/shop/kids/diaper-bags-strollers-gear/Kid_s_category_type_site/Strollers%20%26%20Accessories?id=1005607" class="lookbook-item overlay-gear full-size-stroller" data-cm-element-tag="full-size-stroller"></a>
                         </div>
                         <div class="lookbook-page" data-page-number="3">
                              <a href="/shop/kids/diaper-bags-strollers-gear/Kid_s_category_type_site/Travel%20Cribs%20%26%20Playards?id=1005607" class="lookbook-item overlay-gear playard" data-cm-element-tag="playard"></a>
                         </div>
                    </div>
               </div>

               <!-- TIPS SECTION -->
               <div class="overlay-tips-wrapper">
                    <span class="overlay-general tips"></span>
                    <div class="tip-section toys">
                         <div class="tip">
                              <h2>ACTIVITY TOYS</h2>
                              Toys that spin, crinkle and squeak encourage your baby to fine-tune the much-needed skills of holding, grasping and letting go.
                         </div>
                         <div class="tip">
                              <h2>PLUSH TOYS</h2>
                              Giving babies a feel for different textures stimulates their sense of touch. Limit plush toys to playtime and never put them in the crib.
                    </div>
                         <div class="tip">
                              <h2>BATH TOYS</h2>
                              Bath toys make tub time more fun, but they also teach your tot to pour, squeeze, splash and explore.
                         </div>
                    </div>
                    <div class="tip-section clothing">
                         <div class="tip">
                              <h2>SIDE-SNAP SHIRTS</h2>
                              Tops that open in front make it a snap to dress your newborn without irritating the umbilical cord.
                         </div>
                         <div class="tip">
                              <h2>BODYSUITS</h2>
                              Once the umbilical cord falls off, these baby basics will become your little one's best bet for all-day, everyday comfort.
                         </div>
                         <div class="tip">
                              <h2>FOOTIES</h2>
                              Keep your peewee's piggies warm without an endless search for lost socks. Bottom closures make diaper changes oh-so-much easier.
                         </div>
                         <div class="tip">
                              <h2>SWADDLE BLANKETS</h2>
                              Swaddle blankets are the ultimate baby soothers - their snug-as-a-bug fit reminds infants of the familiar feeling of the womb.</div>
                    </div>
                    <div class="tip-section bedding">
                         <div class="tip">
                              <h2>BEDDING &amp; BATH</h2>
                              Doing the same bedtime routine each night signals to your little one that it's time
                              to wind down for sleep. Giving your baby a bath, reading and singing lullabies are common pre-Zs activities.
                         </div>
                         <div class="tip">
                              <h2>MONITOR</h2>
                              If you wake up in the middle of the night, a video monitor offers at-a-glance reassurance that your baby's still snoozing.
                         </div>
                         <div class="tip">
                              <h2>NIGHTLIGHT</h2>
                              A low glow offers just enough light to help you find your way during middle-of-the-night feedings without overwhelming you with a glaring bulb.</div>
                    </div>
                    <div class="tip-section feeding">
                         <div class="tip">
                              <h2>BIBS</h2>
                              Cotton bibs sop up dribbles and can get tossed straight into the washing
                              machine post-feeding. Firmer styles with pockets catch plummeting morsels
                              and wipe clean with a damp cloth.
                         </div>
                         <div class="tip">
                              <h2>BURP CLOTHS</h2>
                              Spills and spit up are the new normal. Keep a stockpile of burp cloths on hand.
                         </div>
                         <div class="tip">
                              <h2>PLATES, BOWLS &amp; CUPS</h2>
                              Sippies are a great (read: spill-proof!) way to transition your growing tot from
                              a bottle to an open cup.
                         </div>
                         <div class="tip">
                              <h2>HIGH CHAIR</h2>
                              Always strap your child into a high chair and place it far enough away from walls
                              and counters that your little kicker can't accidentally tip over.</div>
                    </div>
                    <div class="tip-section gear">
                         <div class="tip">
                              <h2>BOUNCER</h2>
                              The nest-like seat and rocking motion make this a comforting pick. Just be sure to
                              secure your little me and stay within eyeshot.
                         </div>
                         <div class="tip">
                              <h2>CAR SEAT</h2>
                              Your baby's first car seat should be designed specifically for infants and sit rear-facing
                              in the car&mdash;the safest way for tiny tots to travel.
                         </div>
                         <div class="tip">
                              <h2>CARRIER</h2>
                              Most newborns crave close contact with their parents. A baby carrier lets you snuggle
                              up while keeping your hands free.
                         </div>
                         <div class="tip">
                              <h2>LIGHTWEIGHT STROLLER + ACCESSORIES</h2>
                              Great for travel and running errands, lightweight strollers are easy to pick up, fold and store, but shouldn't be used until around age 6 months when babies develop better head and neck control.
                         </div>
                         <div class="tip">
                              <h2>FULL-SIZE STROLLER + ACCESSORIES</h2>
                              Because infants can't sit up on their own, the seat on their first set of wheels should be able to recline to flat. Look for a full-size stroller with different seating options so it grows with your child.</div>
                    </div>
               </div>

               <!-- SHOP ALL X -->
               <div class="shop-all-wrapper">
                    <a href="/shop/kids/blankets-bath-feeding?id=1005604" class="sprite-shop-all bedding" data-cm-element-tag="shop-all" data-cm-append-cat="true" ></a>
                    <a href="/shop/kids/newborn-0-9-months?id=23708" class="sprite-shop-all clothing" data-cm-element-tag="shop-all" data-cm-append-cat="true" ></a>
                    <a href=" /shop/kids/feeding-mealtime-essentials?id=1006101" class="sprite-shop-all feeding" data-cm-element-tag="shop-all" data-cm-append-cat="true" ></a>
                    <a href="/shop/kids/diaper-bags-strollers-gear?id=1005607" class="sprite-shop-all gear" data-cm-element-tag="shop-all" data-cm-append-cat="true" ></a>
                    <a href="/shop/kids/toys?id=1000307" class="sprite-shop-all toys" data-cm-element-tag="shop-all" data-cm-append-cat="true" ></a>
               </div>
          </div>

     </div>

<script src="/fashion/javascripts/libs/jquery-1.11.2.min.js"></script>
<script src="/fashion/javascripts/projects/fashion-tips/baby-essentials-must-haves-checklist/template_base.js"></script>
<script src="/fashion/javascripts/libs/hammer-2.0.6-min.js"></script>
<script src="/fashion/javascripts/projects/fashion-tips/baby-essentials-must-haves-checklist/baby-essentials-checklist-2015.js"></script>
