<!-- {pageTitle:"Our History", pageLabel:"Our History &mdash; About Us | Bloomingdales"} -->
{{{coremetrics 'Our History (md-ab-xx-xx.history)' 'md-ab-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Check out our history--from the Bloomingdale brothers selling hoop skirts in the 1800s, up through the present day!"}-->
<!--headCanonical={"href":"/about-us/history"}-->
<div class="about_us">
    <link rel="stylesheet" href="/b/fashion/styles/projects/about-us/aboutus.css" />
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bl_cu_mainContent">
                                {{>titleimage}}
                                <div id="bl_history">
                                    <div class="bl_history_cont">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="bl_history_photos">
                                                        <div>
                                                            <img src="http://assets.bloomingdales.com/img/about/portrait1.jpg" width="87" height="111" alt="A Store Is Born" border="0">
                                                        </div>
                                                        <div>
                                                            <img src="http://assets.bloomingdales.com/img/about/portrait2.jpg" width="88" height="110" alt="Moving Up In The World" border="0">
                                                        </div>
                                                        <div>
                                                            <img src="http://assets.bloomingdales.com/img/about/portrait3.jpg" width="89" height="113" alt="Lights - Camera - Action!" border="0">
                                                        </div>
                                                        <div>
                                                            <img src="http://assets.bloomingdales.com/img/about/portrait4.jpg" width="88" height="127" alt="Not A Store" name=" But A Destination" border="0" align="0">
                                                        </div>
                                                        <div>
                                                            <img src="http://assets.bloomingdales.com/img/about/portrait5.jpg" width="90" height="123" alt="Looking Forward" border="0">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="bl_history_list">
                                                        <div class="bl_history_text">
                                                            <div class="bl_history_dates">1860-1879</div>
                                                            <div class="bl_history_info">
                                                                <p class="bl_history_header">A Store Is Born</p>
                                                                <p class="bl_history_desc">To think it all started with a 19th century fad - the hoop skirt. That was the first item that Joseph and Lyman Bloomingdale carried in their Ladies' Notions Shop in New York's Lower East Side. In the late 1800's, most fashion retailers specialized in just one type of garment. Not the brothers Bloomingdale - their East Side Bazaar, opened in 1872, sold a wide variety of European fashions. It was the beginning of what would become a "Department Store".</p>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth"></div>
                                                        <div class="bl_history_text">
                                                            <div class="bl_history_dates">1880-1929</div>
                                                            <div class="bl_history_info">
                                                                <p class="bl_history_header">Moving Up In The World</p>
                                                                <p class="bl_history_desc">In 1886 came the visionary move uptown to 59th Street and Lexington Avenue. The store expanded steadily and by the 1920's, Bloomingdale's converted an entire city block.</p>
                                                            </div>
                                                        </div>
                                                        <div class="bl_history_text">
                                                            <div class="bl_history_dates">1900-1910</div>
                                                            <div class="bl_history_info">
                                                                <p class="bl_history_header">Read All About It</p>
                                                                <p class="bl_history_desc">Flexing his marketing muscle, Lyman created splashy ad campaigns to bring people in the door. People started seeing the "All Cars Transfer to Bloomingdale's" slogan everywhere - on billboards, delivery wagons, and even ladies' beach umbrellas.</p>
                                                            </div>
                                                        </div>
                                                        <div class="bl_history_text">
                                                            <div class="bl_history_dates">1940's</div>
                                                            <div class="bl_history_info">
                                                                <p class="bl_history_header">Lights - Camera - Action!</p>
                                                                <p class="bl_history_desc">Print ads couldn't say it all. The store had to be experienced. So Bloomingdale's became the stage for gala events and fashion shows, including "Woman Of The Year, 1947." With music, lighting and sophistication, it was retailing as theater.</p>
                                                            </div>
                                                        </div>
                                                        <div class="bl_history_text">
                                                            <div class="bl_history_dates">1960's</div>
                                                            <div class="bl_history_info">
                                                                <p class="bl_history_header">It's In The Bag</p>
                                                                <p class="bl_history_desc">It's not just what you buy - it's what you take it home in, too. We've always looked for new ways to be creative. In 1961, the Bloomingdale's team came up with the first designer shopping bags. Since then, many have become collector's items.</p>
                                                            </div>
                                                        </div>
                                                        <div class="bl_history_text">
                                                            <div class="bl_history_dates">1970's</div>
                                                            <div class="bl_history_info">
                                                                <p class="bl_history_header">Not A Store, But A Destination</p>
                                                                <p class="bl_history_desc">By the 70's, everyone was stopping by 59th Street and Lexington Avenue for a look - including Queen Elizabeth. People came to see and to be seen. Once there, they were dazzled by the cutting-edge fashion of designers like Ralph Lauren, Perry Ellis and Norma Kamali, who got their first truly big opportunities at Bloomingdale's.</p>
                                                            </div>
                                                        </div>
                                                        <div class="bl_history_text">
                                                            <div class="bl_history_dates">2000+</div>
                                                            <div class="bl_history_info">
                                                                <p class="bl_history_header">Looking Forward</p>
                                                                <p class="bl_history_desc">Bloomingdale's is committed to once again lead the way with exclusive merchandise, customized services, and alternative shopping venues. Carrying on the Bloomingdale's brothers' dream, we're always finding ways to set our stores apart. That's both the legacy and the promise of Bloomingdale's.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>





