<!--headTitle={"title":"Bloomingdale’s Denim Dictionary – Best Jean Styles in 2018"} -->
<!--headMeta={"content":"The hottest, on the rise jean styles in 2018 – See them here at Bloomingdale’s! Also check out our Wide Leg and Bright Washes DO’S & DON’TS!", "name":"description"}-->
<!--headCanonical={"href":"/b/denim/denim-styles/"}-->

<script>
	if ( BLOOMIES.isMobile === true ) {
		$('header.responsive').remove();
	}
</script>

<link rel="stylesheet" href="/b/fashion/styles/projects/denim/styles.css">

<nav id="mast-nav">
	<div class="inner">
		<div class="page-id"><a href="/b/denim/denim-trends/">Bloomingdale's Jeans Shop</a></div>
		<div class="rightAlign">
			<ul class="nav">
				<li class="trend"><a data-cm="nav-lookbook" href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a></li>
				<li class="style active"><a data-cm="nav-blog" href="/b/denim/denim-styles/">The Guide</a></li>
				<li class="shop"><a data-cm="nav-shop-all" href="/shop/womens-apparel/jeans?id=5545">Shop All Jeans</a></li>
			</ul>
		</div>
	</div>
	<div id="sub-nav">
		<a data-cm="nav-denim-dictionary" href="#denim-dictionary">The Denim Dictionary</a>
		<a data-cm="nav-denim-dilemmas" href="#denim-dilemmas">Denim Dilemmas</a>
		<a data-cm="nav-dos-and-donts" href="#dos-and-donts">Do's &amp; Don'ts</a>
		<a data-cm="nav-denim-dares" href="#denim-dares">Denim Dares</a>
	</div>

</nav>

<main id="denim-styles">
	
	<div class="title">
		<div class="container">
			<span>

				all-things jeans
			</span>
			<p>
				How we’re wearing, pairing and caring for the season’s coolest pairs.
			</p>
		</div>
	</div>
	<div class="main">
		<section id="denim-dictionary" class="three-col">
			<div id="blog-heading">
				<h1>The Denim Dictionary</h1>
				<p>Three new details that define the spring jean scene-- and why you need them now.</p>
			</div>
			<div class="carousel">
				<div class="col">
					<a id="denim-styles-track-stripes" href="/shop/womens-apparel/jeans/Jean_trends/Track%20Stripes?id=5545">
						<img src="/b/fashion/images/projects/denim/denim-styles/editorial-1.jpg" alt=""/>
					</a>
					<h3>TRACK STRIPES</h3>
					<a href="#" class="more">+ more</a>
					<a href="#" class="less hidden">- less</a>
					<br/>
					<p class="details hidden">The distinctive side stripe reflects the heavy athletic vibes we were track-ing on the spring runways.<a class="shop" href="/shop/womens-apparel/jeans?id=5545" id="shop-all-jeans-track-stripes">shop all jeans</a></p>
					
				</div>
				<div class="col">
					<a id="denim-styles-split-hem" href="/shop/womens-apparel/jeans/Jean_trends/Statement%20Hems?id=5545">
						<img src="/b/fashion/images/projects/denim/denim-styles/editorial-2.jpg" alt=""/>
					</a>
					<h3>SPLIT HEM</h3>
					<a href="#" class="more">+ more</a>
					<a href="#" class="less hidden">- less</a>
					<br/>
					<p class="details hidden">Splits at the front or side seams of each ankle that open just enough to showcase your favorite footwear.<a class="shop" href="/shop/womens-apparel/jeans?id=5545" id="shop-all-jeans-split-hem">shop all jeans</a></p>
					
				</div>
				<div class="col">
					<a id="denim-styles-front-seam" href="/shop/womens-apparel/jeans/Jean_trends/Front%20Seams?id=5545">
						<img src="/b/fashion/images/projects/denim/denim-styles/editorial-3.jpg" alt=""/>
					</a>
					<h3>FRONT SEAM</h3>
					<a href="#" class="more">+ more</a>
					<a href="#" class="less hidden">- less</a>
					<br/>
					<p class="details hidden">Pronounced stitching that runs from your front pocket to your hem, creating the illusion of legs that are almost impossibly long.<a class="shop" href="/shop/womens-apparel/jeans?id=5545" id="shop-all-jeans-from-seam">shop all jeans</a></p>
				</div>
				<div class="placeholder"></div>
				<ul class="dots mobile">
					<li class="active"></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</section>

		<section id="denim-dilemmas" class="two-col">
			<h2>Denim <span class="desktop"><hr/></span> Dilemmas</h2>
			<p class="">Our resident denim expert, Wanda Rivets (wink, wink),<br> has a solution to every style quandary.</p>
			<div class="col">
				<div class="image">
					<img src="/b/fashion/images/projects/denim/denim-styles/editorial-4.jpg" alt=""/>
					<a class="normal-brand-footer brand-footer" id="j-brand-light-wash" href="/shop/product/?ID=2814054">J Brand</a>
					<a class="normal-brand-footer brand-footer second-brand" id="levis-light-wash" href="/shop/product/?ID=2814062">Levi's</a>
				</div>
				<p><strong>Q.</strong> Dear Wanda Rivets: I don’t know what’s happening, but I suddenly find myself drawn to super-bleached washes and maybe even acid-washed styles. Should I get my eyes checked?
				<br> <strong>—Blurry in Boca</strong></p>
				<p><strong>A.</strong> Dear Blurry: Fret not! This jean-demic is sweeping the nation and it couldn’t be more on trend. Blotchy, barely blue and subtle acid washes marched down the spring runways on jackets and jeans to give these bleach-splattered styles a total model-off-duty rather than mom-needs-a-closet-update twist.</p>
				<p><a href="/shop/womens-apparel/jeans/Wash/Light%20Blue?id=5545" id="levis-light-jeans" class="link">LIGHT-WASH JEANS</a></p>
				<p><a href="/shop/womens-apparel/denim-jackets-denim-bombers?id=1005880" id="denim-jackets" class="link">DENIM JACKETS</a></p>
			</div>
			<div class="col">
				<div class="image">
					<img src="/b/fashion/images/projects/denim/denim-styles/editorial-5.jpg" alt=""/>
					<a class="normal-brand-footer brand-footer" id="ag-high-impact-hues" href="/shop/product/?ID=2814953">AG</a>
					<a class="normal-brand-footer brand-footer second-brand" id="j-brand-high-impact-hues" href="/shop/product/?ID=2810565">J Brand</a>
				</div>
				<p><strong>Q.</strong> Dear Wanda Rivets: I love the look of ultra-saturated colored denim--but not the way my cobalt jeans leave my hands looking blue and half-frozen by the end of the day. How can I make sure that same dye doesn’t get all over the rest of my laundry? <br><strong>—My Hamper Is Full in Huntsville</strong></p>
				<p><strong>A.</strong> Dear Hamper: Fire up the washer, because we’ve got an easy way to keep colorful pairs looking pristine. First, you have to sort (we’re particularly looking at you, Big Red, the culprit of my white-tee-is-now-salmon mishap). Colorfast brights (think hot pinks, purples, oranges and reds) can go together, washed in cool water to keep fading to a minimum. To test if an item will bleed, spray a section of your new jeans with water or swish them in a sink to see if any dye is released. If so, that pair should be washed solo for now.</p>
				<a href="/shop/womens-apparel/jeans/Jean_trends/High-Impact%20Hues?id=5545" id="shop-hight-impact-hues"  class="link">SHOP HIGH-IMPACT HUES</a>
			</div>
		</section>

		<section id="dos-and-donts">
			<h2>dos &amp; don'ts</h2>
			<p class="sub-heading">Not sure how to style it? A few simple can't-miss tips eliminate any "Am I doing this right?" fears.</p>

			<div class="details">
				<div class="image">
					<img src="/b/fashion/images/projects/denim/denim-styles/editorial-6.jpg" alt=""/>
					<a class="normal-brand-footer brand-footer" id="frame-wide-leg" href="/shop/product/?ID=2813073">FRAME</a>
					<a class="normal-brand-footer brand-footer second-brand" id="rag-and-bone-wide-leg" href="/shop/product/?ID=2813085">rag &amp; bone/JEAN</a>
				</div>
				<div class="copy">
					<h3>Wide-Leg Silhouettes</h3>
					<hr class="splitter"/>
					<p><strong>Do:</strong> Play with proportion. Try boosting the voluminous vibes with an equally ample tucked-in tee, or balance out the dramatic denim silhouette with a body-defining blouse that shows some skin.</p>
					<p><strong>Don't:</strong> Go too short with the crop--culottes these are not. By our calculations, the perfect wide-leg jeans should hit 1–3 inches above your ankle for maximum leg lengthening.</p>
					<a href="/shop/womens-apparel/jeans/Jean_fit_m/Wide%20Leg?id=5545" id="shop-wide-leg-jeans" id="shop-wide-leg-jeans" class="link">SHOP WIDE-LEG JEANS</a>
				</div>
			</div>
			<div class="details">
				<div class="copy">
					<h3>Bright Washes</h3>
					<hr class="splitter"/>
					<p><strong>Do:</strong> Showcase bright new pairs like the throwback heroes they are. We love the look the most when it embraces its ’90s-era casual-cool vibe paired with cropped hoodies and graphic tees (just skip the Discman).</p>
					<p><strong>Don't:</strong> Wear a large-scale printed blouse that looks more loud than luxe with such a bold jean. Chambray, color-blocked solids or neutral black and white tops keep the focus on your statement skinnies.</p>
					<a href="/shop/womens-apparel/jeans/Jean_trends/High-Impact%20Hues?id=5545" id="shop-hight-impact-hues-bright" id="shop-hight-impact-hues-bright" class="link">SHOP high-impact hues</a>
				</div>
				<div class="image">
					<a href="/shop/product/?ID=2813072" id="frame-bright-washes">
						<img src="/b/fashion/images/projects/denim/denim-styles/editorial-7.jpg" alt=""/>
						<span class="normal-brand-footer brand-footer" id="frame-bright-washes-link">FRAME</span>
					</a>
				</div>
			</div>
		</section>

		<section id="denim-dares" class="two-col">
			<div class="col">
				<h2>The<br/>Denim<br/>Dare</h2>
				<p>Our personal mission? To find all new ways (and unexpected places) to show off our favorite pairs. How many dares can you check off this season?</p>
			</div>
			<div class="col">
				<div class="checklist">
					<div class="box" tabindex="0"></div>
					<div class="check hidden">&#x2714;</div>
					<span class="label">A ruffled denim jacket to a rehearsal dinner</span>
				</div>
				<div class="checklist">
					<div class="box" tabindex="0"></div>
					<div class="check hidden">&#x2714;</div>
					<span class="label">Cutoffs to Mother’s Day brunch</span>
				</div>
				<div class="checklist">
					<div class="box" tabindex="0"></div>
					<div class="check hidden">&#x2714;</div>
					<span class="label">Wide-leg jeans as suit trousers to a job interview</span>
				</div>
				<div class="checklist">
					<div class="box" tabindex="0"></div>
					<div class="check hidden">&#x2714;</div>
					<span class="label">Bright-wash jeans to speak at an industry panel</span>
				</div>
				<div class="checklist">
					<div class="box" tabindex="0"></div>
					<div class="check hidden">&#x2714;</div>
					<span class="label">A denim skirt to a bridal shower</span>
				</div>
				<div class="checklist">
					<div class="box" tabindex="0"></div>
					<div class="check hidden">&#x2714;</div>
					<span class="label">Pastel jeans to a playdate</span>
				</div>
			</div>
		</section>
	</div>
</main>


<section id="lookbook-footer" class="footer-styles">
	<div class="housing">
		<div class="btt">
			<a data-cm="back-to-top" id="back-to-top" class="back-to-top" href="" aria-label="Back to Top"></a>
		</div>
		<div class="social">
			<a href="https://www.instagram.com/bloomingdales/" data-cm="share-instagram" class="instagram icon">Instagram</a>
			<a aria-label="Share to Facebook" data-cm="share-facebook" href="" class="facebook icon">Facebook</a>
			<a aria-label="Share to Pinterest" data-cm="share-pinterest" href="" class="pinterest icon">Pinterest</a>
			<a aria-label="Share to Twitter" data-cm="share-twitter" href="" class="twitter icon">Twitter</a>
		</div>
	</div>
</section>

<script src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>
<script src="/b/fashion/javascripts/projects/denim/script.js"></script>