<!--headTitle={"title":"Bloomingdale's Denim Dictionary - Best Jean Styles in 2017"} -->
<!--headMeta={"content":"The hottest, on the rise jean styles in 2017 - See them here at Bloomingdale's! Also check out our Denim-on-Denim and Velvet Jeans DO'S & DON'TS!", "name":"description"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/denim/denim-styles/"}-->

<script>
	if ( BLOOMIES.isMobile === true ) {
		$('header.responsive').remove();
	}
</script>

<link rel="stylesheet" href="/b/fashion/styles/projects/denim/styles.css">

<nav id="mast-nav">
	<div class="inner">
		<div class="page-id"><a href="/b/denim/denim-trends/">Bloomingdale's Jeans Shop</a></div>
		<div class="rightAlign">
			<ul class="nav">
				<li class="trend"><a data-cm="nav-lookbook" href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a></li>
				<li class="style active"><a data-cm="nav-blog" href="/b/denim/denim-styles/">Style Inspiration</a></li>
				<li class="shop"><a data-cm="nav-shop-all" href="https://www.bloomingdales.com/shop/womens-apparel/jeans?id=5545">Shop All Jeans</a></li>
			</ul>
		</div>
	</div>
</nav>


<nav id="mobile-header">
	<div class="prime">
		<div class="burger">
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
		<img class="logo" src="http://m.bloomingdales.com/mew20/images/bloomingdales.png"/>
	</div>
	<div class="menu open" style="display:none;">
		<a data-cm="nav-lookbook" href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a>
		<a data-cm="nav-blog" class="active" href="/b/denim/denim-styles/">Style Inspiration</a>
		<div class="sub">
			<a data-cm="nav-denim-dictionary" href="#denim-dictionary">The Denim Dictionary</a>
			<a data-cm="nav-denim-dilemmas" href="#denim-dilemmas">Denim Dilemmas</a>
			<a data-cm="nav-dos-and-donts" href="#dos-and-donts">Do's &amp; Don'ts</a>
			<a data-cm="nav-match-game" href="#match-game">The Match Game</a>
			<a data-cm="nav-denim-dares" href="#denim-dares">Denim Dares</a>
		</div>
		<a data-cm="nav-shop-all" href="">Shop All Jeans</a>
		<p>Back to</p>
		<a data-cm="nav-bcom" href="//www.bloomingdales.com">bloomingdales.com</a>
	</div>
</nav>

<main id="denim-styles">

	<div id="sub-nav">
		<a data-cm="nav-denim-dictionary" href="#denim-dictionary">The Denim Dictionary</a>
		<a data-cm="nav-denim-dilemmas" href="#denim-dilemmas">Denim Dilemmas</a>
		<a data-cm="nav-dos-and-donts" href="#dos-and-donts">Do's &amp; Don'ts</a>
		<a data-cm="nav-match-game" href="#match-game">The Match Game</a>
		<a data-cm="nav-denim-dares" href="#denim-dares">Denim Dares</a>
	</div>

	<div id="denim-dictionary" class="three-col">
		<div id="blog-heading">
			<h1>The Denim Dictionary</h1>
			<p>The three details that define the fall jean scene-<br/>and why you need them now.</p>
		</div>
		<div class="carousel">
			<div class="col">
				<img src="/b/fashion/images/projects/denim/denim-styles/editorial-1.jpg" alt=""/>
				<h3>Tuxedo Stripes</h3>
				<a href="#" class="more">+ more</a>
				<a href="#" class="less hidden">- less</a>
				<br/>
				<p class="details hidden">Lifted from men's formalwear and repurposed for more fashionable means, these side stripes add a fresh twist to the ever-evolving contrast denim trend while making legs look longer and leaner.</p>
				<a class="shop" href="https://www.bloomingdales.com/shop/womens-apparel/jeans?id=5545">shop all jeans</a>
			</div>
			<div class="col">
				<img src="/b/fashion/images/projects/denim/denim-styles/editorial-2.jpg" alt=""/>
				<h3>Exposed Seams</h3>
				<a href="#" class="more">+ more</a>
				<a href="#" class="less hidden">- less</a>
				<br/>
				<p class="details hidden">The glue that holds disparate denim pieces together on our favorite patchwork jeans—and, when sufficiently frayed, a design element that represents a fierce new take on fringe.</p>
				<a class="shop" href="https://www.bloomingdales.com/shop/womens-apparel/jeans?id=5545">shop all jeans</a>
			</div>
			<div class="col">
				<img src="/b/fashion/images/projects/denim/denim-styles/editorial-3.jpg" alt=""/>
				<h3>Shadow Pockets</h3>
				<a href="#" class="more">+ more</a>
				<a href="#" class="less hidden">- less</a>
				<br/>
				<p class="details hidden">A darker shade of indigo placed slightly above the back pocket. Bonus? The difference in hues creates a rear-lifting optical illusion that's flattering on every figure.</p>
				<a class="shop" href="https://www.bloomingdales.com/shop/womens-apparel/jeans?id=5545">shop all jeans</a>
			</div>
			<div class="placeholder"></div>
			<ul class="dots mobile">
				<li class="active"></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>

	<div id="denim-dilemmas" class="two-col">
		<h2>Denim <span class="desktop">&mdash;&mdash;</span> Dilemmas</h2>
		<p class="">Our resident denim expert, Wanda Rivets (wink, wink), has a solution to every style quandary.</p>
		<div class="col">
			<img src="/b/fashion/images/projects/denim/denim-styles/editorial-4.jpg" alt=""/>
			<p><strong>Q.</strong> Dear Wanda Rivets: I love my pearl-embellished jeans—but sitting in them, not so much. How do I keep my bejeweled pairs from leaving me in bruises? <strong>—Uncomfortable in Miami</strong></p>
			<p><strong>A.</strong> Dear Uncomfortable: We adore the luminous look of those semiprecious pairs! First, try favoring styles that cluster heavy embellishments on the front so you won't feel them when you sit. If your jeans do have back-pocket bling, seek out upholstered seating like plush banquettes or a padded cushion so embellishments can sink into the giving fabric—rather than your leg. Dining alfresco? Skip café chairs with perforated, open-weave designs like cane, rattan or wire where precious pearls can get caught in openings, to ensure your prized pairs stay pristine—and you won't get trapped in your seat.</p>
			<a href="https://www.bloomingdales.com/shop/womens-apparel/jeans/Jean_trends/Embellished?id=5545">shop embellished denim</a>
		</div>
		<div class="col">
			<img src="/b/fashion/images/projects/denim/denim-styles/editorial-5.jpg" alt=""/>
			<p><strong>Q.</strong> Dear Wanda Rivets: I'm dying to get a pair of fringed-hem jeans, but at only 5'2", how do I ensure I'm not mopping up the streets with that fabulously frayed flare? <strong>—Petite but Persistent in Dayton</strong></p>
			<p>A. Dear Persistent: For most folks, cropped flares should hit right above the ankle. If you want to go a bit higher, we find the most flattering look of all is cropped just enough to show some shin at the smallest place where your leg starts to narrow. To help even more with height, try pairing them with a block-heel style that will really get your fringe in the stylish swing of things.</p>
			<a href="https://www.bloomingdales.com/shop/womens-apparel/jeans/Jean_trends/Statement%20Hems?id=5545">shop statement hems</a>
		</div>
	</div>

	<div id="dos-and-donts">
		<h2>dos &amp; don'ts</h2>
		<p class="sub-heading">Not sure how to style it? A few simple can't-miss tips eliminate any "Am I doing this right?" fears.</p>

		<div class="details">
			<div class="image">
				<img src="/b/fashion/images/projects/denim/denim-styles/editorial-6.jpg" alt=""/>
			</div>
			<div class="copy">
				<h3>Denim-on-Denim</h3>
				<hr class="splitter"/>
				<p><strong>Do:</strong> Experiment with washes. The point is to be matchy-matchy, but break up the monotony by mixing lighter and darker shades—even if it's subtle, like in this Levi's look.</p>
				<p><strong>Don't:</strong> Use cowboys as your outfit inspo. Full-on denim can naturally read Western, so opt for modern accessories (or none at all) to stay clean and current rather than costumey.</p>
				<a href="https://www.bloomingdales.com/shop/womens-apparel/jeans?id=5545">Shop Jeans</a>
				<a href="https://www.bloomingdales.com/shop/womens-apparel/denim-jackets-denim-bombers?id=1005880">Shop Jackets</a>
			</div>
			
		</div>
		<div class="details">
			<div class="copy">
				<h3>Velvet All Day</h3>
				<hr class="splitter"/>
				<p><strong>Do:</strong> Opt for a colorful velvet jean rather than black, which instantly reads formal, and play with contrasting textures like cozy knits or poplin tops to keep the look casually cool.</p>
				<p><strong>Don't:</strong> Go overboard with embellished accessories, silky tops or sparkly jewelry  that can appear more party-ready than boardroom-bound during office hours. </p>
				<a href="https://www.bloomingdales.com/shop/womens-apparel/jeans/Jean_trends/Velvet?id=5545">Shop velvet jeans</a>
			</div>
			<div class="image">
				<img src="/b/fashion/images/projects/denim/denim-styles/editorial-7.jpg" alt=""/>
			</div>
		</div>
	</div>

	<div id="match-game">
		<h2>The Match Game</h2>
		<p>Find your cropped denim's perfect playmate in the season's coolest kicks with our hem and shoes How-To.</p>
		<div id="carouselLeft"></div>
		<div id="carouselRight"></div>
		<div class="carousel">
			<img alt="" id="placeholder" src="/b/fashion/images/projects/denim/denim-styles/carousel.png"/>
			<div id="slide-1" class='slide active'>
				<img src="/b/fashion/images/projects/denim/denim-styles/slide-1.png" alt="step hem jeans and statement socks"/>
				<p>Jagged edges need an anchor&ndash;go for a pair of sleek black Chelsea boots to ground the look without sacrificing your street&ndash;style cred.</p>
			</div>
			<div id="slide-2" class='rs slide'>
				<img src="/b/fashion/images/projects/denim/denim-styles/slide-2.png" alt="asymmetrical hem jeans and leather boots"/>
				<p>With tattered trim drawing everyone's eyes to your ankles, we suggest doubling the drama with an ultrachic heel in the definitive color of the season.</p>
			</div>
			<div id="slide-3" class='ls slide'>
				<img src="/b/fashion/images/projects/denim/denim-styles/slide-3.png" alt="distressed hem jeans and red booties"/>
				<p>Fall's hot hosiery trend begs to be shown off, and the uneven break of a high-low hem exposes the perfect amount of skin to do just that.</p>
			</div>
		</div>
		<ul id="carousel-dots">
			<li class="active dot-1"></li>
			<li class="dot-2"></li>
			<li class="dot-3"></li>
		</ul>
		<a href="https://www.bloomingdales.com/shop/womens-apparel/jeans/Jean_trends/Statement%20Hems?id=5545">shop statement hems</a>
	</div>

	<div id="denim-dares" class="two-col">
		<div class="col">
			<h2>The<br/>Denim<br/>Dare</h2>
			<p>Our personal mission? To find all new ways (and unexpected places) to show off our favorite pairs. How many dares can you check off this season?</p>
		</div>
		<div class="col">
			<div class="checklist">
				<div class="box"></div>
				<div class="check hidden">&#x2714;</div>
				<span class="label">Jeans to a black-tie event</span>
			</div>
			<div class="checklist">
				<div class="box"></div>
				<div class="check hidden">&#x2714;</div>
				<span class="label">A jean jacket to the big presentation</span>
			</div>
			<div class="checklist">
				<div class="box"></div>
				<div class="check hidden">&#x2714;</div>
				<span class="label">Dress up overalls for girls' night out</span>
			</div>
			<div class="checklist">
				<div class="box"></div>
				<div class="check hidden">&#x2714;</div>
				<span class="label">Cutoffs on a date</span>
			</div>
			<div class="checklist">
				<div class="box"></div>
				<div class="check hidden">&#x2714;</div>
				<span class="label">A mini to the office</span>
			</div>
			<div class="checklist">
				<div class="box"></div>
				<div class="check hidden">&#x2714;</div>
				<span class="label">Cropped flares to a holiday party</span>
			</div>
		</div>
	</div>
</main>

<section id="lookbook-footer">
	<div class="housing">
		<a id="back-to-top">Back To Top</a> <span class="arrow">&#x2191;</span>
	</div>
</section>

<script src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>
<script src="/b/fashion/javascripts/projects/denim/script.js"></script>