footer { 
	margin: 5px 0;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	background-color: #ffffff;
	text-align: center;
}

.footerBar {
	height: 5px;
	background-color: #000;
}

.mainFooter {
	max-width: 962px;
	padding: 10px 0 16px 0;
	margin: 0 auto;
	text-align: left;
}

.footerMenu h3,
.footerMenuLast h3 {
	margin: 0;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

.mainFooter .footerLinks .footerMenu h3 a,
.mainFooter .footerLinks li.footerMenuLast h3 a {
	/*font-size: 11px;*/
	color: #333;
	font-weight: bold;
	text-decoration: none;

}

.mainFooter .footerLinks ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.mainFooter .footerLinks li.footerMenu,
.mainFooter .footerLinks li.footerMenuLast {
	float: left;
	padding: 0;
}

.mainFooter .footerLinks li.footerMenu ul li,
.mainFooter .footerLinks li.footerMenuLast li {
	padding: 0;
}

.mainFooter .footerLinks li.footerMenu ul li a, .mainFooter .footerLinks li.footerMenuLast ul li a {
	color: #666;
	text-decoration: none;
}

.footerMenu .myLoyallist {
	background-position: 56px -379px;
}

.footerMenu .myLoyallist img {
	width: 11px;
	height: 12px;
}

.mainFooter .footerLinks {
	float: left;
	width: 562px;
	font-size: 10px;
	color: #666666;
}

.footerDivider {
	height: 1px;
	background-position: 0 -240px;
	background-repeat: repeat-x;
	max-width: 962px;
	margin: 0 auto;
}

.vertDivider {
	float: left;
	width: 1px;
	height: 97px;
	background-position: 0 -260px;
}

.sectionDivider {
	height: 1px;
	background-position: 0 -240px;
	background-repeat: repeat-x;
}

.mainFooter a,
.mainFooter a:link,
.mainFooter a:active,
.mainFooter a:visited {
	font-size: 10px;
}

.mainFooter .footerAdPool {
	float: left;
	padding: 0 20px;
}

/* Social Media */

.footerSocialMedia.row {
	display: none;
}

.mainFooter .footerSocialMedia {
	float: right;
	width: 208px;
}

.footerSocialMedia .signUp {
	margin: 16px 0 23px 0;
	height: 12px;
	background-position: 0 -190px;
}

.footerSocialMedia .signUp img {
	width: 206px;
	height: 18px;
}

.socialLinks {
	margin-top: 17px;
	height: 18px;
	background-position: -110px -216px;
}

.socialLinks img {
	width: 206px;
	height: 18px;
}

/* BOTTOM FOOTER STYLES */

.footerBottom {
	max-width: 962px;
	text-align: left;
	font-size: 9px;
	color: #999;
	margin: 15px auto 0 auto;
}

ul.footerBottomLinks {
	margin: 0 auto;
	width: 785px;
	padding: 0;
	list-style-type: none;
}

ul.footerBottomLinks li {
	float: left;
	padding-right: 4px;
}

.footerBottomCopyRight {
	text-align: center;
}

ul.footerBottomLinks a,
div.footerBottomCopyRight a {
	color: #999999;
	padding-right: 4px;
	text-decoration: none;
	font-size: 9px;
}

ul.footerBottomLinks li {
	float: left;
	padding-right: 4px;
}

li.essentialAccessibilityImage {
	background-position: 0 -160px;
}

li.essentialAccessibility {
	margin-left: -7px;
}

li.essentialAccessibilityImage img {
	width: 40px;
	height: 15px;
}

.likeNoOtherStore {
	margin: 16px auto 0 auto;
	width: 180px;
	background-position: 0 -130px;
}

.likeNoOtherStore img {
	width: 180px;
	height: 10px;
}