<!--headTitle={"title":"Bloomingdale's Denim Trend Report - Summer Denim Trends 2017"} -->
<!--headMeta={"content":"Your must have jeans this summer all packaged in one. Check out Bloomingdale's Denim Trend Report for the latest denim trends in summer 2017!", "name":"description"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/denim/denim-trends/"}-->

<script>
	if ( BLOOMIES.isMobile === true ) {
		$('header.responsive').remove();
	}
</script>

<link rel="stylesheet" href="/b/fashion/styles/projects/denim/styles.css">

<nav id="mast-nav">
	<div class="inner">
		<div class="page-id"><a data-cm="" href="/b/denim/denim-trends/">Bloomingdale's Jeans Shop</a></div>
		<div class="rightAlign">
			<ul class="nav">
				<li class="trend"><a data-cm="nav-lookbook" href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a></li>
				<li class="style"><a data-cm="nav-blog" href="/b/denim/denim-styles/">Style Inspiration</a></li>
				<li class="shop"><a data-cm="nav-shop-all" href="https://www.bloomingdales.com/shop/womens-apparel/jeans?id=5545">Shop All Jeans</a></li>
			</ul>
		</div>
	</div>
</nav>

<nav id="mobile-header">
	<div class="prime">
		<div class="burger">
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
		<img class="logo" src="http://m.bloomingdales.com/mew20/images/bloomingdales.png"/>
	</div>
	<div class="menu" style="display:none;">
		<a data-cm="nav-lookbook" href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a>
		<a data-cm="nav-blog" href="/b/denim/denim-styles/">Style Inspiration</a>
		<a data-cm="nav-shop-all" href="">Shop All Jeans</a>
		<p>Back to</p>
		<a data-cm="nav-bcom" href="//www.bloomingdales.com">bloomingdales.com</a>
	</div>
</nav>


<main id="trends">
	<div id="main-heading">
		<h1>
			<span class="ls">one-stop</span>
			<br/>
			<span class="rs">jean shop</span>
		</h1>
		<p>Your first (and last) destination for everything new and noteworthy on the denim scene.</p>
	</div>

	<div id="linking">
		<a data-cm="lookbook-hero" id="trend" href="/b/denim/popular-fashion-jeans-lookbook/">
			<img alt="" class="" src="/b/fashion/images/projects/denim/denim-trends/landing-trends.jpg"/>
			<h2>trend lookbook</h2>
		</a
		><a data-cm="blog-hero" id="style" href="/b/denim/denim-styles/">
			<img alt="" class="" src="/b/fashion/images/projects/denim/denim-trends/landing-styles.jpg"/>
			<h2>style inspiration</h2>
		</a>
	</div>
</main>

<section id="lookbook-footer">
	<div class="housing">
		<a data-cm="back-to-top" id="back-to-top">Back To Top</a> <span class="arrow">&#x2191;</span>
	</div>
</section>

<script src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>
<script src="/b/fashion/javascripts/projects/denim/script.js"></script>