<!-- {pageTitle:"Child Mind Institute", pageLabel:"Bloomingdale's Partners with Child Mind Institute to Help Kids with Learning Disabilities"} -->
{{{coremetrics 'lp-xx-xx-xx.childmind' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <meta name="description" content="Bloomingdale's has teamed up with the Child Mind Institute to help teens with a psychiatric disorder. Learn more about Child Mind Institute.">
    <link href="/fashion/styles/projects/about-us/child-mind-institute-b-cause-philanthropy/styles.css" rel="stylesheet" type="text/css" />
    <script src="/fashion/javascripts/projects/about-us/b-cause/main.js"></script>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <article class="b-cause-main">
                                <section class="row b-cause-header">
                                    <div class="small-8 small-centered medium-11 medium-push-13 medium-uncentered columns">
                                        <img src="/fashion/images/projects/about-us/child-mind-institute-b-cause-philanthropy/logo.png" class="b-cause-logo" alt="Bloomingdale's – Child Mind Institute">
                                    </div>
                                    <div class="small-24 medium-11 medium-pull-13 columns">
                                        <h1>Transforming children's lives</h1>
                                    </div>
                                </section>
                                <section class="row b-cause-body">
                                    <div class="small-24 columns">
                                        <article class="row">
                                            <div class="small-24 medium-13 columns">
                                                <h2 class="medium-16">WHY WE DO ALL WE CAN FOR THE CHILD MIND INSTITUTE</h2>
                                                <p>More than 17 million Americans under the age of 18 have been diagnosed with a mental health or learning disorder—that's more than the number of kids with cancer, diabetes and AIDS combined. Through their <b>innovative research, clinical care and educational campaigns</b>, the Child Mind Institute is changing the way the world understands and treats these children. Together, Bloomingdale’s and the Child Mind Institute are working to help every child receive the support and opportunities they deserve.</p>
                                            </div>
                                            <div class="small-24 medium-11 columns">
                                                <img src="/fashion/images/projects/about-us/child-mind-institute-b-cause-philanthropy/photo-1.jpg" class="img-expand" alt="Bloomingdale's – Child Mind Institute">
                                            </div>
                                        </article>
                                        <div class="row">
                                            <div class="small-24 medium-22 medium-centered columns">
                                                <blockquote>
                                                    <p>Bloomingdale's extraordinary commitment to the Child Mind Institute has helped us shine a bright light on children's mental health. Together we’re changing the conversation…and making meaningful change for kids and families every day.</p>
                                                    <cite>Dr. Harold S. Koplewicz, M.D.<br>President, Child Mind Institute</cite>
                                                </blockquote>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-24 medium-13 columns">
                                                <img src="/fashion/images/projects/about-us/child-mind-institute-b-cause-philanthropy/photo-2.jpg" class="img-expand" alt="Bloomingdale's – Child Mind Institute Mission">
                                            </div>
                                            <div class="small-24 medium-11 columns">
                                                <article>
                                                    <h3>Child Mind Institute MISSION</h3>
                                                    <p>The Child Mind Institute is an independent nonprofit dedicated to transforming the lives of children and families struggling with mental health and learning disorders. Their teams work every day to deliver the highest standards of care, advance the science of the developing brain and empower parents, professionals and policymakers to support children when and where they need it most. Together with their supporters, they help children reach their full potential in school and in life. They share all of their resources freely and do not accept any funding from the pharmaceutical industry.</p>
                                                    <p>For more information, visit <a href="http://www.childmind.org/" class="b-cause-link childmind-link">childmind.org</a></p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                {{> bcausefooter}}
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
