<!-- {pageTitle:"Child Mind Institute", pageLabel:"Child Mind Institute &mdash; b.cause Philanthropy &mdash; About Us | Bloomingdale's"} -->
{{{coremetrics ' (lp-xx-xx-xx.childmind)' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">{{>leftnav}}</div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td><td>
                        <div class="lp_philanthropy">
                            <div class="bcause_img">
                                <div class="lp_imgs">
                                    <a href="/shop/product?ID=1130158&cm_sp=bcause-_-cmi-_-holiday_bear">
                                        <div style="position:absolute; width:18%; height: 21%; top:17%; left:32%; z-index: 1234;"></div>
                                    </a>
                                    <a href="http://www.childmind.org/" TITLE="www.childmind.org" target="_blank" >
                                        <div style="position:absolute; width:41%; height: 26%; top:64%; left:54%; z-index: 1234;"></div>
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/bcause_CMI_10_29_14.jpg"
                                         border="0" class="displayBlock imgShim">
                                </div>
                                <div class="lp_imgs">
                                    <a href="http://www.bloomingdales.com/store/index.ognc?cm_mmc=Philanthropy-_-In%20your%20city-_-Landing%20Page-_-Philanthropy_microsite">
                                        <div style="position:absolute; width:45%; height: 11%; top:91%; left:0%; z-index: 1234;"></div>
                                    </a>
                                    <a href="http://federated-fds.com/diversitymanagement/?cm_mmc=Philanthropy-_-Diversity-_-Landing%20Page-_-Philanthropy_microsite"
                                       target="_blank" >
                                        <div style="position:absolute; width:45%; height: 11%; top:91%; left:50%; z-index: 1234;"></div>
                                    </a>
                                    <img src="http://netstorage.bloomingdales.com/netstorage/media/Philanthropy_main/bcause_footer_11_06_13.jpg"
                                         border="0" width="760" height="85" class="displayBlock imgShim">
                                </div>
                            </div>
                        </div>
                    </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




