<!-- {pageTitle: "Pink Campaign", pageLabel: "Bloomingdale’s Partners with BCRF For Breast Cancer Research"} -->
{{{coremetrics 'lp-xx-xx-xx.bcrf' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <meta name="description" content="Bloomingdale's and it's partnership with Breast Cancer Research Foundation. Learn more about BCRF and what Bloomingdale's is doing to help.">
    <link href="/fashion/styles/projects/about-us/pink-campaign-b-cause-philanthropy/styles.css" rel="stylesheet" type="text/css" />
    <script src="/fashion/javascripts/projects/about-us/b-cause/main.js"></script>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <article class="b-cause-main">
                                <section class="row b-cause-body">
                                    <div class="small-24 columns">
                                        <article class="row">
                                            <div class="small-24 medium-13 columns">
                                                <h1>Why we’re partial to Pink</h1>
                                                <p>Over the past 12 years, Bloomingdale’s has contributed more than <b>$11 million</b> to the fight against breast cancer. Every October, we raise awareness and funds through our Pink Campaign, which includes everything from exclusive products and in-store events to our Give Pink, Get More program.</p>
                                                <p>These initiatives have enabled us to support the work and research of five doctors through a grant to the Breast Cancer Research Foundation&reg;, as well as to fund projects for The Carey Foundation and the Marisa Acocella Marchetto Foundation.</p>
                                            </div>
                                            <div class="small-24 medium-11 columns">
                                                <div class="row">
                                                    <div class="small-12 medium-24 columns">
                                                        <img src="/fashion/images/projects/about-us/pink-campaign-b-cause-philanthropy/logo-1.jpg" class="img-center" alt="Bloomingdale's Partnership with Breast Cancer Research Foundation">
                                                    </div>
                                                    <div class="small-6 medium-12 columns">
                                                        <img src="/fashion/images/projects/about-us/pink-campaign-b-cause-philanthropy/logo-2.jpg" class="img-center" alt="Bloomingdale's Partnership with Breast Cancer Research Foundation">
                                                    </div>
                                                    <div class="small-6 medium-12 columns">
                                                        <img src="/fashion/images/projects/about-us/pink-campaign-b-cause-philanthropy/logo-3.jpg" class="img-center" alt="Bloomingdale's Partnership with Breast Cancer Research Foundation">
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="row">
                                            <div class="small-24 medium-13 columns">
                                                <h2>BREAST CANCER RESEARCH FOUNDATION&reg;</h2>
                                                <p>Founded by Evelyn H. Lauder in 1993, the Breast Cancer Research Foundation&reg; (BCRF) is committed to preventing and curing breast cancer by advancing the world's most promising research. BCRF-funded researchers have been deeply involved in every major breakthrough in breast cancer prevention, diagnosis, treatment and survivorship.</p>
                                                <p>From 2015–2016, BCRF invested <b>$54 million</b> to support the work of more than <b>240 scientists</b> at leading medical and academic institutions across <b>13 countries</b>, making BCRF the largest private funder of breast cancer research worldwide.</p>
                                                <p>For more information, visit <a href="http://www.bcrfcure.org/?cm_mmc=Philanthropy-_-BCRF_website-_-Landing%20Page-_-Philanthropy_microsite" class="b-cause-link bcrf-link" data-link-name="bcrfcure">bcrfcure.org</a></p>
                                            </div>
                                            <div class="small-24 medium-11 columns">
                                                <img src="/fashion/images/projects/about-us/pink-campaign-b-cause-philanthropy/img-sweatshirt.jpg" class="img-center" alt="Bloomingdale's Contributes to Breast Cancer Research Foundation">
                                            </div>
                                        </article>
                                        <article class="row">
                                            <div class="small-24 medium-11 medium-push-13 columns">
                                                <h2>THE CAREY FOUNDATION</h2>
                                                <p>The mission of The Carey Foundation is to raise funds for women, men and their families to ease the financial burdens that come with a breast cancer diagnosis.</p>
                                                <p>Through The Tutu Project, the Foundation provides partnership opportunities to nonprofit organizations that share their vision for an empowered breast cancer community.</p>
                                                <p>For more information, visit  <a href="http://www.careyfoundation.org/?cm_mmc=Philanthropy-_-BCRF_website-_-Landing%20Page-_-Philanthropy_microsite" class="b-cause-link bcrf-link" data-link-name="careyfoundation">careyfoundation.org</a></p>
                                                <h2>MARISA ACOCELLA MARCHETTO FOUNDATION</h2>
                                                <p>The Marisa Acocella Marchetto Foundation's mission is to empower uninsured and underinsured women with breast cancer and breast cancer survivors to receive the best possible care for the best possible outcome without being concerned about the financial ramifications.</p>
                                                <p>In 2014, the Foundation launched the Marisa Acocella Marchetto Empowerment Program, offering free holistic care, healthy cooking, exercise, chi gong, yoga, creative writing and more to the patients of Mt. Sinai Beth Israel Comprehensive Cancer Center. The Foundation also funds cold-capping—an innovative procedure that minimizes hair loss caused by chemotherapy.</p>
                                                <p>For more information, visit  <a href="http://www.marisaacocellamarchettofoundation.org/?cm_mmc=Philanthropy-_-BCRF_website-_-Landing%20Page-_-Philanthropy_microsite" class="b-cause-link bcrf-link" data-link-name="marisaacocellamarchettofoundation">marisaacocellamarchettofoundation.org</a></p>
                                            </div>
                                            <div class="small-24 medium-13 medium-pull-11 columns">
                                                <img src="/fashion/images/projects/about-us/pink-campaign-b-cause-philanthropy/photo.jpg" class="img-expand" alt="Bloomingdale's – The Carey Foundation & Marisa Acocella Marchetto Foundation">
                                            </div>
                                        </article>
                                    </div>
                                </section>
                                {{> bcausefooter}}
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




