<!-- {pageTitle:"Bloomingdale's App", pageLabel:"Experience New Ways to Shop Online at Bloomingdale’s!"} -->
{{{coremetrics 'Ways_to_Shop' 'Ways_to_Shop'}}}
<link rel="stylesheet" href="/b/fashion/styles/projects/about-us/aboutus.css" />
<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400' rel='stylesheet' type='text/css'>
{{>title}}
<style>
    .LBHeading {
        font-family: 'Libre Baskerville', serif;
        font-size:2.5rem;
    }
    .item.center DIV {
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
    .item.left DIV{
        text-align:left;
    }
    .item.right{
        text-align:right;
        float:right;
        clear:both;
        padding-bottom:40px;
    }
    .item {
        clear:both;
        margin:30px;
    }
    .subitem {
        width:280px;
        margin-top:20px;
    }
    .ways_to_shop .content {
        width:500px;
    }
    .ways_to_shop .right_pic {
        margin:0px;
    }
</style>
<div class="about_us ways_to_shop">

    <table>
        <tr>
            <td>
                <div class="bl_nav_side">
                    <!--BEGIN LOCAL NAVIGATION-->
                    <div class="gn_left_nav_container">
                        <div id="bl_leftNavContainer">
                            {{>leftnav}}
                        </div>
                    </div>
                    <!--END LOCAL NAVIGATION-->
                </div>
            </td>
            <td>

                <div class="main content">

                    <div class="hshim"></div>


                    <div class="small-centered small-24 medium-uncentered medium-8 medium-push-16 large-uncentered large-8 large-push-16 columns" style="text-align:center">
                        <a href="http://www1.bloomingdales.com/media/about/mobile.jsp?cm_sp=ways_to_shop-_-n-_-APP_Learn_More"
                           data-cm="ways_to_shop-_-n-_-APP_Learn_More">
                            <img
                                    alt=""
                                    class="right_pic"
                                    src="/b/fashion/images/projects/ways-to-shop/phone.png">
                        </a>
                    </div>
                    <div class="row">
                        <div class="small-centered small-24 medium-uncentered medium-16 medium-pull-8 large-uncentered  large-16 large-pull-8 columns section text_section">
                            <div>
                                <div class="hshim"></div>
                                <div class="hshim"></div>
                                <div class="hshim"></div>
                                <div class="LBHeading longTitle">Bloomingdale's App</div>
                                <div>
                                   Your Fashion- &amp; Feature-Packed<br>
                                    Shopping Companion
                                </div>
                                <a href="http://www1.bloomingdales.com/media/about/mobile.jsp?cm_sp=ways_to_shop-_-n-_-APP_Learn_More"
                                   data-cm="ways_to_shop-_-n-_-APP_Learn_More">
                                    <button>Learn More</button>
                                </a>
                            </div>
                        </div>


                        <div class="hshim"></div>
                        <div class="hshim"></div>
                    </div>

                    <div class="item center">
                        <div class="LBHeading">Scan &amp; Send</div>
                        <div class="subitem">
                            Shopping in store and don't see your size or color?
                            Scan items to check availability&mdash;then have them shipped
                            right to your door.
                        </div>
                    </div>

                    <div class="item left">
                        <div class="LBHeading">Pick Up In Store</div>
                        <div class="subitem">
                            Shopping in store and don't see your size or color?
                            Scan items to check availability&mdash;then have shipped right to your door.
                        </div>
                    </div>

                    <div class="item right">
                        <div class="LBHeading">Store Guides</div>
                        <div class="subitem">
                            Enhance your in-store experience with event listings, directories, store hours and more.
                        </div>
                    </div>

                    <div class="item center">
                        <div class="LBHeading">Wish List</div>
                        <div class="subitem">
                            Save all the items you love in one place and easily add them to your Big Brown Bag.
                        </div>
                    </div>

                    <div class="item left">
                        <div class="LBHeading">Alerts</div>
                        <div class="subitem">
                            Never miss a sale or new arrival with push notifications. Plus, turn them on in store and
                            we'll alert you to nearby items that are on sale.
                        </div>
                    </div>

                    <div class="item right">
                        <div class="LBHeading">Manage All Your Accounts</div>
                        <div class="subitem">
                            Easily look up and redeem Reward Cards, pay your bill and update your preferences.
                        </div>
                    </div>

                    <div class="item center">
                        <div class="LBHeading">Registry</div>
                        <div class="subitem">
                            Create and manage your registry: You can even
                            scan and add items with your phone when in store.
                        </div>
                    </div>

                </div>

            </td>
        </tr>
    </table>
    <div class="hshim"></div>
    <div class="hshim"></div>
    <div class="hshim"></div>


</div>



