<!--headTitle={"title":"Bloomingdale's Heart of New York"}-->
<!--headMeta={"name":"description", "content":""}-->
<!--headCanonical={"href":"https://www.bloomingdales.com/b/campaigns/renovation/"}-->

<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/heart-of-ny/styles.css" rel="stylesheet">

<div class="heart-of-new-york heart-of-ny-shoes">
    
    <!--sticky header-->
    <div class="heart-of-ny-sticky-header">
        <!--hamburger-->
        <button coremetricTag="nav-hamburger" id="heart-of-ny-nav-switcher" class="nav-hamburger" aria-label="Menu" role="button" aria-controls="navigation" aria-expanded="true/false">
            <span>toggle menu</span>
        </button>
        <a href="../">
            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_59th_logo.png" alt="Bloomingdale's 59th Street" class="bloom-logo">
        </a>
    </div>

    <!--Navigation-->
    <nav class="heart-of-ny-nav">
        <ul class="sub">
            <li>
                <a coremetricTag="nav-home" href="/b/campaigns/heart-of-ny/home/">
                    <span class="nav-item-content">Home</span>
                    <ul class="floor-circle">
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-shoes" href="/b/campaigns/heart-of-ny/shoes/">
                    <span class="nav-item-content">Shoes</span>
                    <ul class="floor-circle">
                        <li>5</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-women" href="/b/campaigns/heart-of-ny/women/">
                    <span class="nav-item-content">Women</span>
                    <ul class="floor-circle">
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-cosmetics" href="/b/campaigns/heart-of-ny/cosmetics/">
                    <span class="nav-item-content">Cosmetics</span>
                    <ul class="floor-circle">
                        <li>1</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-men" href="/b/campaigns/heart-of-ny/men/">
                    <span class="nav-item-content">Men</span>
                    <ul class="floor-circle">
                        <li class="ll">LL</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-events" href="/b/campaigns/heart-of-ny/events/">
                    <span class="nav-item-content">Events</span>
                    <ul class="floor-circle">
                        <li class="icon">
                            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_b_icon_black.png" alt="Bloomingdale's B Icon" class="b-icon">
                            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_b_icon_white.png" alt="Bloomingdale's B Icon" class="b-icon-hover">
                        </li>
                    </ul>
                </a>
            </li>
        </ul>

    </nav>
    <!--Navigation -->
    

    <header>
        <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_59th_logo.png" alt="Bloomingdale's 59th Street" class="bloom-logo">
        <h1>Shoes On 5</h1>
        <p>Get pumped with a slew of new brands, a better-than-ever assortment and an insane amount of amenities.</p>
    </header>
    <main>
        <img src="/b/fashion/campaigns/images/heart-of-ny/salvatore_ferragamo_shoes_jumbo.jpg" alt="Salvatore Ferragamo" class="jumbotron">
        <p class="caption">Salvatore Ferragamo</p>
        
<!--

        <div class="new-feature">
            <div class="col col-right">
                <img src="/b/fashion/campaigns/images/heart-of-ny/lv_sneaker.jpg" alt="Louis Vuitton" class="lv">
            </div>

            <div class="col col-left">
                <h2 class="scrollme animateme"
                    data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-translatex="600"
                    data-easing="easeout">All The Best Designers</h2>
                    <p>Our showstopping shoe floor features new premium labels—like Louis Vuitton, Givenchy and Jimmy Choo—and an expanded selection from the luxe brands you already love.</p>
            </div>

            <div class="bg"></div>
            <p class="small-feature-type">Our showstopping shoe floor features new premium labels—like Louis Vuitton, Givenchy and Jimmy Choo—and an expanded selection from the luxe brands you already love.</p>
        </div>

    -->

  
        <div class="feature-bar">
            <div class="inner">
                <div class="contain">
                    <img src="/b/fashion/campaigns/images/heart-of-ny/lv_sneaker.jpg" alt="Louis Vuitton" class="lv">
                    <!--<h2 class="scrollme animateme"
                    data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-translatex="600"
                    data-easing="easeout"
                    data-crop="false">All The Best Designers</h2>-->
                    <h2>All The Best Designers</h2>
                    <p>Our showstopping shoe floor features new premium labels—like Louis Vuitton, Givenchy and Jimmy Choo—and an expanded selection from the luxe brands you already love.</p>
                </div>
            </div>
        </div>

        <div class="two-photos scrollme">
            <img src="/b/fashion/campaigns/images/heart-of-ny/gucci-shoe-photo.jpg" alt="Gucci"        class="animateme"
                    data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-opacity="0"
                    data-translatex="-600"
                    data-easing="easeout"
                    data-scale="1.2">
            <img src="/b/fashion/campaigns/images/heart-of-ny/chloe-shoe-photo.jpg" alt="Chloe"         class="animateme"
                    data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-opacity="0"
                    data-translatex="600"
                    data-easing="easeout"
                    data-scale="1.2">
        </div>

        <div class="scrollme animateme" data-when="view"
            data-from=".5"
            data-to="0"
            data-opacity="1"
            data-scale="0">
            <img src="/b/fashion/campaigns/images/heart-of-ny/shoe-logos.jpg" alt="Logos" class="logos">
        </div>

        <a class="text-link" href="#">SEE ALL DESIGNERS</a>

        <div class="sub-head-box">
            <div class="inner">
                <div class="heart">
                    <p>ONLY AT 59th Street</p>
                </div>
                <h2 class="scrollme animateme" data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-opacity="0"
                    data-translatex="0"
                    data-easing="easeout"
                    data-scale="1.5">Ultra-exclusive Shoes</h2>
                <p class="scrollme animateme"
                data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-opacity="0"
                    data-translatex="0"
                    data-easing="easeout"
                    data-scale="1.5">We asked some of our favorite designers to create super-special styles, available only at 59th street. From street-chic sneakers to NYC-inspired heels, each amazing design is truly 100% Bloomingdale’s. </p>
            </div>
        </div>
        

        <div class="shoe-grid">
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-1.jpg">
                <p>Gucci</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-2.jpg">
                <p>Marion Parke</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-3.jpg">
                <p>Jimmy Choo</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-4.jpg">
                <p>Sergio Rossi</p>
            </div>
            <div class="col half">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-5.jpg">
                <p>Giuseppe Zanotti</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-6.jpg">
                <p>Louis Vuitton</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-7.jpg">
                <p>Salvatore Ferragamo</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-8.jpg">
                <p>Tabitha Simmons</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-9.jpg">
                <p>Chloé</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-10.jpg">
                <p>Sam Edelman<span>+ More Colors</span></p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-11.jpg">
                <p>Superga</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-12.jpg">
                <p>Schutz</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-13.jpg">
                <p>Dolce Vita<span>+ More Colors</span></p>
            </div>
            <div class="col half">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-14.jpg">
                <p>Marni</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-15.jpg">
                <p>Isa Tapia</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-16.jpg">
                <p>Sam Edelman<span>+ More Colors</span></p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-17.jpg">
                <p>Kate Spade New York</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-18.jpg">
                <p>Birkenstock<span>+ More Colors</span></p>
            </div>
            <div class="col half">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-19.jpg">
                <p>Marc Fisher LTD.</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-20.jpg">
                <p>Kenneth Cole</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/shoe-grid-21.jpg">
                <p>Sam Edelman<span>+ More Colors</span></p>
            </div>
        </div>
        
        <!--
        <div class="new-feature">
            <div class="col col-right">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/concierge-photo.jpg" alt="Concierge">
            </div>

            <div class="col col-left">
                <h2>Exceptional Events & Services</h2>
                <p>Look out for made-to-order pop-ups and an on-demand Cobbler Concierge.</p>
            </div>

            <div class="bg"></div>
            <p class="small-feature-type">Look out for made-to-order pop-ups and an on-demand Cobbler Concierge.</p>
        </div>

    -->

        <div class="new-feature">
            <div class="col">
                <h2>Exceptional Events & Services</h2>
                <p>Look out for made-to-order pop-ups and an on-demand Cobbler Concierge.</p>
            </div>
            <div class="col">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/concierge-photo.jpg" alt="Concierge">
            </div>
            <div class="bg"></div>
            <p class="small-feature-type">Look out for made-to-order pop-ups and an on-demand Cobbler Concierge.</p>
        </div>


        
        
    </main>

    <footer class="scrollme">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-1.gif" alt="The Love of New York"
            class="animateme" 
            data-when="enter"
            data-from=".5"
            data-to="0"
            data-translatex="-300"
            data-easing="easeout">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-2.gif" alt="The Love of New York"
            class="animateme" 
            data-when="enter"
            data-from=".5"
            data-to="0"
            data-translatex="300"
            data-easing="easeout">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-3.gif" alt="The Love of New York"
            class="animateme" 
            data-when="enter"
            data-from=".5"
            data-to="0"
            data-translatex="-300"
            data-easing="easeout">
        <h3 class="animateme"
            class="animateme" 
            data-when="enter"
            data-from=".5"
            data-to="0"
            data-translatey="300"
            data-easing="easeout">Experience our legendary flagship—newly renovated and better than ever</h3>
    </footer>

</div>

<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.2.2.4.js"><\/script>')</script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.lazy.min.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.scrollme.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-main.js"></script>
