<!-- {pageTitle: "JDRF", pageLabel: "Bloomingdale's Partners With JDRF for Diabetes Research"} -->
{{{coremetrics 'lp-xx-xx-xx.jdrf' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <meta name="description" content="Bloomingdale's is partnering with JDRF to raise funds for Juvenile Diabetes Research. Learn more about JDRF and what you can do.">
    <link href="/b/fashion/styles/projects/about-us/jdrf-b-cause-philanthropy/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/about-us/b-cause/main.js"></script>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <article class="b-cause-main">
                                <section class="row b-cause-header">
                                    <div class="small-8 small-centered medium-11 medium-push-13 medium-uncentered columns">
                                        <img src="/b/fashion/images/projects/about-us/jdrf-b-cause-philanthropy/logo.jpg" class="b-cause-logo" alt="JDRF improving lives curing type 1 diabetes">
                                    </div>
                                    <div class="small-24 medium-13 medium-pull-11 columns">
                                        <h1>Helping science find a cure for diabetes</h1>
                                    </div>
                                </section>
                                <section class="row b-cause-body">
                                    <div class="small-24 columns">
                                        <div class="row">
                                            <div class="small-24  medium-push-13 medium-11 columns">
                                                <img src="/b/fashion/images/projects/about-us/jdrf-b-cause-philanthropy/photo-2.jpg" class="img-expand" alt="Bloomingdale's Partners With JDRF – Research for Diabetes">
                                            </div>
                                            <div class="small-24 medium-pull-11 medium-13 columns">
                                                <h2>HOW WE RAISED CRITICAL FUNDS FOR THE JUVENILE DIABETES RESEARCH FOUNDATION</h2>
                                                <p>Since 2003, Bloomingdale's has raised nearly <b>$9.5 million</b> to help fund vital research for the cause and treatment of juvenile diabetes. Many of these funds were raised through employee participation and individual fundraising efforts as well as vendor support.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-24 medium-13 columns">
                                                <img src="/b/fashion/images/projects/about-us/jdrf-b-cause-philanthropy/photo-1.jpg" class="img-expand" alt="Bloomingdale's – JDRF Mission">
                                            </div>
                                            <div class="small-24 medium-11 columns">
                                                <blockquote>
                                                    <p>JDRF is excited and pleased to have Bloomingdale's as a longtime partner and supporter of our mission. Bloomingdale's commitment has helped us raise awareness for type 1 diabetes and is an important factor in our success as we look to cure, prevent and treat T1D through support of breakthrough research.</p>
                                                    <cite>Derek Rapp<br>CEO and President, JDRF</cite>
                                                </blockquote>
                                                <article>
                                                    <h3>JDRF MISSION STATEMENT</h3>
                                                    <p>Accelerating life-changing breakthroughs to cure, prevent and treat T1D and its complications. Their vision is a world without type 1 diabetes.</p>
                                                    <p>For more information, visit <a href="http://www.jdrf.org/?cm_mmc=Philanthropy-_-JDRF_website-_-Landing%20Page-_-Philanthropy_microsite" class="b-cause-link jdrf-link">jdrf.org</a></p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                {{> bcausefooter}}
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




