<!--headTitle={"title":"Bloomingdale's Denim Dictionary - Best Jean Styles in 2017"} -->
<!--headMeta={"content":"The hottest, on the rise jean styles in 2017 - See them here at Bloomingdale's! Also check out our Denim-on-Denim and Velvet Jeans DO'S & DON'TS!", "name":"description"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/makeup-date/makeup-tutorial/"}-->


<link rel="stylesheet" href="/b/fashion/styles/projects/makeup-date/fall-makeup-tutorial-2017/styles.css">

<main id="makeup-date">

{{!-- 	<aside id="floating-nav">
		<ul>
			<li class="link"><a href="">Gift with Purchase</a></li>
			<li class="link"><a href="">Week 1</a></li>
			<li class="link"><a href="">Week 2</a></li>
			<li class="link"><a href="">Week 3</a></li>
			<li class="link"><a href="">Week 4</a></li>
			<li class="link"><a href="">In-Store Events</a></li>
			<li class="link"><a href="">Sweepstakes</a></li>
		</ul>
	</aside> --}}

	<div id="top-banner" class='limited-promo'>
		<p><span class='caps AvenirBlack'>2 days only!</span> 16-piece gift and Triple Points for Loyallists. Ends 8/29. <a href="" class='caps'>see info</a></p>
	</div>

	<div id="makeup-header" class=""> 
		<img alt="The Makeup Date" src="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/hero.jpg"/>
		<h1 class="hidden">The Makeup Date</h1>
		<div class="copy">
			<p class="tagline AvenirBO">a guide to your most gorgeous month ever</p>
			<p class="sub AvenirBook">We’ve laid out four weeks of cool makeup looks, new product finds and wellness tips to help you look and feel your best. Follow along to get inspired, refresh your routine and keep your beauty game on point all month long.</p>
		</div>
		<a id="arrow-link">scroll down</a>
	</div>

	<div id="gift-with-purchase" class='limited-promo'>
		<img src="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/gwp.jpg"/>
		<div class="left-block">
			<h2 class="AvenirBO">your exclusive 16-piece gift!</h2>
			<p>Free with any $150 beauty purchase.</p>
			<p>Ends 8/29 or while supplies last.</p>
			<a class="caps AvenirBlack" href="">see full details</a>
			<a class="caps AvenirBlack" href="">shop all gifts with purchase</a>

			<div class="triple-points">
				<div class="plus">+</div>
				<p class="copy AvenirBlack">Loyallists get Triple Points on all beauty purchases through 8/29. <a class="caps" href="">see info</a></p>
			</div>
		</div>

		<div id="gwp-items">
			<ul class="item-list">
				<li class="item"> <strong>"Let's Makeup" train case </strong> </li>
				<li class="item"> <strong>Tory Burch</strong>  Bel Azur Eau de Parfum</li>
				<li class="item"> <strong>SK-II</strong> R.N.A.POWER Radical New Age Cream</li>
				<li class="item"> <strong>Yves Saint Laurent</strong> Touche Éclat Glow Shot Liquid Highlighter</li>
			</ul>
			<ul class="item-list">
				<li class="item"> <strong>Estée Lauder</strong> Pure Color Envy Sculpting Lipstick in Rebellious Rose</li>
				<li class="item"> <strong>Bobbi Brown</strong> Instant Full Cover Concealer</li>
				<li class="item"> <strong>Wei</strong> Dragon’s Blood Instant Lift Eye Mask</li>
				<li class="item"> <strong>Juice Beauty</strong> Phyto-Pigments Ultra-Natural Mascara in Black</li>
			</ul>
			<ul class="item-list">			
				<li class="item"> <strong>Clarins</strong> Double Serum Complete Age Control Concentrate</li>
				<li class="item"> <strong>Charlotte Tilbury</strong> Magic Night Rescue Cream</li>
				<li class="item"> <strong>Kiehl's Since 1851</strong> Super Multi-Corrective Cream</li>
				<li class="item"> <strong>Clinique</strong> Lash Power Flutter-to-Full Mascara in Black Onyx</li>
			</ul>
			<ul class="item-list">			
				<li class="item"> <strong>Chantecaille</strong> Flower Harmonizing Cream</li>
				<li class="item"> <strong>Sisley-Paris</strong> Ecological Compound</li>
				<li class="item"> <strong>Ralph Lauren</strong> Woman Eau de Parfum</li>
				<li class="item"> <strong>M·A·C</strong> Strobe Cream</li>
			</ul>
		</div>
	</div>

	<div id="week-one" class="week">
		{{!-- <div class="bar caps">week 1</div> --}}
		<table class="makeup-table">
			<tbody>
				<tr>
					<th></th>
					<th class="bar caps" colspan="2">Week 1</th>
					<th></th>
				</tr>
				<tr>
					<td id="masks">
						<div class="day caps">mon</div>
						<h3 class="gold">mask on mondays</h3>
						<p>to kick off the week<br/>with glowing skin.</p>
						<a href="fix">shop face masks</a>
					</td>
					<td id="foundation" colspan="2" >
						<div class="day caps">tues</div>
						<!-- <img class="background" src="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/foundation.jpg"/> -->
						<!-- <div class="content"> -->
							<h3  class="purple">customize your <br/>perfect foundation</h3>
							<p>Your complexion isn’t the exact same color year-round. Transition between seasons by mixing two shades of foundation (one lighter, one darker) to create a custom color.</p>
							<a href="fix">shop foundation</a>
						<!-- </div> -->
					</td>
					<td id="mascaras" rowspan="2">
						<div class="day caps">wed</div>
						<!-- <img class="background" src="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/mascara.jpg"/> -->
						<!-- <div class="content"> -->
							<h3 class="purple">toss out old tubes</h3>
							<p>Replace your mascara every two to three months before it dries out and forms bacteria.</p>
							<a href="">shop mascaras</a>
						<!-- </div> -->
					</td>
				</tr>
				<tr>
					<td colspan="2" rowspan="2">
						<div class="day caps">thurs</div>
						<video src="" poster="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/vamp-video.jpg" alt="get the look: after-work vampy lip + glossy eye"/>
					</td>
					<td id="workout">
						<div class="day caps">fri</div>
						<h3 class="gold">take a new workout class</h3>
						<p>for a no-blush flush.</p>
					</td>
				</tr>
				<tr>
					<td colspan="2" id="blowdryer">
						<div class="day caps">sat</div>
						<h3 class="purple">upgrade your blowout</h3>
						<p>High-tech dryers and luxe hair oils fight frizz and give you salon-worthy results at home.</p>
						<a href="">shop hair care</a>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						carousel
					</td>
					<td colspan="2" id="eyeliners">
						<div class="day caps">sun</div>
						<h3 class="purple">go for bold</h3>
						<p>Looking to update your go-to graphic liner? Swap basic black for a bight new hue, like blue or green.</p>
						<a href="">shop eyeliners</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div id="week-two" class="week">
		<table class="makeup-table">
			<tbody>
				<tr>
					<th></th>
					<th class="bar caps" colspan="2">Week 2</th>
					<th></th>
				</tr>
				<tr>
					<td id="palette">
						<div class="day caps">mon</div>
						<h3 class="gold">update your palette</h3>
						<p>Trade in your summery shadows and lipsticks for moodier fall shades.</p>
						<a href="fix">shop makeup</a>
					</td>
					<td id="carousel-two" colspan="3" >
						carousel
					</td>
				</tr>
				<tr>
					<td id="serums" colspan="2" rowspan="2">
						<div class="day caps">tues</div>
						<h3 class="purple">rev up your regimen</h3>
						<p>Incorporate a serum with vitamin C&ndash;a powerhouse antioxidant&ndash;into your routine to brighten skin and help fade dark spots.</p>
						<a href="">shop serums</a>
					</td>
					<td id="moisturizer" colspan="2">
						<div class="day caps">wed</div>
						<h3 class="purple">moisturize like you mean it</h3>
						<p>Rich creams packed with hyaluronic acid, glycerin and ceramides are super nourishing for the colder months to come.</p>
						<a href=""></a>
					</td>
				</tr>
				<tr>
					<td colspan="2" rowspan="2" id="">
						<div class="day caps">thurs</div>
						<video src="" poster="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/90s.jpg" alt="get the look: '90s #tbt"/>
					</td>
				</tr>
				<tr>
					<td id="brushes">
						<div class="day caps">fri</div>
						<h3 class="gold">clean your makeup brushes</h3>
						<p>Wash your tools with a gentle baby shampoo at least once a month.</p>
					</td>
					<td id="sunCare">
						<div class="day caps">sat</div>
						<h3 class="gold">commit to spf</h3>
						<p>Sunscreen with SPF 30 or higher is a must every day&ndash;even when it's cloudy or cold.</p>
						<a href="">shop sun care</a>
					</td>
				</tr>
				<tr>
					<td id="scent" colspan="2">
						<div class="day caps">sun</div>
						<h3 class="purple">switch up your scent</h3>
						<p>Looking to update your go-to graphic liner? Swap basic black for a bight new hue, like blue or green.</p>
						<a href="">shop eyeliners</a>
					</td>
					<td id="" colspan="2">
						carousel						
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div id="week-three" class="week">
		<table class="makeup-table">
			<tbody>
				<tr>
					<th></th>
					<th class="bar caps" colspan="2">Week 3</th>
					<th></th>
				</tr>
				<tr>
					<td id="cleanser" rowspan="3">
						<div class="day caps">mon</div>
						<h3 class="purple">double cleanse nightly</h3>
						<p>Switch up your nighttime routine by starting with a cleansing oil on dry skin to remove makeup, sunscreen and grime. Then use a gentle cream or foaming cleanser on wet skin to dissolve deeper dirt and lift away dead skin cells.</p>
						<a href="fix">shop cleansers</a>
					</td>
					<td id="no-makeup" colspan="2" rowspan="2" >
						<div class="day caps">tues</div>
						<video src="" poster="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/no-makeup.jpg" alt="get the look: no-makeup makeup for your 9-to-5"/>
					</td>
					<td id="mists">
						<div class="day caps">wed</div>
						<h3 class="gold">mist with abandon</h3>
						<p>For a midday pick-me-up, keep a hydrating face mist at your desk and spray it throughout the day to stay dewy.</p>
						<a href="">shop face mists</a>
					</td>
				</tr>
				<tr>
					<td id="water">
						<div class="day caps">thurs</div>
						<h3 class="gold">drink more water</h3>
						<p>Aim for 75% of your body weight in ounces per day.</p>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						carousel
					</td>
					<td id="candles">
						<div class="day caps">fri</div>
						<h3 class="gold">let it burn</h3>
						<p>Carve out some “you time” by lighting your favorite candles and unwinding with a bubble bath and a good book.</p>
						<a href="">shop candles</a>
					</td>
				</tr>
				<tr>
					<td colspan="2" id="brows">
						<div class="day caps">sat</div>
						<h3 class="purple">groom your brows</h3>
						<p>Give your arches the attention they deserve: <br/>Fill them in with a pencil to make them look fuller, and then use brow gel to keep the hairs in place.</p>
						<a href="">shop brow products</a>
					</td>
					<td colspan="2" id="spa-night">
						<div class="day caps">sun</div>
						<h3 class="purple">make sunday spa night</h3>
						<p>There’s no better way to prep for the week ahead than with face masks, hair treatments and lip scrubs.</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="week-four" class="week">
		<table class="makeup-table">
			<tbody>
			  <tr>
			    <th></th>
			    <th class="bar caps" colspan="2">Week 4</th>
			    <th></th>
			  </tr>
			  <tr>
			    <td id="gloss" rowspan="2">
			    	<div class="day caps">mon</div>
					<h3 class="purple">go high shine</h3>
					<p>The newest lip gloss formulas are super shiny and never sticky&ndash;perfect atop your everyday lipstick.</p>
					<a href="fix">shop lip gloss</a>
			    </td>
			    <td id="wipes">
			    	<div class="day caps">tues</div>
					<h3  class="gold">take it off</h3>
					<p>Heading to the gym after work? Make sure to remove your makeup with a wipe before sweating it out to prevent breakouts.</p>
					<a href="fix">shop makeup wipes</a>
			    </td>
			    <td id="shampoo" colspan="2">
			    	<div class="day caps">wed</div>
					<h3 class="purple">try dry shampoo foam</h3>
					<p>The latest hair care launch absorbs oil and product buildup while adding instant volume&ndash;it's a game changer.</p>
					<a href="">shop dry shampoo</a>
			    </td>
			  </tr>
			  <tr>
			    <td id="exfoliate" rowspan="2">
			    	<div class="day caps">thurs</div>
					<h3 class="purple">exfoliate often</h3>
					<p>Work this step into your regimen at least once a week to unclog pores, remove dead skin cells and help serums and creams absorb better.</p>
					<a href="">shop exfoliators</a>
			    </td>
			    <td id="wine-eye" colspan="2" rowspan="2">
			    	<div class="day caps">fri</div>
					<video src="" poster="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/wine-eye.jpg" alt="get the look: wine-inspired smokey eye"/>
			    </td>
			  </tr>
			  <tr>
			    <td id="greens" rowspan="2">
			    	<div class="day caps">sat</div>
					<h3 class="gold">eat more greens</h3>
					<p>Nutrient-rich veggies like kale and spinach are packed with collagen-boosting vitamins and omega-3s that promote clear skin.</p>
			    </td>
			  </tr>
			  <tr>
			    <td id="treat">
					<div class="day caps">sun</div>
					<h3 class="gold">treat yourself</h3>
					<p>Get a 10-minute massage today—you deserve it!</p>
			    </td>
			    <td colspan="2">
			    	carousel
			    </td>
			  </tr>
			</tbody>
		</table>
	</div>

	<div id="in-store">
		<h2 class="AvenirBO">celebrate in store</h2>
		<p class="copy AvenirBook">Runway shows, makeovers and more! See the beauty trends come to life and learn how to re-create your favorite looks at an exclusive Makeup Date event near you.</p>
		<div class="dates">
			<div class="col">
				<h3 class="date">thursday, 9/7</h3>
				<p>59<sup>th</sup> Street</p>
			</div>
			<div class="col">
				<h3 class="date">saturday, 9/9</h3>
				<p>Beverly Center</p>
				<p>King of Prussia</p>
				<p>Fashion Valley</p>
				<p>San Francisco</p>
				<p>Sherman Oaks</p>
				<p>The Shops at Riverside</p>
				<p>Tysons Corner</p>
			</div>
			<div class="col">
				<h3 class="date">saturday, 9/16</h3>
				<p>Bridgewater</p>
				<p>Century City</p>
				<p>Chevy Chase</p>
				<p>Old Orchard</p>
				<p>Orlando</p>
				<p>Stanford</p>
			</div>
		</div>
	</div>

	<div id="sweepstakes">
		<h2 class="gold AvenirBO">win a $500 beauty gift bag!</h2>
		<p class="AvenirBook">Enter for a chance to win a spectacular gift bag filled with the season's top products. Ends 8/29. <a href="">see info</a></p>
		<a class="enter AvenirBlack" href="">enter now</a>
	</div>

	<div id="footer">
		<ul>
			<li>
				<h2>Shop:</h2>
			</li>
			<li><a href="">lips</a></li>
			<li><a href="">eyes</a></li>
			<li><a href="">face</a></li>
			<li><a href="">all beauty</a></li>
		</ul>
		<div class="btt">
			arrow
		</div>
	</div>

</main>

<script src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>
<script src="/b/fashion/javascripts/projects/makeup-date/fall-makeup-tutorial-2017/script.js"></script>