<!--headTitle={"title":"Bloomingdale's Denim Dictionary - Best Jean Styles in 2017"} -->
<!--headMeta={"content":"The hottest, on the rise jean styles in 2017 - See them here at Bloomingdale's! Also check out our Denim-on-Denim and Velvet Jeans DO'S & DON'TS!", "name":"description"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/makeup-date/makeup-tutorial/"}-->


<link rel="stylesheet" href="/b/fashion/styles/projects/makeup-date/fall-makeup-tutorial-2017/styles.css">

<main id="makeup-date">

	<aside id="floating-nav">
		<ul>
			<li class="link"><a href="">Gift with Purchase</a></li>
			<li class="link"><a href="">Week 1</a></li>
			<li class="link"><a href="">Week 2</a></li>
			<li class="link"><a href="">Week 3</a></li>
			<li class="link"><a href="">Week 4</a></li>
			<li class="link"><a href="">In-Store Events</a></li>
			<li class="link"><a href="">Sweepstakes</a></li>
		</ul>
	</aside>

	<div id="top-banner" class='limited-promo'>
		<p><span class='caps AvenirBlack'>2 days only!</span> 16-piece gift and Triple Points for Loyallists. Ends 8/29. <a href="" class='caps'>see info</a></p>
	</div>

	<div id="makeup-header" class=""> 
		<img alt="The Makeup Date" src="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/hero.jpg"/>
		<h1 class="hidden">The Makeup Date</h1>
		<div class="copy">
			<p class="tagline AvenirBO">a guide to your most gorgeous month ever</p>
			<p class="sub AvenirBook">We’ve laid out four weeks of cool makeup looks, new product finds and wellness tips to help you look and feel your best. Follow along to get inspired, refresh your routine and keep your beauty game on point all month long.</p>
			<div class="container">
				<div class="triangle"></div>
			</div>
		</div>
	</div>

	<div id="gift-with-purchase" class='limited-promo'>
		<img src="/b/fashion/images/projects/makeup-date/fall-makeup-tutorial-2017/gwp.jpg"/>
		<div class="left-block">
			<h2 class="AvenirBO">your exclusive 16-piece gift!</h2>
			<p>Free with any $150 beauty purchase.</p>
			<p>Ends 8/29 or while supplies last.</p>
			<a class="caps AvenirBlack" href="">see full details</a>
			<a class="caps AvenirBlack" href="">shop all gifts with purchase</a>

			<div class="triple-points">
				<div class="plus">+</div>
				<p class="copy AvenirBlack">Loyallists get Triple Points on all beauty purchases through 8/29. <a class="caps" href="">see info</a></p>
			</div>
		</div>

		<div id="gwp-items">
			<ul class="item-list">
				<li class="item"> <strong>"Let's Makeup" train case </strong> </li>
				<li class="item"> <strong>Tory Burch</strong>  Bel Azur Eau de Parfum</li>
				<li class="item"> <strong>SK-II</strong> R.N.A.POWER Radical New Age Cream</li>
				<li class="item"> <strong>Yves Saint Laurent</strong> Touche Éclat Glow Shot Liquid Highlighter</li>
			</ul>
			<ul class="item-list">
				<li class="item"> <strong>Estée Lauder</strong> Pure Color Envy Sculpting Lipstick in Rebellious Rose</li>
				<li class="item"> <strong>Bobbi Brown</strong> Instant Full Cover Concealer</li>
				<li class="item"> <strong>Wei</strong> Dragon’s Blood Instant Lift Eye Mask</li>
				<li class="item"> <strong>Juice Beauty</strong> Phyto-Pigments Ultra-Natural Mascara in Black</li>
			</ul>
			<ul class="item-list">			
				<li class="item"> <strong>Clarins</strong> Double Serum Complete Age Control Concentrate</li>
				<li class="item"> <strong>Charlotte Tilbury</strong> Magic Night Rescue Cream</li>
				<li class="item"> <strong>Kiehl's Since 1851</strong> Super Multi-Corrective Cream</li>
				<li class="item"> <strong>Clinique</strong> Lash Power Flutter-to-Full Mascara in Black Onyx</li>
			</ul>
			<ul class="item-list">			
				<li class="item"> <strong>Chantecaille</strong> Flower Harmonizing Cream</li>
				<li class="item"> <strong>Sisley-Paris</strong> Ecological Compound</li>
				<li class="item"> <strong>Ralph Lauren</strong> Woman Eau de Parfum</li>
				<li class="item"> <strong>M·A·C</strong> Strobe Cream</li>
			</ul>
		</div>
	</div>
</main>

<script src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>
<!-- <script src="/b/fashion/javascripts/projects/fall-makeup-date-2017/script.js"></script> -->