<!-- {pageTitle: 'Shopping Services'} -->
{{{coremetrics 'Shopping Services (ab-sh-xx-xx.index)' 'ab-sh-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Bloomingdale's Services - Wedding Registry, Personal Shoppers, Studio Services and More!"} -->
<!--headCanonical={"href":"/about-us/shopping/shopping-services/"}-->
<div class="row collapse">
    {{>title}}

    <link href="/b/fashion/styles/projects/about-us/shopping/shopping-services/styles.css" rel="stylesheet" type="text/css" />

    <script src="/b/fashion/javascripts/projects/about-us/shopping/shopping-services/main.js"></script>

    <div class="bl_main shopping-services-mobile">
        <div id="bl_hp_main">
            <div class="bl_cu_mainContent">
                {{>titleimage}}
                <br>
                <p>
                    Bloomingdale's offers a full range of services to meet your needs, including:
                </p>

                <div class="row link-section">
                    <a href="/b/about-us/appointment-scheduling-in-store-services/" data-cm-link-click="book_an_appointment">
                       Book an Appointment
                    </a>
                    <div> 
                        Need help with styling or a beauty consultation? Easily schedule an appointment online for select Bloomingdale's stores.
                    </div>
                </div>

                <div class="row link-section">
                    <a href="/b/about-us/shopping/personal-shopper-complimentary-service/" data-cm-link-click="personal_shoppers">
                        Personal Shoppers
                    </a>
                    <div>
                        Shop like a VIP. Our in-the-know Personal Shoppers can help you work the latest trends into your existing wardrobe, find the perfect birthday present for someone special or even update your home. Plus, they can pre-shop the store to pull your items before your appointment—saving you time and energy.
                    </div>
                </div>

                
                <div class="row link-section">
                    <a href="/b/about-us/shopping/international-visitor-services/" data-cm-link-click="visitor_services">
                        Visitor Services
                    </a>
                    <div>
                        Make the most of your visit with store directories in various languages, translators, a coat check, concierge services, special offers and more.
                    </div>
                </div>

                <div class="row link-section">
                    <a href="/b/about-us/shopping/corporate-business-gifts/" data-cm-link-click="business_gifts">
                        Business Gifts
                    </a>
                    <div>
                        Our expert gift concierges can help you find the best items to show your appreciation for valued employees and important clients. Plus, some bulk orders qualify for discounts.
                    </div>
                </div>

                <div class="row link-section">
                    <a href="/b/about-us/shopping/fashion-studio-styling-services/" data-cm-link-click="studio_services">
                        Studio Services
                    </a>
                    <div>
                        For feature films and television shows, our Studio Services team can assist celebrity stylists and costumers with selecting the perfect wardrobes as well as props—quickly and efficiently.
                    </div>
                </div>

                <div class="row link-section">
                    <a href="https://www.bloomingdales.com/account/giftcardbalance" data-cm-link-click="check_gift_card_balance">
                        Check Gift Card Balance
                    </a>
                    <div>
                        Check the balance of your electronic gift card.
                    </div>
                </div>

                <div class="row link-section">
                    <a href="https://www.customerservice-bloomingdales.com/app/answers/detail/a_id/355" data-cm-link-click="safety_recall_notice">
                        Safety Recall Notice
                    </a>
                    <div>
                        Browse safety recall notices by category.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>