<!-- {pageTitle: 'Shopping Services'} -->
{{{coremetrics 'Shopping Services (ab-sh-xx-xx.index)' 'ab-sh-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Bloomingdale's Services - Wedding Registry, Personal Shoppers, Studio Services and More!"} -->
<!--headCanonical={"href":"/about-us/shopping/shopping-services/"}-->
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bl_cu_mainContent">
                                {{>titleimage}}
                                <br>
                                <p>
                                    Bloomingdale's offers a full range of services to meet your needs, including:
                                </p>
                                <div class="ss_main_cont_aligmt">
                                    <ul>
                                        <li>
                                            <a href="/b/about-us/shopping/sizecharts/womens-petite-plus/">
                                                <img src="http://assets.bloomingdales.com/img/titles/SizeCharts1.jpg"
                                                     width="79"
                                                     height="18"
                                                     alt="Size Charts"
                                                     border="0">
                                            </a>
                                            <br>
                                            To get the perfect fit every time.
                                        </li>
                                    </ul>
                                    <div id="ab_Registry">
                                        <ul>
                                            <li>
                                                <a href="/registry/wedding/benefits-perks/">
                                                    <img src="http://assets.bloomingdales.com/img/titles/title_registry_at_bloomies.gif"
                                                         width="202"
                                                         height="17"
                                                         alt="The Registry at Bloomingdale's"
                                                         border="0">
                                                </a>
                                                <br>
                                                Start a new registry or shop for those who are registered with us.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="ss_main_cont_aligmt" id="ssRow1_iShip">
                                    <ul>
                                        <li>
                                            <a href="https://www.bloomingdales.com/account/giftcardbalance">
                                                <img src="http://assets.bloomingdales.com/img/titles/title_checkegcbalance.gif"
                                                     width="160"
                                                     height="18"
                                                     alt="Check Gift Card Balance"
                                                     border="0">
                                            </a>
                                            <br>
                                            Check the balance of your electronic gift card.
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="/b/about-us/shopping/corporate-business-gifts/">
                                                <img src="http://assets.bloomingdales.com/img/titles/title_businessGifts.jpg"
                                                     width="92"
                                                     height="19"
                                                     alt="Business Gifts"
                                                     border="0">
                                            </a>
                                            <br>
                                            Expert consultation and coordination for business, performance, and anniversary
                                            gifts, office furnishings and more.
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="ss_main_cont_aligmt" id="ssRow2_iShip">
                                    <ul>
                                        <li>
                                            <a href="/b/about-us/shopping/personal-shopper-complimentary-service/">
                                                <img src="http://assets.bloomingdales.com/img/titles/title_personalShoppers.gif"
                                                     width="121"
                                                     height="18"
                                                     alt="Personal Shoppers"
                                                     border="0">
                                            </a>
                                            <br>
                                            Our knowledgeable personal shoppers put all of Bloomingdale's At Your Service.
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="/b/about-us/shopping/fashion-studio-styling-services/">
                                                <img src="http://assets.bloomingdales.com/img/titles/title_studioServices.gif"
                                                     width="100"
                                                     height="18"
                                                     alt="Studio Services"
                                                     border="0">
                                            </a>
                                            <br>
                                            Wardrobing and props for full-scale advertising, film, television, and theater
                                            productions.
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="ss_main_cont_aligmt" id="ssRow3_iShip">
                                    <ul>
                                        <li>
                                            <a href="/b/about-us/shopping/international-visitor-services/">
                                                <img src="http://assets.bloomingdales.com/img/titles/title_visitorServices.gif"
                                                     width="100" height="18" alt="Visitor Services" border="0">
                                            </a>
                                            <br>
                                            Get the most out of your visit with translators, store directories in 9 languages,
                                            personal shopping and concierge assistance and more.
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="https://www.bloomingdales.com/wishlist/find">
                                                <img src="http://assets.bloomingdales.com/img/titles/title_searchWishlist.gif"
                                                     width="135" height="19" alt="Search For Wish List" border="0">
                                            </a>
                                            <br>
                                            Want to know if one of your friends or family members has a Wish List? Click here to
                                            search for their must-haves.
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="ss_main_cont_aligmt">
                                    <ul>
                                        <li>
                                            <a href="https://www.customerservice-bloomingdales.com/app/answers/detail/a_id/355">
                                                <img src="http://assets.bloomingdales.com/img/titles/title_Safety-Recall.gif"
                                                     width="134" height="18" alt="Safety Recall Notice" border="0">
                                            </a>
                                            <br>
                                            Browse safety recall notices by category
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




