<!--headTitle={"title":"10 Year Mattress Warranty & 5 Year Furniture Warranty"} -->
<!--headMeta={"content":"Shopping for a new mattress does not need to be stressful. With our 5 year furniture & 10 year mattress protection plan, Bloomingdale's got you covered from accidental stains and damages. Click here to learn more about our furniture & mattress protection plan!", "name":"description"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/b/furniture-mattress-warranty/"}-->

	{{{coremetrics 'stuff--more_stuff' 'Placeholder'}}}

	<link rel="stylesheet" href="/b/fashion/styles/projects/furniture-mattress-warranty/styles.css">


	<div id="Furniture-Protection-Plan">
		<div class="greyDivider center">
			<div class="two-columns">
				<a id="mattress-anchor" href="#Mattress-Protection-Plan">
					View Mattress <span class="caps">worrynomore</span>&reg; Protection Plans
				</a>
			</div>
			<div class="two-columns">
				<a id="rug-anchor" href="#rug-protection-plan">
					View Rug  <span class="caps">worrynomore</span>&reg; Protection Plans
				</a>
			</div>
			<button id="back" class="small">BACK</button>
		</div>

		<h1><span class="caps">worrynomore</span>&reg; ULTIMATE Furniture Protection Program with the Great Give Back</h1>

		<hr class="thickLine"></hr>

		<p>Spills, stains, scratches—accidents happen in every room. But with WORRYNOMORE&reg; ULTIMATE Protection Plan, when purchased with your new furniture, you can rest easy knowing your furniture will be protected for years to come.</p>

		<h2>Protect your investment—our WORRYNOMORE&reg; ULTIMATE Plan includes:</h2>
		<ul>
			<li>5 years worry-free use of your furniture</li>
			<li>In-home professional furniture repair</li>
			<li>Nationwide service network so your protection moves with you</li>
			<li>Replacement of furniture that can't be repaired*</li>
			<li>Our exclusive toll-free advice line</li>
			<li>Furniture Care Kit</li>
		</ul>

		<h2>The No Risk Great Give Back</h2>
		<p>There's no risk! With your purchase of this Plan, you will receive the Great Give Back offer, so that if you do not initiate a claim or otherwise obtain service under this Plan during its 5-year term, you are eligible to receive a voucher to be used in the furniture or mattress departments valued at the original Plan price. You can obtain your Voucher by visiting our website at <a href="//www.worrynomore.com">www.worrynomore.com</a> or by calling the Service Center and completing the Great Give Back form within ninety (9O) days after expiration of the Plan. Your Voucher will be mailed to you within thirty (3O) days of receipt of your request. The Voucher must be used within ninety (9O) days of the date mailed.</p>

		<p class="greyDivider">Call 866-593-2540 to sign up for the <span class="caps">worrynomore</span>&reg; ULTIMATE Protection Plan</p>

		<div class="responsive-large">
			<h2>The <span class="caps">worrynomore</span><sup>&reg;</sup> ULTIMATE Protection Plan</h2>
			<p>Protect your investment with the purchase of this plan we provide in-home service, repair the damaged area and if necessary, replace the affected part. Refer to the table below for all the types of damage that are covered.</p>

			<table class="plan">
				<tbody>
					<tr>
						<th class="caps">accident coverage</th>
						<th class="caps">fabric or leather</th>
						<th class="caps">case</th>
					</tr>
					<tr>
						<td>Great Give Back
						</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>All accidental stains****</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Accidental pet stains</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Accidental pet damage</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Household food &amp; beverage</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Human bodily fluid</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Candle wax</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Pencil, ballpoint ink and cosmetics including lipstick</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Rips, tears &amp; burns</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Punctures</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Cracking and peeling of the leather**</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Gouge, dent &amp; chipping</td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Water rings</td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Fingernail polish</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Scratch penetrating through the finished surface</td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Seams/stitching that come loose on upholstered fabrics</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Glass or mirror scratches, chipping &amp; breaking</td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Loss of silvering mirrors</td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Structural defects to frames, warping</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Frame breakage/cracking</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Breakage of welds</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Accidental bending or breakage of structural metal components</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Defective light fixture, motors, massagers and heaters</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="disclaimer">
			<p>* If the furniture or part to be replaced is no longer available, you can select new furniture of equal or lesser value! To continue coverage on the replaced piece, the protection plan must be repurchased. ** See consumer service agreement for complete coverage and exclusions. * See consumer service agreement for rule to qualify. * All re-selections will be of equal or lesser value than the original purchase. **** Excludes general soiling perspiration body oils and accumulation of otherwise covered accidents.</p>
			<p>Note: In the event of a discrepancy between this document and the protection program certificate, the certificate will govern. The WORRYNOMORE&reg; Protection Plans does not cover everyday soiling from normal use, accumulation, multiple stains, unidentified stains, spills or damage not attended to properly. Coverage is limited to items identified in certificate. Exclusions apply; refer to your protection program certificate for specific coverage information.</p>
		</div>

	</div>

	<div id="Mattress-Protection-Plan">
		<hr class="thickLine"></hr>

		<h1><span class="caps">worrynomore</span><sup>&reg;</sup> 10 Year Mattress Protection Plan</h1>

		<hr class="thickLine"></hr>

		<p>Your mattress is bound to see its share of spills, stains and stress. WORRYNOMORE&reg; Mattress Protection Plan has you covered with two lines of defense against damage: 10 years of professional service and your choice of an exclusive mattress pad!*</p>

		<h2>Why WORRYNOMORE&reg; Protection Program?</h2>

		<p>Protect your investment with the <span class="caps">worrynomore</span><sup>&reg;</sup> Mattress Protection Plan when purchased with your new mattress. Here’s what you’ll get:</p>
		<ul>
			<li>10 years worry-free use of your mattress</li>
			<li>Professional stain removal for covered accidents</li>
			<li>Protection against damage that would otherwise void the manufacturer’s warranty</li>
			<li>Cleaning of the affected area; if either the mattress or mattress pad cannot be cleaned, it will be replaced**</li>
			<li>Access to nationwide professional service &amp; advice with one toll-free number</li>
			<li>Nationwide service technicians so your protection moves with you</li>
			<li>Plan includes one of our exclusive BedGard™ mattress protectors</li>
		</ul>

		<div class="disclaimer">
			<p>**If the mattress is no longer available, replacements will be made with a mattress of equal or lesser value. Plan covers mattress only; box spring is excluded.</p>
		</div>

		<h2>All 3 mattress protectors feature the same great coverage. All accidental stains including:</h2>
		<ul>
			<li>Household Food and Beverage Stain</li>
			<li>Human Bodily Fluids</li>
			<li>Pet Bodily Fluids</li>
			<li>Facial Cosmetics and Lipstick</li>
			<li>Ballpoint Pen Ink &amp; Pencil Marks</li>
			<li>Candle Wax</li>
			<li>Nail Polish</li>
			<li>Replacement pad when a covered stain won’t come clean</li>
			<li>Replacement pad due to MFG defect</li>
		</ul>  

		<p class="greyDivider">Call 866-593-2540 to sign up for the <span class="caps">worrynomore</span>&reg; Protection Plan</p>
		<div class="responsive-large">
			<div class="two-columns">
				<h2>Supreme Waterproof</h2>
				<ul>
					<li>200 Thread Count, 100% Cotton Cover</li>
					<li>Puff Quilted for Added Comfort</li>
					<li>Expand-A-Grip Construction, Hugs the Mattress</li>
					<li>Waterproof Yet Breathable for Maximum Protection   with Maximum Comfort</li>
					<li>Barrier for Allergens, Dust Mites, Pet Dander, Pollen and Mold</li>
					<li>Available for Use on All 10 Year Warranty Mattresses Excluding Specialty Bedding</li>
					<li>Machine Washable and Machine Dry Cool</li>
					<li>*10 Year Replacement According to Contract Guidelines</li>
					<li>Excludes Perspiration and Accumulation</li>
				</ul>
			</div>
			<div class="two-columns">
				<h2>Perfect Protector</h2>
				<ul>
					<li>Improved Elasticity Reinforced Double Stitching</li>
					<li>Cutting Edge Breathable Polytech Fibers</li>
					<li>Waterproof Yet Breathable for Maximum Protection with Maximum Comfort</li>
					<li>Barrier for Allergens, Dust Mites, Pet Dander, Pollen and Mold</li>
					<li>Available for Use on All 10 Year Warranty Mattresses EXCLUDING Specialty Bedding</li>
					<li>Machine Washable and Machine Dry Cool</li>
					<li>*10 Year Replacement According to Contract Guidelines</li>
					<li>Excludes Perspiration and Accumulation</li>
				</ul>
			</div>
			<div class="two-columns">
				<h2>Total Protector Encasement (zippered all around)</h2>
				<ul>
					<li>Miracle Membrane Air Vapor Porous</li>
					<li>Certified by an Entomology Laboratory to be Completely Bedbug Proof</li>
					<li>Allerzip 3-Sided Zipper for Easy On/Off of Protector</li>
					<li>Waterproof Yet Breathable for Maximum Protection with Maximum Comfort</li>
					<li>Barrier for Allergens, Dust Mites, Pet Dander, Pollen and Mold</li>
					<li>Available for Use on All 10 Year Warranty Mattresses including Specialty Bedding</li>
					<li>Machine Washable and Machine Dry Cool</li>
					<li>*10 Year Replacement According to Contract Guidelines</li>
				</ul>
			</div>
			<div>
				<h1>Adjustable Advantage Plan</h1>
				<p>
				The Adjustable Advantage Protection Plan provides coverage for both the Mattress and the Adjustable Bed Frame when sold as a set.<br>
				Customers can sleep worry free, knowing their complete bed is covered for 10 years.
				</p>
				<h3>Adjustable Advantage coverage includes:</h3>
				<div class="two-columns">
					<h2>For the Adjustable Base</h2>
					<ul>
						<li>Structural parts breakage</li>
						<li>Motors</li>
						<li>Remotes</li>
						<li>Speakers</li>
						<li>Mechanical &amp; electrical defects</li>
					</ul>
				</div>
				<div class="two-columns">
					<h2>For the Mattress</h2>
					<ul>
						<li>ALL accidental stains</li>
						<li>Professional stain removal</li>
						<li>Nationwide service</li>
						<li>PerfectProtector mattress pad</li>
					</ul>
				</div>
			</div>
		</div>

		<p class="greyDivider" id="rug-protection-plan"><span class="caps">worrynomore</span>&reg; 7 Year Area Rug Great Give Back Protection </p>

		<div>
			<h1>Your <span class="caps">worrynomore</span>&reg; area rug protection plan includes</h1>

			<div>
				<ul>
					<li>7 Years of worry-free use of your area rug</li>
					<li>In-home professional stain removal and fringe repair for covered accidents</li>
					<li>Access to nationwide professional adhesive &amp; service with one toll free phone number</li>
					<li>Nationwide service technicians so your protection moves with you</li>
					<li>Replacement of area rugs that can’t be cleaned or repaired**</li>
					<li>If the area rug to be replaced is no longer available, you can reselect an area rug of equal or lesser value</li>
				</ul>
				<div class="disclaimer">
					<p>
						** Area rugs that we are unable to clean or repair will be replaced. To continue coverage on the replaced piece, the protection plan must be repurchased.
					</p>
				</div>
			</div>
			
			<p>
				Accidents definitely happen, though most of us never expect them to. <span class="caps">worrynomore</span>&reg; PROTECTION PLAN will keep your area rug looking its best even when the unexpected occurs. Coverage begins from the day you receive your area rug.
			</p>

			<div>
				<h2>Area rug protection plan coverage includes</h2>
				<ul>
					<li>All accidental stains*<br>
					&nbsp; Examples of our most common claims are food, beverage, pet &amp; human bodily fluids** and much much more</li>
					<li>Damage to fringe</li>
					<li>Facial cosmetics</li>
					<li>Nail polish</li>
				</ul>
				<div class="disclaimer">
					<p>
						* excludes general soiling, perspiration, body oils and accumulation of otherwise covered accidents.<br>
						** excludes animal teeth, beak, and claw marks.
					</p>
				</div>
			</div>
		</div>
	</div>

	<button class="desktop_back_to_top"><img class="desktop_back_to_top_img" src="/b/fashion/images/projects/lookbooks/syndeca-projects/desktop_back_to_top.jpg" alt="back to top button"></button>

	<!-- Need to set the coremetrics CLIENT ID before call warranty.js -->
	<script type="text/javascript">
		if ( window.location.host === 'www.bloomingdales.com' || window.location.host === 'm.bloomingdales.com' ) {
	        cmSetProduction();
	    } else {
	        cmSetTest();
	    }
    </script>

	<script type="text/javascript" src="/b/fashion/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/b/fashion/javascripts/projects/furniture-mattress-warranty/warranty.js"></script>