<!--headTitle={"title":"10 Year Mattress Warranty & 7 Year Furniture Warranty"} -->
<!--headMeta={"content":"Shopping for a new mattress does not need to be stressful. With our 7 year furniture & 10 year mattress protection plan, Bloomingdale's got you covered from accidental stains and damages. Click here to learn more about our furniture & mattress protection plan!", "name":"description"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/b/furniture-mattress-warranty/"}-->

	{{{coremetrics 'stuff--more_stuff' 'Placeholder'}}}

	<link rel="stylesheet" href="/b/fashion/styles/projects/furniture-mattress-warranty/styles.css">


	<div id="Furniture-Protection-Plan">
		<div class="greyDivider center"><a id="mattress-anchor" href="#Mattress-Protection-Plan">View Mattress <span class="caps">worrynomore</span>&reg; Protection Plans</a></div>

		<h1><span class="caps">worrynomore</span><sup>&reg;</sup> Furniture Protection Program with the Great Give Back</h1>

		<hr class="thickLine"></hr>

		<p>Spills, stains, scratches—accidents happen in every room. But with WORRYNOMORE® Protection Plans, when purchased with your new furniture, you can rest easy knowing your furniture will be protected for years to come.</p>

		<h2>Protect your investment—our WORRYNOMORE® Plans include:</h2>
		<ul>
			<li>7 years worry-free use of your furniture</li>
			<li>In-home professional furniture repair</li>
			<li>Nationwide service network so your protection moves with you</li>
			<li>Replacement of furniture that can't be repaired*</li>
			<li>Our exclusive toll-free advice line</li>
			<li>Furniture Care Kit (Accident and Premium plans only)</li>
		</ul>

		<h2>The No Risk Great Give Back</h2>
		<p>There's no risk! With your purchase of this Plan, you will receive the Great Give Back offer, so that if you do not initiate a claim or otherwise obtain service under this Plan during its 7-year term, you are eligible to receive a Bloomingdale's store Voucher valued at the original Plan price redeemable at a Bloomingdale's furniture or mattress department. You can obtain your Voucher by visiting our website at <a href="//www.worrynomore.com">www.worrynomore.com</a> or by calling the Service Center and completing the Great Give Back form within ninety (9O) days after expiration of the Plan. Your Voucher will be mailed to you within thirty (3O) days of receipt of your request. The Voucher must be used within ninety (9O) days of the date mailed.</p>

		<p class="greyDivider">Call 866-593-2540 to sign up for the <span class="caps">worrynomore</span>&reg; Protection Plan</p>

		<div class="responsive-large">
			<h2>The <span class="caps">worrynomore</span><sup>&reg;</sup> Premium Protection Plan</h2>
			<p>This package combines all the benefits of the accident and structure plans at a reduced price.</p>

			<table class="plan">
				<tbody>
					<tr>
						<th class="caps">premium coverage</th>
						<th class="caps">fabric &amp; microfiber</th>
						<th class="caps">leather</th>
						<th class="caps">wood</th>
						<th class="caps">glass &amp; mirror</th>
					</tr>
					<tr>
						<td>All Accidental Stains****<br/>
							Examples of our most common claims, Food, Beverage, Pet/Human Bodily Fluids, Ink, Marking Pens, Candle Wax, Jean Dye Transfer and much much more!!
						</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Singe or Heat Marks</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Rips, Tears, Punctures*****</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Deep Scratches Penetrating Through the Top Coat Surface</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Chipping, Dents/Gouges</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Glass Breakage</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Candle Wax</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Water or Beverage Marks, Stains or Rings</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Structural Defects to Frames,Warping and Frame Breakage/Cracking</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Separation of Frame Components</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Breakage of Welds</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Accidental Bending or Breakage of Structural Metal Components</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Defective Light Fixtures, Motors, Massagers and Heaters</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Seam Stitching That Comes Loose on Upholstered Furniture</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Zippers, Buttons, Tufting, and Nailhead Trim</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Cracking &amp; Peeling of Leather*</td>
						<td></td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Checking, Lifting, Cracking, Peeling or Fading of Wood and Laminate Finishes</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Drawer Glides and Knobs</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Glass Coverage&ndash;Chipping and Scratching</td>
						<td></td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Loss of Silvering to and/or Breakage of Mirrors</td>
						<td></td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
				</tbody>
			</table>

			<h2>The <span class="caps">worrynomore</span><sup>&reg;</sup> Accident Protection Plan</h2>
			<p>Accidents definitely happen, though most of us never expect them to. The WORRYNOMORE® Accident Protection Plan will keep your furniture looking its best even when the unexpected occurs.</p>

			<table class="plan">
				<tbody>
					<tr>
						<th class="caps">accident coverage</th>
						<th class="caps">fabric &amp; microfiber</th>
						<th class="caps">leather</th>
						<th class="caps">wood</th>
						<th class="caps">glass &amp; mirror</th>
					</tr>
					<tr>
						<td>All Accidental Stains****</br>Examples of our most common claims, Food, Beverage, Pet/Human Bodily Fluids, Ink, Marking Pens, Candle Wax, Jean Dye Transfer and much much more!!
						</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Singe or Heat Marks</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Rips, Tears, Punctures*****</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Deep Scratches Penetrating Through the Top Coat Surface</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Chipping, Dents/Gouges</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Glass Breakage</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Candle Wax</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Water or Beverage Marks, Stains or Rings</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<h2>The <span class="caps">worrynomore</span><sup>&reg;</sup> Ultimate Structure Protection Plan</h2>
			<p>Bloomingdale’s is proud to offer a structural program designed to give our customers peace of mind from certain unexpected product failures. This plan extends several manufacturers’ structural coverages for a full 7 years with in-home service.</p>


			<table class="plan">
				<tbody>
					<tr>
						<th class="caps">structure coverage</th>
						<th class="caps">fabric &amp; microfiber</th>
						<th class="caps">leather</th>
						<th class="caps">wood</th>
						<th class="caps">glass &amp; mirror</th>
					</tr>
					<tr>
						<td>Structural Defects to Frames, Warping and Frame Breaking/Cracking</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Separation of Frame Components</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Breakage of Welds</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Accidental Bending or Breakage of Structural Metal Components</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Defective Light Fixtures, Motors, Massagers and Heaters</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Seam Stitching That Comes Loose on Upholstered Furniture</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Zippers, Buttons, Tufting, and Nailhead Trim</td>
						<td class="check">&#10004;</td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Cracking &amp; Peeling of Leather*</td>
						<td></td>
						<td class="check">&#10004;</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Checking, Lifting, Cracking, Peeling or Fading of Wood and Laminate Finishes</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Drawer Glides and Knobs</td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
						<td></td>
					</tr>
					<tr>
						<td>Glass Coverage&ndash;Chipping and Scratching</td>
						<td></td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
					<tr>
						<td>Loss of Silvering to and/or Breakage of Mirrors</td>
						<td></td>
						<td></td>
						<td></td>
						<td class="check">&#10004;</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="disclaimer">
			<p>* If the furniture or part to be replaced is no longer available, you can select new furniture of equal or lesser value! To continue coverage on the replaced piece, the protection plan must be repurchased. * See consumer service agreement for complete coverage and exclusions. ** See consumer service agreement for rule to qualify. *** All re-selections will be of equal or lesser value than the original purchase. **** Excludes general soiling perspiration body oils and accumulation of otherwise covered accidents. ***** Excludes animal teeth, beak and claw marks.</p>
			<p>Note: In the event of a discrepancy between this document and the protection program certificate, the certificate will govern. The WORRYNOMORE® Protection Plans does not cover everyday soiling from normal use, accumulation, multiple stains, unidentified stains, spills or damage not attended to properly. Coverage is limited to items identified in certificate. Exclusions apply; refer to your protection program certificate for specific coverage information.</p>
		</div>

	</div>

	<div id="Mattress-Protection-Plan">
		<hr class="thickLine"></hr>

		<h1><span class="caps">worrynomore</span><sup>&reg;</sup> 10 Year Mattress Protection Plan</h1>

		<hr class="thickLine"></hr>

		<p>Your mattress is bound to see its share of spills, stains and stress. WORRYNOMORE® Mattress Protection Plan has you covered with two lines of defense against damage: 10 years of professional service and your choice of an exclusive mattress pad!*</p>

		<h2>Why WORRYNOMORE® Protection Program?</h2>

		<p>Protect your investment with the <span class="caps">worrynomore</span><sup>&reg;</sup> Mattress Protection Plan when purchased with your new mattress. Here’s what you’ll get:</p>
		<ul>
			<li>10 years worry-free use of your mattress</li>
			<li>Professional stain removal & mattress repair for covered accidents</li>
			<li>Protection against damage that would otherwise void the manufacturer’s warranty</li>
			<li>Cleaning of the affected area; if either the mattress or mattress pad cannot be cleaned, it will be replaced**</li>
			<li>Access to nationwide professional service & advice with one toll-free number</li>
			<li>Nationwide service technicians so your protection moves with you</li>
			<li>Plan includes one of our exclusive BedGard™ mattress protectors</li>
		</ul>

		<div class="disclaimer">
			<p>**If the mattress is no longer available, replacements will be made with a mattress of equal or lesser value. Plan covers mattress only; box spring is excluded.</p>
		</div>

		<h2>All four mattress protectors feature the same great coverage. All accidental stains including:</h2>
		<ul>
			<li>Household Food and Beverage Stain</li>
			<li>Human Bodily Fluids</li>
			<li>Pet Bodily Fluids</li>
			<li>Facial Cosmetics and Lipstick</li>
			<li>Ballpoint Pen Ink &amp; Pencil Marks</li>
			<li>Candle Wax</li>
			<li>Nail Polish</li>
			<li>Replacement pad when a covered stain won’t come clean</li>
			<li>Replacement pad due to MFG defect</li>
			<li>15 Days From Discovering a Stain to File a Claim</li>
		</ul>  

		<p class="greyDivider">Call 866-593-2540 to sign up for the <span class="caps">worrynomore</span>&reg; Protection Plan</p>
		<div class="responsive-large">
			<div class="two-columns">
				<h2>Supreme Waterproof</h2>
				<ul>
					<li>200 Thread Count, 100% Cotton Cover</li>
					<li>Puff Quilted for Added Comfort</li>
					<li>Expand-A-Grip Construction, Hugs the Mattress</li>
					<li>Waterproof Yet Breathable for Maximum Protection   with Maximum Comfort</li>
					<li>Barrier for Allergens, Dust Mites, Pet Dander, Pollen and Mold</li>
					<li>Available for Use on All 10 Year Warranty Mattresses Excluding Specialty Bedding</li>
					<li>Machine Washable and Machine Dry Cool</li>
					<li>*10 Year Replacement According to Contract Guidelines</li>
					<li>Excludes Perspiration and Accumulation</li>
				</ul>
			</div>
			<div class="two-columns">
				<h2>Perfect Protector</h2>
				<ul>
					<li>Improved Elasticity Reinforced Double Stitching</li>
					<li>Cutting Edge Breathable Polytech Fibers</li>
					<li>Waterproof Yet Breathable for Maximum Protection with Maximum Comfort</li>
					<li>Barrier for Allergens, Dust Mites, Pet Dander, Pollen and Mold</li>
					<li>Available for Use on All 10 Year Warranty Mattresses EXCLUDING Specialty Bedding</li>
					<li>Machine Washable and Machine Dry Cool</li>
					<li>*10 Year Replacement According to Contract Guidelines</li>
					<li>Excludes Perspiration and Accumulation</li>
				</ul>
			</div>
			<div class="two-columns">
				<h2>Total Protector</h2>
				<ul>
					<li>Miracle Membrane Air Vapor Porous</li>
					<li>Certified by an Entomology Laboratory to be Completely Bedbug Proof</li>
					<li>Allerzip 3-Sided Zipper for Easy On/Off of Protector</li>
					<li>Waterproof Yet Breathable for Maximum Protection with Maximum Comfort</li>
					<li>Barrier for Allergens, Dust Mites, Pet Dander, Pollen and Mold</li>
					<li>Available for Use on All 10 Year Warranty Mattresses including Specialty Bedding</li>
					<li>Machine Washable and Machine Dry Cool</li>
					<li>*10 Year Replacement According to Contract Guidelines</li>
				</ul>
			</div>
			<div class="two-columns">
				<h2>Total Protector Kit</h2>
				<ul>
					<li>Total Protector Encasement Which is Waterproof Yet Breathable for Maximum Protection with Maximum Comfort</li>
					<li>Barrier for Allergens, Dust Mites, Bed Bugs, Pet Dander, Pollen and Mold</li>
					<li>Available for Use on All 10 Year Warranty Mattresses including Specialty Bedding</li>
					<li>Machine Washable and Machine Dry Cool</li>
					<li>*10 Year Replacement According to Contract Guidelines</li>
					<li>Box Spring Encasement(s) Pillow Encasements</li>
					<li>Pillows and Box Springs Are Not Eligible for the <span class="caps">worrynomore</span>&reg; Plan</li>
				</ul>
			</div>
		</div>
	</div>

	<button class="desktop_back_to_top"><img class="desktop_back_to_top_img" src="/b/fashion/images/projects/lookbooks/syndeca-projects/desktop_back_to_top.jpg" alt="back to top button"></button>

	<script type="text/javascript" src="/b/fashion/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/b/fashion/javascripts/projects/furniture-mattress-warranty/warranty.js"></script>