<!-- {pageTitle: "Personal Shoppers", pageLabel: "Personal Shoppers &mdash; Shopping Services"} -->
{{{coremetrics 'Personal_Shoppers_(ab-sh-xx-xx.personal)' 'ab-sh-xx-xx'}}}

<div class="row collapse">

    {{>title}}

    <!-- Begin Monetate ExpressTag Async v6.1. Place at start of document head. DO NOT ALTER. -->
    <script type="text/javascript">
    var monetateT = new Date().getTime();
    (function() {
        var p = document.location.protocol;
        if (p == "http:" || p == "https:") {
            var m = document.createElement('script'); m.type = 'text/javascript'; m.async = true; m.src = (p == "https:" ? "https://s" : "http://") + "e.monetate.net/js/2/a-4e80f16c/p/m.bloomingdales.com/custom.js";
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(m, s);
        }
    })();
    </script>
    <!-- End Monetate tag. -->

    <meta name="description" content="Let us put all of Bloomingdale's At Your Service - our knowledgeable personal shoppers will make your shopping experience like no other in the world.">

    <link href="/b/fashion/styles/projects/about-us/shopping/personal-shopper-complimentary-service/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/about-us/shopping/personal-shopper-complimentary-service/main.js"></script>

    <div class="bl_main personal-shoppers-mobile">
        <div id="bl_hp_main">
            <section>
                <img src="/b/fashion/images/projects/about-us/shopping/personal-shopper-complimentary-service/m-header.png" alt="Personal Shopping">
            </section>
            <div class="header-text">
                <p>
                    Friends don't let friends shop alone&mdash;which is why our expert personal shoppers will be your new BFFs (best fashion friends). Appointments with consultants are <b>complimentary</b> and there's <b>no commitment to buy anything</b>&mdash;although we're sure you'll find something you love.
                </p>
                <p>
                    Our in-the-know personal shoppers can help you work the latest trends into your existing wardrobe, find the perfect birthday present for someone special or even update your home. Plus, they can pre-shop the store to pull your items before your appointment&mdash;saving you time and energy.
                </p>
            </div>
            <section class="services-section">
                <h2>SERVICES</h2>

                <div class="service-left">
                    <img src="/b/fashion/images/projects/about-us/shopping/personal-shopper-complimentary-service/service-styling.png" alt=""/>

                    <div>
                        <h3><b>Styling</b></h3>
                        <span>
                            From curating your seasonal wardrobe to choosing furniture and d&eacute;cor for your home, our consultants are ready to answer all of your style questions.
                        </span>
                    </div>
                </div>

                <div class="service-right">
                    <img src="/b/fashion/images/projects/about-us/shopping/personal-shopper-complimentary-service/service-gifiting.png" alt=""/>

                    <div>
                        <h3><b>Gifting</b></h3>
                        <span>
                            Let our personal shoppers help you find the perfect gifts for holidays, birthdays and anniversaries. They'll even remind you of important dates so you never forget an upcoming occasion.
                        </span>
                    </div>
                </div>

                <div class="service-left">
                    <img src="/b/fashion/images/projects/about-us/shopping/personal-shopper-complimentary-service/service-alterations.png" alt=""/>

                    <div>
                        <h3><b>Alterations*</b></h3>
                        <span>
                            Need tailoring? Our consultants can arrange in-store appointments for items purchased at our store.
                        </span>
                    </div>
                </div>

                <div class="service-right">
                    <img src="/b/fashion/images/projects/about-us/shopping/personal-shopper-complimentary-service/service-delivery.png" alt=""/>

                    <div>
                        <h3><b>Delivery*</b></h3>
                        <span>
                            If you need same-day, overnight or international shipping for your purchase, our personal shoppers can arrange your delivery, hassle-free.
                        </span>
                    </div>
                </div>

                <div class="service-left">
                    <img src="/b/fashion/images/projects/about-us/shopping/personal-shopper-complimentary-service/service-arrangements.png" alt=""/>

                    <div>
                        <h3><b>Special Arrangements*</b></h3>
                        <span>
                            At your request, our consultants can order refreshments for your appointment, organize birthday celebrations and more. They can also implement special protocol and security details for foreign dignitaries.
                        </span>
                    </div>
                </div>

                <h5>
                    * These services are not complimentary and additional fees may apply. Ask your consultant for specific pricing information.
                </h5>

            </section>

            <section class="footer-banner-section">
                <img src="/b/fashion/images/projects/about-us/shopping/personal-shopper-complimentary-service/m-footer.png" alt="Book an Appointment">
                <h2>BOOK AN APPOINTMENT</h2>
                <span>
                    To schedule an appointment with a personal shopper, call 800-431-9644 or reach out to your store's personal shopping department directly. See the list below for available stores and contact information.
                </span>
            </section>

            <section class="footer-contacts-section">

                <div class="row contact-space">
                    <div class="column small-12">
                        <h2>NEW YORK</h2>

                        <div class="row contact-space">
                            <span class="row">
                                59<sup>TH</sup> STREET
                            </span>
                            <div class="column small-12">
                                <div class="row">
                                    For Her
                                </div>
                                <div class="row">
                                    For Him
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    212 705 3135
                                </div>
                                <div class="row">
                                    212 705 3030
                                </div>
                            </div>
                        </div>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    WHITE PLAINS
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    914 684 6252
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-12">
                                <div class="row">
                                    ROOSEVELT FIELD
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    516 873 2892
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column small-12">
                        <h2>ILLINOIS</h2>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    MEDINAH
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    312 324 7633
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-12">
                                <div class="row">
                                    NORTH MICHIGAN AVENUE
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    312 440 4887
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row contact-space">
                    <div class="column small-12">
                        <h2>MASSACHUSETTS</h2>

                        <div class="row contact-detail-space">
                            <div class="column small-12">
                                <div class="row">
                                    CHESTNUT HILL
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    <div class="extension"> 
                                        617 630 6707 ext. 6757
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="column small-12">
                        <h2>FLORIDA</h2>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    PALM BEACH GARDENS
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    561 625 2001
                                </div>
                            </div>
                        </div>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    BOCA RATON
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    561 394 2052
                                </div>
                            </div>
                        </div>
                        
                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    AVENTURA
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    305 792 1164
                                </div>
                            </div>
                        </div>
                        
                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    ORLANDO
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    407 264 2511
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row contact-space">
                    <div class="column small-12">
                        <h2>NEW JERSEY</h2>

                        <div class="row contact-detail-space">
                            <div class="column small-12">
                                <div class="row">
                                    THE SHOPS AT RIVERSIDE
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    <div class="extension"> 
                                        201 457 2040 ext. 2139
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row contact-detail-space">
                            <div class="column small-12">
                                <div class="row">
                                    SHORT HILLS
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    973 548 2424
                                </div>
                            </div>
                        </div>

                        <div class="row contact-detail-space">
                            <div class="column small-12">
                                <div class="row">
                                    BRIDGEWATER
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    908 762 2585
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="column small-12">
                        <h2>CALIFORNIA</h2>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    CENTURY CITY
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    310 772 7182
                                </div>
                            </div>
                        </div>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    SHERMAN OAKS
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    818 325 2414
                                </div>
                            </div>
                        </div>
                        
                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    SOUTH COAST PLAZA
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    949 729 6624
                                </div>
                            </div>
                        </div>
                        
                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    NEWPORT FASHION ISLAND
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    949 531 0034
                                </div>
                            </div>
                        </div>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    SAN FRANCISCO
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    415 856 5538
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row contact-space">
                    <div class="column small-12">
                        <h2>PENNSYLVANIA</h2>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    KING OF PRUSSIA
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    610 337 6382
                                </div>
                            </div>
                        </div>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    WILLOW GROVE
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    215 706 3490
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column small-12">
                        <h2>VIRGINIA</h2>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    TYSONS CORNER
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    703 556 4599
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row contact-space">
                    
                    <div class="column small-12">
                        <h2>GEORGIA</h2>

                        <div class="row contact-space">
                            <div class="column small-12">
                                <div class="row">
                                    LENOX SQUARE
                                </div>
                            </div>

                            <div class="column small-10">
                                <div class="row">
                                    <div class="extension"> 
                                        404 495 2744 ext. 2782
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>