<!-- {pageTitle: "Help USA", pageLabel:"Bloomingdale's Partners with Help USA & Mentoring USA"} -->
{{{coremetrics 'lp-xx-xx-xx.mentoringusa' 'lp-xx-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Bloomingdale's works with the Help USA mentoring program. Bloomingdale's volunteers encourage, tutor and befriend young children in our communities. Come see what you can do."}-->
<!--headCanonical={"href":"/about-us/help-usa-b-cause-philanthropy"}-->
<div class="about_us">
    {{>title}}
    <link href="/fashion/styles/projects/about-us/help-usa-b-cause-philanthropy/styles.css" rel="stylesheet" type="text/css" />
    <script src="/fashion/javascripts/projects/about-us/b-cause/main.js"></script>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <article class="b-cause-main">
                                <section class="row b-cause-body">
                                    <div class="small-24 columns">
                                        <div class="row">
                                            <div class="small-24 medium-13 columns">
                                                <h1>Working to improve lives since 1998</h1>
                                                <section>
                                                    <h2>HOW BLOOMINGDALE'S WORKS WITH MENTORING USA AND HELP USA</h2>
                                                    <p>HELP USA is a national housing and homeless services organization dedicated to the premise that all people deserve safe, stable housing. Mentoring USA, an affiliate of HELP USA, is a New York City–based nonprofit providing structured, site-based mentoring to children ages 7–21.</p>
                                                    <p>Bloomingdale's has been a proud partner of both HELP USA and Mentoring USA since 1998, supporting each organization through fundraising activities, employee volunteerism and direct donations. Bloomingdale's employees are active in the donating of goods and providing of volunteer services to HELP USA, including Hurricane Sandy relief efforts in 2012. Since partnering with Mentoring USA, Bloomingdale's mentors have volunteered their time to serve over 1,000 children nationally and we remain Mentoring USA's largest corporate partner. Together we highlight the Bloomingdale's belief that all children deserve an equal chance at success.</p>
                                                </section>
                                                <section>
                                                    <blockquote>
                                                        <p>We are deeply grateful for Bloomingdale's continued commitment to investing in America's greatest resource—its children.</p>
                                                        <cite>Maria Cuomo Cole<br>Chairman, HELP USA</cite>
                                                    </blockquote>
                                                </section>
                                            </div>
                                            <div class="small-24 medium-11 columns">
                                                <img src="/fashion/images/projects/about-us/help-usa-b-cause-philanthropy/logo.png" class="img-expand b-cause-logo" alt="Help USA and Mentoring USA">
                                                <img src="/fashion/images/projects/about-us/help-usa-b-cause-philanthropy/photo-2.jpg" class="img-expand" alt="Bloomingdale's – Help USA & Mentoring USA">
                                                <h3>HELP USA & MENTORING USA MISSION STATEMENTS</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-24 medium-11 medium-push-13 columns">
                                                <article>
                                                    <p>HELP USA’s mission is to provide housing and the supportive services necessary for the homeless and people in need to become and remain self-reliant.</p>
                                                    <p>Mentoring USA’s mission is to create sustained and supportive mentor relationships for children ages 7–21 in need. The program matches youth across the country with inspirational adult mentors who can guide them in developing better self-esteem, creating healthy relationships and making positive life choices.</p>
                                                    <p>For more information, visit <a href="http://www.helpusa.org" class="b-cause-link helpusa-link" data-link-name="helpusa">helpusa.org</a> and <a href="http://www.mentoringusa.org" class="b-cause-link helpusa-link" data-link-name="mentoringusa">mentoringusa.org</a></p>
                                                </article>
                                            </div>
                                            <div class="small-24 medium-13 medium-pull-11 columns">
                                                <img src="/fashion/images/projects/about-us/help-usa-b-cause-philanthropy/photo-1.jpg" class="img-expand" alt="Bloomingdale's – Help USA & Mentoring USA Mission">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                {{> bcausefooter}}
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
