<!-- {pageTitle: "Help USA", pageLabel:"Help USA &mdash; b.cause Philanthropy &mdash; About Us | Bloomingdale's"} -->
{{{coremetrics '(lp-xx-xx-xx.mentoringusa)' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">{{>leftnav}}</div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="lp_philanthropy">
                                <div class="bcause_img">
                                    <a href="http://www.helpusa.org?cm_mmc=Philanthropy-_-Help_website-_-Landing%20Page-_-Philanthropy_microsite"
                                       target="_blank" >
                                        <div style="position:absolute; width:42%; height: 24%; top:67%; left:55%; z-index: 1234;"></div>
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/bcause_2_HELPUSA.jpg"
                                         border="0"
                                         class="displayBlock img_shim">
                                    <a href="http://www.bloomingdales.com/store/index.ognc?cm_mmc=Philanthropy-_-In%20your%20city-_-Landing%20Page-_-Philanthropy_microsite">
                                        <div style="position:absolute; width:41%; height: 11%; top:91%; left:0%; z-index: 1234;"></div>
                                    </a>
                                    <a href="http://federated-fds.com/diversitymanagement/?cm_mmc=Philanthropy-_-Diversity-_-Landing%20Page-_-Philanthropy_microsite"
                                       target="_blank" >
                                        <div style="position:absolute; width:31%; height: 11%; top:91%; left:54%; z-index: 1234;"></div>
                                    </a>
                                    <img src="http://assets.bloomingdales.com/img/landingpages/bcause_0_footer.jpg" border="0" class="displayBlock">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




