<!-- {pageTitle: "amfAR", pageLabel: "Bloomingdale’s Partners with amfAR to Help End HIV/AIDS"} -->
<script type="text/javascript">
    function applyElementTagCM() {
        var exploreAttribute = new BLOOMIES.coremetrics.exploreAttributes({2: "lp-xx-xx-xx.amfar"});
        BLOOMIES.coremetrics.cmCreatePageElementTag("amfar", "b_cause_links", exploreAttribute.toString());
    }
    window.onload = applyElementTagCM;
</script>
{{{coremetrics 'lp-xx-xx-xx.amfar' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <meta name="description" content="Bloomingdale's is partnering with amfAR to help increase HIV/AIDS awareness. Learn more about amfAR and Bloomingdales.">
    <link href="/fashion/styles/projects/about-us/amfar-b-cause-philanthropy/styles.css" rel="stylesheet" type="text/css" />
    <script src="/fashion/javascripts/projects/about-us/b-cause/main.js"></script>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <article class="b-cause-main">
                                <section class="row b-cause-header">
                                    <div class="small-8 small-centered medium-11 medium-push-13 medium-uncentered columns">
                                        <img src="/fashion/images/projects/about-us/amfar-b-cause-philanthropy/logo.jpg" class="b-cause-logo" alt="amfAR making aids history">
                                    </div>
                                    <div class="small-24 medium-13 medium-pull-11 columns no-left-padding">
                                        <h1>How do you end an epidemic? Research, research, research.</h1>
                                    </div>
                                </section>
                                <section class="row b-cause-body">
                                    <div class="small-24 columns no-left-padding">
                                        <div class="row">
                                            <div class="small-24  medium-push-13 medium-11 columns">
                                                <img src="/fashion/images/projects/about-us/amfar-b-cause-philanthropy/photo-1.jpg" class="img-expand" alt="Bloomingdale’s Partners With amfAR – The Foundation for AIDS Research">
                                            </div>
                                            <div class="small-24 medium-pull-11 medium-13 columns no-left-padding">
                                                <h2>PARTNERING WITH AMFAR TO HELP END<br /> THE HIV/AIDS EPIDEMIC:</h2>
                                                <p>amfAR has been at the forefront of HIV/AIDS research since the earliest days of the epidemic. We’re proud to partner with this organization to help increase awareness and raise much-needed research funds through our nationwide Fashionable Fundraiser events.</p>
                                            </div>
                                            <div class="small-24 medium-pull-11 medium-13 columns">
                                                <blockquote>
                                                    <p>We are grateful to all of our friends at Bloomingdale's for their continued commitment to help us in our quest to make AIDS history.</p>
                                                    <cite>Kenneth Cole<br>amfAR Chairman</cite>
                                                </blockquote>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-24 medium-13 columns no-left-padding">
                                                <img src="/fashion/images/projects/about-us/amfar-b-cause-philanthropy/photo-2.jpg" class="img-expand photo-2" alt="Bloomingdale’s Raises HIV/AIDS Awareness with amfAR">
                                            </div>
                                            <div class="small-24 medium-11 columns">
                                                <article>
                                                    <h3>amfAR MISSION:</h3>
                                                    <p>Founded in 1985, amfAR is dedicated to <strong>ending</strong> the global AIDS epidemic through innovative research. With the freedom and flexibility to respond quickly to emerging ideas of scientific promise, amfAR plays a catalytic role in accelerating the pace of HIV/AIDS research and achieving real breakthroughs.</p>
                                                    <p>Since its inception, amfAR has invested <strong>$450 million</strong> in its programs and has awarded more than <strong>3,300 grants</strong> to research teams worldwide. Through its $100 million Countdown to a Cure for AIDS initiative, amfAR aims to develop the scientific basis for a cure by 2020.</p>
                                                    <p>For more information, visit <a href="http://www.amfar.org/?cm_mmc=Philanthropy-_-Amfar_website-_-Landing%20Page-_-Philanthropy_microsite" class="b-cause-link childmind-link">amfar.org</a></p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- This is an individual case where common footer will not be used -->
                                <section class="row b-cause-footer">
                                    <div class="small-24 medium-13 columns">
                                        <h4>in your city</h4>
                                        <p>Discover the charitable events and more that are happening at your local Bloomingdale's. <a href="http://locations.bloomingdales.com/store-locator" class="b-cause-link">Learn more</a></p>
                                    </div>
                                    <div class="small-24 medium-11 columns">
                                        <h4>DIVERSITY & INCLUSION</h4>
                                        <p>Bloomingdale's encourages a culture of varied experiences and perspectives. <a href="http://fashion.bloomingdales.com/about-us/diversity-inclusion/" class="b-cause-link">Learn more</a></p>
                                    </div>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




