header
  #zeroNav.seasonal.tablet
    #innerZeroNav.row
      #seasonalActionPoolWrapper.large-9.small-9.columns
        #seasonalActionPool
          #seasonalActionOn.hide
            img.displayBlock(src='http://2.resources.bloomingdales.com.edgekey.net/a/a/P02LeBcC0.webp', alt='', width='294', height='28')
          #seasonalActionOff
            img.displayBlock(src='http://2.resources.bloomingdales.com.edgekey.net/a/a/P02LeBcC0.webp', alt='', width='294', height='28')
      ul.large-15.small-15.columns
        li
          a#href_StoresEvents(href='http://www1.bloomingdales.com/store/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-STORES_EVENTS-n-n') STORES & EVENTS
        li  | 
        li#bl_nav_account_flag
          span#iShip_flag
            a(href='http://www1.bloomingdales.com/internationalContext/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-INTERNATIONAL_SHOPPING-n-n')
              img#headerCountryFlag(src='http://2.resources.bloomingdales.com.edgekey.net/5/K/NgYGOi2aI.webp')
          a(href='http://www1.bloomingdales.com/internationalContext/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-INTERNATIONAL_SHOPPING-n-n')
            span USD
        li  | 
        li#bl_nav_acctLi
          a#bl_nav_myAcct(href='https://www.bloomingdales.com/account/myaccount?cm_sp=NAVIGATION-_-TOP_NAV-_-MY_ACCOUNT-n-n') MY ACCOUNT
          #signOutBody(style='display:none')
            img.pointerImg(src='http://2.resources.bloomingdales.com.edgekey.net/N/j/UE9ITL_Wk.webp')
            a(href='https://www.bloomingdales.com/signin/signout.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-SIGN_IN-n-n') Sign Out
        li  | 
        li
          a#href_wishList(href='https://www.bloomingdales.com/wishlist/mylist?cm_sp=NAVIGATION-_-TOP_NAV-_-WISH_LIST-n-n') WISH LIST
        li  | 
        li#qb_headerItemContainer
          #qb_showBagItems.yui-skin-sam
            a#qb_addToBagOverlayLabel.qb_closedOverlayLabel(href='http://www1.bloomingdales.com/bag/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-BAG-n-n')
              span#qb_userName
                | MY
              | BROWN BAG:
              span#brownBagItemsTotal
                | (
                | 2 )
        li.topNavBag.proper_nav_sprite
          a(href='http://www1.bloomingdales.com/bag/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-BAG-n-n')
            img#myShoppingBag(src='http://assets.bloomingdales.com/navapp/img/spacer.gif')
      .clearBoth
  #aboveNav.row
    .small-24.large-24.medium-24.columns
      .bloomiesLogo.proper_nav_sprite
        a(href='http://www1.bloomingdales.com/index?cm_sp=NAVIGATION-_-TOP_NAV-_-TOP_BLOOMIES_ICON')
          img#bloomiesLogo(src='http://assets.bloomingdales.com/navapp/img/spacer.gif', alt='Bloomingdale"s')
      .aboveNavRight
        #aboveNavBanner
          a(href='javascript:pop("/popup.ognc?popupID=539691","myDynaPop","scrollbars,width=575,height=600")')
            img.displayBlock(src='http://assets.bloomingdales.com/navapp/dyn_img/homepage_pools/1103-HP_header_T.gif', alt='', width='334', height='15')
        .aboveNavSearch
          form#keywordSearch(method='get', action='http://www1.bloomingdales.com/shop/search')
            .aboveNavSearchInput
              input.aboveNavSearchBox.ui-autocomplete-input(type='text', name='keyword', value='', title='Keyword Search', placeholder='Enter Keyword or Web ID', maxlength='72', autocomplete='off')
            input#subnavSearchSubmit.searchIcon.proper_nav_sprite(type='image', src='http://assets.bloomingdales.com/navapp/img/spacer.gif', alt='')
          .clearBoth
      .clearBoth
  nav#nav
    .row
    #globalFlyouts