extends layout

title=test

block content
	div.content
		div.leftnav.large-5.iblk
			ul.group
				div.header Internal
				li <a href="./">Home</a>
				li <a href="./app-index/">More Info</a>
				div.header External
				li <a href="http://www.bloomingdales.com/shop/tabletop-builder/set-your-table">Tabletop</a>
		div.large-18.push-1.iblk
				div.large-5.center.iblk
					h2 Code
					img(src="images/html5.png")
				div.large-5.push-1.center.iblk
					h2 Commit
					img(src="images/git-deploy.png" style="margin-top: 10px;")					
				div.large-5.push-2.center.iblk
					h2 Build
					img(src="images/nodejs.png")
				div.large-5.push-3.center.iblk
					h2 Deploy
					img(src="images/heroku_logo.png")
		div#overlay.hidden.pA
			div.close.pA x
		div#overlayShield.pA
		script.
			var cmCookieValue = '';
			document.write('<script src="' + '//www3.bloomingdales.com/cookie-id.js?fn=cmGetCookie" type="text/javascript"><\/script>');
			function cmGetCookie(value) {cmCookieValue = value;}