doctype html
html
	head
		- var title = title || "Bloomingdales.com"
		title #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src='/javascripts/base.js')
		script(src='/javascripts/global.js')
		script(src='/javascripts/test.js')

		script(src='http://assets.bloomingdales.com/javascript/standard_2.js')
		script(src='http://assets.bloomingdales.com/javascript/cookieJar.js')
		script(src='http://assets.bloomingdales.com/web20/assets/script/bloomies/base/userObject.js')

		script(src='http://assets.bloomingdales.com/web20/assets/script/modernizr/modernizr-2.6.2-min.js')
		script(src='http://assets.bloomingdales.com/web20/assets/script/bloomies/specialProjects/common/lookbooks.js')
		script(src='http://assets.bloomingdales.com/web20/assets/script/bloomies/specialProjects/common/jquery.lookbooksv1.js')
		script(src='http://assets.bloomingdales.com/javascript/eluminate.js')
		script(src='http://assets.bloomingdales.com/javascript/cmcustom.js')
		script(src='http://assets.bloomingdales.com/web20/assets/script/bloomies/base/cmFunctions.js')
		
		script(src='/javascripts/fashion-index/hammer.min.js')
		script(src='/javascripts/fashion-index/premium-shoes-handbags-spring-collections-2015.js')
		script(src='/javascripts/fashion-index/template_base.js')
		
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/base_layout.css')
		link(rel='stylesheet', href='/stylesheets/custom_fonts.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/mobile_styles.css')

		link(rel='stylesheet', href='/stylesheets/fashion-index/template_base.css')
		link(rel='stylesheet', href='/stylesheets/fashion-index/premium-shoes-handbags-spring-collections-2015.css')

		
	body
		block head
			include head				
		block content
		block foot
			include foot