extends ../../../layout


block content
	include ../../../includes/gps_events
	div.content
		h1 GPS Events Proof of Concept
		
		.gpsEvents
			//- .button
				span Find Location
			.errorlog
			.result
