// ======================================
// ChildMind redesign
// Author: Alessandro Ribeiro
// Date: 10/25/2016
// Project: /about-us/child-mind-institute-b-cause-philanthropy/
// ======================================

@import "../b-cause/styles";

.b-cause-main {
    h1 {
        color: #08c5d9;
    }

    p {
        margin-bottom: 1em;
    }

    .b-cause-body {
        h1 {
            margin: 25px 30px;
        }

        h2 {
            margin-right: 140px;
        }

        h3 {
            background-color: #08c5d9;
            margin-bottom: 5px;
        }

        .b-cause-logo {
            display: block;
            margin: 15px auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .b-cause-main {
        .b-cause-body {
            h1 {
                margin: 25px 140px 25px 0;
            }

            .b-cause-logo {
                display: inline;
                margin: 15px 0;
            }
        }
    }
}