
$light-gray: #cdcdcd;

.bcom-collapsible-nav {
  width: 100%;

  // Direct children should keep their borders
  & > li > div,
  & > li.active > div {
    border-bottom: 1px solid $light-gray;
  }

  &,
  ul,
  li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &,
  li,
  li a {
    display: block;
  }

  ul {
    display: none;
  }

  ul,
  li {
    clear: both;
  }

  a {
    border-radius: 0;
  }

  li {
    border-bottom: 1px solid $light-gray;
  }

  li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 14px;
  }

  li a span {
    display: inline-block;
  }

  li.togglable {
    > div > a {
      display: inline-block;
    }
    > div > a:first-child {
      width: 80%;
    }
    > div > a:first-child + a {
      float: right;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      font-weight: bold;
      padding: 20px 14px;
      max-width: 50px;
      width: 20%;
    }
    > div > a:first-child + a::after {
      content: "+";
    }
    &.active > div > a:first-child + a::after {
      content: "\2013"; // unicode decimal for em dash (same as &mdash;)
    }
  }

  li.togglable.active {
    > div + ul {
      display: block;

      > li ul li {
        border-bottom: 1px solid transparent;
      }
    }
  }

  > li.togglable.active:last-child {
    border-bottom: 1px solid transparent;
  }

}
