<!-- {pageTitle:"BCRF", pageLabel:"BCRF &mdash; b.cause Philanthropy &mdash; About Us | Bloomingdale's"} -->
{{{coremetrics '(lp-xx-xx-xx.bcrf)' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">{{>leftnav}}</div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="lp_philanthropy">
                                <div class="bcause_img">
                                    <a href="http://www.bcrfcure.org?cm_mmc=Philanthropy-_-BCRF_website-_-Landing%20Page-_-Philanthropy_microsite"
                                       target="_blank" >
                                        <div style="position:absolute; width:46%; height: 19%; top:72%; left:54%; z-index: 1234;"></div>
                                    </a>
                                    <img src="/b/fashion/images/projects/about-us/other/bcause_2_BCRF.jpg"
                                         border="0" class="displayBlock">
                                    <a href="http://locations.bloomingdales.com/store-locator">
                                        <div style="position:absolute; width:31%; height: 11%; top:91%; left:0%; z-index: 1234;"></div>
                                    </a>
                                    <a href="http://federated-fds.com/diversitymanagement/?cm_mmc=Philanthropy-_-Diversity-_-Landing%20Page-_-Philanthropy_microsite"
                                       target="_blank" >
                                        <div style="position:absolute; width:31%; height: 11%; top:91%; left:54%; z-index: 1234;"></div>
                                    </a>
                                    <img src="http://assets.bloomingdales.com/img/landingpages/bcause_0_footer.jpg" border="0" class="displayBlock">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>




