<!-- {pageTitle: "Book an Appointment", pageLabel: "Bloomingdale's In-Store Services - Schedule an Appointment Today"} -->

<meta name="description" content="Make shopping a breeze with Bloomingdale's in-store services. Book an appointment with our beauty, jewelry and registry experts today!">

<div class="row collapse">

    {{>title}}

    <link href="/b/fashion/styles/projects/about-us/appointment-scheduling-in-store-services/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/about-us/appointment-scheduling-in-store-services/main.js"></script>

    <div class="bl_main">
        <div id="bl_hp_main">

        <div class="book-an-appointment-mobile">
                <section class="row">

                    <h1>BOOK AN APPOINTMENT</h1>
                    <hr>

                    <div class="row schedule">

                        <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/schedule.png" alt=""/>

                        <h2 class="row">BOOK YOUR APPOINTMENT NOW!</h2>
                        <p class="row">
                            You can now schedule in-store appointments for select Bloomingdale’s locations online. Choose from the categories below to get started.
                        </p>

                    </div>

                </section>

                <section class="row book-section" id="beauty">

                    <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/m_Beauty.jpg" alt=""/>

                    <div class="row book-section-text">

                        <h2>BEAUTY</h2>
                        <p>
                            Learn how to recreate the latest looks, get glam for a special event or discover the perfect products for your complexion.
                        </p>

                        <input type="submit" class="button" value="BOOK AN APPOINTMENT" data-cm-link="Beauty">

                    </div>
                    
                </section>

                <section class="row book-section" id="fine_jewelry">

                    <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/m_Fine_Jewelry.jpg" alt=""/>

                    <div class="row book-section-text">

                        <h2>FINE JEWELRY</h2>
                        <p>
                            In addition to helping you choose an exquisite piece of jewelry, our expert consultants can assist you in ordering additional sizes, jewelry and watch repair, or learning about the 4Cs.
                        </p>

                        <input type="submit" class="button" value="BOOK AN APPOINTMENT" data-cm-link="Fine_Jewelry">

                    </div>
                    
                </section>

                <section class="row book-section" id="shopping_services">

                    <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/m_Shopping_Services.jpg" alt=""/>

                    <div class="row book-section-text">

                        <h2>SHOPPING SERVICES</h2>
                        <p>
                            Let our Personal Shoppers and Style Advisors help you with all of your shopping needs—from full wardrobe refreshes to the perfect special occasion look.
                        </p>

                        <input type="submit" class="button" value="BOOK AN APPOINTMENT" data-cm-link="Shopping_Services">

                    </div>
                    
                </section>

                <section class="row book-section" id="the_registry">

                    <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/m_The_Registry.jpg" alt=""/>

                    <div class="row book-section-text">

                        <h2>THE REGISTRY</h2>
                        <p>
                            Whether starting a new registry or need help with a return or exchange, our Registry Consultants can help you with everything you need for the big day and beyond.
                        </p>

                        <input type="submit" class="button" value="BOOK AN APPOINTMENT" data-cm-link="The_Registry">

                    </div>
                    
                </section>
               
            </div>

        </div>
    </div>
</div>



