<!-- {pageTitle: "Book an Appointment", pageLabel: "Bloomingdale's In-Store Services - Schedule an Appointment Today"} -->

<meta name="description" content="Make shopping a breeze with Bloomingdale's in-store services. Book an appointment with our beauty, jewelry and registry experts today!">
<div class="row collapse">

    {{>title}}

    <link href="/b/fashion/styles/projects/about-us/appointment-scheduling-in-store-services/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/about-us/appointment-scheduling-in-store-services/main.js"></script>

    <div class="small-5 large-5 collapse">
        <div class="about_us bl_nav_side">
            <!--BEGIN LOCAL NAVIGATION-->
            <div class="gn_left_nav_container">
                <div id="bl_leftNavContainer">
                    {{>leftnav}}
                </div>
            </div>
            <!--END LOCAL NAVIGATION-->
        </div>
    </div>

    <div class="bl_main small-19 large-19 columns">
        <div id="bl_hp_main">

            <div class="book-an-appointment">
                <section class="row">

                    <h1>BOOK AN APPOINTMENT</h1>
                    <hr>

                    <div class="row schedule">

                        <div class="column schedule-image small-7">

                            <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/schedule.png" alt=""/>

                        </div>

                        <div class="column schedule-text small-20">

                            <h2>BOOK YOUR APPOINTMENT NOW!</h2>
                            <span>
                                You can now schedule in-store appointments for select Bloomingdale’s locations online. Choose from the categories below to get started.
                            </span>

                        </div>

                    </div>

                </section>

                <section class="row book-section">

                    <div class="row book-section-text">

                        <h2>BEAUTY</h2>
                        <p>
                            Learn how to recreate the latest looks, get glam for a special event or discover the perfect products for your complexion.
                        </p>

                        <input type="submit" class="button" value="BOOK AN APPOINTMENT" data-cm-link="Beauty">

                    </div>

                    <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/d_Beauty.jpg" alt=""/>
                    
                </section>

                <section class="row book-section">

                    <div class="row book-section-text">

                        <h2>FINE JEWELRY</h2>
                        <p>
                            In addition to helping you choose an exquisite piece of jewelry, our expert consultants can assist you in ordering additional sizes, jewelry and watch repair, or learning about the 4Cs.
                        </p>

                        <input type="submit" class="button" value="BOOK AN APPOINTMENT" data-cm-link="Fine_Jewelry">

                    </div>

                    <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/d_Fine_Jewelry.jpg" alt=""/>
                    
                </section>

                <section class="row book-section">

                    <div class="row book-section-text">

                        <h2>SHOPPING SERVICES</h2>
                        <p>
                            Let our Personal Shoppers and Style Advisors help you with all of your shopping needs—from full wardrobe refreshes to the perfect special occasion look.
                        </p>

                        <input type="submit" class="button" value="BOOK AN APPOINTMENT" data-cm-link="Shopping_Services">

                    </div>

                    <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/d_Shopping_Services.jpg" alt=""/>
                    
                </section>

                <section class="row book-section">

                    <div class="row book-section-text">

                        <h2>THE REGISTRY</h2>
                        <p>
                            Whether starting a new registry or need help with a return or exchange, our Registry Consultants can help you with everything you need for the big day and beyond.
                        </p>

                        <input type="submit" class="button" value="BOOK AN APPOINTMENT" data-cm-link="The_Registry">

                    </div>

                    <img src="/b/fashion/images/projects/about-us/appointment-scheduling-in-store-services/d_The_Registry.jpg" alt=""/>
                    
                </section>
               
            </div>
        </div>
    </div>
</div>