<header> 
  <div id="zeroNav" class="seasonal tablet">
    <div id="innerZeroNav" class="row">
      <div id="seasonalActionPoolWrapper" class="large-9 small-9 columns">
        <div id="seasonalActionPool">
          <div id="seasonalActionOn" class="hide"><img src="http://2.resources.bloomingdales.com.edgekey.net/a/a/P02LeBcC0.webp" alt="" width="294" height="28" class="displayBlock"/></div>
          <div id="seasonalActionOff"><img src="http://2.resources.bloomingdales.com.edgekey.net/a/a/P02LeBcC0.webp" alt="" width="294" height="28" class="displayNone"/></div>
        </div>
      </div>
      <ul class="large-15 small-15 columns">
        <li><a id="href_StoresEvents" href="http://www1.bloomingdales.com/store/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-STORES_EVENTS-n-n">STORES & EVENTS</a></li>
        <li> | </li>
        <li id="bl_nav_account_flag"><span id="iShip_flag"><a href="http://www1.bloomingdales.com/internationalContext/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-INTERNATIONAL_SHOPPING-n-n"><img id="headerCountryFlag" src="http://assets.bloomingdales.com/web20/assets/img/internationalShipping/hfrFlags/US.gif"/></a></span><a href="http://www1.bloomingdales.com/internationalContext/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-INTERNATIONAL_SHOPPING-n-n"><span>USD</span></a></li>
        <li> | </li>
        <li id="bl_nav_acctLi"><a id="bl_nav_myAcct" href="https://www.bloomingdales.com/account/myaccount?cm_sp=NAVIGATION-_-TOP_NAV-_-MY_ACCOUNT-n-n">MY ACCOUNT</a>
          <div id="signOutBody" style="display:none"><img src="http://2.resources.bloomingdales.com.edgekey.net/N/j/UE9ITL_Wk.webp" class="pointerImg"/><a href="https://www.bloomingdales.com/signin/signout.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-SIGN_IN-n-n">Sign Out</a></div>
        </li>
        <li> | </li>
        <li><a id="href_wishList" href="https://www.bloomingdales.com/wishlist/mylist?cm_sp=NAVIGATION-_-TOP_NAV-_-WISH_LIST-n-n">WISH LIST</a></li>
        <li> | </li>
        <li class="qb_headerItemContainer"><a id="qb_addToBagOverlayLabel" href="${baseUrl}/bag/index.ognc?cm_sp=${cmTopNavParam}-_-TOP_NAV-_-BAG-n-n" class="qb_closedOverlayLabel"></a><span id="qb_userName">
            <script type="text/javascript">if (typeof(thisUser) !== "undefined") { thisUser.writeWelcome(); }</script> BROWN BAG: </span><span id="brownBagItemsTotal">(
            <script type="text/javascript">if (typeof(thisUser) !== "undefined") { thisUser.writeCartItems(); }</script>)</span></li>
        <li class="topNavBag proper_nav_sprite"><a href="http://www1.bloomingdales.com/bag/index.ognc?cm_sp=NAVIGATION-_-TOP_NAV-_-BAG-n-n"><img id="myShoppingBag" src="http://assets.bloomingdales.com/img/spacer.gif"/></a></li>
      </ul>
      <div class="clearBoth"></div>
    </div>
  </div>
  <div id="aboveNav" class="row">
    <div class="small-24 large-24 medium-24 columns">
      <div class="bloomiesLogo proper_nav_sprite"><a href="http://www1.bloomingdales.com/index?cm_sp=NAVIGATION-_-TOP_NAV-_-TOP_BLOOMIES_ICON"><img id="bloomiesLogo" src="http://assets.bloomingdales.com/img/spacer.gif" alt="Bloomingdale&quot;s"/></a></div>
      <div class="aboveNavRight">
        <div id="aboveNavBanner"><a href="javascript:pop(&quot;http://www1.bloomingdales.com/popup.ognc?popupID=525128&amp;cm_sp=hp-_-header_footer-_-loyallist_freeship_exclusions&quot;,&quot;myDynaPop&quot;,&quot;scrollbars,width=575,height=600&quot;)"><img src="http://assets.bloomingdales.com/dyn_img/homepage_pools/0221_header.gif" alt="" width="334" height="15" class="displayBlock"/></a></div>
        <div class="aboveNavSearch">
          <form id="keywordSearch" method="get" action="http://www1.bloomingdales.com/shop/search">
            <div class="aboveNavSearchInput">
              <input type="text" name="keyword" value="" title="Keyword Search" placeholder="Enter Keyword or Web ID" maxlength="72" autocomplete="off" class="aboveNavSearchBox ui-autocomplete-input"/>
            </div>
            <input id="subnavSearchSubmit" type="image" src="http://assets.bloomingdales.com/img/spacer.gif" alt="" class="searchIcon proper_nav_sprite"/>
          </form>
          <div class="clearBoth"></div>
        </div>
      </div>
      <div class="clearBoth"></div>
    </div>
  </div>
  <nav id="nav">
    <div class="row"></div>
    <div id="globalFlyouts"></div>
  </nav>
</header>