@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);
@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-o-keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-moz-keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.util-hide {
  display: none !important; }

.util-underline:hover {
  border-bottom: 3px solid currentColor; }

.lookbook-wrapper {
  font-family: 'Nunito', sans-serif; }

.lookbook-page {
  float: none;
  margin: 0 auto; }

#qa-auto-look-book .lookbook-page {
  width: 101% !important; }

.lookbook-page.current-page {
  z-index: inherit; }

.layout-mobile {
  display: none; }

.hero-wrapper {
  -webkit-animation: slideIn 1s cubic-bezier(1, 0.01, 1, -0.63);
  -o-animation: slideIn 1s cubic-bezier(1, 0.01, 1, -0.63);
  animation: slideIn 1s cubic-bezier(1, 0.01, 1, -0.63);
  background-color: #fff;
  margin: 0 auto;
  position: absolute;
  top: 17%;
  width: 100%; }

.hero-copy,
.lookbook-pagination {
  opacity: 0; }

.hero-copy.is-visible,
.lookbook-pagination.is-visible {
  -webkit-transition: opacity 1s linear 1s;
  -o-transition: opacity 1s linear 1s;
  transition: opacity 1s linear 1s;
  opacity: 1; }

.sticky-wrapper {
  position: absolute;
  height: 50px;
  left: calc(50% - 114px);
  top: 70%; }

.lookbook-pagination {
  background-color: rgba(255, 255, 255, 0.85);
  border: 3px solid black;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 700;
  height: 47px;
  left: 0;
  letter-spacing: 3px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 230px; }

.lookbook-pagination.is-open {
  height: 340px;
  overflow: scroll;
  overflow-x: hidden; }

.lookbook-wrapper.is-touch .lookbook-pagination.is-open {
  height: auto;
  overflow: scroll;
  overflow-x: hidden; }

.lookbook-pagination.is-stuck {
  left: calc(50% - 103px);
  position: fixed;
  top: 0;
  opacity: 1; }

.lookbook-pagination .pagination-item,
.lookbook-pagination .dummy-item {
  background-color: transparent;
  border-radius: 0;
  display: block;
  height: 40px;
  padding-top: 16px;
  margin-right: 0;
  text-decoration: none;
  width: 100%; }

.lookbook-pagination .dummy-item:hover,
.lookbook-pagination .pagination-item:hover,
.lookbook-pagination .pagination-item.current-page {
  background-color: transparent; }

.lookbook-pagination .dummy-item:first-child:after {
  content: url("/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/arrow-down.jpg");
  margin-left: 7px;
  position: relative; }

.lookbook-pagination.is-open .dummy-item:first-child:after {
  content: url("/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/arrow-up.jpg"); }

.lookbook-pagination-bg.is-open {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }

.full-width-img {
  width: 100%; }

.link-wrap {
  text-align: center;
  padding-bottom: 60px;
  width: 100%; }

.shop-link {
  border: 3px solid #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 700 !important;
  height: 40px;
  letter-spacing: 2px;
  margin-left: 45px;
  margin-right: 36px;
  min-width: 130px;
  padding: 12px 20px 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.shop-link:hover {
  background-color: #000;
  color: #fff; }

.image-link-wrapper {
  display: block; }

.lookbook-footer {
  background-color: rgba(255, 255, 255, 0.85);
  bottom: 0;
  padding: 4px 0;
  position: absolute;
  width: 100%; }

.lookbook-footer.is-stuck {
  position: fixed; }

.shop-wrap {
  float: left;
  letter-spacing: 2px;
  padding: 12px 0; }

/* SHAME SELECTOR */
.shop-wrap > * {
  font-weight: 700 !important;
  margin-right: 24px;
  text-decoration: none !important; }

.mobile-footer .shop-wrap {
  width: 100%; }

.mobile-footer .shop-wrap a {
  border: 3px solid currentColor;
  color: #000;
  display: block;
  height: 40px;
  padding: 0 15px;
  margin: 0 auto 40px;
  max-width: 80%;
  width: 398px;
  text-align: center; }

.mobile-footer .shop-wrap a span {
  display: block;
  margin-top: 13px; }

.social-wrap {
  float: right;
  text-transform: uppercase; }

.social-btn-facebook {
  background-image: url("/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/facebook.png");
  display: inline-block;
  height: 33px;
  width: 32px; }

.social-btn-twitter {
  background-image: url("/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/twitter.png");
  display: inline-block;
  height: 32px;
  margin-left: 20px;
  width: 32px; }

.social-btn-pinterest {
  background-image: url("/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/pinterest.png");
  display: inline-block;
  height: 32px;
  margin-left: 18px;
  width: 32px; }

/* mobile styles */
.meow .layout-desktop,
.meow #qa-auto-look-book {
  display: none; }

.meow .layout-mobile {
  display: block; }

.meow .layout-mobile .lookbook-page img {
  width: 100%; }

.meow .social-btn-facebook {
  width: 7% !important;
  height: 1.1% !important; }

.meow .social-btn-twitter {
  width: 7% !important;
  height: 1.1% !important;
  left: 16%; }

.meow .social-btn-pinterest {
  width: 7% !important;
  height: 1.1% !important;
  left: 24.3%; }

.meow .back-to-top-button {
  display: none; }

/*# sourceMappingURL=premium-shoes-handbags-spring-collections-2015.css.map */
