#buy-online-pickup-in-store-main-content {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 0;
    border: 2px solid #000;
}

#buy-online-pickup-in-store-main-content *, #buy-online-pickup-in-store-main-content *:before, #buy-online-pickup-in-store-main-content *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
}

.bops_desktop_main_container{
	position: relative;
	
	color:#000;
	width: 100%;
	text-align: center;

	article {
		&.top {
			div {
				position: relative;
				background: url('../../../../images/projects/about-us/buy-online-pickup-in-store/sprite.png') no-repeat top center;
				height: 107px;
				width: 100%;
				margin: 30px 0 20px 0;
			}
			h1 {
				width: 100%;
				padding-top: 20px;
	    		text-transform: uppercase;
			    font-weight: 700;
			    font-size: 33px;    
			    line-height: 1.1;
			    padding: 0 0 15px;	
			    letter-spacing: 2px;
			}
			h2 {
	    		text-transform: uppercase;
				font-size: 13px;
				margin: 30px 0;
				&>b {
		    		text-transform: uppercase;
					font-size: 13px;
				}
			}
		}

		&.middle {
			div {
				margin-bottom: 40px;
				font-size: 13px;
				line-height: 1.6;	
				overflow: hidden;			
				.ico{
				    position: relative;
				    background: url("../../../../images/projects/about-us/buy-online-pickup-in-store/sprite.png") no-repeat;
				    height: 43px;
				    width: 100%;
				    left: 50%;
				    margin: 10px 0 0 -15px;
				    color: #fff;
				    font-size: 17px;
				    font-weight: bold;
				    padding-top: 5px;
				    &.one{
				    	background-position: 0 -114px;
				    }	
				    &.two{
				    	background-position: 0 -161px;
				    }	
				    &.three{
				    	background-position: 0 -207px;
				    }		
				}
				.copy {
					&>b{
						font-weight: bold;
					}
				}
			}
		}

		&.bottom {
			padding-bottom: 25px;
			a {
			    margin-right: 12px;
			    text-transform: uppercase;
			    font-size: 10px;
			    font-weight: 900;
			    letter-spacing: 2px;
			    text-decoration: none;
			    border-bottom: 1px solid #000;
			    line-height: 3;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}