article{
  margin-top: 20px;
}

table{
  font-family: Avenir,Helvetica,Arial,sans-serif;
  width: 100%;
}
tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}
table tr td{
  padding: 10px;
  BORDER-TOP: #f0f0f0;
  BORDER-RIGHT: #f0f0f0;
  BORDER-BOTTOM: #f0f0f0;
  BORDER-LEFT: #f0f0f0;
  BACKGROUND-COLOR: transparent
}
.table-header td{
  BORDER-TOP: windowtext 0.5pt solid;
  HEIGHT: 11.25pt;
  BORDER-RIGHT: #f0f0f0;
  BORDER-BOTTOM: windowtext 0.5pt solid;
  BORDER-LEFT: #f0f0f0;
  BACKGROUND-COLOR: transparent
}

@media all and (max-width: 768px) {

  .rn_Summary,
  .subhead {

    padding: 0 1rem;

  }
  
  .info_table .table-header {

    font-size: 9px;

  }

  .info_table {

    td {
      padding: 10px 0.5em;
    }
    
    .state { width: 10% }

    .store { width: auto; }

    .phone { width: 20%; }

    .address { width: auto; }

    .mattress { width: 5% }

    .furniture { width: 5%; }
  }

  .info_table tr td {
    font-size: 8px;
  }

}