.spring-18 {
  &.spring-18-landing {
    a {
      cursor: auto;
      cursor: url("../../images/2018-spring-campaign-100-percent-exclusive/cursors/landing-cursor.png") 30 30, auto;
    }
  }
  &.spring-18-men {
    a {
      cursor: auto;
      cursor: url("../../images/2018-spring-campaign-100-percent-exclusive/cursors/men-cursor.png") 30 30, auto;
    }
  }
  &.spring-18-home {
    a {
      cursor: auto;
      cursor: url("../../images/2018-spring-campaign-100-percent-exclusive/cursors/home-cursor.png") 30 30, auto;
    }
  }
}