$container-width: 1470px;

$site-font-family: 'Avenir W01', Helvetica, Arial, sans-serif;

$site-blue: #6ecff6;
$site-yellow: #ffd414;
$site-red: #fe3221;
$site-green: #68af32;
$site-light-grey: #f1f1f1;

$hamburger-icon-color: #000;

$sticky-header-z-index: 9999;
$nav-z-index: 9998;