.glh-about {
  width: 100%;
  max-width: 1812px !important;
  height: auto;
  padding-bottom: 120px;
  background-image: url("/b/fashion/images/projects/2017-glowhaus/about/about-bg.jpg");
  background-repeat: no-repeat;

  background-position: right 60px bottom -40px;
  @media screen and (min-width: $bp-sm) {
    padding-bottom: 140px;
  }
  @media screen and (min-width: $bp-xl) {
    //background-size: 100%;
    padding-bottom: 160px;
  }
}

.glh-about__content-wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 100px auto 0 auto;
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  @media screen and (min-width: $bp-lg) {
    font-size: 24px;
    margin-top: 140px
  }
  @media screen and (min-width: $bp-xl) {
    font-size: 34px;
    margin-top: 180px
  }
  font-weight: bold;
  font-weight: 900;
  line-height: 1.8;

}

.glh-about__logo-img {
  width: 100%;
  height: auto;
  max-width: 420px;
  @media screen and (min-width: $bp-lg) {
    max-width: 512px;
  }
  @media screen and (min-width: $bp-xl) {
    max-width: 680px;
  }

}
.glh-about__heading-divider {
  width: 104px;
  height: 18px;
  background-color: $active-hover-color;
  margin: 60px auto;
}
