$mobile-nav-switcher-z-index: 1001;
$header-z-index: 999;
$mobile-nav-z-index: 998;
$header-divider-z-index: 998;

$g-max-width: 100%;

$bp-sm: 479px;
$bp-md: 767px;
$bp-lg: 998px;
$bp-xl: 1279px;
$bp-xxl: 1679px;

$g-header-height-sm: 48px;
$g-header-height-lg: 64px;
$g-header-height-xxl: 92px;

$masonry-gap-sm: 12px;
$masonry-gap-md: 20px;
$masonry-gap-lg: 28px;
$masonry-gap-xl: 32px;
$masonry-gap-xxl: 38px;

$theme-black: #000;

$hamburger-icon-color: $theme-black;
$active-hover-color: #ee2737;