<!-- {pageTitle: "bWallet", pageLabel: "Bloomingdale's bWallet – All Your Cards & Offers in One Place!"} -->
{{{coremetrics 'vanity_page' 'My_wallet'}}}
<!--headMeta={"name":"description", "content":"bWallet: All Your Cards and Offers in ONE Place! Maximize Your Savings and Make Checkout a Breeze with bWallet!"}-->
<!--headCanonical={"href":"/bwallet"}-->
<div class="wallet">
    {{>title}}
    <link href="/fashion/styles/projects/bwallet/styles.css" rel="stylesheet" type="text/css" />
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bwallet">
                                <img src="/fashion/images/projects/bwallet/bWallet_Vanity.jpg" usemap="#bwallet">
                                <map name="bwallet">
                                    <area shape="rect" coords="23,157,290,488" alt="Bloomingdale's bWallet is Accessible Anytime on Your Phone & Computer">
                                    <area shape="rect" coords="582,332,677,352" href="https://www.bloomingdales.com/account/profile" alt="Create one Now">
                                    <area shape="rect" coords="384,364,521,391" href="https://www.bloomingdales.com/account/wallet?ocwallet=true" alt="Visit bWallet">
                                    <area shape="rect" coords="432,462,698,799" alt="Bloomingdale's bWallet Helps Keep Track with Your Reward Cards & Credit Cards">
                                    <area shape="rect" coords="26,771,290,1149" alt="Bloomingdale's bWallet Helps Maximize Savings">
                                    <area shape="rect" coords="429,1116,698,1447" alt="Bloomingdale's bWallet Links to Your Loyallist Account">
                                </map>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require( [ 'jquery', 'bcomLeftNav/account/AccountLeftNav' ], function ( $, accountLeftNav ) {
        accountLeftNav.render( '#bl_leftNavContainer', "" );
    });
</script>
