<!-- {pageTitle: "bWallet", pageLabel: "Bloomingdale's bWallet – All Your Cards & Offers in One Place!"} -->
{{{coremetrics 'vanity_page' 'My_wallet'}}}
<!--headMeta={"name":"description", "content":"bWallet: All Your Cards and Offers in ONE Place! Maximize Your Savings and Make Checkout a Breeze with bWallet!"}-->
<!--headCanonical={"href":"/bwallet"}-->
<div class="wallet">
    {{>title}}
    <link href="/b/fashion/styles/projects/bwallet/styles.css" rel="stylesheet" type="text/css" />
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bwallet">
                                <img src="/b/fashion/images/projects/bwallet/bWallet_VanityM_1.jpg" alt="Visit bWallet"/>
                                <a href="https://www.bloomingdales.com/account/profile" title="Create one Now" >
                                    <img src="/b/fashion/images/projects/bwallet/bWallet_VanityM_2.jpg" alt="Create one Now"/>
                                </a>
                                <img src="/b/fashion/images/projects/bwallet/bWallet_VanityM_3.jpg" usemap="#bWallet_VanityM" alt="Visit bWallet"/>
                                <map name="bWallet_VanityM">
                                    <area shape="rect" coords="0,2203,638,2630" alt="Bloomingdale's bWallet Links to Your Loyallist Account">
                                    <area shape="rect" coords="0,29,639,455" alt="Bloomingdale's bWallet is Accessible Anytime on Your Phone & Computer">
                                    <area shape="rect" coords="0,732,638,1164" alt="Bloomingdale's bWallet Helps Keep Track with Your Reward Cards & Credit Cards">
                                    <area shape="rect" coords="0,1469,638,1898" alt="Bloomingdale's bWallet Helps Maximize Savings">
                                </map>
                                <a href="https://www.bloomingdales.com/account/wallet?ocwallet=true" title="Visit bWallet" >
                                    <img src="/b/fashion/images/projects/bwallet/bWallet_VanityM_4.jpg" alt="Visit bWallet"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require( [ 'jquery', 'bcomLeftNav/account/AccountLeftNav' ], function ( $, accountLeftNav ) {
        accountLeftNav.render( '#bl_leftNavContainer', "" );
    });
</script>
