<title>Good Sleep Guide: Best Pillows & Comforters</title>
<meta name="description" content="When it comes to getting your beauty sleep, the right pillow and comforters make all the difference. Our simple guide helps you find the perfect bedmates based on how you sleep." />
<meta property="og:title" content="Mattress Buying Guide - Guide to Good Sleep" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.fashion.bloomingdales.com/fashion-tips/good-sleep-guide/" />
<meta property="og:description" content="When it comes to getting your beauty sleep, the right pillow and comforters make all the difference. Our simple guide helps you find the perfect bedmates based on how you sleep." />
<meta property="og:image" content="/fashion/images/projects/fashion-tips/good-sleep-guide/F15_Utility_Facebook.jpg" />

<div id="fall15_utilityfinder_mobile">

  <nav>
    <a href="#/topNav/toggle"><img src="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-nav-tgsg.png" data-target="the-good-sleep-guide" /></a>
    <a style="display:none;"><img src="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-nav-bb.png" data-target="bedding-basics" /></a>
    <span><a href="#/topNav/toggle" data-cmid="top_nav-toggle"><img src="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-nav-arrow.png" /></a></span>
  </nav>

  <!-- START OF SECTION WRAPPER -->
  <div class="wrapper">

  <section data-id="the-good-sleep-guide" data-page-type="SingleSelectionPage" class="the-good-sleep-guide">
    <img class="spacer lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-spacer.png" />
    <article data-id="start" data-cmpid="guide_main">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-tgsg-start.jpg" />
      <a class="article-link" href="#/nearJump/pillow-q1"
        data-cmid="bedding_basics-take_care" style="width: 76.40625000%; height: 11.57894737%; left: 11.87500000%; top: 58.28947368%;">Pillows</a>
      <a class="article-link" href="#/nearJump/conforter-q1"
        data-cmid="bedding_basics-take_care" style="width: 76.40625000%; height: 11.57894737%; left: 11.87500000%; top: 72.10526316%;">Conforters</a>
    </article>
    <article data-id="pillow-q1" data-cmpid="guide_sleep">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-tgsg-pillow-q1.jpg" />
      <a class="article-link" href="#/pickOption/q1:on-my-side/pillow-q2"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.71875000%; top: 48.42105263%;">On My Side</a>
      <a class="article-link" href="#/pickOption/q1:on-my-back/pillow-q2"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.71875000%; top: 62.36842105%;">On My Back</a>
      <a class="article-link" href="#/pickOption/q1:on-my-stomach/pillow-q2"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.71875000%; top: 76.31578947%;">On My Stomach</a>
    </article>
    <article data-id="pillow-q2" data-cmpid="guide_filling">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-tgsg-pillow-q2.jpg" />
      <a class="article-link" href="#/pickOption/q2:down"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.56250000%; top: 48.42105263%;">Down</a>
      <a class="article-link" href="#/pickOption/q2:down-alternative"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.56250000%; top: 62.36842105%;">Down Alternative</a>
      <a class="article-link" href="#/pickOption/q2:memory-foam"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.56250000%; top: 76.31578947%;">Memory Foam</a>
    </article>
    <article data-id="conforter-q1" data-cmpid="guide_temperature">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-tgsg-conforter-q1.jpg" />
      <a class="article-link" href="#/pickOption/q1:warm-and-cozy/conforter-q2"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.56250000%; top: 48.55263158%;">Warm and Cozy</a>
      <a class="article-link" href="#/pickOption/q1:a-little-cooler/conforter-q2"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.56250000%; top: 62.50000000%;">A Little Cooler</a>
    </article>
    <article data-id="conforter-q2" data-cmpid="guide_allergies">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-tgsg-conforter-q2.jpg" />
      <a class="article-link" href="#/pickOption/q2:yes"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.56250000%; top: 48.55263158%;">Yes</a>
      <a class="article-link" href="#/pickOption/q2:no"
        data-cmid="bedding_basics-take_care" style="width: 76.71875000%; height: 11.84210526%; left: 11.56250000%; top: 62.50000000%;">No</a>
    </article>
  </section>

  <section data-id="bedding-basics" data-page-type="MultipleScrollingPage" class="bedding-basics">
    <article data-id="start" data-cmpid="bedding_basics">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-bb-start.png" />
      <a class="article-link" href="#/nearJump/down-time"
        data-cmid="bedding_basics-down_time" style="width: 36.71875000%; height: 11.07692308%; left: 9.06250000%; top: 38.15384615%;">Down Time</a>
      <a class="article-link" href="#/nearJump/pillow-talk"
        data-cmid="bedding_basics-pillow_talk" style="width: 39.68750000%; height: 11.07692308%; left: 9.06250000%; top: 52.00000000%;">Pillow Talk</a>
      <a class="article-link" href="#/nearJump/going-under-covers"
        data-cmid="bedding_basics-going_under_covers" style="width: 62.50000000%; height: 11.07692308%; left: 9.06250000%; top: 65.53846154%;">Going Under Covers</a>
      <a class="article-link" href="#/nearJump/take-care"
        data-cmid="bedding_basics-take_care" style="width: 34.06250000%; height: 11.07692308%; left: 9.06250000%; top: 79.69230769%;">Take Care</a>
    </article>
    <article data-id="down-time" data-cmpid="down_time">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-bb-p1.png" />
    </article>
    <article data-id="pillow-talk" data-cmpid="pillow_talk">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-bb-p2.png" />
      <a class="article-link" href="#/farJump/the-good-sleep-guide/pillow-q1"
        data-cmid="pillow_talk-find_your_pillows" style="width: 58.12500000%; height: 3.58422939%; left: 9.06250000%; top: 65.84741423%;">Find Your Pillows</a>
      <a class="article-link" href="/shop/home/designer-down-pillows-comforters/Bed_type/Pillow?id=1004679"
        data-cmid="pillow_talk-shop_all_pillows" style="width: 53.75000000%; height: 3.58422939%; left: 9.06250000%; top: 70.86533538%;">Shop All Pillows</a>
      <a class="article-link" href="/shop/home/designer-down-pillows-comforters/Bed_type/Pillow Protector?id=1004679"
        data-cmid="pillow_talk-shop_pillow_protectors" style="width: 75.00000000%; height: 3.58422939%; left: 9.06250000%; top: 93.44598054%;">Shop Pillow Protectors</a>
    </article>
    <article data-id="going-under-covers" data-cmpid="going_under_covers">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-bb-p3.png" />
      <a class="article-link" href="#/farJump/the-good-sleep-guide/conforter-q1"
        data-cmid="going_under_covers-find_your_conforters" style="width: 68.43750000%; height: 4.61133070%; left: 9.68750000%; top: 85.30961792%;">Find Your Conforters</a>
      <a class="article-link" href="/shop/home/designer-down-pillows-comforters/Bed_type/Comforter?id=1004679"
        data-cmid="going_under_covers-shop_all_conforters" style="width: 64.68750000%; height: 4.61133070%; left: 9.68750000%; top: 91.56785244%;">Shop All Conforters</a>
    </article>
    <article data-id="take-care" data-cmpid="take_care">
      <img class="article-data lazy-img" data-lazy-img="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-bb-p4.png" />
    </article>
    <div class="back2top">
      <a href="#/nearJump/start"
        data-cmid="bedding_basics-back2top"><img src="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-bb-back2top.png" /></a>
    </div>
  </section>

  </div><!-- END OF SECTION WRAPPER -->

  <nav class="flying" style="display:none;">
    <a href="#/topNav/toggle" data-cmid="top_nav-toggle"><img src="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-nav-tgsg.png" data-target="the-good-sleep-guide" /></a>
    <a href="#/topNav/switch" data-cmid="top_nav-switch"><img src="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-nav-bb.png" data-target="bedding-basics" /></a>
    <span><a href="#/topNav/toggle" data-cmid="top_nav-toggle"><img src="/fashion/images/projects/fashion-tips/good-sleep-guide/mobile-nav-arrow.png" /></a></span>
  </nav>

</div>

<link href="/fashion/styles/projects/fashion-tips/good-sleep-guide/mobile.css" rel="stylesheet" type="text/css" />
<!-- <script type="application/javascript" src="/fashion/javascripts/projects/fashion-tips/good-sleep-guide/mobile-pages.js"></script> -->
<script type="application/javascript" src="/fashion/javascripts/projects/fashion-tips/good-sleep-guide/good-sleep.js"></script>


