<title>Good Sleep Guide: Best Pillows & Comforters</title>
<!--headCanonical={"href":"/fashion-tips/good-sleep-guide/"}-->
<meta name="description" content="When it comes to getting your beauty sleep, the right pillow and comforters make all the difference. Our simple guide helps you find the perfect bedmates based on how you sleep." />
<meta property="og:title" content="The Good Sleep Guide | Bloomingdale&rsquo;s" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.bloomingdales.com/fashion-index/good-sleep-guide" />
<meta property="og:description" content="When it comes to getting your beauty sleep, the right pillow and comforters make all the difference. Our simple guide helps you find the perfect bedmates based on how you sleep." />
<meta property="og:image" content="${baseUrlAssets}/web20/assets/img/specialProjects/good-sleep-guide/F15_Utility_Facebook.jpg" />
<link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="/b/fashion/styles/projects/fashion-tips/good-sleep-guide/main.css" rel="stylesheet" type="text/css" />

<div id="fall15_utilityfinder_loader"
  style="background: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/loading.gif) center center no-repeat"></div>

<!-- Desktop -->
<div id="fall15_utilityfinder_desktop" style="display:none;">

  <!-- Content -->
  <div class="fall15_utilityfinder_content">

    <!-- Navigation Bar -->
    <div class="fall15_utilityfinder_navbar_wrapper">
      <nav id="fall15_utilityfinder_navbar" class="fall15_utilityfinder_clearfix">
        <a href="#/" data-cm="top_nav-landing">The Good Sleep Guide</a>
        <a href="#/basics" data-cm="top_nav-basics">Bedding Basics</a>
        <div id="fall15_utilityfinder_carrot"></div>
        <div id="fall15_utilityfinder_social" class="fall15_utilityfinder_clearfix">
          <a target="_blank" href="#" class="fall15_utilityfinder_facebook" data-social="facebook" data-cm="social-fb"
            style="background-image: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/fall15_utilityfinder_social.png)"></a>
          <a target="_blank" href="#" class="fall15_utilityfinder_twitter" data-social="twitter" data-cm="social-twitter"
            style="background-image: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/fall15_utilityfinder_social.png)"></a>
          <a target="_blank" href="#" class="fall15_utilityfinder_pinterest" data-social="pinterest" data-cm="social-pinterest"
            style="background-image: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/fall15_utilityfinder_social.png)"></a>
        </div>
      </nav>
    </div><!-- end of Navigation Bar -->

    <!-- Chapter: landing -->
    <div id="fall15_utilityfinder_landing" class="fall15_utilityfinder_chapter fall15_utilityfinder_topic fall15_utilityfinder_main" data-chapter=""
      style="background: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/landing.jpg)">
      <h1>The Good Sleep Guide</h1>
      <p>When it comes to getting your beauty sleep, the right pillows and comforters make all the difference.<br />Our simple guide helps you find the perfect bedmates based on how you sleep. The rest is easy.</p>
      <h2>What are you looking for?</h2>
      <a href="#/pillows" id="fall15_utilityfinder_pillows_button" class="fall15_utilityfinder_button fall15_utilityfinder_2btn_left_button" data-cm="landing_button-pillows">Pillows</a>
      <a href="#/comforters" id="fall15_utilityfinder_comforters_button" class="fall15_utilityfinder_button fall15_utilityfinder_2btn_right_button" data-cm="landing_button-comforters">Comforters</a>
    </div><!-- end of Chapter: landing -->

    <!-- Chapter: pillows -->
    <div id="fall15_utilityfinder_pillows" class="fall15_utilityfinder_chapter fall15_utilityfinder_topic" data-chapter="pillows" data-footer="pillows"
      style="background: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/pillow.jpg)">
      <h2>How do you sleep?</h2>
      <a href="#/pillows-filling" class="fall15_utilityfinder_button fall15_utilityfinder_3col_left quiz-option-link" data-choice="Firm" data-cm="pillows_button-side">on my side</a>
      <a href="#/pillows-filling" class="fall15_utilityfinder_button fall15_utilityfinder_3col_center quiz-option-link" data-choice="Medium" data-cm="pillows_button-back">on my back</a>
      <a href="#/pillows-filling" class="fall15_utilityfinder_button fall15_utilityfinder_3col_right quiz-option-link" data-choice="Soft" data-cm="pillows_button-stomach">on my stomach</a>

      <div class="fall15_utilityfinder_textbox fall15_utilityfinder_3text_left"><b><i>Side sleepers</i></b> need a firm, dense pillow to ensure your neck is well supported.</div>
      <div class="fall15_utilityfinder_textbox fall15_utilityfinder_3text_center"><b><i>Back sleepers</i></b> should opt for medium density pillows, which cradle your head comfortably without propping it up too much.</div>
      <div class="fall15_utilityfinder_textbox fall15_utilityfinder_3text_right"><b><i>Stomach sleepers</i></b> require soft pillows with slightly less filling, which allow you to breathe comfortably all night.</div>
    </div><!-- end of Chapter: pillows -->
    
    <!-- Chapter: pillows filling -->
    <div id="fall15_utilityfinder_pillows-filling" class="fall15_utilityfinder_chapter fall15_utilityfinder_topic" data-chapter="pillows-filling" data-footer="pillows"
      style="background: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/pillow_filling.jpg)">
      <h2>What kind of filling do you prefer?</h2>
      <a href="#" id="fall15_utilityfinder_pillows-down"
          class="fall15_utilityfinder_button fall15_utilityfinder_3col_left"
          data-cm="pillows_button-down">down</a>
      <a href="#" id="fall15_utilityfinder_pillows-down_alternative"
         class="fall15_utilityfinder_button fall15_utilityfinder_button_2ln fall15_utilityfinder_3col_center" data-cm="pillows_button-down_alternative">down<br>alternative</a>
      <a href="#" id="fall15_utilityfinder_pillows-memory_foam"
         class="fall15_utilityfinder_button fall15_utilityfinder_button_2ln fall15_utilityfinder_3col_right" data-cm="pillows_button-memory_foam">memory<br>foam</a>

      <div class="fall15_utilityfinder_textbox fall15_utilityfinder_3text_left">The ultimate in lightweight softness&mdash;<br>it&rsquo;s like laying your head<br>on a cloud.</div>
      <div class="fall15_utilityfinder_textbox fall15_utilityfinder_3text_center">Man-made materials as soft and lofty as down&mdash;without any sneezing or sniffling.</div>
      <div class="fall15_utilityfinder_textbox fall15_utilityfinder_3text_right">Gently conforms to your head and neck for<br>ergonomic support.</div>

    </div><!-- end of Chapter: pillows filling -->
    
    <!-- Chapter: comforters -->
    <div id="fall15_utilityfinder_comforters" class="fall15_utilityfinder_chapter fall15_utilityfinder_topic" data-chapter="comforters" data-footer="comforters"
      style="background: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/comforter.jpg)">
      <h2>How do you like the temperature?</h2>
      <a href="#/comforters-allergies" id="" class="fall15_utilityfinder_button fall15_utilityfinder_comforters_q1 quiz-option-link fall15_utilityfinder_2btn_left_button" data-choice="Heavy" data-cm="comforters_button-warm_and_cozy">warm and cozy</a>
      <a href="#/comforters-allergies" id="" class="fall15_utilityfinder_button fall15_utilityfinder_comforters_q1 quiz-option-link fall15_utilityfinder_2btn_right_button" data-choice="Light" data-cm="comforters_button-a_little_cooler">a little cooler</a>
      
    </div><!-- end of Chapter: comforters -->

    <!-- Chapter: pillows comforters allergies -->
    <div id="fall15_utilityfinder_comforters-allergies" class="fall15_utilityfinder_chapter fall15_utilityfinder_topic" data-chapter="comforters-allergies" data-footer="comforters"
      style="background: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/comforter_allergies.jpg)">
      <h2>Do you have allergies?</h2>
      <a href="#" id="fall15_utilityfinder_comforters-yes" class="fall15_utilityfinder_button fall15_utilityfinder_comforters_q1 fall15_utilityfinder_2btn_left_button" data-cm="comforters_button-yes">yes</a>
      <a href="#" id="fall15_utilityfinder_comforters-no" class="fall15_utilityfinder_button fall15_utilityfinder_comforters_q1 fall15_utilityfinder_2btn_right_button" data-cm="comforters_button-no">no</a>
    </div><!-- end of Chapter: comforters allergies -->

    <div id="fall15_utilityfinder_footer-pillows"class="fall15_utilityfinder_footer">
      <img src="/b/fashion/images/projects/fashion-tips/good-sleep-guide/cover_up.png">
      <div class="fall15_utilityfinder_footer_text">Keep your pillows fresh and make them last longer by sealing out dust and allergens with a quality pillow protector.
        <!-- /shop/home/designer-down-pillows-comforters/Bed_type/Pillow Protector?id=1004679 -->
        <a href="/shop/home/mattress-pads-toppers/Bed_protector_type_site/Pillow Protector?id=1005714" data-cm="pillows_footer-shop_now">Shop Now</a>
      </div>
    </div>

    <div id="fall15_utilityfinder_footer-comforters" class="fall15_utilityfinder_footer">
      <img src="/b/fashion/images/projects/fashion-tips/good-sleep-guide/fill_power.png">
      <div class="fall15_utilityfinder_footer_text">
        <p>A quick breakdown of fill power, the measurement that indicates the quality of down.</p>
        <p><b><i>600+ Fill Power:</i></b> Good quality, above average loft, warm, lasts for years</p>
        <p><b><i>700+ Fill Power:</i></b> Excellent quality, exceptional loft, warmer, lasts many years</p>
        <p><b><i>800+ Fill Power:</i></b> Superior quality, luxurious loft, warmest, may last a lifetime</p>

        <a href="#/basics" class="footer-learnmore" data-target="basics-covers" data-cm="comforters_footer-basics">Learn More</a>
      </div>
    </div>

    <!-- Chapter: basics -->
    <div id="fall15_utilityfinder_basics" class="fall15_utilityfinder_chapter" data-chapter="basics">

      <div class="fall15_utilityfinder_section fall15_utilityfinder_heading" data-section="">
        <div class="fall15_utilityfinder_basics_heading"
          style="background-image: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/basics.png);"></div>
        <h1>Bedding<br />Basics</h1>
        <div class="fall15_utilityfinder_text">
          <p>Everything you need to know about pillows<br />and comforters, from A to zzzzzzzzzzz.</p>
          <div class="fall15_utilityfinder_links fall15_utilityfinder_clearfix">
            <a class="basics-links" href="" data-cm="basics-down">Down Time</a>
            <a class="basics-links" href="" data-cm="basics-pillow">Pillow Talk</a>
            <a class="basics-links" href="" data-cm="basics-covers">Going Under Covers</a>
            <a class="basics-links" href="" data-cm="basics-care">Take Care</a>
          </div>
        </div>
      </div>

      <div id="basics-down" class="fall15_utilityfinder_section" data-section="down">
        <div class="fall15_utilityfinder_basics_sub"
          style="background-image: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/basics.png);background-position: center -99px;"></div>
        <h2>Down Time</h2>
        <div class="fall15_utilityfinder_text">
          <p>
            <span>Down</span>&mdash;the super soft, fluffy undercoat of geese and ducks&mdash;is widely recognized<br />
            as the gold standard of pillow and comforter fillings. Unlike regular flat feathers,<br />
            both goose down and duck down consist of fluffy, lightweight clusters that keep<br />
            you warm by trapping in your body heat. Down also wicks away moisture as you<br />
            sleep, which helps keep you cool in the summertime and cozy in the winter.<br />
            Lofty and luxurious, nothing feels quite the same as down. With the proper care,<br />
            the best down can last your whole lifetime.<br />
            <span style="font-size: 2.4em;"></span>
            So why would anyone pass up this miraculous material? Allergies. Some people<br />
            are sensitive to feathers. These days, however, down goes through so much<br />
            cleaning and processing that allergens are stripped away entirely&mdash;so what<br />
            people are really reacting to is, in all likelihood, dust from their home. Ack!<br />
            Don&rsquo;t worry, there&rsquo;s no reason to lose any sleep over that&mdash;just nab a quality<br />
            pillow protector and you&rsquo;ll go sniffle-free all night.<br />
            <span style="font-size: 4.4em;"></span>
            <span>Down alternatives</span> make a great substitute for feathers. Even though down has<br />
            proven allergen-free in numerous tests, some allergy sufferers have a different<br />
            experience. Luckily, synthetic fibers have come a long way&mdash;these are not the<br />
            stiff foam pillows at your grandparents&rsquo; house. Manufacturers have been busy<br />
            creating pseudo super-feathers through a complex process of heating,<br />
            stretching, crimping and cutting. The end product? Soft, synthetic fibers that<br />
            trap air the same way down does. All without the specter of allergies. Best to<br />
            get a pillow protector anyway, as dust shows no prejudice between down and<br />
            down alternatives.
          </p>
        </div>
      </div>

      <div id="basics-pillow" class="fall15_utilityfinder_section" data-section="pillow">
        <div class="fall15_utilityfinder_basics_sub"
          style="background-image: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/basics.png);background-position: center -118px;"></div>
        <h2>Pillow Talk</h2>
        <div class="fall15_utilityfinder_text">
          <p>
            In the past, people searched for pillows based on soft, medium or firm. But we<br />
            now know that if you want to find the perfect pillow, you need to identify the<br />
            way you sleep. Why? Pillows help keep your head and neck properly<br />
            aligned&mdash;and side, back and stomach sleepers all have different alignment<br />
            needs.<br />
            <span style="font-size: 1.8em;"></span>
            <span style="font-style: italic">Side sleepers</span> need a firm, dense pillow to ensure your neck is well supported<br />
            and you&rsquo;re sleeping evenly, like a horizontal line. If you don&rsquo;t have enough<br />
            support, your head may dip toward your shoulder.<br />
            <span style="font-size: 1.8em;"></span>
            <span style="font-style: italic">Back sleepers</span> should opt for medium density pillows, which cradle your head<br />
            comfortably without propping it up too much. Imagine standing up straight from<br />
            head to toe&mdash;that&rsquo;s the position you want your neck and head to be in when you<br />
            lie down on your back.<br />
            <span style="font-size: 1.8em;"></span>
            <span style="font-style: italic">Stomach sleepers</span> require soft pillows with slightly less filling. That will allow you<br />
            to breathe comfortably throughout the night and cushion your head and neck<br />
            with just enough support.<br />
            <span style="font-size: 1.6em;"></span>
            Calling all tossers-and-turners: If you shift around all night, a medium density<br />
            down pillow or down alternative pillow is the most suitable, though another<br />
            option is a memory foam pillow.<br />
            <span style="font-size: 4.4em;"></span>
            <span>Memory Foam Pillows</span> carefully cradle your head and neck by conforming to the<br />
            natural contours of your body as you sleep. Whether you lie on your back, side<br />
            or stomach, your neck and spine alignment remains intact, which ensures a<br />
            flawless night&rsquo;s sleep. More ergonomic, the memory foam pillow is especially<br />
            kind to people with neck and back issues.
          </p>
          <a href="#/pillows" class="basics-to-finder" data-cm="basics_pillow-find">Find Your Pillow</a>
          <a href="/shop/home/designer-down-pillows-comforters/Bed_type/Pillow?id=1004679" data-cm="basics_pillow-shop_all">Shop All Pillows</a>
          <p>
            <span style="font-size: 3.4em;"></span><br/>
            <span>Pillow Protectors:</span> Regardless of how you sleep at night or what your pillow is<br />
            filled with, you should consider picking up a high-quality pillow protector. They<br />
            increase the lifespan of your pillow by sealing out dust and allergens, helping to<br />
            keep your pillow clean and making it easier to care for. A high-quality pillow<br />
            protector will also prevent any feathers from poking out of the fabric&mdash;that&rsquo;s<br />
            only a concern when your pillow contains feathers in addition to down, as down<br />
            feathers do not have quills.
          </p>
          <a href="/shop/home/designer-down-pillows-comforters/Bed_type/Pillow Protector?id=1004679" data-cm="basics_pillow-shop_protectors"
            style="margin-bottom: 1em;">Shop Pillow Protectors</a>
        </div>
      </div>

      <div id="basics-covers" class="fall15_utilityfinder_section" data-section="covers">
        <div class="fall15_utilityfinder_basics_sub"
          style="background-image: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/basics.png);background-position: center -137px;"></div>
        <h2>Pillow Talk</h2>
        <h2>Going Under Covers</h2>
        <div class="fall15_utilityfinder_text">
          <p>
            The reason down insulates so well is because of its small, fluffy clusters that<br />
            trap air inside. The air&mdash;a.k.a. your body heat&mdash;is what keeps you warm at night.<br />
            So if you want to measure the quality of the down, you have to look at fill<br />
            power.<br />
            <br/>
            <span>Fill Power</span> measures the amount of space a single ounce of down occupies. The<br />
            more space it takes up, the more air it collects. And the higher the fill power, the<br />
            better the insulation.<br />
            <br/>
            The best quality down&mdash;which is collected from mature birds in some of the<br/>
            coldest regions of the world&mdash;takes up more space inside a comforter than down<br/>
            from younger birds. And it does that with fewer clusters.<br/>
            <br/>
            <span>600+ Fill Power:</span> Good quality, above average loft, warm, lasts for years<br/>
            <span style="font-size: 1.8em;"></span>
            <span>700+ Fill Power:</span> Excellent quality, exceptional loft, warmer, lasts many years<br/>
            <span style="font-size: 1.8em;"></span>
            <span>800+ Fill Power:</span> Superior quality, luxurious loft, warmest, may last a lifetime<br/>
            <br/>
            Where you live and how you like to sleep are also important details to consider.<br/>
            Because your body temperature drops when you sleep at night, the weight of<br/>
            your comforter can really make a difference. If you tend to be hot at night or<br/>
            live in a warm climate, opt for a lightweight duvet. If you tend to be cold or live<br/>
            way up north, choose a down comforter or down alternative comforter with<br/>
            more weight to it. And if you&rsquo;re lucky enough to have four distinct<br/>
            seasons&mdash;hello from 59th Street&mdash;consider a lightweight comforter for summer<br/>
            and an ultra-warm duvet for winter.
          </p>
          <a href="#/comforters" class="basics-to-finder" data-cm="basics_covers-find">Find Your Comforter</a>
          <a href="/shop/home/designer-down-pillows-comforters/Bed_type/Comforter?id=1004679" data-cm="basics_covers-shop_all"
            style="margin-bottom: 1.1em;">Shop All Comforters</a>
        </div>
      </div>

      <div id="basics-care" class="fall15_utilityfinder_section" data-section="care">
        <div class="fall15_utilityfinder_basics_sub"
          style="background-image: url(/b/fashion/images/projects/fashion-tips/good-sleep-guide/basics.png);background-position: center -156px;"></div>
        <h2>Take Care</h2>
        <div class="fall15_utilityfinder_text">
          <p style="margin-bottom: 4.2em;">
            Every pillow and comforter comes with its own set of care instructions. If a<br/>
            comforter says &ldquo;dry clean only,&rdquo; then you should certainly follow suit. But as a<br/>
            general rule, down can be gently machine-washed in hot or cold water. Make<br/>
            sure your washing machine is large enough to handle the job. Proper cleaning<br/>
            can extend the life of a comforter or pillow, and pillow protectors also help<br/>
            pillows to last much longer.
          </p>
        </div>
      </div>

    </div><!-- end of Chapter: basics -->

  </div><!-- end of Content -->

</div>

<script type="application/javascript" src="/b/fashion/javascripts/libs/jquery-1.11.2.min.js"></script>
<script type="application/javascript" src="/b/fashion/javascripts/projects/fashion-tips/good-sleep-guide/good-sleep.js"></script>
