.mvBloomMenuHeader {
	margin-top: 0 !important;
}

body {
	position: relative;
}

.mobile_main_container-bl_main_container_reset{
    width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
    padding: 0 !important;
}
.mobile_main_container{
	width: 100%;
	overflow-x: hidden;
    font-family: 'Lato', sans-serif !important;
    -webkit-overflow-scrolling: touch;
    position: relative;
    text-align: center;
}

.mobile_main_container img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	

/* utility classes */
	.padding_5{
		padding: 5px !important;
	}
	.padding_10{
		padding: 10px !important;
	}
	.padding_20{
		padding: 20px !important;
	}
	.padding_50{
		padding: 50px !important;
	}
	.padding_top_5{
		padding-top: 5px !important;
	}
	.padding_top_10{
		padding-top: 10px !important;
	}
	.padding_top_20{
		padding-top: 20px !important;
	}
	.padding_bottom_5{
		padding-bottom: 5px !important;
	}
	.padding_bottom_10{
		padding-bottom: 10px !important;
	}
	.padding_bottom_20{
		padding-bottom: 20px !important;
	}
	.padding_bottom_45{
		padding-bottom: 45px !important;
	}
	.margin_5{
		margin: 5px !important;
	}
	.margin_10{
		margin: 10px !important;
	}
	.margin_20{
		margin: 20px !important;
	}
	.margin_top_5{
		margin-top: 5px !important;
	}
	.margin_top_10{
		margin-top: 10px !important;
	}
	.margin_top_20{
		margin-top: 20px !important;
	}
	.margin_bottom_5{
		margin-bottom: 5px !important;
	}
	.margin_bottom_10{
		margin-bottom: 10px !important;
	}
	.margin_bottom_20{
		margin-bottom: 20px !important;
	}
	.margin_bottom_30{
		margin-bottom: 30px !important;
	}
	.margin_bottom_45{
		margin-bottom: 45px !important;
	}

	/* TOPNAV */
	.mobile_topnav_placeholder{
	    position: block;
	    top: 0;
	    height: 45px;
	    left: 0;
	    width: 100%;
	}

	nav.mobile_topnav{
	    height: 45px;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 1;

	    img {
	    	width: 100%;
	    	height: 100%;
	    }

	    div {
	    	display: none;
		    height: 302px;
		    max-height: 100vh;
		    width: 100%;
		    position: absolute;
		    margin: 0 auto;
		    top: 0;
		    left: 0;

		    #mobile_nav_dropdown_arrow {
				top: 0;
				left: 1%;
				width: 13%;
				height: 13%;
			}

			#mobile_nav_dropdown_phm {
				left: 15%;
				top: 0;
				width: 70%;
				height: 14.75%;
			}
			#mobile_nav_dropdown_clothing {
				left: 15%;
				top: 15.5%;
				width: 70%;
				height: 13.5%;
			}
			#mobile_nav_dropdown_bags {
				left: 15%;
				top: 29.5%;
				width: 70%;
				height: 13.5%;
			}
			#mobile_nav_dropdown_shoes {
				left: 15%;
				top: 43.75%;
				width: 70%;
				height: 13.5%;
			}
			#mobile_nav_dropdown_interview {
				left: 15%;
				top: 57.8%;
				width: 70%;
				height: 13.5%;
			}
			#mobile_nav_dropdown_signup {
				left: 15%;
				top: 71.9%;
				width: 70%;
				height: 13.5%;
			}
			#mobile_nav_dropdown_shop_all {
				left: 15%;
				top: 86%;
				width: 70%;
				height: 13.5%;
			}
		}

		#mobile_nav_arrow {
			top: 0;
			left: 1%;
			width: 13%;
			height: 100%;
		}

		.mobile_socialshare_facebook {
			position: absolute;
			top: 0;
			left: 73.5%;
			width: 8%;
			height: 100%;
		}
		.mobile_socialshare_twitter {
			position: absolute;
			top: 0;
			left: 82%;
			width: 8%;
			height: 100%;
		}
		.mobile_socialshare_pinterest {
			position: absolute;
			top: 0;
			left: 90.75%;
			width: 8%;
			height: 100%;
		}
	}

	.mobile_main_container > section {

		article {
			position: relative;
		}
	}

	.phm_mobile_link {
		position: absolute;
	}
	.phm2016_mobile_back_to_top {
		position: relative;
	}
	#phm2016_mobile_back_to_top_button {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#phm2016_mobile_home_shopall_image {
		top: 0;
		left: 0;
		width: 100%;
		height: 65%;
	}
	#phm2016_mobile_home_shopall_button {
		top: 1.75%;
		left: 16.2%;
		width: 66.5%;
		height: 7%;
	}
	#phm2016_mobile_home_shopall_text {
		top: 66%;
		left: 0;
		width: 100%;
		height: 34%;
	}
	#phm2016_mobile_home_clothing-link {
		top: 0;
		left: 0;
		width: 100%;
		height: 33.33%;
	}
	#phm2016_mobile_home_bags-link {
		top: 33.333%;
		left: 0;
		width: 100%;
		height: 33.33%;
	}
	#phm2016_mobile_home_shoes-link {
		top: 66.666%;
		left: 0;
		width: 100%;
		height: 33.33%;
	}
	#phm2016_mobile_home_interview-link {
		top: 0;
		left: 0;
		width: 100%;
		height: 59.4%;
	}

	#phm2016_mobile_interview_shoes-link {
		top: 0;
		left: 0;
		width: 100%;
		height: 49.5%;
	}
	#phm2016_mobile_interview_clothing-link {
		top: 71.35%;
		left: 0;
		width: 100%;
		height: 28.65%;
	}
