.mvBloomMenuHeader {
	margin-top: 0 !important;
}

body {
	position: relative;
}

.mobile_main_container-bl_main_container_reset{
    width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
    padding: 0 !important;
}
.mobile_main_container{
	width: 100%;
	overflow-x: hidden;
    font-family: 'Lato', sans-serif !important;
    -webkit-overflow-scrolling: touch;
    position: relative;
    text-align: center;
}

.mobile_main_container img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	

/* utility classes */
	.padding_5{
		padding: 5px !important;
	}
	.padding_10{
		padding: 10px !important;
	}
	.padding_20{
		padding: 20px !important;
	}
	.padding_50{
		padding: 50px !important;
	}
	.padding_top_5{
		padding-top: 5px !important;
	}
	.padding_top_10{
		padding-top: 10px !important;
	}
	.padding_top_20{
		padding-top: 20px !important;
	}
	.padding_bottom_5{
		padding-bottom: 5px !important;
	}
	.padding_bottom_10{
		padding-bottom: 10px !important;
	}
	.padding_bottom_20{
		padding-bottom: 20px !important;
	}
	.padding_bottom_45{
		padding-bottom: 45px !important;
	}
	.margin_5{
		margin: 5px !important;
	}
	.margin_10{
		margin: 10px !important;
	}
	.margin_20{
		margin: 20px !important;
	}
	.margin_top_5{
		margin-top: 5px !important;
	}
	.margin_top_10{
		margin-top: 10px !important;
	}
	.margin_top_20{
		margin-top: 20px !important;
	}
	.margin_bottom_5{
		margin-bottom: 5px !important;
	}
	.margin_bottom_10{
		margin-bottom: 10px !important;
	}
	.margin_bottom_20{
		margin-bottom: 20px !important;
	}
	.margin_bottom_30{
		margin-bottom: 30px !important;
	}
	.margin_bottom_45{
		margin-bottom: 45px !important;
	}

	/* TOPNAV */
	.mobile_topnav_placeholder{
	    position: block;
	    top: 0;
	    height: 45px;
	    left: 0;
	    width: 100%;
	}

	#phm_mobile_nav {
		position: absolute;
		top: 0;
		width: 100%; 
		display:block; 
		background-color:#0A33C3; 
		color:#fff; 
		height: 45px; 
		z-index: 1; 
		max-width: 962px;
	}

	#phm_mobile_nav a {
		color: #fff;
	    display: block;
	    margin-left: 5.625%;
	    line-height: 45px;
	    font-size: 4.6vw;
	    text-decoration: none;
	    font-weight: 900;
	    float: left;
	    font-family: 'Lato', sans-serif;
		letter-spacing: 0.05em;
		word-spacing: 0.05em;
	}

	a#phm2016_mobile_nav_title-link {
		margin-left: 7.85%;
	}

	#phm2016_mobile_nav-arrow_down {
		margin-top: -5px;
	}

	a#phm2016_mobile_nav-arrow_up {
	    text-align: center;
	    height: 39px;
	    padding-top: 4px;
	}

	ul#phm2016_mobile_dropdown {
		background-color: #0A33C3;
		width: 100%;
		position: absolute;
		text-align: left;
		top: 0;
		margin: 0;
		padding: 0;
		display: none;
		overflow-y: scroll;
	    max-height: 100vh;
	}

	ul#phm2016_mobile_dropdown li {
		display: block;
		border-bottom: 1px solid #fff;
		line-height: 45px;
		padding-left: 17.3%;
	}

	ul#phm2016_mobile_dropdown li a{
		color: #fff;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 4.6vw;
		line-height: 45px;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		letter-spacing: 0.05em;
		word-spacing: 0.05em;
		display: block;
		float: none;
		margin: 0;
	}

	.phm2016_mobile_social_icons {
		display: inline;
	    line-height: 45px;
	    position: relative;
	    float: right;
	    margin: 0 2.125% 0 0;
	    padding-left: 0;
	    font-size: 3.7vw;
	}

	.phm2016_mobile_social_icons li {
		color: #fff;
	    cursor: pointer;
	    display: inline-table;
	    width: 6.6875vw;
	}

	#phm2016_mobile_socialshare_facebook {
		margin-left: 0;
	}


	.mobile_main_container > section {

		article {
			position: relative;
		}
	}

	.phm_mobile_link {
		position: absolute;
	}
	.phm2016_mobile_back_to_top {
		position: relative;
	}
	#phm2016_mobile_back_to_top_button {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#phm2016_mobile_home_shopall_image {
		top: 0;
		left: 0;
		width: 100%;
		height: 65%;
	}
	#phm2016_mobile_home_shopall_button {
		top: 1.75%;
		left: 16.2%;
		width: 66.5%;
		height: 7%;
	}
	#phm2016_mobile_home_shopall_text {
		top: 66%;
		left: 0;
		width: 100%;
		height: 34%;
	}
	#phm2016_mobile_home_clothing-link {
		top: 0;
		left: 0;
		width: 100%;
		height: 33.33%;
	}
	#phm2016_mobile_home_bags-link {
		top: 33.333%;
		left: 0;
		width: 100%;
		height: 33.33%;
	}
	#phm2016_mobile_home_shoes-link {
		top: 66.666%;
		left: 0;
		width: 100%;
		height: 33.33%;
	}
	#phm2016_mobile_home_interview-link {
		top: 0;
		left: 0;
		width: 100%;
		height: 59.4%;
	}

	#phm2016_mobile_interview_shoes-link {
		top: 0;
		left: 0;
		width: 100%;
		height: 49.5%;
	}
	#phm2016_mobile_interview_clothing-link {
		top: 71.35%;
		left: 0;
		width: 100%;
		height: 28.65%;
	}
