extends ../../layout


block content
	//- include ../../atb
	link(rel='stylesheet', href='/styles/app-index/rug-buying-guide/styles.css')
	script(src="/javascripts/app-index/rug-buying-guide/rug.js")
	div.content
		div.leftnav.large-5
			h3 Left Navigation<br/>Proof of Concept
			ul.group
				div.header Internal
				li <a href="../">Home</a>
				li <a href="./">More Info</a>
				div.header External
				li <a href="http://www.bloomingdales.com/shop/tabletop-builder/set-your-table">Tabletop</a>
		div.main.large-18.push-1.iblk
			div.masthead.large-24.hide-for-small-only
				div.large-6.nav.text-center
					span.link(data-link="guide1") your rug guide
				div.large-6.nav.text-center
					span.link(data-link="faq") rug buying advice
				div.large-6.nav.text-center
					a(href="http://www1.bloomingdales.com/shop/home/rugs?id=1001971&cm_sp=NAVIGATION-_-TOP_NAV-_-3865-MORE-FOR-THE-HOME-Rugs") shop all rugs
			
			div.guide#guide1
				div.major.large-24.text-center(style="background-color:#edeae3") welcome to the rug buying guide
				span.pA.question Where is your rug for?
				div.large-12.option.text-center 
					div.left livingroom
				div.large-12.option.text-center 
					div.right diningroom
				div.large-12.option.text-center 
					div.left runway
				div.large-12.option.text-center 
					div.right bedroom
				table.blk.advice.text-center
					tr 
						td.large-10.copy
							h4 highlights from buying advice
							p Nelsons folly Corsair pirate yardarm rope's end Jack Tar square-rigged no prey, no pay dance the hempen jig gibbet. Flogging bilge rat Privateer pillage dead men tell no tales bowsprit shrouds driver Jolly Roger black jack. Wench trysail fire in the hole gibbet take a caulk fathom belaying pin splice the main brace interloper code of conduct. 
							p Jack Ketch six pounders tackle hang the jib hornswaggle to go on account overhaul yawl scallywag come about. Keelhaul me trysail swab pirate scuppers crack Jennys tea cup flogging keel long clothes. Doubloon gangplank yard Blimey shrouds strike colors jack avast red ensign poop deck. 
						td.large-12.text-center.image.hide-for-small-only
				table.blk.advice.text-center
					tr 					
						td.large-12.text-center.image.hide-for-small-only
						td.large-10.copy
							h4 highlights from buying advice
							p Nelsons folly Corsair pirate yardarm rope's end Jack Tar square-rigged no prey, no pay dance the hempen jig gibbet. Flogging bilge rat Privateer pillage dead men tell no tales bowsprit shrouds driver Jolly Roger black jack. Wench trysail fire in the hole gibbet take a caulk fathom belaying pin splice the main brace interloper code of conduct. 
							p Jack Ketch six pounders tackle hang the jib hornswaggle to go on account overhaul yawl scallywag come about. Keelhaul me trysail swab pirate scuppers crack Jennys tea cup flogging keel long clothes. Doubloon gangplank yard Blimey shrouds strike colors jack avast red ensign poop deck. 
			div.hidden.guide#faq
				div.major.large-24.text-center(style="background-color:#edeae3") rug buying advice
				table.blk.advice.text-center
					tr 
						td.large-10.copy
							h4 buying advice
							p Nelsons folly Corsair pirate yardarm rope's end Jack Tar square-rigged no prey, no pay dance the hempen jig gibbet. Flogging bilge rat Privateer pillage dead men tell no tales bowsprit shrouds driver Jolly Roger black jack. Wench trysail fire in the hole gibbet take a caulk fathom belaying pin splice the main brace interloper code of conduct. 
							p Jack Ketch six pounders tackle hang the jib hornswaggle to go on account overhaul yawl scallywag come about. Keelhaul me trysail swab pirate scuppers crack Jennys tea cup flogging keel long clothes. Doubloon gangplank yard Blimey shrouds strike colors jack avast red ensign poop deck. 
						td.large-12.text-center.image.hide-for-small-only
				table.blk.advice.text-center
					tr 					
						td.large-12.text-center.image.hide-for-small-only
						td.large-10.copy
							h4 buying advice
							p Nelsons folly Corsair pirate yardarm rope's end Jack Tar square-rigged no prey, no pay dance the hempen jig gibbet. Flogging bilge rat Privateer pillage dead men tell no tales bowsprit shrouds driver Jolly Roger black jack. Wench trysail fire in the hole gibbet take a caulk fathom belaying pin splice the main brace interloper code of conduct. 
							p Jack Ketch six pounders tackle hang the jib hornswaggle to go on account overhaul yawl scallywag come about. Keelhaul me trysail swab pirate scuppers crack Jennys tea cup flogging keel long clothes. Doubloon gangplank yard Blimey shrouds strike colors jack avast red ensign poop deck. 
				table.blk.advice.text-center
					tr 
						td.large-10.copy
							h4 buying advice
							p Nelsons folly Corsair pirate yardarm rope's end Jack Tar square-rigged no prey, no pay dance the hempen jig gibbet. Flogging bilge rat Privateer pillage dead men tell no tales bowsprit shrouds driver Jolly Roger black jack. Wench trysail fire in the hole gibbet take a caulk fathom belaying pin splice the main brace interloper code of conduct. 
							p Jack Ketch six pounders tackle hang the jib hornswaggle to go on account overhaul yawl scallywag come about. Keelhaul me trysail swab pirate scuppers crack Jennys tea cup flogging keel long clothes. Doubloon gangplank yard Blimey shrouds strike colors jack avast red ensign poop deck. 
						td.large-12.text-center.image.hide-for-small-only
				table.blk.advice.text-center
					tr 					
						td.large-12.text-center.image.hide-for-small-only
						td.large-10.copy
							h4 buying advice
							p Nelsons folly Corsair pirate yardarm rope's end Jack Tar square-rigged no prey, no pay dance the hempen jig gibbet. Flogging bilge rat Privateer pillage dead men tell no tales bowsprit shrouds driver Jolly Roger black jack. Wench trysail fire in the hole gibbet take a caulk fathom belaying pin splice the main brace interloper code of conduct. 
							p Jack Ketch six pounders tackle hang the jib hornswaggle to go on account overhaul yawl scallywag come about. Keelhaul me trysail swab pirate scuppers crack Jennys tea cup flogging keel long clothes. Doubloon gangplank yard Blimey shrouds strike colors jack avast red ensign poop deck. 
				table.blk.advice.text-center
					tr 
						td.large-10.copy
							h4 buying advice
							p Nelsons folly Corsair pirate yardarm rope's end Jack Tar square-rigged no prey, no pay dance the hempen jig gibbet. Flogging bilge rat Privateer pillage dead men tell no tales bowsprit shrouds driver Jolly Roger black jack. Wench trysail fire in the hole gibbet take a caulk fathom belaying pin splice the main brace interloper code of conduct. 
							p Jack Ketch six pounders tackle hang the jib hornswaggle to go on account overhaul yawl scallywag come about. Keelhaul me trysail swab pirate scuppers crack Jennys tea cup flogging keel long clothes. Doubloon gangplank yard Blimey shrouds strike colors jack avast red ensign poop deck. 
						td.large-12.text-center.image.hide-for-small-only
				table.blk.advice.text-center
					tr 					
						td.large-12.text-center.image.hide-for-small-only
						td.large-10.copy
							h4 buying advice
							p Nelsons folly Corsair pirate yardarm rope's end Jack Tar square-rigged no prey, no pay dance the hempen jig gibbet. Flogging bilge rat Privateer pillage dead men tell no tales bowsprit shrouds driver Jolly Roger black jack. Wench trysail fire in the hole gibbet take a caulk fathom belaying pin splice the main brace interloper code of conduct. 
							p Jack Ketch six pounders tackle hang the jib hornswaggle to go on account overhaul yawl scallywag come about. Keelhaul me trysail swab pirate scuppers crack Jennys tea cup flogging keel long clothes. Doubloon gangplank yard Blimey shrouds strike colors jack avast red ensign poop deck. 
		