<!-- {pageTitle:"Opt-out Choices", pageLabel:"IBM Digital Analytics opt-out choices - Bloomingdale's"} -->
<div id="ibm_analytics_optout" class="clearfix">

    {{>title}}

    <link rel="stylesheet" href="/fashion/styles/projects/service/ibmdigitalanalytics_options/style.css" />

    <h1>IBM Digital Analytics Opt-out Choices</h1>

    <div class="section">
        <p>
            It is our goal to responsibly use IBM Digital Analytics responsibly to understand and optimize website performance, and enhance site usability for our customers.
            We understand that not all of our visitors wish to have information collected regarding their activities on bloomingdales.com.
            Please use the "Your Opt-out Choices" form below to select your preferred level of data collection by IBM Digital Analytics on bloomingdales.com.
            Please note that this opt-out only applies to data collected on bloomingdales.com and not to data that might be collected by IBM Digital Analytics on any other sites.
        </p>
        <p>
            Your preferences are maintained by placement of an "opt-out cookie" on your computer.
            If this cookie is removed or deleted, if you upgrade your browser to a new version or if you visit us from a different computer, you will need to return to this form to re-select your preference.
            <a href="#" class="ibm_analytics_optout-status" data-reveal-id="current-opt-status">View Current Opt-out Status</a>
        </p>
    </div>

    <div class="opt-status-alert-wrapper opt-status-alert-success closed">
        <div class="alert opt-status-alert success">Opt-out status change success message</div>
    </div>

    <div class="opt-status-alert-wrapper  opt-status-alert-msg closed">
        <div class="alert opt-status-alert">Opt-out current status message</div>
    </div>

    <form id="ibm_analytics_optout-form" class="section column">
        <fieldset>
            <legend>Your Opt-Out Choices:</legend>
            <div class="field-group">
                <div class="form-field radio-button">
                    <input type="radio" name="ibm_analytics_optout-option" id="ibm_analytics_optout-option-1" value="anonymous" />
                    <label for="ibm_analytics_optout-option-1"><em>Anonymous Visitor:</em>
                        Allow IBM Digital Analytics to collect only anonymous information regarding your actions on this
                        site for bloomingdales.com. This means we'll gather the information, but it won't be
                        identifiable to you.
                    </label>
                </div>
                <div class="form-field radio-button">
                    <input type="radio" name="ibm_analytics_optout-option" id="ibm_analytics_optout-option-2" value="opt_out" />
                    <label for="ibm_analytics_optout-option-2">
                        <em>Total Opt-out:</em>
                        Do not allow IBM Digital Analytics to capture any data regarding your actions on this site, or
                        any personal information.
                    </label>
                </div>
                <div class="form-field radio-button">
                    <input type="radio" name="ibm_analytics_optout-option" id="ibm_analytics_optout-option-3" value="opt_in" />
                    <label for="ibm_analytics_optout-option-3">
                        <em>Cancel Opt-out:</em>
                        Allow IBM Digital Analytics to capture all of your actions on this site for use by
                        bloomingdales.com, excluding credit card information. These actions may be identifiable
                        to you as an individual.
                    </label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <ul class="button-group">
                <li>
                    <button name="ibm_analytics_optout-back" id="ibm_analytics_optout-back">Back</button>
                </li>
                <li>
                    <button name="ibm_analytics_optout-submit">Change Opt-Out Status</button>
                </li>
            </ul>
        </fieldset>
    </form>

    <script src="/fashion/javascripts/projects/service/ibmdigitalanalytics-options/index.js"></script>

</div>
