#bl_main_container {
	width: 962px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 0;
	height: 80vh;
	overflow: hidden;	
}

#bl_main_container.loaded{
	height: auto;
	overflow: visible;	
}

#bl_main_container *, #bl_main_container *:before, #bl_main_container *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.project_prefix{
	display: none;
}

.desktop_main_container {
	position: relative;
    font-family: 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color:#000;
    letter-spacing: 1px;
	width: 100%;
}

/* loader */
	.desktop_loader{
	    position: relative;
	    display: block;
	    height: 100%;
	    height: 100vh;
	    width: 100%;
	    left: 0;
	    top: 0;
	    z-index: 99;
	    background: #fff;
	}    
	.desktop_loader > img{
	    position: absolute;
	    left: 50%;
	    margin-left: -15px;
	    top: 50% !important;
	    margin-top: -30px !important;
	}

/*bxslider - carousel style*/
	.bxslider {
		margin: 0!important;
	}
	.bx-wrapper .bx-loading {
		background: url(/fashion/images/projects/template-horizontal/loader.gif) center center no-repeat #fff;
	}
	.bx-next {
		background: url(/fashion/images/projects/template-horizontal/arrows_sprite.png) no-repeat -38px 0px !important; 
	}
	.bx-prev {
		background: url(/fashion/images/projects/template-horizontal/arrows_sprite.png) no-repeat 0px 0px !important; 
	}
	.bx-wrapper {
		position: relative;
		margin: 0 auto 60px;
		padding: 0;
		*zoom: 1;
	}
	.bx-wrapper img {
		max-width: 100%;
		display: block;
	}
	.bx-wrapper .bx-viewport {
		background: #fff;
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
	    	-ms-transform: translatez(0);
	    	-o-transform: translatez(0);
	    	transform: translatez(0);
	}
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom: -30px;
		width: 100%;
	}
	.bx-wrapper .bx-loading {
		min-height: 50px;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000;
	}
	.bx-wrapper .bx-pager {
		text-align: center;
		font-size: .85em;
		font-family: Arial;
		font-weight: bold;
		color: #666;
		padding-top: 20px;
	}
	.bx-wrapper .bx-pager .bx-pager-item,
	.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
		display: inline-block;
		*zoom: 1;
		*display: inline;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #666;
		text-indent: -9999px;
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		outline: 0;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a.hover {
		background: #000;
	}
	.bx-wrapper .bx-prev {
		left: 10px;
		height: 60px !important;	
	}
	.bx-wrapper .bx-next {
		right: 10px;
		height: 60px !important;
	}
	.bx-wrapper .bx-prev.hover {
		background-position: 0 0;
	}
	.bx-wrapper .bx-next.hover {
		background-position: -43px 0;
	}
	.bx-wrapper .bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		z-index: 99;
	}
	.bx-wrapper .bx-controls-direction a.disabled {
		display: none;
	}
	.bx-wrapper .bx-controls-auto {
		text-align: center;
	}
	.bx-wrapper .bx-controls-auto .bx-start {
		display: block;
		text-indent: -9999px;
		width: 10px;
		height: 11px;
		outline: 0;
		margin: 0 3px;
	}
	.bx-wrapper .bx-controls-auto .bx-start.hover,
	.bx-wrapper .bx-controls-auto .bx-start.active {
		background-position: -86px 0;
	}
	.bx-wrapper .bx-controls-auto .bx-stop {
		display: block;
		text-indent: -9999px;
		width: 9px;
		height: 11px;
		outline: 0;
		margin: 0 3px;
	}
	.bx-wrapper .bx-controls-auto .bx-stop.hover,
	.bx-wrapper .bx-controls-auto .bx-stop.active {
		background-position: -86px -33px;
	}
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
		text-align: left;
		width: 80%;
	}
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
		right: 0;
		width: 35px;
	}
	.bx-wrapper .bx-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #666\9;
		background: rgba(80, 80, 80, 0.75);
		width: 100%;
	}
	.bx-wrapper .bx-caption span {
		color: #fff;
		font-family: Arial;
		display: block;
		font-size: .85em;
		padding: 10px;
	}

/* header */
	.desktop_main_container > header{
		height: auto;
		font-size: 0;
		min-width: 962px !important;
	}
	.desktop_main_container > header > img{
		width: 100%;
	}
	.desktop_main_container > ul{
		list-style-type: none;
	}

/* split slides */
.desktop_slider_container > li[class^="desktop_vertical_"] > div{
	position: relative;
	float: left;
	display: inline-block;	
}
/* 4-block grid  */
.desktop_grid > div.left,
.desktop_grid > div.right{
	position: relative;
	float: left;
	display: inline-block;
}
/*CTAs*/
	a.desktop_button{
	    font-weight: bold;
	    font-size: 13px;
		padding: 10px;
		text-decoration: none;
		height: 48px;
		line-height: 48px;
		box-sizing: border-box;
		border: 1px solid #000;
		float: right;
		padding: 0 20px;
		margin-right: 20px;
		z-index: 99;
		position: absolute;
		top: 20px;
	}
	a.desktop_button.hover{
		color: #fff;
		background-color: #000;
	}
	.desktop_shop_all_container {
		display: block;
		opacity: 1;
		visibility: visible;
	}	
	.desktop_shop_all_container.hidden {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	.desktop_shop_all_featured {
		left: 20px;
	}

/*custom slider styles*/
	.desktop_slidecontrollers {
		position: absolute;
		top: 543px;
		background-color: #000;
		height: 42px;
		width: 962px;
		z-index: 98;
	}
	.desktop_slidecontrollers ul{
		right: 0;
		top: 0;
		display: block;
		position: absolute;
		margin: 0;
		padding: 0 10px;
	}
	.desktop_slidecontrollers ul li{
		display: inline-table;
		height: 42px;
		padding: 0 10px;
		margin: 0 9px;
	}
	.desktop_slidecontrollers ul li a,
	.desktop_main_container .dropdown a,
	.desktop_slidecontrollers_title{
		color: #fff;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 13px;
		line-height: 42px;
		text-decoration: none;
	}
	.desktop_slidecontrollers ul li a.active {
		color: yellow;
	}
	.desktop_slidecontrollers_title{
		float: left;
		padding-left: 20px;
	}
	.desktop_slidecontrollers ul li a.hover { 
		color: #fff82c; 
	}
/*dropdown*/
	.desktop_main_container .dropdown a.hover,
	.desktop_main_container .dropdown a.hover i {
		color: #fff82c;
	}

	.desktop_main_container .dropdown {
		position: relative;
		float: right;
		height: 42px;
		padding-left: 10px;
		right: 0;
	}
	.desktop_main_container .dropdown a{
		position: relative;
		text-align: right;
		padding-right: 35px;
		left: 0;
		z-index: 9;
		display: block;
		width: 100%;
	}
	.desktop_main_container .dropdown a i{
	    color: #fff;
	    position: absolute;
	    right: 10px;
	    line-height: 42px;
	    width: auto;
	    padding: 0;
	    top: 0;
	    transition: all 0.3s ease 0s;
	}
	.desktop_main_container .dropdown.open a i{
	    transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);		
	}
	.desktop_main_container .dropdown ul{
		display: none;
	    background-color: #000;
	    position: absolute;
	    top: 40px;
	    padding: 5px 0 10px 0;
	    right: 0;
	}
	.desktop_main_container .dropdown ul li{
		display: block;
		height: 42px;
		line-height: 42px;
		padding: 0 0 0 10px;	
	}

/*HTML5 Video*/
	.desktop_HTML5_video,
	.desktop_HTML5_video video{
	    width: 100%;
	    background: #000;
	}

/*Brightcove Video*/
	.desktop_brightcove_video {
		position: relative;
		width: 100%;
	    background-repeat: no-repeat;
	}

	.BrightcoveExperience{
		display: none;
		position: absolute;
		top: 0;
		width: 962px;
		padding-bottom: 36px;
	}

	a.desktop_brightcove_video_play{
	    display: block;
	    position: relative;
	    top: 20%;
	    margin: 0 auto;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: 0 0;
	    transition: color .5s .3s ease;
	}

	a.desktop_brightcove_video_play.hover{
	    background-position: 0 100%;
	}

/*footer*/
	.desktop_main_container > .desktop_footer{
		position: relative;
		margin-top: 15px;
		margin-bottom: 15px;
		display: block;
		height: 48px;
		min-width: 962px !important;
	}
	.desktop_main_container > .desktop_footer > * {
		display: inline;
	}
	ul.desktop_footer_socialshare_container{
		direction: rtl;
	}
	ul.desktop_footer_socialshare_container li{
		display: inline;
		position:relative;
		box-sizing: border-box;
		width: 48px;
		height: 48px;
		text-align:center;
		border: 1px solid #000;
		border-right: none;
		float:right;
		margin:0;
		cursor:pointer;
	}
	ul.desktop_footer_socialshare_container li.hover{
		color: #fff;
		background-color: #000;
	}
	ul.desktop_footer_socialshare_container li:first-child{
		border-right: 1px solid #000;
	}
	ul.desktop_footer_socialshare_container li i {
		font-size: 22px;
		line-height: 48px;
	}