


<!--headTitle={"title":"100% Bloomingdale’s | Spring 2018 Men's Designer Exclusives"}-->
<!--headMeta={"name":"description", "content":"Shop our Spring 2018 edit of the best 100% Bloomingdale’s exclusives, including men's designer suits, dress shoes and so much more."}-->
<!--headCanonical={"href":"https://www.bloomingdales.com/b/campaigns/2018-spring-campaign-100-percent-exclusive/mens-designer-clothing/"}-->

<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/2018-spring-campaign-100-percent-exclusive/styles.css" rel="stylesheet">

<div class="spring-18 spring-18-men" data-coremetrics-page-id="men">
    <!--Sticky header/ -->
    <div class="spring-18-sticky-header">
        <button coremetricTag="nav-hamburger" id="spring-18-nav-switcher" class="nav-hamburger"
                aria-label="Menu"
                role="button" aria-controls="navigation" aria-expanded="true/false">
            <span>toggle menu</span>
        </button>
        <a href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/">
            <img class="spring-18-logo"
                 alt="Bloomingdale’s logo"
                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/logo.png">
        </a>
    </div>
    <!-- /Sticky header-->

    <!-- Navigation/ -->
    <nav class="spring-18-nav">
        <ul>
            <li><a coremetrictag="aside-nav-Women"
                   href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/womens-designer-clothing/"><span
                    class="nav-item-content">Women</span></a></li>
            <li><a coremetrictag="aside-nav-Men"
                   class="spring-18-nav__current"
                   href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/mens-designer-clothing/"><span
                    class="nav-item-content">Men</span></a></li>
            <li><a coremetrictag="aside-nav-Home"
                   href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/home-decor-dinnerware/"><span
                    class="nav-item-content">Home</span></a></li>
            <li><a coremetrictag="aside-nav-Nintendo-Exclusives"
                   href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/nintendo-exclusives/"><span
                    class="nav-item-content">Nintendo Exclusives</span></a></li>
            <li><a coremetrictag="aside-nav-Shop-All-Exclusives"
                   href="/shop/fashion-lookbooks-videos-style-guide/all-100-exclusives?id=1004418"><span class="nav-item-content">Shop All Exclusives</span></a></li>
            <li><a coremetrictag="Back-To-Bloomingdales"
                   href="https://www.bloomingdales.com/" id="last-nav-tabbable"><span class="nav-item-content">Back to Bloominggdales.com</span></a></li>
        </ul>
    </nav>
    <!-- /Navigation -->


    <header class="spring-18-page-header spring-18-men">
        <div class="spring-18-page-heading">
            <h1>Winning picks</h1>
            <p>Scroll down for this season’s top exclusives..</p>
        </div>
    </header>

    <main class="spring-18-main-wrapper">

        <div class="spring-18-grid-wrapper spring-18-men-grid-wrapper">
            <div class="grid-container full">
                <div class="grid-x medium-up-2 large-up-3">
                    <div class="cell">
                        <a coremetrictag="Michael-Kors-Jacket-Sweater-Jeans"
                           href="/shop/product/?ID=2872858">
                            <img alt="Michael Kors Jacket, Sweater & Jeans"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/01.jpg">
                            Michael Kors Jacket, Sweater &amp; Jeans
                        </a>
                    </div>
                    <div class="cell">
                        <a coremetrictag="Theory-Jacket-Tee-Pants"
                           href="/shop/product/?ID=2807961">
                            <img alt="Theory Jacket, Tee & Pants"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/02.jpg">
                            Theory Jacket, Tee &amp; Pants
                        </a>
                    </div>
                    <div class="cell">
                        <a coremetrictag="Polo-Ralph-Lauren-Sweatshirt-Polo-Joggers"
                           href="/shop/product/?ID=2874275">
                            <img alt="Polo Ralph Lauren Sweatshirt, Polo &amp; Joggers"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/03.jpg">
                            Polo Ralph Lauren Sweatshirt, <br>Polo &amp; Joggers
                        </a>
                    </div>
                    <div class="cell">
                        <a coremetrictag="John-Varvatos-Star-USA-Jacket-Tee-Jeans"
                           href="/shop/product/?ID=2877996">
                            <img alt="John Varvatos Star USA Jacket, Tee &amp; Jeans"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/04.jpg">
                            John Varvatos Star USA Jacket, Tee &amp; Jeans
                        </a>
                    </div>
                    <div class="cell">
                        <a coremetrictag="Polo-Ralph-Lauren-Sweatshirt-Chinos"
                           href="/shop/product/?ID=2877997">
                            <img alt="Polo Ralph Lauren Sweatshirt &amp; Chinos"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/05.jpg">
                            Polo Ralph Lauren Sweatshirt &amp; Chinos
                        </a>
                    </div>
                    <div class="cell">
                        <a coremetrictag="Polo-Ralph-Lauren-Sport-Shirt-Jeans"
                           href="/shop/product/?ID=2877998">
                            <img alt="Polo Ralph Lauren Sport Shirt &amp; Jeans"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/06.jpg">
                            Polo Ralph Lauren Sport Shirt &amp; Jeans
                        </a>
                    </div>
                    <div class="cell">
                        <a coremetrictag="The-Kooples-Jacket-Pants"
                           href="/shop/product/?ID=2872964">
                            <img alt="The Kooples Jacket &amp; Pants"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/07.jpg">
                            The Kooples Jacket &amp; Pants
                        </a>
                    </div>
                    <div class="cell">
                        <a coremetrictag="Theory-Jacket-Sweater-Pants"
                           href="/shop/product/?ID=2872966">
                            <img alt="Theory Jacket, Sweater &amp; Pants"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/08.jpg">
                            Theory Jacket, Sweater &amp; Pants
                        </a>
                    </div>
                    <div class="cell">
                        <a coremetrictag="John-Varvatos-Star-USA-Jacket-Tee-Jeans"
                           href="/shop/product/?ID=2874223">
                            <img alt="John Varvatos Star USA Jacket, Tee &amp; Jeans"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/09.jpg">
                            John Varvatos Star USA Jacket, <br>Tee &amp; Jeans
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="spring-18-marquee-container">
            <div class="spring-18-marquee-animation">Super Fun. Super Chic. Super Exclusive. Super Fun. Super Chic.
                Super
                Exclusive. Super Fun. Super Chic. Super Exclusive.
            </div>
        </div>

        <!-- // Image carousel -->
        <div class="spring-18-image-carousel">
            <div class="spring-18-image-carousel-container">
                <div class="spring-18-carousel-images">
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Sweatshirt-plus-Backpack"
                            href="/shop/product/?ID=2874222">
                            <img class=""
                                 alt="Sweatshirt + Backpack"
                             src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/01.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Swim-plus-Pool-Float"
                           href="/shop/product/?ID=2872987">
                            <img class=""
                                 alt="Swim + Pool Float"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/02.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Gitman-Bros-Shirt"
                            href="/shop/product/?ID=2855405">
                            <img class=""
                                 alt="Gitman Bros Shirt"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/03.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder image-carousel__text-card">
                        <div class="content">Designer collaborations inspired by the world of
                            <br>
                            <img class="nintendo-logo"
                                 alt="Nintendo logo"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/nintendo-logo.svg">
                        </div>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Sovereign-Code-Tee"
                            href="/shop/product/?ID=2843287">
                            <img class=""
                                 alt="Sovereign Code Tee"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/04.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Onia-Swim"
                            href="/shop/product/?ID=2854955">
                            <img class=""
                                 alt="Onia Swim"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/05.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Sovereign-Code-Shirt"
                           href="/shop/product/?ID=2843287">
                            <img class=""
                                 alt="Sovereign Code Shirt"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/06.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Original-Penguin-Swim"
                           href="/shop/product/?ID=2837640">
                            <img class=""
                                 alt="Original Penguin Swim"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/07.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Paul-Smith-Socks"
                           href="/shop/product/?ID=2837738">
                            <img class="Paul Smith Socks"
                                 alt=""
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/08.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Sovereign-Code-Sweatshirt"
                           href="/shop/product/?ID=2857643">
                            <img class=""
                                 alt="Sovereign Code Sweatshirt"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/09.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Onia-Swim"
                           href="/shop/product/?ID=2854954">
                            <img class=""
                                 alt="Onia Swim"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/10.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Gitman-Bros-Shirt"
                           href="/shop/product/?ID=2855403">
                            <img class=""
                                 alt="Gitman Bros Shirt"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/11.jpg">
                        </a>
                    </div>
                    <div class="spring-18-carousel-img-holder">
                        <a coremetrictag="Sover-Code-Tee"
                           href="/shop/product/?ID=2843287">
                            <img class=""
                                 alt="Sover Code Tee"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/carousel/12.jpg">
                        </a>
                    </div>
                </div>
            </div>


            <a coremetrictag="carousel-left-arrow"
               href="javascript:void(0);"
               class="spring-18-image-carousel-left-arrow spring-18-square-btn btn-yellow arrow-left">&nbsp;</a>
            <a coremetrictag="carousel-right-arrow"
               href="javascript:void(0);"
               class="spring-18-image-carousel-right-arrow spring-18-square-btn btn-yellow arrow-right">&nbsp;</a>
        </div>

        <!-- Image carousel // -->


        <div class="spring-18-pipe-container">
            <div class="spring-18-pipe">
                <div class="spring-18-pipe-bg"></div>
                <img class="spring-18-pipe-connector-img"
                     alt=""
                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/pipe-connector.png">
                <div class="spring-18-mr-mario-holder scrollme animateme"
                     data-when="enter" data-from="1"
                     data-to="0" data-opacity="1"
                     data-translatex="-500">
                    <img class="spring-18-mr-mario"
                         alt=""
                         src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/mario-anim.gif">
                </div>
            </div>
            <div class="spring-18-pipe-link-holder">
                <a coremetrictag="View-the-Nintendo-exclusives"
                   href="/shop/fashion-lookbooks-videos-style-guide/Nintendo?id=1049859"
                   class="spring-18-pipe-link">View the Nintendo&reg; <span>exclusives</span></a>
            </div>
        </div>


        <!-- Jay Ellis Talks -->

        <div class="spring-18-jay-ellis-talks-container">
            <div class="spring-18-jay-ellis-talks">

                <div class="spring-18-jay-ellis-talks-hero">
                    <div class="jay-ellis-talks-hero-img">
                        <img alt=""
                             src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/jay-ellis-talks-hero.jpg">
                    </div>
                    <div class="jay-ellis-talks-preamble">
                        <h2 class="jay-ellis-talks-heading"><span>Jay Ellis Talks</span> <span>Nintendo, Fashion</span>
                            <span>&amp;&nbsp;Star&nbsp;Power</span></h2>
                        <p>To help you power up your closet with our latest limited&dash;edition gear, we asked old&dash;school
                            NES fan and current star of the HBO hit Insecure, Jay Ellis, to try on a few of our super
                            exclusives. In between shots, we asked him to share his thoughts on sneakers, Mario power&dash;ups
                            and, naturally, his first stop at Bloomingdale&#39;s.</p>
                    </div>
                </div>


                <div class="spring-18-jay-ellis-talks-qa">
                    <h3 class="jay-ellis-talks-q">You seem like a guy who’s pretty comfortable in a suit.
                        What do you look for when picking one out?</h3>

                    <p class="jay-ellis-talks-a">I love playing with different fabrics and patterns, but I always stick
                        with a really sharp, slim fit. I go from being really classic and traditional some days to just trying something new.</p>

                    <h3 class="jay-ellis-talks-q">You&#39;ve mentioned before that sneakers are a big part of your
                        personal style. What&#39;s your current favorite pair?</h3>
                    <p class="jay-ellis-talks-a">My Adidas Tubulars are probably up there, but I&#39;m kind of all over
                        the place. My closet&#39;s getting ridiculous because I just don&#39;t throw anything out.
                        I&#39;m a hoarder when it comes to shoes.</p>

                    <h3 class="jay-ellis-talks-q">What was your favorite style from our shoot?</h3>
                    <p class="jay-ellis-talks-a">I love the Theory suit I&#39;m wearing on the cover of the men&#39;s
                        spring catalog, but the Donkey Kong shirt is also pretty epic. I kept thinking someone was going to throw a
                        barrel at me when I was wearing it.</p>

                    <h3 class="jay-ellis-talks-q">In one of the looks, you&#39;re wearing a suit with a sweatshirt and
                        sneakers. Any tips for guys at home trying to dress down a suit?</h3>
                    <p class="jay-ellis-talks-a">Keep it simple with really easy basics like T&dash;shirts, sweatshirts
                        and a great pair of clean, minimalist&nbsp;sneakers.</p>


                    <h3 class="jay-ellis-talks-q">What&#39;s your first stop at Bloomingdale&#39;s?</h3>
                    <p class="jay-ellis-talks-a">The Denim Shop, because I live in L.A. I wear a lot of denim. Most of
                        my jeans are rag &amp; bone.</p>

                    <h3 class="jay-ellis-talks-q">What&#39;s your favorite old&dash;school Nintendo game?</h3>
                    <p class="jay-ellis-talks-a">I&#39;m from the Nintendo generation, so I think I have to say the
                        original Super Mario Bros. You could go to anyone&#39;s house and they&#39;d have Super Mario Bros. Beating King Koopa was
                        like winning the Super Bowl.</p>

                    <h3 class="jay-ellis-talks-q">Who&#39;s your go&dash;to character for Mario Kart?</h3>
                    <p class="jay-ellis-talks-a">Yoshi. He just seems fun. Like, if Yoshi called me up and was like,
                        &quot;Yo, I’m in L.A. this weekend,&quot; I&#39;d be like, &quot;Let&#39;s go out.&quot; It
                        would be an absolute disaster, but at the same time everyone would want to be around him.</p>

                    <h3 class="jay-ellis-talks-q">Which would you rather have: a mushroom that makes you bigger,
                        a feather that makes you fly or a flower that gives you firepower?</h3>
                    <p class="jay-ellis-talks-a">The feather that makes you fly. Can you imagine just being able to
                        stretch out and not having to worry about the legroom on a plane? And the views!
                        <br>
                        <img class="mr-mario"
                             alt=""
                             src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/men/mr-mario.png">
                    </p>
                </div>

            </div>
        </div>

        <!-- Page footer -->

        <div class="spring-18-page-bottom-jumbotron x-y-footer-jumbo">
            <div class="footer-jumbo-content page-bottom-content">
                <h3>
                    <span>Shop</span>
                    <span> by</span>
                    <span> cate<span class="dash">&dash;</span></span><span>gory</span>
                </h3>
                <div class="x-y-footer-jumbo-links-wrapper">
                    <div class="grid-container full">
                        <div class="grid-x medium-up-2 large-up-4">
                            <div class="cell">
                                <div class="cell-content">
                                    <a coremetrictag="Button-Down-Shirts"
                                       href="/shop/fashion-lookbooks-videos-style-guide/100-men/100_mens_category/Button%20Down%20Shirts?id=1004421"
                                       class="shirts">
                                        <span class="container double">
                                            <span class="content">Button-down</span><br>
                                            <span class="content"> Shirts</span>
                                        </span>
                                        <div class="bg-image"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="cell-content">
                                    <a coremetrictag="Shoes"
                                       href="/shop/fashion-lookbooks-videos-style-guide/100-mens-shoes?id=1041565"
                                       class="men-shoes">
                                        <span class="container">
                                            <span class="content">Shoes</span>
                                        </span>
                                        <div class="bg-image"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="cell-content">
                                    <a coremetrictag="Coats-Jackets"
                                       href="/shop/fashion-lookbooks-videos-style-guide/100-men/100_mens_category/Coats%20%26%20Jackets?id=1004421"
                                       class="coats-jackets">
                                        <span class="container double">
                                            <span class="content">Coats &amp;</span><br>
                                            <span class="content"> Jackets</span>
                                        </span>
                                        <div class="bg-image"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="cell-content">
                                    <a coremetrictag="Accessories"
                                       href="/shop/fashion-lookbooks-videos-style-guide/100-mens-accessories?id=1041564"
                                       class="men-accessories">
                            <span class="container">
                                <span class="content">Accessories</span>
                            </span>
                                        <div class="bg-image"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="cell-content">
                                    <a coremetrictag="Hoodies-Sweatshirts"
                                       href="/shop/fashion-lookbooks-videos-style-guide/100-men/100_mens_category/T-Shirts%20%26%20Sweatshirts?id=1004421"
                                       class="men-hoodies">
                                        <span class="container double">
                                            <span class="content">Hoodies &amp;</span>
                                            <span class="content">Sweatshirts</span>
                                        </span>
                                        <div class="bg-image"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="cell-content">
                                    <a coremetrictag="Jeans"
                                       href="/shop/fashion-lookbooks-videos-style-guide/100-men/100_mens_category/Pants%252C%20Jeans%20%26%20Shorts?id=1004421"
                                       class="men-jeans">
                                        <span class="container">
                                            <span class="content">Jeans</span>
                                        </span>
                                        <div class="bg-image"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="cell-content">
                                    <a coremetrictag="Blazers-Sportcoats"
                                       href="/shop/fashion-lookbooks-videos-style-guide/100-men/100_mens_category/Suits%252C%20Sport%20Coats%20%26%20Blazers?id=1004421"
                                       class="men-blazers">
                                        <span class="container double">
                                            <span class="content">Blazers &amp;</span><br>
                                             <span class="content">Sport Coats</span>
                                        </span>
                                        <div class="bg-image"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="cell">
                                <div class="cell-content">
                                    <a coremetrictag="All-Men"
                                       href="/shop/fashion-lookbooks-videos-style-guide/100-men?id=1004421"
                                       class="men-all">
                                        <span class="container">
                                            <span class="content">All men</span>
                                        </span>
                                        <div class="bg-image"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="spring-18-page-footer">
        <div class="spring-18-social-links">
            <a coremetrictag="pinterest-share-link"
               class="spring-18-pinterest-link"
               href="javascript:void(0);"><img alt=""
                                               src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/pinterest-icon.png"></a>
            <a coremetrictag="instagram-share-link"
               class="spring-18-instagram-link"
               href="javascript:void(0);"><img alt=""
                                               src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/instagram-icon.png"></a>
            <a coremetrictag="twitter-share-link"
               class="spring-18-twitter-link"
               href="javascript:void(0);"><img alt=""
                                               src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/twitter-icon.png"></a>
            <a coremetrictag="facebook-share-link"
               class="spring-18-facebook-link"
               href="javascript:void(0);"><img alt=""
                                               src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/facebook-icon.png"></a>
        </div>
        <a coremetrictag="back-to-top-button"
           href="javascript:void(0);" class="spring-18-back-to-top spring-18-square-btn btn-red arrow-top">&nbsp;</a>
    </footer>
</div>

<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/2018-spring-campaign-100-percent-exclusive/libs/jquery.2.2.4.js"><\/script>')</script>

<script src="/b/fashion/campaigns/javascripts/2018-spring-campaign-100-percent-exclusive/libs/jquery.marquee.js"></script>
<script src="/b/fashion/campaigns/javascripts/2018-spring-campaign-100-percent-exclusive/libs/jquery.scrollme.js"></script>
<script src="/b/fashion/campaigns/javascripts/2018-spring-campaign-100-percent-exclusive/spring-18-main.js"></script>

