#browser-list {
    .browser-icon {
        border: 2px solid #ccc;
        height: 120px;
        width: 94px;
        margin-bottom: 20px;
        cursor: pointer;
        padding-top: 5px;
        h5 {
            text-align: center;
        }
        .browser-icon-container {
            margin: 0 auto;
            height: 70px;
            width: 60px;
            img {
                margin-top: 4px;
            }
        }
    }
    .single-line {
        margin-top: 8px;
    }
    // Foundation sets the last column to float: right
    .lastColumn {
        float: left;
    }
}

// 600px is the width of screen when there are 2 columns of browser icons
// When this happens, center heading text,
// and make button full width
@media (max-width: 599px) {
    #no-session-cookie {
        padding-left: 21px;
        padding-right: 21px;
    }
    #head-text-group {
        margin-top: 18px;
    }
    .head-text {
        text-align: center;
    }
    #browser-list {
        .browser-icon {
            margin-top: 0px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #go-back-button {
        width: 100%;
    }
}