<!-- {pageTitle:"Bloomingdale's the Outlet Store", pageLabel:"Bloomingdale's the Outlet Store"} -->
{{{coremetrics 'Fall15_uwsoutletlaunch--hp' 'Fall15_uwsoutletlaunch'}}}
<style type="text/css">
    #bl_main_lookbook_container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0;
    }

    .desktop-artwork-link{
        position: absolute;
        display: block;
        background-image: url('UWS_Outlet-nothing.png');
    }

    #UWS_Outlet_desktop_main_container {
        display: block;
        position: relative;
        text-align: center;
        width: 962px;
    }

    #UWS_Outlet_desktop_main_container > section {
        position: relative;
    }

    #UWS_Outlet_desktop_main_container > section > img{
        display: block;
    }

    #upperWestSideStoreAddress-link {
        width: 350px;
        height: 390px;
        left: 520px;
        top: 165px;
    }

    #get20Off-link {
        width: 285px;
        height: 140px;
        left: 93px;
        top: 93px;
    }
    #signUpForEmails-link {
        width: 200px;
        height: 30px;
        left: 380px;
        top: 226px;
    }
    #signUpForTexts-link {
        width: 200px;
        height: 30px;
        left: 380px;
        top: 270px;
    }

    .bl_mobile #UWS_Outlet_mobile_main_container {
        display:block;
    }
    .bl_mobile #UWS_Outlet_desktop_main_container {
        display: none;
    }

</style>
<div class="about_us">
    {{>title}}

    <div id="bl_main_wrapper" class="newLayout">
        <div id="bl_main_container">
            <a name="top"></a>
            <div id="bl_main_lookbook_container">
                <!-- <div id="UWS_Outlet_desktop_loader" style="position: fixed; display: block; height: 100%; width: 100%; left: 0; top: 0; z-index: 99; background: #fff;">
                <img src="http://assets.bloomingdales.com/dyn_img/cat_splash/UWS_Outlet_loader.gif" style="position: absolute; left: 50%; margin-left: -15px; top: 50% !important; margin-top: -30px !important;" alt=''/>
                </div> -->
                <div id="UWS_Outlet_desktop_main_container">
                    <section id="UWS_Outlet_desktop_s01">
                        <img src="/fashion/images/projects/fashion-index/top-fashion-outlet-store/UWS_Outlet-hero.jpg" alt=""/>
                        <a id="upperWestSideStoreAddress-link"
                           class="desktop-artwork-link"
                           href="http://locations.bloomingdales.com/upper-west-side-outlet"
                           data-cm="uwsoutlet-upperWestSideStoreAddress" target="_blank"></a>
                    </section>
                    <section id="UWS_Outlet_desktop_s02" class="UWS_Outlet_margin_bottom_30 desktop_section">
                        <img src="/fashion/images/projects/fashion-index/top-fashion-outlet-store/UWS_Outlet-section01.jpg" alt=""/>
                    </section>
                    <section id="UWS_Outlet_desktop_s03" class="UWS_Outlet_margin_bottom_30 desktop_section">
                        <img src="/fashion/images/projects/fashion-index/top-fashion-outlet-store/UWS_Outlet-section02.jpg" alt=""/>
                        <a id="get20Off-link"
                           class="desktop-artwork-link"
                           href="javascript:pop('/popup.ognc?popupID=512641','myDynaPop','width=575,height=350')"
                           data-cm="uwsoutlet-get20off"></a>
                        <a id="signUpForEmails-link" class="desktop-artwork-link" href="https://ebm.cheetahmail.com/r/regf2?a=0&aid=2084672712&n=1"
                           data-cm="uwsoutlet-signUpForEmails" target="_blank"></a>
                        <a id="signUpForTexts-link"
                           class="desktop-artwork-link"
                           href="javascript:pop('/popup.ognc?popupID=564962','myDynaPop','width=575,height=350')"
                           data-cm="uwsoutlet-singUpForTexts"></a>
                    </section>
                </div>
                <!-- MOBILE CONTENT -->
                <div id="UWS_Outlet_mobile_main_container">
                    <section id="UWS_Outlet_mobile_s01" style="position: relative;">
                        <img src="/fashion/images/projects/fashion-index/top-fashion-outlet-store/UWS_Outlet-mobile01.jpg" alt="" style="width: 100%;"/>
                        <a class="mobile-artwork-link" href="https://goo.gl/maps/eT5SLZLRWzn" data-cm="uwsoutlet-upperWestSideStoreAddress" target="_blank"
                           style="position: absolute; top: 36.723693%; left: 0%; width: 100%; height: 28.919112%;"></a>
                    </section>
                    <section id="UWS_Outlet_mobile_s02" style="position: relative;">
                        <img src="/fashion/images/projects/fashion-index/top-fashion-outlet-store/UWS_Outlet-mobile02.jpg" alt="" style="width: 100%;"/>
                        <a class="mobile-artwork-link" href="javascript:pop('/popup.ognc?popupID=512641','myDynaPop','width=575,height=350')" data-cm="uwsoutlet-get20off"
                           style="position: absolute; top: 34.101773%; left: 15.9375%; width: 68.28125%; height: 12.082806%;"></a>
                        <a class="mobile-artwork-link" href="https://ebm.cheetahmail.com/r/regf2?a=0&aid=2084672712&n=1" data-cm="uwsoutlet-signUpForEmails" target="_blank"
                           style="position: absolute; top: 63.848496%; left: 17.96875%; width: 63.90625%; height: 4.319969%;"></a>
                        <a class="mobile-artwork-link" href="javascript:pop('/popup.ognc?popupID=564962','myDynaPop','width=575,height=350')" data-cm="uwsoutlet-singUpForTexts"
                           style="position: absolute; top: 68.641788%; left: 17.96875%; width: 63.90625%; height: 4.319969%;"></a>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>


