<div id="no-session-cookie">
    <!--headTitle={"title":"Your Cookies Are Disabled"}-->
    <link href="/b/fashion/styles/projects/no-session-cookie/style.css" rel="stylesheet" />
    
    <div class="row">
        <div class="small-24 columns">
            <div id="head-text-group">
                <h1 class="head-text">Your Cookies Are Disabled</h1>
                <p class="head-text">For the best shopping experience, please enable them now. Select your browser to learn how.</p>
            </div>
            
            <div class="row" id="browser-list">
                <div class="desktop small-8 columns">
                    <div id="safari" class="browser-icon" data-link="https://support.apple.com/kb/ph21411">
                        <div class="browser-icon-container">
                            <img src="/b/fashion/images/projects/no-session-cookie/browser-icons/safari-icon.png" alt="Safari logo">
                        </div>
                        <h5 class="single-line">Safari</h5>
                    </div>
                </div>
                <div class="desktop small-8 columns">
                    <div class="browser-icon" data-link="https://support.google.com/chrome/answer/114662">
                        <div class="browser-icon-container">
                            <img src="/b/fashion/images/projects/no-session-cookie/browser-icons/chrome-512.png" alt="Chrome logo">
                        </div>
                        <h5 class="single-line">Chrome</h5>
                    </div>
                </div>
                <div class="desktop small-8 columns">
                    <div class="browser-icon" data-link="http://www.samsung.com/uk/support/skp/faq/1056432">
                        <div class="browser-icon-container">
                            <img src="/b/fashion/images/projects/no-session-cookie/browser-icons/samsung_browser.png" alt="Samsung Browser logo">
                        </div>
                        <h5 class="multi-line">Samsung Browser</h5>
                    </div>
                </div>
                <div class="desktop small-8 columns">
                    <div class="browser-icon" data-link="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">
                        <div class="browser-icon-container">
                            <img src="/b/fashion/images/projects/no-session-cookie/browser-icons/IE.jpg" alt="IE logo">
                        </div>
                        <h5 class="multi-line">Internet Explorer</h5>
                    </div>
                </div>
                <div class="desktop small-8 columns">
                    <div class="browser-icon" data-link="https://privacy.microsoft.com/en-US/windows-10-microsoft-edge-and-privacy">
                        <div class="browser-icon-container">
                            <img src="/b/fashion/images/projects/no-session-cookie/browser-icons/edge.jpg" alt="Edge logo">
                        </div>
                        <h5 class="single-line">Edge</h5>
                    </div>
                </div>
                <div class="desktop small-8 columns lastColumn">
                    <div class="browser-icon" data-link="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">
                        <div class="browser-icon-container">
                            <img src="/b/fashion/images/projects/no-session-cookie/browser-icons/firefox-512-noshadow.png" alt="Firefox logo">
                        </div>
                        <h5 class="single-line">FireFox</h5>
                    </div>
                </div>
            </div>
            
            {{#if args.isMobile}}
                <p>On Mobile</p>
            {{/if}}

            <!-- Go back in browser history? -->
            <button id="go-back-button" class="clearBoth">go back</button>
        </div>
    </div>
    
    
    <script type="text/javascript" src="/b/fashion/javascripts/projects/no-session-cookie/no-session-main.js"></script>
    
</div>