<!-- {pageTitle: "Studio Services", pageLabel: "Studio Services &mdash; Shopping Services &mdash; About Us | Bloomingdale's"} -->
{{{coremetrics 'Studio Services (ab-sh-xx-xx.studio)' 'ab-sh-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Bloomingdale's isn't just a store. It's a vast resource for the film and television industries. Our Studio Services experts help customers and stylists select the perfect wardrobes and props for feature films, sitcoms and soap operas."}-->
<!--headCanonical={"href":"/about-us/shopping/fashion-studio-styling-services"}-->
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="lp_philanthropy bl_cu_mainContent">
                                {{>titleimage}}
                                <div class="row">
                                    <div class="hshim"></div>


                                    <div class="bl_cs_mainContent"><span class="bold">We'll help you get rave reviews <br></span>
                                        Did you know that some of your favorite Hollywood celebrities get their
                                        glamorous on-screen looks from Bloomingdale's? When you shop at our stores,
                                        you're in stylish company. <br>
                                        <br><span class="bold">We dress the stars<br></span>
                                        Bloomingdale's isn't just a store. It's a vast resource for the film and television industries.
                                        Our Studio Services experts help costumers and stylists select the perfect wardrobes and
                                        props for feature films, sitcoms and soap operas. <br>
                                        <br><span class="bold">We understand the business<br></span>
                                        We're aware of the pressures involved in planning and staging a production and
                                        will always work within the stated budget and time-frame.
                                        Trying out a new look on-camera? We provide industry professionals with efficient
                                        solutions for screen tests and last-minute scene changes.<br>
                                        <br>
                                        <p>
                                            For more information on Studio Services, film and television
                                            professionals may contact us at any of the following locations:
                                        </p>
                                        <p><span class="bl_cs_SShdr" style="font-weight: bold;text-decoration: underline;">New York</span><br>
                                            59th Street: 212-705-3673
                                        </p>
                                        <p><span class="bl_cs_SShdr" style="font-weight: bold;text-decoration: underline;">California</span><br>
                                            Sherman Oaks Fashion Square: 818-325-2301<br>
                                            Beverly Center: 310-360-2714<br>
                                            Century City: 310-712-2234<br>
                                        </p>
                                        <p><span class="bl_cs_SShdr" style="font-weight: bold;text-decoration: underline;">Georgia</span><br>
                                            Lenox Square: 404-495-2943
                                        </p></div>
                                    <div class="bl_cs_brown_bag"><img src="http://assets.bloomingdales.com/img/shoppingServices/brownBag.jpg" width="190" height="293" alt="brownBag" border="0"></div>


                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



