//- Be sure to set the layout path to the relative path
extends ../layout

block content
	link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
	link(rel='stylesheet', href='/stylesheets/lookbooks/map.css')
	
	#lookbookSlideshow
		img(src="/images/lookbooks/left-arrow-whitebg.png").left.arrow
		.slides
			img(src="/images/lookbooks/example2.png")
		img(src="/images/lookbooks/right-arrow-whitebg.png").right.arrow
	.content
		#subLinks.center
			.sub1
				.shoplook <span class="caps">shop this look:</span> Haul wind marooned knave mizzen, line warp scurvy ye.
				.shopbrand <span class="caps">shop citizens of humanity</span>
		#socialMedia.center
			a.facebook(href="") facebook
			a.twitter(href="") twitter
			a.pinterest(href="") pinterest
		#lookbookGrid
			.breaker
			.group
				h3.center spring 2015 lookbooks
				.large-18.push-3.center
					.thumb.large-5
					.thumb.large-5
					.thumb.large-5
					.thumb.large-5
					.thumb.large-5
					.thumb.large-5
					.thumb.large-5
					.thumb.large-5
			.breaker
			.group
				h3.center what's next & coming
				.large-18.push-3.center
					.thumb.large-5
					.thumb.large-5
					.thumb.large-5
