<!-- {pageTitle: "Business Gifts", pageLabel: "Corporate Business Gifts for Employees & Clients"} -->
{{{coremetrics 'Corporate_Services_(ab-sh-xx-xx.corporate)' 'ab-sh-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Your business is our business. Our Corporate Service executives make office gifting simple & easy, whether it be for the holidays or company-wide recognition."}-->
<!--headCanonical={"href":"http://fashion.bloomingdales.com/about-us/shopping/corporate-business-gifts/"}-->
<div class="about_us">
    {{>title}}
    <link href="/fashion/styles/projects/about-us/shopping/corporate-business-gifts/styles.css" rel="stylesheet" type="text/css" />
    <script src="/fashion/javascripts/projects/about-us/shopping/corporate-business-gifts/main.js"></script>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="business-gifts">
                                <section class="row hero">
                                    <img src="/fashion/images/projects/about-us/shopping/corporate-business-gifts/mob-hero.jpg" class="show-for-small-only" alt="Bloomingdale's Business Gifts: Best Gifts for Your Employees & Clients">
                                    <img src="/fashion/images/projects/about-us/shopping/corporate-business-gifts/hero.jpg" class="show-for-medium-up" alt="Bloomingdale's Business Gifts: Best Gifts for Your Employees & Clients">
                                    <div class="hero-content">
                                        <h1>Business Gifts</h1>
                                        <p>Show your appreciation to valued employees and important clients with an exceptional gift from Bloomingdale's.</p>
                                    </div>
                                    <p class="expert-team">Our expert Corporate Team can help you find the perfect items for every occasion.</p>
                                    <div class="contact">
                                        <span class="phone-text">To place an order or speak with one of our representatives, please:</span>
                                        <a href="tel:+1-866-612-5666" class="phone-number"><span>Call</span> 866-612-5666</a><a href="mailto:businessgifts@bloomingdales.com" class="email"><span class="email-mobile">Email:</span><span class="email-desktop">, email</span> businessgifts@bloomingdales.com</a>
                                        <address>or visit us in store at <a href="http://locations.bloomingdales.com/59th-street" class="store-top" data-cm="59">59th Street</a>, <a href="http://locations.bloomingdales.com/medinah-home--chicago" class="store-top" data-cm="medinah">Medinah Home</a> or <a href="http://locations.bloomingdales.com/century-city" class="store-top" data-cm="century-city">Century City</a>.</address>
                                    </div>
                                </section>
                                <section class="row gifts">
                                    <div class="small-24 medium-12 medium-push-12 columns">
                                        <div class="section-text">
                                            <h2>An unrivaled selection of gifts for:</h2>
                                            <ul>
                                                <li>Conferences and events</li>
                                                <li>Recognition awards</li>
                                                <li>Saying thank you</li>
                                                <li>Weddings and babies</li>
                                                <li>Anniversary commemoratives</li>
                                                <li>Performance motivation programs</li>
                                                <li>The holidays</li>
                                            </ul>
                                            <p>Plus, we can assist you with furnishings for offices, boardroom and apartments.</p>
                                        </div>
                                    </div>
                                    <div class="small-24 medium-12 medium-pull-12 columns">
                                        <img src="/fashion/images/projects/about-us/shopping/corporate-business-gifts/gifts.png" alt="Bloomingdale's Business Gifts: Special Occasion & Events Gifts">
                                    </div>
                                </section>
                                <section class="row benefits">
                                    <div class="small-24 medium-12 columns">
                                        <div class="section-text">
                                            <h2>The Benefits<small class="show-for-small-only">Corporate Clients enjoy:</small></h2>
                                            <p class="show-for-medium-up">Corporate Clients enjoy:</p>
                                            <ul>
                                                <li>A special corporate discount on merchandise and gift cards</li>
                                                <li>Complimentary gift wrap</li>
                                                <li>Personalization services</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="small-24 medium-12 columns">
                                        <img src="/fashion/images/projects/about-us/shopping/corporate-business-gifts/benefits.png" alt="Bloomingdale's Business Gifts: The Benefits">
                                    </div>
                                </section>
                                <div class="holiday">
                                    <a href="http://www.bloomingdales.com/holidaybusinessgifts?cm_sp=shopping_services-_-business_gifts-_-holiday_banner">
                                        <img src="/fashion/images/projects/about-us/shopping/corporate-business-gifts/mob-frame.png" class="show-for-small-only" alt="SHOP HOLIDAY GIFTS">
                                        <img src="/fashion/images/projects/about-us/shopping/corporate-business-gifts/frame.png" class="show-for-medium-up" alt="SHOP HOLIDAY GIFTS">
                                    </a>
                                </div>
                                <div class="contact">
                                    <span class="phone-text">To place an order or speak with one of our representatives, please:</span>
                                    <a href="tel:+1-866-612-5666" class="phone-number"><span>Call</span> 866-612-5666</a><a href="mailto:businessgifts@bloomingdales.com" class="email"><span class="email-mobile">Email:</span><span class="email-desktop">, email</span> businessgifts@bloomingdales.com</a>
                                   <address>or visit us in store at <a href="http://locations.bloomingdales.com/59th-street" class="store-bottom" data-cm="59">59th Street</a>, <a href="http://locations.bloomingdales.com/medinah-home--chicago" class="store-bottom" data-cm="medinah">Medinah Home</a> or <a href="http://locations.bloomingdales.com/century-city" class="store-bottom" data-cm="century-city">Century City</a>.</address>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



