<!-- {pageTitle: "Business Gifts", pageLabel: "Corporate Business Gifts for Employees & Clients"} -->
{{{coremetrics 'Corporate_Services_(ab-sh-xx-xx.corporate)' 'ab-sh-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Your business is our business. Our Corporate Service executives make office gifting simple & easy, whether it be for the holidays or company-wide recognition."}-->
<!--headCanonical={"href":"http://fashion.bloomingdales.com/about-us/shopping/corporate-business-gifts/"}-->
<div class="row collapse">

    {{>title}}

    <link href="/b/fashion/styles/projects/about-us/shopping/corporate-business-gifts/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/about-us/shopping/corporate-business-gifts/main.js"></script>

    <div class="bl_main">
        <div id="bl_hp_main">

            <div class="business-gifts-mobile">
                <section class="row hero">

                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/mbl-business_gifts.jpg" alt=""/>

                    <div class="hero-content">

                        <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/mbl-business_gifts_title.jpg" alt="Business Gifts"/>

                        <p>
                            With everything from trendsetting <br>
                            accessories to cool tech to timeless
                            luxuries, Bloomingdale’s is your destination
                            for amazing gifts everyone will love.
                        </p>

                        <p>
                            To place an order or consult with one of
                            our experts, please contact a representative: 
                        </p>

                        <p>
                           <b>Eastern:</b> 
                           <a href="tel:+1-212-705-3556" class="contact-details" data-element-id="eastern-phone"> 212-705-3556</a> | 
                           <a href="mailto:giftconcierge_eastern@bloomingdales.com" class="contact-details" data-element-id="eastern-email">giftconcierge_eastern@bloomingdales.com </a>

                            <br/>
                        
                            <b>Central:</b> 
                            <a href="tel:+1-312-324-7560" class="contact-details"  data-element-id="central-phone"> 312-324-7560</a> | 
                            <a href="mailto:giftconcierge_central@bloomingdales.com" class="contact-details" data-element-id="central-email">giftconcierge_central@bloomingdales.com</a>

                            <br/>
                        
                            <b>Pacific:</b> 
                            <a href="tel:+1-310-772-2115" class="contact-details" data-element-id="pacific-phone"> 310-772-2115</a> | 
                            <a href="mailto:giftconcierge_pacific@bloomingdales.com" class="contact-details" data-element-id="pacific-email">giftconcierge_pacific@bloomingdales.com</a>
                        </p>

                        <p>
                            P.S. Any bulk order of 12 or more qualifies for certain corporate benefits!
                        </p>
                    </div>
                </section>
                <section class="row benefits">

                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/mbl-the_benefits.jpg" alt="The Benefits"/>

                    <div class="benefits-content">
                        <p>
                            Corporate clients enjoy personalized attention and special perks like:
                        </p>

                        <div class="row">
                            <div class="column small-1">
                                <div class="row bullet">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="column small-23">
                                <div class="row">
                                    <p>A 10-15% discount on select merchandise and gift cards</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-1">
                                <div class="row bullet">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="column small-23">
                                <div class="row">
                                    <p>Complimentary gift wrap  </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-1">
                                <div class="row bullet">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="column small-23">
                                <div class="row">
                                    <p>Customization services like engraving and monogramming  </p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column small-1">
                                <div class="row bullet">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="column small-23">
                                <div class="row">
                                    <p>Private events for gift recipients, such as VIP shopping sprees </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="row gifts">
                    
                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/mbl-gift_cards.jpg" alt="Gift Cards"/>

                    <div class="gifts-content">
                        <p>
                            The gift that’s always a perfect fit.
                        </p>
                    </div>
                    
                </section>
                <section class="row gifting-program">
                    
                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/mbl-gifting_program.jpg" alt="Our corporate gifting program is perfect for:"/>

                    <p>
                        &bull; &nbsp;   Conferences and events
                    </p>
                    <p>
                        &bull; &nbsp;   Recognition awards
                    </p>
                    <p>
                        &bull; &nbsp;   Saying thank you
                    </p>
                    <p>
                        &bull; &nbsp;   Celebrating weddings and babies
                    </p>
                    <p>
                        &bull; &nbsp;   Anniversary commemoratives 
                    </p>
                    <p>
                        &bull; &nbsp;   Performance motivation programs
                    </p>
                    <p>
                        &bull; &nbsp;   The holidays
                    </p>

                </section>
                <section class="row shop-holiday">
                    
                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/mbl-holiday.jpg" alt="Make it a Bloomingdale's Holiday"/>

                    <div class="shop-holiday-content">
                        <a href="https://www.bloomingdales.com/corporategiftguide">SHOP HOLIDAY GIFTS</a>
                    </div>
                    
                </section>
            </div>
        </div>
    </div>
</div>



