<!-- {pageTitle: "Business Gifts", pageLabel: "Corporate Business Gifts for Employees & Clients"} -->
{{{coremetrics 'Corporate_Services_(ab-sh-xx-xx.corporate)' 'ab-sh-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Your business is our business. Our Corporate Service executives make office gifting simple & easy, whether it be for the holidays or company-wide recognition."}-->
<!--headCanonical={"href":"http://fashion.bloomingdales.com/about-us/shopping/corporate-business-gifts/"}-->
<div class="row collapse">

    {{>title}}

    <link href="/b/fashion/styles/projects/about-us/shopping/corporate-business-gifts/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/about-us/shopping/corporate-business-gifts/main.js"></script>

    <div class="small-5 large-5 collapse">
        <div class="about_us bl_nav_side">
            <!--BEGIN LOCAL NAVIGATION-->
            <div class="gn_left_nav_container">
                <div id="bl_leftNavContainer">
                    {{>leftnav}}
                </div>
            </div>
            <!--END LOCAL NAVIGATION-->
        </div>
    </div>

    <div class="bl_main small-19 large-19 columns">
        <div id="bl_hp_main">

            <div class="business-gifts">
                <section class="row hero">

                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/business_gifts.jpg" class="show-for-medium-up" alt="Business Gifts"/>

                    <div class="hero-content">
                        <p>
                            With everything from trendsetting accessories to
                            cool tech to timeless luxuries, Bloomingdale’s is
                            your destination for amazing gifts everyone will love.
                        </p>
                        <p>
                            Our expert gift concierges can help you
                            find the perfect items to show your appreciation
                            for valued employees and important clients.
                        </p>
                        <p>
                            P.S. Any bulk order of 12 or more qualifies for certain corporate benefits!
                        </p>
                    
                        <div class="contact">

                            <p>
                                To place an order or consult with one of
                                our experts, please contact a representative: 
                            </p>

                            <p>
                               <b>Eastern:</b> 
                                212-705-3556 | 
                               <a href="mailto:giftconcierge_eastern@bloomingdales.com" class="contact-details" data-element-id="eastern-email">giftconcierge_eastern@bloomingdales.com </a>

                                <br/>
                            
                                <b>Central:</b> 
                                312-324-7560 | 
                                <a href="mailto:giftconcierge_central@bloomingdales.com" class="contact-details" data-element-id="central-email">giftconcierge_central@bloomingdales.com</a>

                                <br/>
                            
                                <b>Pacific:</b> 
                                310-772-2115 | 
                                <a href="mailto:giftconcierge_pacific@bloomingdales.com" class="contact-details" data-element-id="pacific-email">giftconcierge_pacific@bloomingdales.com</a>
                            </p>
                        </div>
                    </div>
                </section>
                <section class="row benefits">

                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/the_benefits.jpg" alt="The Benefits"/>

                    <div class="benefits-content">
                        <p>
                            Corporate clients enjoy personalized attention and special perks like:
                        </p>
                        <p>
                            &bull; &nbsp; &nbsp; An exclusive 10-15% discount on merchandise and gift cards 
                        </p>
                        <p>
                            &bull; &nbsp; &nbsp; Complimentary gift wrap  
                        </p>
                        <p>
                            &bull; &nbsp; &nbsp; Customization services like engraving and monogramming 
                        </p>
                        <p>
                            &bull; &nbsp; &nbsp; Private events for gift recipients, such as VIP shopping sprees
                        </p>
                    </div>
                </section>
                <section class="row gifts">
                    
                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/gift_cards.jpg" alt="Gift Cards"/>

                    <div class="gifts-content">
                        <p>
                            The gift that’s always a perfect fit.
                        </p>
                    </div>
                    
                </section>
                <section class="row gifting-program">
                    
                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/gifting_program.jpg" alt="Our corporate gifting program is perfect for:"/>

                    <p>
                        &bull; &nbsp; &nbsp;    Conferences and events
                    </p>
                    <p>
                        &bull; &nbsp; &nbsp;    Recognition awards
                    </p>
                    <p>
                        &bull; &nbsp; &nbsp;    Saying thank you
                    </p>
                    <p>
                        &bull; &nbsp; &nbsp;    Celebrating weddings and babies
                    </p>
                    <p>
                        &bull; &nbsp; &nbsp;    Anniversary commemoratives 
                    </p>
                    <p>
                        &bull; &nbsp; &nbsp;    Performance motivation programs
                    </p>
                    <p>
                        &bull; &nbsp; &nbsp;    The holidays
                    </p>

                </section>
                <section class="row shop-holiday">
                    
                    <img src="/b/fashion/images/projects/about-us/shopping/corporate-business-gifts/holiday.jpg" alt="Make it a Bloomingdale's Holiday"/>

                    <div class="shop-holiday-content">
                        <p>
                            Explore our edit of business gifts for the holiday season.
                        </p>
                        <p>
                            <a href="https://www.bloomingdales.com/corporategiftguide">SHOP HOLIDAY GIFTS</a>
                        </p>
                    </div>
                    
                </section>
            </div>
        </div>
    </div>
</div>



