@import '../../variables';
@import '../../mixins';
@import "../../includes/clearfix";
@import "../../fonts";
@import "../../modules/bcom-collapsible-nav";

body.bl_mobile {

  .about-us-nav {
    .bcom-collapsible-nav {
      transition: transform $ani-speed-3, opacity $ani-speed-3;
      opacity: 1;
      transform: translateY(0);
      &.hidden {
        opacity: 0;
        transform: translateY(-100%);
      }
    }
  }

  /* Overwrite main-mobile.css start */
  header.responsive #header-top-section #nav-container {
      left: -19.18333rem;
  }

  a:hover, a:focus {
      color: #000000;
  }
  /* Overwrite main-mobile.css end */

}
