section#terms_and_conditions {

  h1 {
    font-weight: 700;
    margin: 1em 0 0;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 1.5em;
  }

  ol {
    li{
      font-size: 1.25em;
      margin-bottom: 2em;
      font-weight: 700;

      h3 {
        font-size: 1.3em;
        margin-bottom: 0.25em;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
      }

    }
  }

  table {
    width: 33%;
    margin-left: 5%;
    border: 1px solid #777;
    text-align: center;

    th {
      border: 1px solid #777;
    }

    td {
      font-weight: 400;
      width: 50%;
      border: 1px solid #777;
    }
  }

}

@media all and ( max-width: 768px ) {
  section#terms_and_conditions {
    padding: 0 0.5em;

    table {
      width: 60%;
    }
  }

  
}