// ======================================
// Outlet Touch Screen project for In-Store screens
// Author: Mike Curtis
// Date: 03/24/2016
// Project: /outlet-touch-screen/
// ======================================

// VARIABLES

$yellow: #FFD72D;
$grey: #444;
$viewable-font-size: 2.5vw;

@import "compass";
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");

html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-ms-content-zooming: none;
	touch-action: none;
	@-ms-viewport { width: device-width;}
	overflow-y: auto;
}

body {
	overflow: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

#bl_main_container {
	width: auto;
	overflow: hidden;
	width: auto;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

img#loading-gif {
    position: absolute;
    left: 45vw;
    top: 45vh;
    z-index: 100;
}

#qrcode {
	margin-left: 1vw;
	position: relative;
}

#qrCover {
	position: absolute;
	top: 2vh;
	left: 3.25vw;
	width: 8vw;
}

#otc-screen-saver {
	background-color: #000;
	display: block;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	// background-color: rgba(255,215,45,1);
	// -webkit-animation: screensaver-pulse 3.5s infinite ease-in-out;
          // animation: screensaver-pulse 3.5s infinite ease-in-out; 

    .rotating-bg {
    	position: absolute;
    	top: 0;
    	left: 0;
    	height: 100vh;
    	z-index: 1;
    }

	.logo,
	.interact {
		width: 60vw;
    	height: 20vh;
	    margin: 0 auto;
	    left: 0;
	    right: 0;
	    display: block;
	    position: relative;
	    z-index: 2;
	    top: 30vh;
	    background-image: url("/fashion/images/projects/outlet-touch-screen/tap.png");
	    background-size: 165%;
	    background-repeat: no-repeat
	}

	.logo { background-position: -20.5vw -42vh; }
	.interact { background-position: -20.5vw -0.1vh; }

}

.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

@keyframes screensaver-pulse {
	0% {background-color: rgba(255, 215, 45, 1)};
	25% {background-color: rgba(255, 193, 22, 1)};
	50% {background-color: rgba(255, 215, 45, 1)};
	75% {background-color: rgba(229, 213, 149, 1)};
	100% {background-color: rgba(255, 215, 45, 1)};
}

#otc-top-nav {
	background-color: #000;
	color: #fff;

	li {
		font-size: $viewable-font-size;
		text-align: center;
		cursor: pointer;
		display: inline-block;
		margin: 1.5vh 2vw;
		text-transform: uppercase;
	}
}

#otc-landing {
	position: relative;
	width: 100vw;

	.ad {
		display: block;
		width: 100vw;
		position: relative;
		// margin: 5vw auto 0;
		background-color: rgba(255,215,45,1);
	}

	.divider {
		position: relative;
	}

	hr {
		margin: 4vh 0;
	}

	.cat-heading {
		text-transform: uppercase;
		background-color: #fff;
		color: #222;
		text-align: center;
		display: block;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -1.5vw;
		line-height: 2.25vh;
		font-size: $viewable-font-size;
		width: 10em;
	}

	.categories {
		text-align: center;

		li {
			width: 25vw;
			font-size: $viewable-font-size;
			padding-top: 25vw;
			margin: 0 2.5vw 1em;
			background-image: url('/fashion/images/projects/outlet-touch-screen/cat-sprite.png');
			background-repeat: no-repeat;
			background-size: 250%;
			display: inline-block;
			text-transform: uppercase;
    		cursor: pointer;

		}

		.women {background-position: -13% -10%;}
		.shoes {background-position: 50% -10%;}
		.handbags {background-position: 115% -10%;}
		.men {background-position: -8% 130%;}
		.accessories {background-position: 53% 130%;}
		.kids {background-position: 115% 130%;}
	}

	.footer {
	    margin: 5em auto;
	    width: 80vw;
	    display: block;
	    border: 0;
	}

}

#loader {
	left: 0;
	right: 0;
	top: 0;
	margin: -75px auto;
}

#otc-browse {
	position: absolute;
	top: 9vh;
	left: 100%;
	overflow-x: hidden;
	// padding: 0 2vw;

	#shop-contents {
		position: relative;
		width: 1000000vw;
	}

	.nav {
		margin-bottom: 2vh;

		.level {
			display: block;
			margin: 0.85vh 0;
			font-family: 'Lato', 'Libre Baskerville', sans-serif;
			text-transform: uppercase;

			li {
				display: inline-block;
			}
		}


		.top {
			padding-left: 0.5em;
			
			li {
				margin-right: 2em;
				padding: 0.2rem 0;
				cursor: pointer;
				
				font-weight: 700;
				font-size: $viewable-font-size;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					border-top: 2px solid #000;
				}

			}
		}

		.category {
			padding-left: 0.5em;
			margin: 0.85vh 0;
			font-size: 0.75rem;
			display: block;

			.label {
				margin-right: 1em;
				font-size: 2vw;
			}

			ul {

				display: inline-block;
				
				li {
					font-size: 1.25vw;
					cursor: pointer;

					&:after {
						content: "|";
						margin: 0 1em;
						cursor: default;
					}

					&:last-child {

						&:after {
							content: "";
						}

					}

					&.active span {
						text-decoration: underline;
					}

				}
			}
		}

		.facets {
			// display: none;
		    padding-left: 0.5rem;
		    width: 98vw;
		    border: 0;
		    margin-bottom: 0;
		    margin-left: 1vw;

			th {
				font-weight: 700;
				font-size: 2.5vw;
				padding: 1.5vh 0;
				cursor: default;
				padding-left: 0;
			}

			.filters,
			.activeFilter {

				.group {
					background-color:#e9e9e9;
					line-height: 3vh;
					padding: 1vw 2.5vw;
					text-align: center;
					font-size: $viewable-font-size;
					cursor: pointer;
					border-right: 1px solid #fff;
					text-transform: capitalize;

					&.tab {
						background-color: #fff;
						border: 1px solid #e9e9e9;
						margin-right: 1px;
					}

					&:last-of-type {
						border-right: 0;
					}
				}

				.reset {
					width: 25%;
					text-align: center;
				    font-size: 2vw;
				    background-color: #b9b9b9;
				    color: #fff;
				    cursor: pointer;
				}
			}

			// .filterBox {
			// 	display: none;
			// 	width: 95vw;
			// 	border: 1px solid #e9e9e9;
			// 	padding: 1vw 2vw;
			// 	text-align: right;

			// 	.facetValue {
			// 	    display: inline-block;
			// 	    text-align: center;
			// 	    border: 1px solid #d3d3d3;
			// 	    font-size: 1.75vw;
			// 	    width: 33%;
   //  				padding: 1vh 2.5%;
			// 	    line-height: 2.5vw;
			// 	    vertical-align: middle;

			// 	    &:before {
			// 			content: '';
			// 			width: 2vw;
			// 			height: 2vw;
			// 			border: 1px solid #999;
			// 			background-color: transparent;
			// 			margin-right: 4px;
			// 	    }
			// 	}
			// }

		}

		#browse-info {
			padding-left: 0.5em;
			padding-right: 1em;
			width: 98vw;
			font-size: 2vw;
			
			div {
				display: inline-block;
				line-height: 3vh;
			}

			.sort,
			.count,
			.pages {
				padding-top: 2vh;
			}

			.sort span {
				font-size: $viewable-font-size;
			}

			.sort {
				position: relative;
			}

			#activeSort{
				display: inline-block;
				font-size: $viewable-font-size;
			    width: 9em;
			    cursor: pointer;
			    background-color: transparent;
			    border: 0;
			    outline: 0;
			    border: 1px solid #999;
			    padding-left: 1vw;

			     &:after {
			    	content: '\2039';
			    	margin-left: 2vw;
			    	font-size: $viewable-font-size;
					-webkit-transform: rotate(-90deg);
					-moz-transform: rotate(-90deg);
					-o-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					transform: rotate(-90deg);
					display: inline-block;
					font-size: 3.5vw;
					font-weight: 700;
					position: relative;
					top: 0.25vh;
			    }
			}

			#sortBox {
				display: none;
			    position: absolute;
			    top: 6vh;
			    left: 8.5vw;
			    z-index: 51;
			    background-color: rgba(256,256,256,0.95);
			    font-size: 2.5vw;
			    line-height: 3vh;
			    border: 1px solid #e9e9e9;
			    margin-left: 1vw;
			    width: 9em;
			   
				.option {
					display: block;
					line-height: 2.5vh;
					padding: 0.25vh 2vw;
					margin-bottom: 0.5vh;
					cursor: pointer;
				}
			}

			.count {
				margin-left: 7vw;
			}

			.nav,
			.pages {
				float:right;
			}

			.pages {
				line-height: 4vh;
			}

			.nav {

				.left,
				.right {
					background-color: #000;
					color: #fff;
					font-size: 5vw;
					width: 9vw;
					line-height: 9vw;
					display: flex;
	    			align-items: center;
	    			justify-content: center;
					margin-top: 0.5em;
					cursor: pointer;

					&.inactive {
						background-color: #ddd;
					}
				}

				.left {
					margin-left: 0.5em;
					margin-right: 0.2em;
				}

				.right{

				}

			}
		}
	}

	.browseShell {
		position: relative;
		float: left;
		width: 100vw;
		padding: 0 2vw;
		max-width: none;
    	// margin-right: 4vw;

		.products {

			li {
				font-size: 1.5vw;
				line-height: 1.3em;
				// width: 22vw;

				.breaker {
					margin-bottom: 0.25vh;
				}

				.primary {
					height: 9.5vh;
				}

				.brand {
					font-size: 1.25em;
					line-height: 1.5em;
				}

				.quickPeekIcon {
					width: 100%;
					height: 100%;
					background-color: transparent;
					cursor: pointer;

					svg {
						opacity: 0;
					}
				}

				.price { 
					font-size: 2vw;
					line-height: 4vh;
					font-weight: 700;
				}
			}	
		}

		.browse-footer {
			display: block;
			width: 90vw;
			margin: 8vw auto 2vw;
			left: 0;
			right: 0;
			position: relative;
		}
		
	}
	
}

#filterGroups {
	position: fixed;
	display: none;
	top: 15vh;
	height: 65vh;
	width: 100vw;
	background-color: #fff;
	padding: 2vh 3vw;
	box-shadow: 4px 4px 10px #ddd, -4px -4px 10px #ddd;
	z-index: 50;

	.close {
		position: absolute;
		display: inline;
		top: 0.5vh;
		right: 2vw;
		font-size: 6vw;
		line-height:5vw;
		padding: 1vh 2vw;
		cursor: pointer;
		font-family: "Avenir LT W01 55 Roman", Arial, sans-serif;
	}

	.content {
		overflow-y: auto;
		max-height: 58vh;
		top: 3vh;
		position: relative;

		.filterBox {

			.facetValue {
				display: inline-block;
				text-align: center;
				border: 1px solid #d3d3d3;
				background-color: #f6f6f6;
				min-width: 30%;
				margin-right: 1vh;
				margin-bottom: 0.75vh;
				line-height: 2.25em;
				font-size: 16px; font-size: 1.4vw;
				cursor: pointer;
			}
		}
	}

		
}

#filterOverlay {
	display: none;
	position: fixed;
    height: 100vh;
    width: 99.9vw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(256,256,256, 0.45);
    z-index: 49;
}


// Quickpeek styles

#atbOverlay {
	background-color: rgba(256,256,256,0.7);
}

#singleATB {
	box-shadow: 4px 4px 10px #ddd, -4px -4px 10px #ddd;
	top: 15vh;
	width: 100vw;
	min-height: 40vh;
	padding: 2vw;

	.modal.outofstock {
		font-size: $viewable-font-size;
	}

	.modal.instock {
		.title {
			display: none;
		}

		.status{
			border-bottom: 1px solid #d3d3d3;
		}

		.copy {
			margin-top: 0;
		}
		
	}

	.image {
		.main.product {
			display: block;
		}
	}

	.close {
		font-size: 6vw;
		padding: 1vh 3vw;
	}

	.footer {
		display: none;
	}

	.quantity {
		display: none;
	}

	.color {

		margin: 2vh 0;

		ul.swatch {
			img {
				width: 5vw;
			}

			li {
				width: auto;
				position: relative;

				&.unavailable:before {
					font-size: 5vw;
					padding-top: 0.85vh;
					width: 5vw;
					height: 5vw;
					text-align: center;
				}
			}
		}
	}

	.brand {
		position: relative;
		margin-top: 5vw;
	}

	.price {
		margin: 2vh 0;
	}

	.brand,
	.name,
	.color .text .title,
	.color .text .value,
	.price .title,
	.price .value,
	.instock .title,
	.instock .status,
	.instock .copy {
		font-size: 2.8vw;
	}

	span.title {
		font-size: $viewable-font-size;
	}

	.size {
		.options {
			li {
				font-size: $viewable-font-size;
				 

				&.active {
					border-bottom: 0;

					span {
						background-color: #000;
    					color: #FFD72D;
					}

					&.unavailable span {
						background-color: rgba(0, 0, 0, 0.1);
					    border: 1px solid #000;
					    color: #999;
					}

				}

				span {
					min-width: 12vw;
					padding: 0.25vh 0.25vw;
				}
			}
		}
	}

	.instock {
		margin-top: 1vh;
	}

	#see-your-associate {
		position: relative;
		width: 100%;
		display: inline-block;
		left: 0;
		right: 0;
		margin: 1vh auto 3vh;
		line-height: 3em;
		font-size: 2.75vw;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		// color: $yellow;
		color: #000;
		letter-spacing: 0.2em;
		// background-color: #000;

	}

	#productSwitch {
		position: relative;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto 0;
		width: 80%;
		line-height: 3vh;
		border-top: 1px solid #d3d3d3;
		text-align: center;
		font-size: 4vw;
		padding: 1vh 0;

		.arrow {
			position: relative;
			display: inline-block;
			font-size: 7vw;
			font-weight: 700;
			padding: 0 3vw;
			top: 0.25vh;
			cursor: pointer;
		}

		.product-count {
			display: inline-block;
		}

		span {

		}
	}

	// .size {
	// 	.options {
	// 		li {
	// 			font-size: 3.5vw;
	// 			min-width: auto;
 //    			margin: 0.5vh 0.75vw 0;


	// 			&:after {
	// 				content: ",";
	// 			}

	// 			&:last-of-type {

	// 				&:after {
	// 					content: "";
	// 				}
	// 			}

	// 			span {
	// 				border: 0;
	// 				padding: 0;
	// 				min-height: 0;
	// 				line-height: 1em;
	// 			}

	// 		}
	// 	}
	// }
}


// LOADING CUBES

#cube-loader {
	display: none;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	position: absolute;
	background-color: rgba(256,256,256,0.6);
}

.sk-cube-grid {
  width: 20vw;
  height: 20vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40vh;
  position: absolute;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $yellow;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}