<!--headTitle={"title":"Bloomingdale's Heart of New York"}-->
<!--headMeta={"name":"description", "content":""}-->
<!--headCanonical={"href":"https://www.bloomingdales.com/b/campaigns/renovation/"}-->

<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/heart-of-ny/styles.css" rel="stylesheet">

<div class="heart-of-new-york heart-of-ny-women">
    
    <!--sticky header-->
    <div class="heart-of-ny-sticky-header">
        <!--hamburger-->
        <button utag="nav-hamburger-click" coremetricTag="nav-hamburger" id="heart-of-ny-nav-switcher" class="nav-hamburger" aria-label="Menu" role="button" aria-controls="navigation" aria-expanded="true/false">
            <span>toggle menu</span>
        </button>
        <a href="../" utag="logo-click" coremetricTag="logo-click">
            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_59th_logo.png" alt="Bloomingdale's 59th Street" class="bloom-logo">
        </a>
    </div>

     <!--Navigation-->
    <nav class="heart-of-ny-nav">
        <ul class="sub">
            <li>
                <a utag="nav-home" coremetricTag="nav-home" href="/b/campaigns/heart-of-ny/home/">
                    <span class="nav-item-content">Home <span>On 6, 7, And 8</span></span>
                </a>
            </li>
            <li>
                <a utag="nav-shoes" coremetricTag="nav-shoes" href="/b/campaigns/heart-of-ny/shoes/">
                    <span class="nav-item-content">Shoes <span>On 5</span></span>
                </a>
            </li>
            <li>
                <a utag="nav-women" coremetricTag="nav-women" href="/b/campaigns/heart-of-ny/women/">
                    <span class="nav-item-content">Women <span>On 2, 3 And 4</span></span>
                </a>
            </li>
            <li>
                <a utag="nav-beauty" coremetricTag="nav-beauty" href="/b/campaigns/heart-of-ny/beauty/">
                    <span class="nav-item-content">Beauty <span>On 1</span></span>
                </a>
            </li>
            <li>
                <a utag="nav-men" coremetricTag="nav-men" href="/b/campaigns/heart-of-ny/men/">
                    <span class="nav-item-content">Men <span>on THE LOWER LEVELS</span></span>
                </a>
            </li>
            <li>
                <a utag="nav-events" coremetricTag="nav-events" href="/b/campaigns/heart-of-ny/events/">
                    <span class="nav-item-content">Events <span>AT OUR FLAGSHIP</span></span>
                </a>
            </li>
        </ul>

    </nav>
    <!--Navigation -->
    

    <header>
        <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_59th_logo.png" alt="Bloomingdale's 59th Street" class="bloom-logo" >
        <h1 data-aos="fade-left">WOMEN ON 2, 3 and 4</h1>
        <div class="comingSoon" data-aos="fade-left"><h3>Coming Soon</h3></div>
        <p data-aos="fade-right">Three completely renovated ready-to-wear floors filled with amazing new labels and all our best collections.</p>
    </header>
    <main>

        <div class="map" data-aos="zoom-in">
            <h2>MAP OUT YOUR NEXT SHOPPING ADVENTURE</h2>
            <hr/>
            <img src="/b/fashion/campaigns/images/heart-of-ny/map-fpo.jpg" alt="Map" />
            <a class="text-link brands-link" href="#" utag="womens-see-all-designers" coremetricTag="womens-see-all-designers">See All Designers</a>
        </div>


        <div class="boxContainer" data-aos="fade-up">
            <h2 data-aos="fade-left" class="sub">WHAT'S NEW</h2>
            <hr data-aos="fade-in" />
            <section id="women-whats-new"></section>
        </div>
        
        <div class="designers">
            <h2 data-aos="fade-left" class="sub">EVEN MORE LABELS TO LOVE</h2>
            <hr data-aos="fade-left" />
            <p data-aos="fade-right">We’re adding 33 new brands to our lineup, including See by Chloé and Derek Lam 10 Crosby.</p>
            <a data-aos="fade-in" href="#" class="text-link brands-link" utag="womens-see-all-designers" coremetricTag="womens-see-all-designers">SEE ALL BRANDS</a>

            <div class="women-logos">
                <div class="logo-col" data-aos="zoom-in" data-aos-delay="400">
                    <div class="womens-brands-floor">
                        <h4>2<sup>nd</sup> floor</h4>
                    </div>
                    <img src="/b/fashion/campaigns/images/heart-of-ny/women/womens-logos-1.gif" alt="Women's Brands" />
                </div>
                <div class="logo-col" data-aos="zoom-in" data-aos-delay="600">
                    <div class="womens-brands-floor">
                        <h4>3<sup>rd</sup> floor</h4>
                    </div>
                    <img src="/b/fashion/campaigns/images/heart-of-ny/women/womens-logos-2.gif" alt="Women's Brands" />
                </div>
                <div class="logo-col" data-aos="zoom-in" data-aos-delay="800">
                    <div class="womens-brands-floor">
                        <h4>4<sup>th</sup> floor</h4>
                    </div>
                    <img src="/b/fashion/campaigns/images/heart-of-ny/women/womens-logos-3.gif" alt="Women's Brands" />
                </div>
            </div>

        </div>

        <div class="boxContainer" data-aos="fade-up">
            <h2 class="sub">HIGHLIGHTS</h2>
            <hr />
            <section id="women-highlights"></section>
        </div>


        
       
    </main>

    <footer>
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-1.gif" alt="The Love of New York" data-aos="fade-left" data-aos-delay="0" data-aos-anchor-placement="bottom-bottom">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-2.gif" alt="The Love of New York" data-aos="fade-right" data-aos-delay="200" data-aos-anchor-placement="bottom-bottom">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-3.gif" alt="The Love of New York" data-aos="fade-left" data-aos-delay="400" data-aos-anchor-placement="bottom-bottom">
        <h3 data-aos="zoom-in" data-aos-delay="600" data-aos-anchor-placement="bottom-bottom">Experience our legendary flagship—newly renovated and better than ever</h3>
    </footer>

</div>


<div class="modal-container close">
    <div id="womens-modal" class="modal heart-of-ny-brands">
        <div class="model-close-button">
            <img src="/b/fashion/campaigns/images/heart-of-ny/close-button.svg" alt="Close" />
        </div>
        <div class="inner">
            <h1>Beauty Brands</h1>
            <div class="brands"></div>
        </div>
    </div>
    <div class="modal-bg"></div>
</div>

<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.2.2.4.js"><\/script>')</script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/aos.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/box-builder.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-main.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-brands.js"></script>
