<!--headTitle={"title":"Bloomingdale's Heart of New York"}-->
<!--headMeta={"name":"description", "content":""}-->
<!--headCanonical={"href":"https://www.bloomingdales.com/b/campaigns/heart-of-ny/"}-->

<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/heart-of-ny/styles.css" rel="stylesheet">

<div class="heart-of-new-york heart-of-ny-events">
    
    <!--sticky header-->
    <div class="heart-of-ny-sticky-header">
        <!--hamburger-->
        <button coremetricTag="nav-hamburger" id="heart-of-ny-nav-switcher" class="nav-hamburger" aria-label="Menu" role="button" aria-controls="navigation" aria-expanded="true/false">
            <span>toggle menu</span>
        </button>
        <a href="../">
            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_59th_logo.png" alt="Bloomingdale's 59th Street" class="bloom-logo">
        </a>
    </div>

    <!--Navigation-->
    <nav class="heart-of-ny-nav">
        <ul class="sub">
            <li>
                <a coremetricTag="nav-home" href="/b/campaigns/heart-of-ny/home/">
                    <span class="nav-item-content">Home <span>On 6, 7, And 8</span></span>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-shoes" href="/b/campaigns/heart-of-ny/shoes/">
                    <span class="nav-item-content">Shoes <span>On 5</span></span>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-women" href="/b/campaigns/heart-of-ny/women/">
                    <span class="nav-item-content">Women <span>On 2, 3 And 4</span></span>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-beauty" href="/b/campaigns/heart-of-ny/beauty/">
                    <span class="nav-item-content">Beauty <span>On 1</span></span>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-men" href="/b/campaigns/heart-of-ny/men/">
                    <span class="nav-item-content">Men <span>on THE LOWER LEVELS</span></span>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-events" href="/b/campaigns/heart-of-ny/events/">
                    <span class="nav-item-content">Events <span>AT OUR FLAGSHIP</span></span>
                </a>
            </li>
        </ul>

    </nav>
    <!--Navigation -->
    
    <!--Header-->
    <header>
        <a href="../">
            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_59th_logo.png" alt="Bloomingdale's 59th Street" class="bloom-logo">
        </a>
        <h1 data-aos="fade-left">CAN’T-MISS EVENTS</h1>
        <p data-aos="fade-right">From trunk shows and launch parties to star-studded celebrity appearances, there’s always something happening at 59th Street.</p>
    </header>
    <!--Header-->

    <main>
        <img src="/b/fashion/campaigns/images/heart-of-ny/events-jumbotron.jpg" alt="Can't-Miss Events" class="jumbotron" data-aos="zoom-in">
        <p class="caption events-caption" data-aos="fade-in">SJP BY SARRAH JESSICA PARKER EVENT</p>
        
        <div class="events-feature">
            <div class="col"><img src="/b/fashion/campaigns/images/heart-of-ny/events-thumb-1.jpg" alt="Events"><p>fenty puma X rihannA event</p></div>
            <div class="col"> <img src="/b/fashion/campaigns/images/heart-of-ny/events-thumb-2.jpg" alt="Events"><p>MIGOS FOR MUSIC IS UNIVERSAL POp-up</p></div>
            <div class="col"><img src="/b/fashion/campaigns/images/heart-of-ny/events-thumb-3.jpg" alt="Events"><p>khloé kardashian good american appearance</p></div>
        </div>

        <div class="events">
            <div class="ev-headers">
                <div class="ev-col">What</div>
                <div class="ev-col">When</div>
                <div class="ev-col">Where</div>
            </div>
            <!--<div class="event">
                <div class="col">
                    <h3></h3>
                    <p class="events-des"></p>
                    <p class="events-fp"></p>
                    <p class="events-cta"></p>
                </div>
                <div class="col">
                    <p class="events-date"></p>
                </div>
                <div class="col">
                    <p class="events-loc"></p>
                </div>
            </div>-->
        </div>
        
    </main>

    <footer>
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-1.gif" alt="The Love of New York" data-aos="fade-left" data-aos-delay="0" data-aos-anchor-placement="bottom-bottom">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-2.gif" alt="The Love of New York" data-aos="fade-right" data-aos-delay="200" data-aos-anchor-placement="bottom-bottom">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-3.gif" alt="The Love of New York" data-aos="fade-left" data-aos-delay="400" data-aos-anchor-placement="bottom-bottom">
        <h3 data-aos="zoom-in" data-aos-delay="600" data-aos-anchor-placement="bottom-bottom">Experience our legendary flagship—newly renovated and better than ever</h3>
    </footer>

</div>

<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.2.2.4.js"><\/script>')</script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/aos.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.lazy.min.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/showdown.js"></script>

<script src="https://npmcdn.com/contentful@3.3.5/browser-dist/contentful.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-main.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/events-page.js"></script>
