<!--headTitle={"title":"Bloomingdale's Heart of New York"}-->
<!--headMeta={"name":"description", "content":""}-->
<!--headCanonical={"href":"https://www.bloomingdales.com/b/campaigns/heart-of-ny/"}-->

<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/heart-of-ny/styles.css" rel="stylesheet">

<div class="heart-of-ny-landing-mobile">
	<header>
		<div class="hp-logo">
			<img src="/b/fashion/campaigns/images/heart-of-ny/mobile/love-of-ny-mobile-logo.png" alt="The Love of New York">
			<h1>Experience our legendary flagship— newly renovated and better than ever.</h1>
		</div>
		<div class="building">
			<img src="/b/fashion/campaigns/images/heart-of-ny/mobile/hp-building-mobile-1b.jpg" alt="Bloomingdale's 59th Street">
			<img src="/b/fashion/campaigns/images/heart-of-ny/mobile/hp-building-mobile-2b.gif" alt="Bloomingdale's 59th Street">
			<img src="/b/fashion/campaigns/images/heart-of-ny/mobile/hp-building-mobile-3b.jpg" alt="Bloomingdale's 59th Street">
		</div>
	</header>
	<main>
		<ul>
			<li>
				<a href="./home">
					<h2>Home <span>On 6, 7 And 8</span></h2>
					<p>The go-to place for upgrading your space, featuring the best selection of luxury mattresses, dedicated lifestyle shops, a state-of-the-art test kitchen and more.</p>
				</a>
			</li>
			<li>
				<a href="./shoes">
					<h2>Shoes <span>On 5</span></h2>
					<p>Get pumped with a bunch of new brands, a better-than-ever assortment and an insane amount of amenities.</p>
				</a>
			</li>
			<li>
				<a href="./women">
					<h2>Women <span>On 2, 3 And 4</span></h2>
					<p><strong>Coming soon:</strong> Three completely renovated ready-to-wear floors housing new labels and all our best collections.</p>
				</a>
			</li>
			<li>
				<a href="./cosmetics">
					<h2>Cosmetics <span>On 5</span></h2>
					<p><strong>Coming soon:</strong> A totally refreshed cosmetics department featuring the best in beauty, skincare and fragrance. </p>
				</a>
			</li>
			<li>
				<a href="./men">
					<h2>Men <span>on THE LOWER LEVEL</span></h2>
					<p>Check out a new curated concept and some fresh additions to our lineup of great labels.</p>
				</a>
			</li>
			<li>
				<a href="./events">
					<h2>Events <span>at our flagship</span></h2>
					<p>From trunk shows and launch parties to star-studded celebrity appearances, there’s always something happening at 59th Street.</p>
				</a>
			</li>
		</ul>
	</main>
</div>

<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.2.2.4.js"><\/script>')</script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-landing-mobile.js"></script>