<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/heart-of-ny/styles.css" rel="stylesheet">

<div class="hp">
	<div class="hp-nav">
		<div class="nav1">
			<img src="/b/fashion/campaigns/images/heart-of-ny/roll-over-home.gif">
		</div>
		<div class="nav2">
			<img src="/b/fashion/campaigns/images/heart-of-ny/roll-over-shoes.gif">
		</div>
	</div>
	<div class="hp-floor box1"><a href="#">&nbsp;</a></div>
	<div class="hp-floor box2"><a href="./shoes">&nbsp;</a></div>
	<div class="hp-floor box3"><a href="./home">&nbsp;</a></div>
	<div class="hp-floor box4"><a href="./home">&nbsp;</a></div>
	<div class="hp-floor box5"><a href="./home">&nbsp;</a></div>
</div>


<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.2.2.4.js"><\/script>')</script>
<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.lazy.min.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.scrollme.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-main.js"></script>


<script>
	$(function(){
		$(".hp").height($(window).height()).css("background-size", 
			"cover");
		$(window).resize(function() {
			 $(".hp").height($(window).height());
		});
		$(".box1").on("mouseenter", function() {
			$(".hp").addClass("active-1");
		});
		$(".box1").on("mouseleave", function() {
			$(".hp").removeClass("active-1");
		});
		$(".box2").on("mouseenter", function() {
			$(".hp").addClass("active-2");
		});
		$(".box2").on("mouseleave", function() {
			$(".hp").removeClass("active-2");
		});
		$(".box3").on("mouseenter", function() {
			$(".hp").addClass("active-3");
		});
		$(".box3").on("mouseleave", function() {
			$(".hp").removeClass("active-3");
		});

	});
</script>