<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/heart-of-ny/styles.css" rel="stylesheet">

<div class="heart-of-ny-landing">
	<div class="hp-logo">
		<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/hp-logo.png">
		<h1>Roll over each floor to learn more about all the exciting features of our newly renovated flagship.</h1>
	</div>

	<div class="tt-container">
		<div class="tt">
			<div class="inner">
				<h3></h3><p></p>
			</div>
		</div>
	</div>


	<div class="hp-nav">
		<div>
			<img src="/b/fashion/campaigns/images/heart-of-ny/roll-over-home.gif">
		</div>
		<div>
			<img src="/b/fashion/campaigns/images/heart-of-ny/roll-over-shoes.gif">
		</div>
		<div>
			<img src="/b/fashion/campaigns/images/heart-of-ny/roll-over-women.gif">
		</div>
		<div>
			<img src="/b/fashion/campaigns/images/heart-of-ny/roll-over-cosmetics.gif">
		</div>
		<div>
			<img src="/b/fashion/campaigns/images/heart-of-ny/roll-over-men.gif">
		</div>
		<div>
			<img src="/b/fashion/campaigns/images/heart-of-ny/roll-over-events.gif">
		</div>
	</div>

	<ul class="hp-strips-nav">
		<li>
			<a href="/b/campaigns/heart-of-ny/home">&nbsp;</a>
		</li>
		<li>
			<a href="/b/campaigns/heart-of-ny/shoes">&nbsp;</a>
		</li>
		<li>
			<a href="/b/campaigns/heart-of-ny/women">&nbsp;</a>
		</li>
		<li>
			<a href="/b/campaigns/heart-of-ny/beauty">&nbsp;</a>
		</li>
		<li>
			<a href="/b/campaigns/heart-of-ny/men">&nbsp;</a>
		</li>
		<li>
			<a href="/b/campaigns/heart-of-ny/events">&nbsp;</a>
		</li>
	</ul>

	<div class="hp-outer-strips hp-active">
		<div class="hp-strips">
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-1-active.jpg">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-2-active.jpg">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-3-active-new.jpg">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-flags-active-2.gif">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-4-active.jpg">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-5-active.jpg">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-6.jpg">
			</div>
		</div>
	</div>

	<div class="hp-outer-strips hp-not-active">
		<div class="hp-strips">
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-1.jpg">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-2.jpg">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-3-new.jpg">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-flags-animated-2.gif">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-4.jpg">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-5.jpg">
			</div>
			<div class="floor">
				<img src="/b/fashion/campaigns/images/heart-of-ny/hp-building/building-6.jpg">
			</div>
		</div>
	</div>
</div>


<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.2.2.4.js"><\/script>')</script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-main.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-landing.js"></script>
