h1,
h2, 
h3,
p,
a,
span {
	font-family: 'Roboto Mono', monospace;	
}

#lookbook {

	.days-of-week {
		background-color: black;
	    color: white;
	    width: 13rem;
	    text-align: center;
	    height: 1.8em;
	    line-height: 1.8em;
	    font-size: 1.2em;
	    font-weight: normal;
        margin-left: 10%;
    	margin-bottom: 1.5em;

	    .day-active {
	    	color: #eecaae;
	    }
	}

	.hero {
		position: relative;

		.hero-text {
			position: absolute;
			top: 15%;
			left: 25%;

			h1 {
				font-size: 5vw;
				margin-bottom: 0.25em;
				line-height: 1em;
			}

			p {
				margin-left: 7vw;
				display: inline-block;
				font-size: 1.35em;
				line-height: 2.25em;
				width: 16%;
			}

			h1:nth-child(3) {
				padding-left: 0.6em;
			}	

			p:last-child {
				width: 20em;
				font-size: 1.3rem;
			}
		}
	}

	section {
		display: inline-block;
		margin-top: 4em;

		.brand {
			text-transform: uppercase;

			.brand-footer {
				margin-top: 0.5em;
				margin-left: 0.25em;
				display: block;
			    position: absolute;
			    top: 95%;
			    left: 2%;
			    background: black;
			    color: white;
			    text-decoration: underline;
			    line-height: 2em;
			    width: 12em;
			    text-align: center;
			    font-size: 1.2em;
			    letter-spacing: 0.05em;
			}

			.side-text-brand-footer {
				@extend .brand-footer;
			    left: 14%;
    			width: 12%;
    			top: 89%;
			}

			.white-brand-footer {
				@extend .side-text-brand-footer;
				width: 6em;
			}

			.front-seams-brand-footer {
				@extend .brand-footer;
				width: 3%;
			}

			.light-wash-brand-footer {
				@extend .brand-footer;
				width: 10rem;
			}

			.shorts-brand-footer {
				@extend .brand-footer;
				width: 7%;
			}
		}

		.head {
			padding-top: 5em;
			padding-bottom: 5em;

		    p {
	    	    font-size: 1.2em;
			    line-height: 2em;
			    margin-bottom: 1.5em;

			    span {
			    	font-weight: bold;
			    }
		    }

		    a {
		    	font-size: 1.7em;
		    }

			.days-of-week {
				width: 13rem;
			    margin-bottom: 0.5em;
			    margin-left: 0;
			}

			h2 {
				font-size: 3.7em;
	    		font-weight: 500;
			}
		}

		.main {
			display: block;
			margin-top: 0.5em;

			a {
				display: block;
				position: relative;
			}

			.three-jeans {
				position: relative;
				display: inline-block;
				width: 20%;
				vertical-align: top;
				text-align: center;

				span {
			    	font-size: 1.2rem;
			    	display: inline-block;
			    	text-decoration: underline;
			    	line-height: 1.3em;
			    	width: 100%;
			    	margin-bottom: 3em;
    				margin-top: 1em;
			    }

			    #current-elliott-shorts, #joes-jeans-shorts {
			    	padding-bottom: 7em;
			    }
			}

			.main-image {
				display: inline-block;
				width: 78%;
				text-align: right;
				vertical-align: top;
				margin-top: 3em;

				.main-links {
					text-align: right;
					margin-top: 1.5em;

					.footer-link {
						padding-top: 4em;
					}

					div {
						width: 49.5%;
						display: inline-block;
					}

					a {
						display: inline-block;
						font-weight: 500;
						font-size: 1.75em;
						margin-right: 5.5em;
						vertical-align: middle;
					}

					hr {
						content: "";
						display: inline-block;
						width: 6vw;
						height: 5px;
						background-color: #000;
						margin-right: 1em;
						vertical-align: middle;
						position: relative;
					}
				}
			}
		}

		.on-top-text {

			.head {
				.col:nth-child(1) {
					padding-left: 16%;
		    		width: 45%;
		    		padding-top: 0.5em;
				}

				.col:nth-child(2) {
				    width: 45%;
				    padding: 0;
				}
			}
		}

		.on-side-text {
			.main-image {
				float: left;
				width: 50%;
			}

			.main {
				.head {
					float: right;
					display: inline-block;
				    width: 50%;
	    			padding-top: 14%;
	    			padding-left: 2%;

	    			p {
	    				width: 90%;
					    padding-top: 0.6em;
					    padding-bottom: 0.6em;
	    			}
				}

				.side-head {
					@extend .head;
					padding-top: 8%;
				}

				.three-jeans {
				    position: relative;
				    display: inline-block;
				    width: 100%;
				    vertical-align: top;
				    text-align: center;

				    a {
				    	width: 32%;
				    	display: inline-block;
				    }

				    span {
				    	padding-bottom: 2em;
				    	float: left;
				    	width: 65%;
				    	margin-top: 0;
					    margin-bottom: 0;
					    padding-bottom: 0;
				    }

				    img {
				    	float: left;
					    padding-bottom: 2em;
					    padding-top: 4em;
				    }

				    .high-impact-hues-products {
				    	a {
				    		vertical-align: top;
				    	}
				    	span {
				    		padding-left: 1em;
    						width: 10em;
				    	}
				    }

				    .skirts-products {
				    	span {
				    		padding-left: 2rem;
				    		width: 9em;
				    	}

				    	#levis-skirts, #j-brand-skirts {
				    		img {
				    			padding-bottom: 4em;
				    		}
				    	}

				    	#joes-jeans-skirts {
				    		img {
				    			padding-bottom: 3em;
				    		}
				    	}
				    }

				    .white {
				    	span {
				    		margin-right: 2vw;
    						float: none;
				    	}

				    	#paige-white, #ag-white {
				    		img {
				    			padding-bottom: 10rem;
				    		}
				    	}
				    }
				}
			}
		}
	}
}

// // ======================== MOBILE

#lookbook-mobile {

	.mobile {
		display: inline-block !important;
	}

	.desktop {
		display: none !important;
	}

	.days-of-week {
		background-color: black;
	    color: white;
	    width: 30vw;
	    text-align: center;
	    height: 5vw;
	    line-height: 5vw;
	    font-size: 3vw;
	    font-weight: normal;
        margin-left: 10%;
    	margin-bottom: 5vw;

	    .day-active {
	    	color: #eecaae;
	    }
	}

	.hero {
		position: relative;

		.hero-text {
			position: absolute;
			top: 20%;
			left: 25%;

			h1 {
				font-size: 12vw;
				margin-bottom: 4vw;
				line-height: 11vw;
			}

			h1:nth-child(3) {
				padding-left: 5vw;
			}	
		}

		.sub-text {
		    font-size: 3.5vw;
		    text-align: center;
		    padding: 10vw 7vw 10vw 7vw;
		    line-height: 7vw;
		    margin-bottom: 0;
		}
	}

	section {
		display: inline-block;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 15%;

		.main-image {
			display: inline-block;
			position: relative;

			.brand {
				text-transform: uppercase;

				.brand-footer {
				    top: 92%;
				    left: 2%;
				}

				.normal-brand-footer {
					display: block;
				    position: absolute;
				    background: #000;
				    color: #fff;
				    text-decoration: underline;
				    line-height: 6vw;
				    width: 35vw;
				    text-align: center;
				    font-size: 3vw;
				}

				.circle-brand-footer {
					top: 87%;
			    	left: 13%;
				}
			}

			#ag-front-seams.brand span {
				width: 8vw;
			}
			#levis-shorts.brand span, #dl1961-skirts.brand span {
				width: 14vw;
			}
			#j-brand-white.brand span {
				width: 16vw;
			}
			#joes-jeans-light-wash span {
				width: 23vw;
			}
			#hudson-high-impact-hues.brand span {
				width: 15vw;
			}
		}

		.head {
			padding-top: 14vw;
			padding-bottom: 7vw;
			text-align: center;

		    p {
	    	    font-size: 3.5vw;
			    line-height: 9vw;
			    margin-bottom: 5vw;
			    margin-top: 5vw;

			    span {
			    	font-weight: bold;
			    }
		    }

		    h2 {
				font-size: 9vw;
	    		font-weight: normal;
			}

			.days-of-week {
			    margin-left: 30%;
			}

			.main-links {
				margin-top: 5vw;
				margin-left: 10%;

				.footer-link {
					text-transform: uppercase;
					display: inline-block;
					font-weight: normal;
					font-size: 5.5vw;
					margin-right: 10vw;
					a {
				    	display: inline-block;
				    	padding-bottom: 7vw;
					}
				}
			}
		}

		.main {

			.product {
			    display: inline-block;
			    width: 25%;
			    margin-right: 9vw;
			    text-align: center;
			    vertical-align: top;

			    .track-stripes-products {
			    	height: 54vw;
			    }

			    .skirts-products {
			    	height: 27vw;
			    }

			    .front-seams-products {
			    	height: 51vw;
			    }

			    .white-products {
			    	height: 41vw;
			    }

			    .light-wash-products {
			    	height: 62vw;
			    }

			    .high-impact-hues-products {
			    	height: 56vw;
			    }

			    .shorts-products {
			    	height: 32vw;
			    }

			    #ag-white, #paige-white {
			    	img {
			    		padding-top: 7vw;
			    	}
			    }

			    span {
			    	text-transform: uppercase;
			    	font-size: 2.8vw;
			    }
			}

			.three-jeans div:last-child {
				margin-right: 0;
			}
		}
	}
}

//TABLET

@media all and ( min-width: 767px ) and ( max-width: 1024px ) {

	#lookbook {

		.hero {
			.hero-text {
				top: 5%;
			}
			.hero-text {
				h1 {
					font-size: 4.5em;
				}
			}
		}

		.days-of-week {
			width: 21%;
		}

		section {
			.brand {
				.brand-footer {
					top: 93%;
				}
				.light-wash-brand-footer {
					width: 16%;
				}
				
				.side-text-brand-footer {
					top: 87%;
					width: 14%;
					left: 17%;
				}
				.shorts-brand-footer {
					width: 9%;
				}
			}

			.brand#j-brand-white {
				.white-brand-footer {
					top: 87%;
					width: 18%;
				}
			}

			.head {
				.days-of-week {
					width: 44%;
				}
			}

			.on-side-text {
				.main {
					.head {
						.days-of-week {
							width: 33%;
						}
					}
					.three-jeans {
						img {
							padding-top: 2em;
						}
						span {
							float: none;
							width: 100%;
						}
						.skirts-products {
							span {
								padding-left: 0;
							}
						}
						.high-impact-hues-products {
							a {
								vertical-align: baseline;
							}
						}
						.white {
							a {
								width: 29%;
							}
							.white-products {
								height: 0;
							}
							#ag-white {
								span {
									padding-left: 2em;
								}
								img {
									padding-bottom: 4em;
								}
							}
							#frame-white {
								span {
									padding-left: 1em;
								}
								img {
									padding-bottom: 0.7em;
								}
							}
							#paige-white {
								span {
									padding-left: 0;
								}
								img {
									padding-bottom: 4em;
								}
							}
						}
					}
				}
			}

			.on-top-text {
				.head {
					.col:nth-child(1) {
						width: 51%;
					}
				}
			}

			.on-side-text {
				.main-image {
					img {
						width: 38em;
					} 
				}
				 #hudson-high-impact-hues.brand {
				 	span {
						width: 14%;
					}
				}
			} 
		}
	}

	#lookbook-footer {
		.footer-text {
			.btt#lookbook-btt {
				top: -70%;
				position: absolute;
				bottom: 5%;
				display: block;
				left: 90%;
			}
		}
	}

	#sub-nav {
		font-size: 0.9em;
	}

}