@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

h1,
h2, 
h3,
p,
a,
span {
  font-family: 'Roboto Mono', monospace;  
}

#bcomFashion .row,
#bcomFashion #bl_main_container {
  // max-width: 1440px;
  max-width: none;
  width: auto;
  transform: none;
  -webkit-transition: none;
}

#bl_main_container h1,
#bl_main_container h2,
#bl_main_container h3 {
  color: #000;
  font-family: 'Roboto Mono', monospace;
}

#nav .row {
  max-width: 80.16667rem;
  width: 100%;
}

main:not(#denim-styles) {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0;
}

main#denim-styles {
    .main {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 0;
  }
}

#mobile-header {
  display: none;
}

#mast-nav {
  font-family: 'Roboto Mono', monospace;
  position: relative;
  display: block;
  font-size: 1.25em;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  line-height: 3em;
  font-weight: 500;

  a {
    text-decoration: none;
    margin: 0 0.5em;

    &:hover,
    &:focus {
      color: #D90EAC;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 50;
    background: #fff;

  }

  .inner {
    width: 100%;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
    display: table;
    background-color: #fff;
  }

  .page-id {
    display: table-cell;
    width: 35%;
  }
  
  .nav {
    position: relative;
    margin: 0;
  }

  .rightAlign {
    display: table-cell;
    text-align: right;
  }

  ul {
    display: inline-block;
    text-align: left;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0 0.25em;

      &.active {
        text-decoration: line-through;
      }
    }
  }
}


#frame-wide-leg.normal-brand-footer {
  top: 88%; 
  width: 4.5em;
}

#frame-bright-washes-link.normal-brand-footer {
  width: 4.5em;
}

#j-brand-light-wash.normal-brand-footer {
  top: 82%;
  width: 6em;
}

#levis-light-wash.normal-brand-footer {
  top: 89%;
  width: 5em;
}

#ag-high-impact-hues.normal-brand-footer {
  top: 82%;
  width: 3em;
}

#j-brand-high-impact-hues.normal-brand-footer {
  top: 89%;
  width: 6em;
}

.normal-brand-footer {
  margin-top: 0.5em;
  margin-left: 0.25em;
  display: block;
  position: absolute;
  top: 93.5%;
  left: 2%;
  background: black;
  color: white;
  text-decoration: underline;
  line-height: 2em;
  width: 11em;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  left: 3%;
}

#denim-styles {

  .title {
        height: 27vw;
        background-color: #f8f1ec;
        text-align: center;
        padding-top: 2em;
        overflow: hidden;

        .container {
          width: 110%;
        }

        span {
          font-size: 10.6vw;
          left: -4.7%;
          position: relative;
          white-space: nowrap;
        }

        p {
          font-size: 1.2vw;
          width: 91%;
          padding-top: 3vw;
        }
    }

  #blog-heading {
    h1 {
      padding: 1.5em 0;
    }
  }
}

.brand {
    text-transform: uppercase;

    .brand-footer {
      margin-top: 0.5em;
      margin-left: 0.25em;
      display: block;
      position: absolute;
      top: 85.5%;
      left: 2%;
      background: black;
      color: white;
      text-decoration: underline;
      line-height: 2em;
      width: 12em;
      text-align: center;
      font-size: 1.2em;
      letter-spacing: 0.05em;
    }
  }

#main-heading,
#blog-heading {
  width: 100%;
  padding-left: 1.2em;
  padding-right: 1.2em;

  h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    display: inline-block;
    width: 50%;
    line-height: 1.1em;
    position: relative;
    right: 0.075em;
    
    span {
      width: 100%;
      display: inline-block;
      margin: 0;
    }

    .rs {
      text-align: right;
    }

  }

  p {
    font-weight: normal;
    display: inline-block;
    width: 49%;
    font-size: 1.45em;
    padding-left: 8%;
    vertical-align: top;
    margin-top: 5em;
  }
}

#main-heading h1 {
  font-size: 8.5em;
  text-transform: uppercase;
}

#blog-heading h1 {
  padding: 2em 0;
  font-size: 4em;
}

#linking {
  overflow: hidden;

  a {
    width: 50%;
    margin: 0;
    position: relative;
    float: left;
  }

  img {
    width: 100%;
  }

  .container {
    position: absolute;
    top: 35%;
    display: inline-block;
    width: 100%;
  }

  .title {
    font-family: 'Roboto Mono', monospace;
    display: block;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45%;
    background-color: #000;
    color: #fff;
    padding: 0.35em 0;
    line-height: 1.2em;
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
  }

  .sub-title {
    @extend .title;
    background-color: #fff;
    color: #000;
    font-size: 1vw;
    width: 40%;
    top: 61.5%;
  }

  #trend {
    .title {
      width: 25vw;
    }
    .sub-title {
      width: 12vw;
    }
  }
  #style {
    .title {
      width: 20vw;
    }
    .sub-title {
      width: 18vw;
    }
  }
}

#bcomFashion {
  footer {
    #bloomiesMainFooter.row,
    .row.footerDivider,
    #footerBottom.row {
      max-width: 80.16667rem;
    }
  }
}

.two-col {

  .col {
    padding: 0 1%;
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }

}

.three-col {

  margin-bottom: 3em;

  .col {
    width: 31%;
    padding: 0 1%;
    display: inline-block;
    vertical-align: top;
  }

}


// EDITORIAL PAGE

#sub-nav {
  display: block;
  width: 100%;
  background-color: #000;
  text-align: center;
  margin: 0;

  .active {
    color: #eecaae;
  }

  a {
    display: inline-block;
    font-weight: normal;
    font-size: 1.15em;
    margin: 0 1em;
    line-height: 3.5em;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

#denim-dictionary {

  padding-left: 4em;

  h3 {
    margin-top: 0.75em;
    font-weight: 500;
    font-size: 1.8em;
  }

  .more,
  .less {
    text-decoration: underline;
    margin: 0.25em 0;
    display: block;
    font-size: 1.2em;
  }

  .more.hidden,
  .less.hidden {
    display: none;
  }

  .placeholder {
    display: none;
  }

  a.shop {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 1em;
    display: block;
  }

  .denim-dictionary-products {
    p {
      font-size: 1.3em;
      line-height: 2;
    }
  }

}

#denim-dilemmas {
  background-color: #f8dfcb;
  padding: 4em 2em;
  text-align: center;

  p {
    line-height: 2.3em;
    font-size: 1.3em;
  }

  h2 {
    font-size: 4.5em;
    font-weight: 500;
  }

  hr {
    display: inline-block;
    width: 8vw;
    height: 5px;
    background-color: #000;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  .col {
    text-align: left;
    vertical-align: top;
    margin-top: 1em;

    p {
      line-height: 2.25em;
    }

    a.link {
      font-size: 1.4em;
      font-weight: 500;
    }

    #shop-hight-impact-hues {
      font-size: 1.8em;
    }

    .image {
      position: relative;
      a:focus {
        color: #fff;
      }
    }
  }

  img {
    margin-bottom: 1em;
  }
  .copy {
    a {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 1.4em;
    }
  }
}

#dos-and-donts {
  text-align: center;
  overflow: hidden;

  h2 {
    word-spacing: 0.65em;
    letter-spacing: 0.125em;
    font-size: 7.14vw;
    position: relative;
    top: -0.425em;
    font-weight: 700;
    margin-bottom: 0;
    margin-right: 0.5em;
  }

  .sub-heading {
    position: relative;
    top: -2em;
    font-size: 1.1vw;
    margin-left: 0.3em;
  }

  .details {
    display: block;
    margin: 2em auto;
    width: 70%;

    .copy {
      display: inline-block;
      width: 44%;
      margin-right: 6%;
      text-align: left;
      padding-left: 5%;
      padding-top: 2vw;

      h3 {
        font-size: 3em;
        font-weight: 500;
      }

      hr {
        border: 2px solid #000;
        width: 15%;
      }

      p {
        line-height: 2.25em;
        font-size: 1.2em;

        strong {
          text-transform: uppercase;
        }
      }

      a {
        text-decoration: none;
      }

      a.link {
        display: block;
        word-spacing: 0.4em;
        font-size: 1.7em;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 3em;
        text-decoration: underline;
      }
    }

    .image {
      display: inline-block;
      width: 48.5%;
      vertical-align: top;
      position: relative;
      a:focus {
        color: #fff;
      }
    }
  }
}

.ls {
  display: none;
}

#match-game {
  width: 100%;
  text-align: center;
  position: relative;

  h2 {
    color: inherit;
    font-size: 4.25em;
  }

  a {
    color: inherit;
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .carousel {
    margin: 5em 0;
    position: relative;
    overflow: hidden;
    width: 100%;

    img {
      max-width: 80%;
    }

    #placeholder {
      margin: 0 0 4em;

    }

    h3 {
      position: absolute;
      left: 65%;
      bottom: 15%;
      color: #fff;
      text-align: left;
      font-size: 3em; 
      font-weight: 500;
    }

    p {
      color: #fff;
      line-height: 5em;
    }

    .slide {
      left: 0;
      top: 0;
      position: absolute;
      display: inline-block;
      text-align: center;
      width: 100%;
      z-index: 10;

      &.ls {
        left: -110%;
      }

      &.rs {
        left: 110%;
      }

    }

  }

}

#carousel-dots {
  display: block;
  text-align: center;
  margin-bottom: 3em;

  li {
    display: inline-block;
    list-style-type: none;
    background-color: #fff;
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;

    &.active {
      background-color: transparent;
    }
  }

}

#carouselLeft,
#carouselRight {
  width: 3em;
  height: 3em;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 45%;
  cursor: pointer;
  z-index: 20;
}

#carouselLeft {
  transform: rotate(45deg);
  left: 3%;
}

#carouselRight {
  transform: rotate(-135deg);
  right: 3%;
}

#denim-dares {
  margin: 3em 2em;
  padding: 6em 6em;
  border: 2px solid #000;
  padding-bottom: 8em;

  h2 {
    margin-bottom: 0.25em;
    line-height: 1em;
    font-weight: 500;
    font-size: 7em;
    letter-spacing: 0.1em;
  }

  .col {
    vertical-align: top;
  }

  .col:first-child {
    width: 30%;
    margin-left: 6vw;
    margin-right: 2vw;

    p {
      line-height: 2em;
      font-size: 1.3em;
    }
  }

  .col:last-child {
    width: 52%;
    margin-left: 5%;
  }

  .checklist {
    line-height: 2.5em;
    margin-left: 1.5em;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4em;
    vertical-align: top;
    font-weight: 500;

    .box {
      width: 2.25em;
      min-width: 2.25em;
      height: 2.25em;
      border: 1px solid #000;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;
      margin-right: 1.5em;
    }

    .check {
      position: absolute;
      left: 0em;
      font-size: 4em;
      bottom: 0.15em;
      cursor: pointer;
      top: -0.2em;
    }

    .label {
      font-size: 1.25em;
      font-weight: 400;
      vertical-align: middle;
      font-family: 'Roboto Mono', monospace;
    }

  }

}

section#lookbook-footer.footer {
  padding-top: 5em;
  border-top: none;
}

section#lookbook-footer.footer-styles .btt {
  bottom: -5%;
  position: fixed;
  left: 94%;
  font-size: 1.3em;
  display: none;
}

section#lookbook-footer.footer-styles {
  margin-top: 6em;
}

#lookbook-footer {
  line-height: 3em;
  font-size: 1.25em;
  display: block;
  vertical-align: top;
  font-weight: 500;
  font-size: 1.25em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  .footer-text {
    height: 13em;
    background: #000;
    color: #fff;
    padding-top: 5em;
    font-weight: normal;
    padding-right: 3em;
    margin-bottom: 3em;
    position: relative;
    text-align: center;
    margin-bottom: 0;

    span, a {
      color: #fff;
    }

    span {
      font-size: 1.5em;
    }

    a {
      font-size: 1em;
    }

    hr {
        content: "";
        display: inline-block;
        width: 100px;
        height: 5px;
        background-color: #fff;
        vertical-align: middle;
        position: relative;
        margin-top: 17px;
    }

    .btt {
      position: absolute;
      left: 95%;
      font-size: 1.3em;
    }

    .btt#lookbook-btt {
      bottom: -5%;
      position: fixed;
      left: 94%;
      font-size: 1.3em;
      display: none;
    }
  }
  
  .housing {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    vertical-align: top;
  }

  .btt {
    float: right;
    padding-right: 4em;
    .back-to-top {
      background-image: url('/b/fashion/images/projects/denim/icons/arrows-up-icon.jpg'); 
      background-repeat: no-repeat;
      border-radius: 50%;
      border-style: solid;
      border-width: 1px;
      border-color:  #000000;
      box-sizing: border-box;
      background-color:  #ffffff;
      width: 3em;
      height: 3em;
      position: absolute;
      background-position: center;
      bottom: 3.5em;
    }
  }

  .arrow {
    font-size: 1.65em;
  }

  .social {
    display: inline-block;
    position: relative;
    left: 2%;

    .icon {
      font-size: 0;
      width: 35px;
      height: 40px;
      display: inline-block;
      line-height: 36px;
      background-repeat: no-repeat;
      margin-right: 20px;
      background-size: contain;
    }

    .instagram {
      background-image: url('/b/fashion/images/projects/denim/icons/instagram.jpg');
    }

    .facebook {
      background-image: url('/b/fashion/images/projects/denim/icons/facebook.jpg');
    }

    .pinterest {
      background-image: url('/b/fashion/images/projects/denim/icons/pinterest.jpg');
    }

    .twitter {
      background-image: url('/b/fashion/images/projects/denim/icons/twitter.jpg');
    }
  }

}



// ======================== TABLET

@media all and ( min-width: 767px ) and ( max-width: 1024px ) {

  #mast-nav.fixed {
    z-index: 100;
  }

  #lookbook {

    #hero #hero-text {
      p {
        margin-left: 0;
        width: 47%;
        font-size: 1.2rem;
      }
    }
  }

  #blog-heading {
    padding: 0 2em;
  }  

  #dos-and-donts {
    h2 {
      font-size: 6em;
    }
    .details {
      .copy {
        padding-top: 0;
        margin-right: 0;
        width: 50%;
      }
    }
  }

  .normal-brand-footer {
    top: 91%;
  }

  #frame-wide-leg.normal-brand-footer {
    top: 84%;
  }

  #j-brand-light-wash.normal-brand-footer, #ag-high-impact-hues.normal-brand-footer {
    top: 76%;
  }
  #levis-light-wash.normal-brand-footer, #j-brand-high-impact-hues.normal-brand-footer {
    top: 85%;
  }

  section#lookbook-footer.footer-styles .btt { 
    position: absolute;
    left: 90%;
  }

}





// ======================== MOBILE


.mobile {
  display: none !important;
}


@media all and ( max-width: 766px ) {

  .desktop {
    display: none;
  }

  #mast-nav {
    display: none;
  }

  #denim-dilemmas {
    .col {
      display: inline-block;
      position: relative;
      margin-top: 1em;
    }
  }

  .brand-footer {
    top: 74%;
    left: 3%;
  }

  .normal-brand-footer {
    text-transform: none;
    display: block;
    position: absolute;
    background: #000;
    color: #fff;
    text-decoration: underline;
    line-height: 6vw;
    width: 35vw;
    text-align: center;
    font-size: 2.5vw;
  }

  .second-brand {
    top: 83%;
  }

  #levis-light-wash.brand-footer {
    width: 13%;
    top: 84%;
  }

  #j-brand-light-wash.brand-footer {
    width: 15%;
    top: 74%;
  }

  #ag-high-impact-hues.brand-footer {
    width: 6%;
    top: 74%;
  }

  #j-brand-high-impact-hues.brand-footer {
    width: 15%;
    top: 83%;
  }

  #frame-wide-leg.brand-footer {
    top: 87%;
    width: 13%;
    left: 2%;
  }

  #rag-and-bone-wide-leg.brand-footer {
    top: 93%;
    width: 32%;
    left: 2%;
  }

  #frame-bright-washes-link.brand-footer {
    top: 93%;
    width: 13%;
    left: 2%;
  }
  

  #denim-styles {
    .title {
      height: 65vw;
      background-color: #f8f1ec;
      text-align: center;
      padding-top: 25vw;
      overflow: hidden;
      font-family: 'Roboto Mono', monospace;

      span {
        font-size: 10.7vw;
        position: relative;
        left: -4.5%;
      }

      p {
        font-size: 3vw;
        line-height: 2.3em;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 2vw;
      }

      .container {
        width: 110%;
      }
    }

    #blog-heading {
      h1 {
        padding: 1.5em 0;
      }
    }
  }

  #denim-dictionary-carousel {
    .ls {
      display: none;
    }
    #carousel-dots li {
      background-color: transparent;
      border: 1px solid black;
    }
    #carousel-dots li.active {
      background-color: black;
    }
  }

  #trends {

    #main-heading {
      text-align: center;

      .rs,
      .ls {
        text-align: center;
      }

      h1 {
        font-size: 4.5em;
        width: 100%;
        margin-top: 1.5em;
        font-weight: normal;
      }

      p {
        width: 100%;
        margin: 2em 0;
        font-size: 1.1em;
        line-height: 2em;
        padding-left: 0;
      }
    }

    #linking {

      #style {
        .title {
          width: 40%;
        }
        img {
          border-bottom: 0.5px solid black;
        }
      }

      a {
        display: block;
        width: 100%;

        .title {
          font-size: 1.9em;
          font-weight: normal;
          width: 55%;
          padding: 0.2em 0;
        }

        .sub-title {
          display: none;
        }
      }
    }
  }

  #sub-nav {
    display: none;
  }

  #denim-styles {

    #blog-heading {
      text-align: center;
      font-family: 'Roboto Mono', monospace;

      h1 {
        font-size: 3.5em;
        width: 100%;
        margin-top: 0.25em;
        line-height: initial;
      }

      p {
        width: 83%;
        padding: 0;
        margin: 2em 0;
        font-size: 1em;
        line-height: 2.3em;

      }
    }

    h2 {
      font-size: 2.75em;
      font-weight: normal;
      margin-bottom: 0.5em;
    }

    .two-col {
      .col {
        width: 100%;
        display: block;
        margin: 3em 0;
        .image {
          position: relative;
          display: inline-block;
        }
      }
    }

    #denim-dictionary {
      position: relative;
      padding-left: 0;
      font-family: 'Roboto Mono', monospace;

      h1 {
        padding: 0.75em 0;
        padding-bottom: 0;
      }

      .more,
      .less {
        padding: 0.5em 0;
      }

      .carousel {
        position: relative;

        .col {
          display: block;
          width: 100%;
          left: 0;
          padding: 0 5% 2em;
          margin-bottom: 2em;
          z-index: 10;
          text-align: center;
          background-color: #fff;

          img {
            width: 90%;
          }

          h3 {
            margin: 0.5em 0;
            font-size: 2.5em;
            font-weight: normal;
          }

          .details {
            padding: 0 10%;
            line-height: 2.3em;
          }

          a.shop {
            font-weight: normal;
            font-size: 1.6em;
            text-transform: uppercase;
          }

        }

        .placeholder {
          display: none;
          width: 100%;
        }

        .dots {
          margin: 0;
          padding: 0;
          list-style-type: none;
          text-align: center;
          position: relative;
          top: 20px;

          li {
            border: 1px solid #000;
            background-color: #fff;
            border-radius: 100%;
            width: 9px;
            height: 9px;
            display: inline-block;
            margin: 0;
            padding: 0;

            &.active {
              background-color: #000;
            }
          }

        }
      }
    }

    #dos-and-donts {
      h2 {
        font-size: 6.5em;
        word-spacing: 0em;
        top: -0.25em;
        line-height: 1em;
        margin-right: 0;
        font-weight: 500;
      }

      .sub-heading {
        padding: 0 12%;
        line-height: 2.3em;
        font-size: 1em;
        margin-left: 0;
      }

      .details {
        width: 100%;

        .image {
          width: 85%;
          position: relative;
          display: inline-block;
        }        

        .copy {
          width: 85%;
          padding-left: 7%;
        }

      }

    }

    #denim-dares {
      padding: 0;

      h2 {
        font-size: 5em;
        padding: 0 1.5rem;
        top: 65%
      }

      p {
        font-size: 1.2em;
        padding: 0 1.5rem;
      }

      .label {
        font-size: 0.9em;
        line-height: 2em;
      }

    }

    #match-game {

      .carousel {
        margin:0;
        padding-bottom: 5em;
      }

      h3 {
        font-size:12px;
        top: 16vh;
      }

      p {
        font-size: 11px;
        line-height: 1.75em;
        margin-top: 2.5em;
      }
    }

  }

  #mobile-header {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    font-family: 'Roboto Mono', monospace;

    .prime {
      padding: 1em 2em;
      border-bottom: 1px solid #000;
      background-color: #fff;

      .menu-title {
        padding-left: 2.2em;
        display: inline-block;
        font-size: 1.3em;
        position: absolute;
        padding-top: 0.1em;
        text-decoration: none;
      }

      .logo {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        display: inline-block;
        width: 33%;
        top: auto;
      }

      .burger {
        display: inline-block;
        width: 30px;
        height: 22px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }

      .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 50%;
        background: #202020;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

      .burger span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
      }

      .burger span:nth-child(odd) {
        left:0px;
        border-radius: 9px 0 0 9px;
      }

      .burger span:nth-child(1), .burger span:nth-child(2) {
        top: 0px;
      }

      .burger span:nth-child(3), .burger span:nth-child(4) {
        top: 9px;
      }

      .burger span:nth-child(5), .burger span:nth-child(6) {
        top: 18px;
      }

      .burger.open span:nth-child(1),.burger.open span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .burger.open span:nth-child(2),.burger.open span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .burger.open span:nth-child(1) {
        left: 5px;
        top: 7px;
      }

      .burger.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
      }

      .burger.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      .burger.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      .burger.open span:nth-child(5) {
        left: 5px;
        top: 12px;
      }

      .burger.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 12px;
      }
    }

    .menu {
      text-align: center;
      font-size: 2em;
      border-bottom: 1px solid #000;
      position: absolute;
      width: 100%;
      padding-top: 40%;
      background-color: #fff;
      height: 100vh;
      z-index: 12;

      &.open {
        padding-top: 15%;
      }

      a, p {
        display: block;
      }

      a {
        margin-bottom: 2em;
      }

      p {
        margin:0;
        padding: 0;
      }

      .active {
        text-decoration: line-through;
        margin-bottom: 0.5em;
      }

      .sub {
        margin-bottom: 1.5em;

        a {
          font-size: 0.65em;
          padding: 0;
          margin: 0;
          line-height: 2.5em;
        }
      }

    }

  }

  #mobile-footer,
  #lookbook-footer {
    font-family: 'Roboto Mono', monospace;
    display: block;
    line-height: 2.5em;
    border-top: none;
    border-bottom: none;
    text-align: center;
    padding: 1em 0;

    .housing {
      padding-left: 1.2em;
    }

    .footer-text {
      height: 9em;
      background: #000;
      color: #fff;
      padding-top: 3em;
      font-weight: normal;
      padding-right: 3em;
      margin-bottom: 3em;
      position: relative;

      span, a {
        color: #fff;
      }

      span {
        font-size: 1.2em;
      }

      a {
        font-size: 1em;
        text-decoration: underline;
      }

      .btt {
        top: 6.8em;
        position: absolute;
        font-size: 1.3em;
        left: 0;
      }
    }

    a {
      font-size: 1.4em;
      text-decoration: none;
    }

    span.arrow {
      font-size: 2.2em;
    }

    .btt,
    .social {
      display: block;
      text-align: center;
      position: relative;
      right: 0;
      left: 0;
    }

    .btt {
      top: 5em;
      .back-to-top {
        background-size: 0.8em;
        bottom: 4.5em;
        width: 1.8em;
        height: 1.8em;
      }
    }

    #landing-footer {
      .back-to-top {
        left: 0;
      }
    }
  }

  #guide-footer {
    position: relative;
    .btt {
      margin-top: 4.5em;
      position: absolute;
      top: 0;
      left: 80%;
    }
    .housing {
      padding-left: 1em;
      border-top: 1px solid black;
      padding-top: 2em;
    }
  }
  #lookbook-footer {
    .footer-text.mobile-footer {
      .btt#lookbook-btt {
        top: 8.3em;
        left: 78%;
        position: absolute;
        bottom: 0;
        display: block;
      }
    }
  }
}
