<!-- {pageTitle:"Diversity Inclusion", pageLabel:"Bloomingdale's Leadership, Diversity & Inclusion"} -->
<!--headMeta={"name":"description", "content":"Respect for diversity of background, thought and opinion is a core value at Bloomingdale's"}-->
<!--headCanonical={"href":"http://fashion.bloomingdales.com/about-us/diversity-inclusion/"}-->

{{{coremetrics 'Diversity_and_Inclusion' 'ab-di-xx-xx'}}}
<div class="row collapse about_us">
    <link rel="stylesheet" href="/b/fashion/styles/projects/about-us/aboutus.css" />
    {{>title}}
    <link href="/b/fashion/styles/projects/about-us/diversity-inclusion/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/about-us/b-cause/main.js"></script>
    <div class="small-5 large-5 collapse">
        <div class="bl_nav_side">
            <div class="gn_left_nav_container">
                <div id="bl_leftNavContainer">
                    {{>leftnav}}
                </div>
            </div>
        </div>
    </div>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main small-24 large-18 columns">
            <div id="bl_hp_main">
                <article class="b-cause-main">
                    <section class="row b-cause-body">
                        <div class="small-24 columns">
                            <article class="row">
                                <div class="small-24 medium-11 columns">
                                    <h1>Diversity & Inclusion</h1>
                                    <p>Bloomingdale’s commitment to Diversity and Inclusion is reflected in our values.</p>

                                    <p><strong>Build</strong> meaningful relationships with our customers, our partners and each other.</p>

                                    <p><strong>Attract</strong> passionate, curious leaders who respect diversity of background, thought and opinion.</p>

                                    <p><strong>Engage</strong> the communities we serve. What’s important to our customer is important to us.</p>

                                    <p><strong>Employee Resource Groups</strong> empower a community whose collective understanding and commitment supports a diverse and inclusive company culture.</p>
                                </div>
                                <div class="small-24 medium-12 columns">
                                    <h1>Our employee resource groups include:</h1>
                                    <img src="/b/fashion/images/projects/about-us/diversity-inclusion/millennial.png" alt="millennial">
                                    <img src="/b/fashion/images/projects/about-us/diversity-inclusion/multicultural.png" alt="multicultural">
                                    <img src="/b/fashion/images/projects/about-us/diversity-inclusion/women.png" alt="women">
                                </div>
                            </article>
                        </div>
                    </section>
                    {{> bcausefooter}}
                </article>
            </div>
        </div>
    </div>
</div>
