<!-- {pageTitle:"Child Mind Institute", pageLabel:"Bloomingdale's Leadership, Diversity & Inclusion"} -->
<!--headMeta={"name":"description", "content":"Respect for diversity of background, thought and opinion is a core value at Bloomingdale's"}-->
<!--headCanonical={"href":"http://fashion.bloomingdales.com/about-us/diversity-inclusion/"}-->

{{{coremetrics 'Diversity_and_Inclusion' 'ab-di-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <link href="/fashion/styles/projects/about-us/diversity-inclusion/styles.css" rel="stylesheet" type="text/css" />
    <script src="/fashion/javascripts/projects/about-us/b-cause/main.js"></script>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <article class="b-cause-main">
                                <section class="row b-cause-body">
                                    <div class="small-24 columns">
                                        <article class="row">
                                            <div class="small-24 medium-12 columns">
                                                <h1>Diversity & Inclusion</h1>
                                                <p>Respect for diversity of background, thought and<br>opinion is a core value at Bloomingdale’s.</p>
                                                <h2>Our commitment to diversity and<br>inclusion focuses on:</h2>
                                                <ul>                                                    
                                                    <li>Communication and education</li>
                                                    <li>Leveraging customer and workforce data</li>
                                                    <li>Marketing</li>
                                                    <li>Policies</li>
                                                    <li>Product assortment</li>
                                                    <li>Recruitment, development and retention</li>
                                                    <li>Strategic community partnerships</li>
                                                </ul>
                                            </div>
                                            <div class="small-24 medium-12 columns">
                                                <h1>Our community partnerships include:</h1>
                                                <img src="/fashion/images/projects/about-us/diversity-inclusion/diversity-inclusion.png" usemap="#diversity-inclusion">
                                                <map name="diversity-inclusion">
                                                    <area shape="rect" coords="236,330,346,368" alt="Bloomingdale's Partners With Live out Loud" title="Bloomingdale's Partners With Live out Loud">
                                                    <area shape="rect" coords="119,330,231,370" alt="Bloomingdale's Partners With Prep for Prep" title="Bloomingdale's Partners With Prep for Prep">
                                                    <area shape="rect" coords="1,329,106,369" alt="Bloomingdale's Partners With Polished Pebbles" title="Bloomingdale's Partners With Polished Pebbles">
                                                    <area shape="rect" coords="238,211,339,298" alt="Bloomingdale's Partners With National Multiple Sclerosis Society" title="Bloomingdale's Partners With National Multiple Sclerosis Society">
                                                    <area shape="rect" coords="122,228,226,273" alt="Bloomingdale's Partners With Human Rights Campaign" title="Bloomingdale's Partners With Human Rights Campaign">
                                                    <area shape="rect" coords="1,228,102,279" alt="Bloomingdale's Partners With Gay Men’s Health Crisis" title="Bloomingdale's Partners With Gay Men’s Health Crisis">
                                                    <area shape="rect" coords="237,113,338,188" alt="Bloomingdale's Partners With El Museo Del Barrio" title="Bloomingdale's Partners With El Museo Del Barrio">
                                                    <area shape="rect" coords="115,129,232,181" alt="Bloomingdale's Partners With Downtown Women’s Center" title="Bloomingdale's Partners With Downtown Women’s Center">
                                                    <area shape="rect" coords="0,122,107,183" alt="Bloomingdale's Partners With Corporate Counsel Women of Color" title="Bloomingdale's Partners With Corporate Counsel Women of Color">
                                                    <area shape="rect" coords="244,0,338,88" alt="Bloomingdale's Partners With Chi Am Circle" title="Bloomingdale's Partners With Chi Am Circle">
                                                    <area shape="rect" coords="114,7,231,81" alt="Bloomingdale's Partners With BRAG" title="Bloomingdale's Partners With BRAG">
                                                    <area shape="rect" coords="5,0,97,85" alt="Bloomingdale's Partners With Alpha Kappa Alpha Sorority, Inc." title="Bloomingdale's Partners With Alpha Kappa Alpha Sorority, Inc.">
                                                </map>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                                {{> bcausefooter}}
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
