// ======================================
// Business Gifts Pages Redesign
// Author: Alessandro Ribeiro
// Date: 11/03/2016
// Project: /about-us/shopping/corporate-business-gifts/
// ======================================

$avenir-font-family: Avenir, Helvetica, Arial, sans-serif;

.bl_mobile .bl_main {
    padding: 0;
}

.business-gifts-mobile {
    font-size: 5.2vw;
    font-family: $avenir-font-family;
    padding-top: 4.1vw;

    .hero {
        margin-bottom: 4.1vw;
        padding-bottom: 0;
        position: relative;

        .hero-content {
            position: absolute;
            padding-top: 13.8vw;
            padding-left: 7vw;
            top: 0;

            img {
                width: 40%;
                margin-bottom: 2.7vw;
            }

            p {
                width: 85%;
                font-size: 3.2vw;
                line-height: 1.7;
            }

            p:nth-child(3), p:nth-child(5) {
                font-size: 2.8vw;
                text-transform: uppercase;
                font-weight: bold;
                width: 87%;
            }

            p:nth-child(4) {
                font-size: 2.8vw;
                width: 100%;
            }


            a {
                text-decoration: none;
            }
            
        }
    }

    .benefits {
        margin-bottom: 4.1vw;
        position: relative;

        .benefits-content {
            position: absolute;
            padding-top: 22.2vw;
            padding-left: 7.5vw;
            top: 0;
            width: 95%;

            .column {
                padding-left: 0;
                padding-right: 0;
            }

            .column:last-child {
                padding-left: 2vw;
            }

            .bullet {
                height: 0;
            }

            .bullet:before {
                content: '\2022';
                font-size: 3.5vw;
            }

            p:first-child {
                margin-bottom: 3.5vw;
            }

            p {
                font-size: 3.4vw;
                margin-bottom: 2.7vw;
                letter-spacing: 0.27vw;
            }
        }

    }

    .gifts {
        margin-bottom: 4.1vw;
        position: relative;

        .gifts-content {
            position: absolute;
            padding-top: 33.3vw;
            padding-left: 7.5vw;
            top: 0;
            width: 49%;

             p {
                font-size: 4vw;
                letter-spacing: 0.27vw;
            }
        }
       
    }

    .gifting-program {
        margin-bottom: 4.1vw;
        padding-left: 7.5vw;

        img {
            margin-bottom: 6.9vw;
            width: 90%;
        }

        p {
            font-size: 3.8vw;
            letter-spacing: 0.27vw;
            margin-bottom: 1.5vw;
        }

    }

    .shop-holiday {
        margin-bottom: 4.1vw;
        position: relative;
        
        img {
            width: 85%;
            margin-left: 7.4vw;
        }

        .shop-holiday-content {
            position: absolute;
            padding-top: 25vw;
            padding-left: 29vw;
            top: 0;

            a {
                font-size: 4vw;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        
    }
}




.business-gifts {
    font-size: 1.2rem;
    font-family: $avenir-font-family;
    padding-top: 15px;

    .hero {
        margin-bottom: 40px;
        padding-bottom: 0;
        position: relative;

        .hero-content {
            position: absolute;
            padding-top: 200px;
            padding-left: 80px;
            text-align: left;
            width: 66%;
            top: 0;

            p {
                font-size: 1.2rem;
                line-height: 1.8;
            }

            p:nth-child(3) {
                text-transform: uppercase;
                font-weight: bold;
            }

            .contact {
                border: none;
                padding: 0;
                text-align: left;
                padding-top: 30px;

                p:first-child {
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-transform: uppercase;

                }

                p:last-child {
                    font-size: 1.1rem;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .benefits {
        margin-bottom: 40px;
        position: relative;

        .benefits-content {
            position: absolute;
            padding-top: 130px;
            padding-left: 120px;
            top: 0;

            p:first-child {
                margin-bottom: 1.8rem;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 0.6rem;
                letter-spacing: 0.06rem;
            }
        }
        
    }

    .gifts {
        margin-bottom: 40px;
        position: relative;

        .gifts-content {
            position: absolute;
            padding-top: 190px;
            padding-left: 417px;
            top: 0;

            p {
                font-size: 1.2rem;
                letter-spacing: 0.06rem;
            }
        }
    }

    .gifting-program {
        margin-bottom: 40px;
        padding-left: 90px;

        img {
            margin-bottom: 25px;
        }

        p {
            font-size: 1.2rem;
            letter-spacing: 0.06rem;
            margin-bottom: 1rem;
        }

    }

    .shop-holiday {
        margin-bottom: 40px;
        position: relative;

        .shop-holiday-content {
            position: absolute;
            padding-top: 125px;
            padding-left: 169px;
            top: 0;

            p {
                font-size: 1.2rem;
                letter-spacing: 0.06rem;
                text-align: center;
            }
            
            a {
                font-size: 1.4rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

    }
}