$env: 'dev';

/** Paths **/
$img-path: if($env == 'dev', '../img/', './_Assets/'); 

/** Colors **/
$black: #000;
$red: #ed1c24;
$yellow: #faba2d;
$white: #fff;
$blue: #c5e3ee;

/** Breakpoints **/
$BLOOMIES-breakpoint-small: 640px;
$BLOOMIES-breakpoint-medium: 980px;
$BLOOMIES-main-container-width: 962px;

/** Font Families **/
$default-sans-serif-font-family:  Arial, Verdana, Helvetica, Sans-serif;
$default-serif-font-family:       "Palatino Linotype", "Book Antiqua", Palatino, Georgia, "Times New Roman", Times, Serif;
$default-font-family:             $default-sans-serif-font-family;

/** Animation Speeds **/
$ani-speed-0: 0.08s;
$ani-speed-1: 0.13s;
$ani-speed-2: 0.21s;
$ani-speed-3: 0.34s;
$ani-speed-5: 0.55s;
$ani-speed-8: 0.89s;
$ani-speed-10: 1s;
$ani-speed-13: 1.3s;
