html {
    overflow-x: hidden;
}

.bl_mobile {

    .about_us {
        margin-left:10px;
        IMG {
            max-width:100%;
           // padding-left:10px;
        }
        .bcause_IMG {
            max-width:100%;
        }
        .lp_amfAR_video {
            display:none;
        }
        .bl_nav_side {
            display:none;
        }
    }

}

// ============ Override main-mobile.css ================ //
header.responsive #header-bottom-section .aboveNavSearchBox {
    display: inline-block;
    width: 100%;
    height: 1.75rem;
    padding: 0.83333rem 0 0.83333rem 3.75rem;
    border-bottom: 0.16667rem solid #000000;
    font-size: 1.25rem;
}
footer.responsive #footer-top-section #footer-app-link {
    margin-top: 0.5rem;
    max-width: none;
}