<!-- {pageTitle:"Best Wedding Dates in 2017 & 2018 by State (US) - Bloomingdale's"} -->
<!--headCanonical={"href":"fashion.bloomingdales.com/b/best-wedding-dates-united-states/"}-->
	{{{coremetrics 'stuff--more_stuff' 'Placeholder'}}}
	{{>title}}

	<link rel="stylesheet" href="/b/fashion/styles/projects/best-wedding-dates-united-states/fonts.css">
	<link rel="stylesheet" href="/b/fashion/styles/projects/best-wedding-dates-united-states/styles.css">

	<script type="text/javascript" src="/b/fashion/javascripts/vendor/best-wedding-dates-united-states/vendor.js"></script>
	<script type="text/javascript" src="/b/fashion/javascripts/vendor/best-wedding-dates-united-states/app.js"></script>

	<div id="content" class="content best_day">

		<div class="block header_block">

			<h1 tabindex="0">The Best Day For Your Big Day</h1>

			<p tabindex="0">We have determined the sunniest, clearest, most beautiful days of the year to get married in the US. Tell us where you want to get married and we’ll tell you the perfect day to do it.</p>

			<button id="methodology_open_btn" class="methodology_open_btn"><i class="info_icon"></i> How does this work?</button>

			<div id="city_select_container" class="city_select_container">
				<div id="city_autocomplete_container" class="city_autocomplete_container"></div>
				<button id="best_day_submit_btn" class="btn submit_btn" type="submit" tabindex="0" data-url="best-wedding-dates-united-states">Next</button>
			</div>

		</div>


		<div id="loading" class="block loading_block">
			<div class="block_inner">
				<h2>Loading</h2>
			</div>
		</div>


		<div class="block calendar_block coloured_block">
			<div class="block_inner">
				<h2 id="calendar_title" tabindex="0">Your Perfect Wedding Day Is&hellip;</h2>

				<div>
					<h3 class="icon perfect_day" id="perfect_day" tabindex="0">August 19th, 2017</h3>
				</div>

				<div class="look_ahead">
					<a href="#" class="look_ahead_btn">Too soon? Look further ahead.</a>
				</div>

				<div tabindex="0" class="instructions">Select any date in the calendar for more weather details.</div>

				<div id="calendar_container" class="calendar_container">
					
					<div id="calendar_tooltip" class="calendar_tooltip" role="status" aria-hidden="false" aria-atomic='true' aria-live='polite'>
					<!-- polite/assertive -->
						<div class="tooltip_arrow"></div>
						<button id="tooltip_close_btn" class="tooltip_close_btn"></button>
						<div class="tooltip_inner"></div>
					</div>

				</div>

				<div class="clearfix">
					<div class="key clearfix">
						<div class="colour_key">
							<div class="colours clearfix">
								<div class="colour colour_0"></div>
								<div class="colour colour_1"></div>
								<div class="colour colour_2"></div>
								<div class="colour colour_3"></div>
								<div class="colour colour_4"></div>
							</div>
							<p>better weather</p>
						</div>
						<div class="selection_key">
							<div class="selection_icon"></div>
							<p>best day</p>
						</div>
					</div>
				</div>

				<p tabindex="0" class="smallprint small">*As most people get married on a weekend, our optimal dates land on Saturday or Sunday.</p>
			</div>
		</div>


		<div id="mobile_calendar_block" class="mobile_calendar mobile_calendar_block">
			<div class="block_inner">
				<div class="block_header"><button id="full_year_btn">full year</button></div>
				<div id="mobile_calendar_container" class="mobile_calendar_container">
				</div>
				<div class="mobole_instructions">Touch any date in the calendar for more weather details.</div>
			</div>
		</div>

		<div id="mobile_calendar_tooltip" class="mobile_calendar mobile_calendar_tooltip">
			<button id='tooltip_clear_btn' class='tooltip_close_btn'></button>
			<div class="tooltip_inner"></div>
		</div>


		<div class="block dates_block coloured_block">
			<div class="block_inner">
				<h2 tabindex="0" class="header_spring">Don’t want a SPRING wedding? Try one of these dates.</h2>
				<h2 tabindex="0" class="header_summer">Don’t want a SUMMER wedding? Try one of these dates.</h2>
				<h2 tabindex="0" class="header_fall">Don’t want a FALL wedding? Try one of these dates.</h2>
				<h2 tabindex="0" class="header_winter">Don’t want a WINTER wedding? Try one of these dates.</h2>

				<div class="seasons clearfix">
					<div id="season_spring" class="season season_spring">
						<i class="icon_spring"></i>
						<h5 tabindex="0">Spring</h5>
						<p tabindex="0" class="perfect_day" id="perfect_spring"></p>
					</div>

					<div id="season_summer" class="season season_summer">
						<i class="icon_summer"></i>
						<h5 tabindex="0">Summer</h5>
						<p tabindex="0" class="perfect_day" id="perfect_summer"></p>
					</div>

					<div id="season_fall" class="season season_fall">
						<i class="icon_fall"></i>
						<h5 tabindex="0">Fall</h5>
						<p tabindex="0" class="perfect_day" id="perfect_fall"></p>
					</div>

					<div id="season_winter" class="season season_winter">
						<i class="icon_winter"></i>
						<h5 tabindex="0">Winter</h5>
						<p tabindex="0" class="perfect_day" id="perfect_winter"></p>
					</div>
				</div>
			</div>
		</div>



		<div class="block social_block">
			<div class="block_inner">
				<p tabindex="0">Did you find this useful? Share with your friends!</p>
				
				<div class="social-likes" data-counters="no" data-url="https://www.bloomingdales.com/wedding-registry/best-day-to-get-married/">
					<div class="facebook" tabindex="0" title="Share link on Facebook">Share</div>
					<div class="twitter" tabindex="0" data-via="Bloomingdales" data-title="Find out the sunniest, clearest, most beautiful day to get married your city:" title="Share link on Twitter">Tweet</div>
				</div>
					
			</div>
		</div>



		<div id="methodology" class="methodology_container" tabindex="0">
			<div class="methodology_inner">
				<div class="methodology_content">
					<h3 tabindex="0">Methodology</h3>
					<p tabindex="0">Weather data for 1,000 most populous cities in the US has been obtained from <a href="https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/climate-normals/1981-2010-normals-data">1981-2010 Climate Normals</a> series produced by the <a href="https://www.ncdc.noaa.gov/">National Oceanic and Atmospheric Administration</a>. Optimal days in each city were determined on the basis of the <a href="https://today.yougov.com/news/2014/07/14/americans-agree-the-ideal-temperature/">comfortable average temperature of 72ºF</a>, low cloud cover, low chance of precipitation, and <a href="https://www.hindawi.com/journals/tswj/2013/367283/">comfortable relative humidity of 50%</a>.</p>

					<button id="methodology_close_btn" class="methodology_close_btn" tabindex="0"><i class="close_icon"></i> Close</button>
				</div>
			</div>
		</div>



		<!-- SOCIAL LIKES BUTTONS -->
		<div class="social social-likes social-likes_vertical social-likes_notext" data-url="http://fashion.bloomingdales.com/best-wedding-dates-united-states" data-title="">
			<a tabindex="0" class="social_btn facebook icon-facebook" href="#" title="Share link on Facebook">Facebook</a>
			<a tabindex="0" class="social_btn twitter icon-twitter" href="#" data-via="Bloomingdales" data-title="Find out the sunniest, clearest, most beautiful day to get married your city:" title="Share link on Twitter">Twitter</a>
			<a tabindex="0" class="social_btn embedLink icon-code" href="#" title="Embed link on your website"><span class="social-likes__button">Embed</span></a>
		</div>



		<!-- SOCIAL EMBED -->
		<div id="embed" style="display:none;">
			<h5 tabindex="0">Love it? Embed it on your website or blog:</h5>
			<a tabindex="0" href="#" class="embedLink closeEmbed"></a>
			<textarea onclick="this.select();">&lt;a href="/b/best-wedding-dates-united-states" target="_blank"&gt;&lt;img src="/b/fashion/images/projects/best-wedding-dates-united-states/embed.png" border="0" width="600" height="1055" /&gt;&lt;/a&gt;&lt;br /&gt;&lt;span style="font-size: 12px;"&gt;Click the image to open the full interactive version (via &lt;a href="https://www.bloomingdales.com" target="_blank"&gt;Bloomingdales&lt;/a&gt;).&lt;/span&gt;</textarea>
		</div>


	</div>
	
	