.intro {
  position: relative;
  overflow: hidden;
  padding: 40px 0 ;

  .intro-right{
    margin-top: 60px;
    padding: 0 .45455em 0 0;

    h3.subtitle {
      height: 79px;
      width: 100%;
      margin-bottom: 20px;
      background: url('/fashion/images/projects/campaign/give-pink-get-more/banner.jpg') center no-repeat;
      background-size: contain;
      white-space: nowrap;
      color: transparent;
      font-size: 0;
    }

    h4 {
      padding-top: 0;
      padding-bottom: 0;
      letter-spacing: 2px;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color: #fc03b5 !important;
      text-transform: uppercase;
      font-size: 16px;
    }
  }

  .gpgm-thank-you {
    padding: 0 70px;

    h4 {
      margin: 12px 0;
    }

    p {
      line-height: 1.6;
      letter-spacing: 0.4px;
      color: #333333;
    }
  }
}
