.intro {
  position: relative;
  overflow: hidden;
  padding: 15px;
  .logo {
    width: 70%;
    padding-top: 20px;
  }
  .promo {
    padding-bottom: 20px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h2.title {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
  }
  h3.subtitle {
    height: 80px;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
  }
  h3.subtitle-off {
    height: 80px;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
  }
  a.button {
    font-size: 1.7rem;
    width: 100%;
    letter-spacing: 0.02083rem;
    text-transform: uppercase;
    border-color: #000;
    background: #000;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }
  h4 {
    padding-top: 0;
    padding-bottom: 0;
    color: #ed008c !important;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 5px;
    letter-spacing: 3px;
  }
  p {
    line-height: 1.7;
    font-size: 13px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .gpgm-the-give {
    margin: 15px 0 0 0;
    h4 {
      margin-bottom: 0;
    }
    p {
      &:nth-child(2) {
        margin-top: 0;
      }
      a {
        font-weight: bold;
      }
    }
  }
  .gpgm-the-get {
    h4 {
      margin: 15px 0 0 0;
    }
    p {
      margin: 0;
      a {
        font-size: 10px;
      }
    }
  }
  .gpgm-thank-you {
    margin: 15px 0 0 0;

    h4 {
      margin-bottom: 20px;
      text-align: center;
      font-size: 18px;
    }

    p:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  .gpgm-footer {
    margin-top: 16px;
    line-height: 1.6;
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #333333;
  }
}
