extends ../../../layout


block content
	include ../../../includes/atb
	div.content
		h1 Add to Bag Proof of Concept
		.iblk(style="width: 33%;")
			h2 Member Product
			p.atb_overlay.button(data-id="1198028" style="width: 200px; min-height: 64px;")   
				span BURBERRY TEE
				br
				span [basic item]
			p.atb_overlay.button(data-id="1147666" style="width: 200px; min-height: 64px;")   
				span HALSTON DRESS
				br
				span [thumbnail item]
			p.atb_overlay.button(data-id="100601" style="width: 200px; min-height: 64px;") 
				span MAKEUP
				br
				span(style="") [swatch test]
			p.atb_overlay.button(data-id="1129898" style="width: 200px; min-height: 64px;") 
				span LOAFER
				br
				span(style="") [size test]
			//- p.atb_overlay.button(data-id="641277" style="width: 200px; min-height: 64px;") 
			//- 	span Longchamp Duffel Tote
			//- 	br
			//- 	span(style="") [thumbnail test]
		.iblk(style="width: 33%;")
			h2 Master Product
			p.atb_overlay.button(data-id="560897" style="width: 200px; min-height: 64px;")  
				span Rimowa "Salsa Deluxe" Luggage Collection
			p.atb_overlay.button(data-id="1127825" style="width: 200px; min-height: 64px;")  
				span 3 Piece Suit
				br
				span [thumbnail test]
		.iblk(style="width: 33%;")
			h2 Mutliple Product
