<!-- {pageTitle: 'Kids', pageLabel:'Kids Size Charts'} -->
{{{coremetrics 'Kids Size Charts - Shopping Services - About Us | Bloomingdales (ab-sh-si-xx.kids)' 'ab-sh-si-xx'}}}
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div class="gn_left_nav_top_cs">
                                        <div id="bl_leftNavContainer">{{>leftnav}}</div>
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>

                            <div class="bl_cu_mainContent" style="position:relative;">
                                <div class="hshim"></div>
                                <div class="about-shop-sizing-main-pic" style="position:relative;">

                                        <img src="/fashion/images/projects/about-us/other/size/kids_top_nav.gif" alt="Kids Size Chart" border="0">
                                        <a href="#RL_Boys8_20">
                                            <div style="position:absolute; width:20%; height: 7%; top:92%; left:21%; z-index: 1234;"></div>
                                        </a>
                                        <a href="#RL_Boys2_7">
                                            <div style="position:absolute; width:20%; height: 7%; top:92%; left:0; z-index: 1232;"></div>
                                        </a>
                                        <a href="#RL_Girls7_16">
                                            <div style="position:absolute; width:18%; height: 7%; top:82%; left:81%; z-index: 1234;"></div>
                                        </a>
                                        <a href="#RL_Girls2-6x">
                                            <div style="position:absolute; width:18%; height: 7%; top:82%; left:57%; z-index: 1234;"></div>
                                        </a>
                                        <a href="#RL_Infant_Girl_Boy">
                                            <div style="position:absolute; width:30%; height: 7%; top:82%; left:20%; z-index: 1234;"></div>
                                        </a>
                                        <a href="#Infants">
                                            <div style="position:absolute; width:15%; height: 7%; top:54%; left:0; z-index: 1234;"></div>
                                        </a>
                                        <a href="#Toddlers">
                                            <div style="position:absolute; width:14%; height: 7%; top:54%; left:22%; z-index: 1234;"></div>
                                        </a>
                                        <a href="#Girls">
                                            <div style="position:absolute; width:14%; height: 7%; top:54%; left:42%; z-index: 1234;"></div>
                                        </a>
                                        <a href="#Boys">
                                            <div style="position:absolute; width:14%; height: 7%; top:54%; left:59%; z-index: 1234;"></div>
                                        </a>
                                        <a href="#RL_Layette">
                                            <div style="position:absolute; width:14%; height: 7%; top:82%; left:0; z-index: 1234;"></div>
                                        </a>


                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="hshim"></div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Infants">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/infants.gif" alt="Infants" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Toddlers">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/toodlers.gif" alt="Toddlers" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Girls">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/girls.gif" alt="Girls" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Boys">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/boys.gif" alt="Boys" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="RL_Layette">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/RL_child_layette.gif" alt="RL Layette" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="RL_Infant_Girl_Boy">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/RL_infant_BG.gif" alt="RL Infant Girl &amp; Boy" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="RL_Girls2-6x">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/RL_childrenwear_G-2-6.gif" alt="RL Girls 2 - 6X" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="RL_Girls7_16">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/RL_childrenwear_G-7-16.gif" alt="RL Girls 7 - 16" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="RL_Boys2_7">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/RL_childrenwear_B-2-7.gif" alt="RL Boys 2 - 7" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="RL_Boys8_20">
                                    </a>
                                    <img src="/fashion/images/projects/about-us/other/size/RL_childrenwear_B-8-20.gif" alt="RL Boys 8 - 20" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <br>
                                Please note: Some of our brand manufacturer's sizing differs from our exclusive Bloomingdale’s sizing.
                                In these cases, the appropriate size equivalents are noted within the product descriptions.
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




