<!-- {pageTitle:"Ways To Shop", pageLabel:"Discover New Events & Ways to Shop at Bloomingdale’s!"} -->
{{{coremetrics 'Ways_to_Shop' 'Ways_to_Shop'}}}
<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400' rel='stylesheet' type='text/css'>
{{>title}}
<style>

</style>
<div class="about_us ways_to_shop">

    <table>
        <tr>
            <td>
                <div class="bl_nav_side">
                    <!--BEGIN LOCAL NAVIGATION-->
                    <div class="gn_left_nav_container">
                        <div id="bl_leftNavContainer">
                            {{>leftnav}}
                        </div>
                    </div>
                    <!--END LOCAL NAVIGATION-->
                </div>
            </td>
            <td>

                <div class="main content">

                    <div class="row heading">
                        <div id="ways_to_shop_header" class="large-24 columns">
                            <img class=""
                                 alt="Ways To Shop"
                                 src="/fashion/images/projects/ways-to-shop/ways.png" alt="Bloomingdale's Phone App">
                            <h4>There's always a Big Brown Bag within reach! Stop in. Log on. Tap away.</h4>
                        </div>
                    </div>
                    <div class="hshim"></div>

                    <div class="small-centered small-24 medium-uncentered medium-8 medium-push-16 large-uncentered large-8 large-push-16 columns" style="text-align:center">
                        <a href="http://www1.bloomingdales.com/media/about/mobile.jsp?cm_sp=ways_to_shop-_-n-_-APP_Learn_More"
                           data-cm="ways_to_shop-_-n-_-APP_Learn_More">
                            <img
                                    alt="Bloomingdale's Phone App"
                                    class="right_pic" style="height:315px;"
                                    src="/fashion/images/projects/ways-to-shop/phone.png">
                        </a>
                    </div>
                    <div class="row">
                        <div class="small-centered small-24 medium-uncentered medium-16 medium-pull-8 large-uncentered  large-16 large-pull-8 columns section text_section">
                            <div>
                                <div class="LBHeading longTitle">Bloomingdale's App</div>
                                <div class="line green"></div>
                                <div>
                                    Shop on the go, share your favorite looks with your social networks, manage your Bloomingdale's
                                    and loyalist accounts - and so much more.
                                </div>
                                <a href="http://www1.bloomingdales.com/media/about/mobile.jsp?cm_sp=ways_to_shop-_-n-_-APP_Learn_More"
                                   data-cm="ways_to_shop-_-n-_-APP_Learn_More">
                                    <button>Learn More</button>
                                </a>
                            </div>
                        </div>


                        <div class="hshim"></div>
                        <div class="hshim"></div>
                    </div>
                    <div class="row">
                        <div class="medium-12 large-12 columns section">
                            <a
                                    data-cm="ways_to_shop-_-n-_-Stores_Learn_More"
                                    href="//locations.bloomingdales.com/store-locator?cm_mmc=Philanthropy-_-In%20your%20city-_-Landing%20Page-_-Philanthropy_microsite">
                                <img
                                        alt="Bloomingdale’s Flagship Store 59th St New York City"
                                        class="left_pic"
                                        src="/fashion/images/projects/ways-to-shop/store.png">
                            </a>
                        </div>
                        <div class="medium-12 large-12 columns section text_section h_shim">
                            <div>
                                <div class="LBHeading">Stores</div>
                                <div class="line purple"></div>
                                <div>
                                    Experience the excitement of exclusive events<br> and the
                                    most coveted designers in over 35 locations.
                                </div>
                                <a
                                        data-cm="ways_to_shop-_-n-_-Stores_Learn_More"
                                        href="//locations.bloomingdales.com/store-locator?cm_mmc=Philanthropy-_-In%20your%20city-_-Landing%20Page-_-Philanthropy_microsite">
                                    <button>Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="frow" class="row">
                        <table><tr>
                            <img src="/fashion/images/projects/ways-to-shop/bdart.png"
                                 id="bigDart"
                                 style="height:100px;margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:20px; padding-right:6px;">
                            <td id="smallDart">
                                <img src="/fashion/images/projects/ways-to-shop/bdart.png"
                                     style="height:30px;padding-right:6px;">
                            </td>
                            <td>
                                <div class="ftitle">BUY ONLINE, PICK UP IN STORE</div>
                            </td>
                        </tr></table>
                        <div class="section_f">Shop online and pick up you purchase the same day at your nearest store.</div>
                        <a href="/about-us/buy-online-pickup-in-store/?cm_sp= ways_to_shop-_-n-_-BOPS_Learn_More"
                           data-cm="ways_to_shop-_-n-_-BOPS_Learn_More"
                           style="color:#fff;"><div class="ffoot">LEARN MORE</div>
                        </a>
                    </div>
                </div>

            </td>
        </tr>
    </table>


</div>



