<!-- {pageTitle:"About Us", pageLabel:"About Us | Bloomingdale's"} -->
<div class="about_us">
    {{>title}}
    <title data-menu="bcomLeftNav/about/AboutLeftNav"
           data-title="About Us">About Us | Bloomingdale's</title>
    <div id="bl_main_wrapper" class="newLayout">
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bl_cu_mainContent">
                                {{>titleimage}}
                                <div class="bl_cs_banner" id="crBanner">
                                    <a href="https://www.bloomingdales.com/creditservice/gateway"
                                       target="_blank" >
                                        <div style="position:absolute; width:64%; height: 22%; top:23%; left:27%; z-index: 1234;"></div>
                                    </a>
                                    <img src='http://assets.bloomingdales.com/dyn_img/promo/credit10off.jpg' >
                                </div>
                                <div class="bl_cs_item">
                                    <ul>
                                        <li>
                                            <a href="http://locations.bloomingdales.com/store-locator?cm_sp=FOOTER-_-BOTTOM_NAV-_-STORES_EVENTS&EFCKEY=%7B%22EXPERIMENT%22%3A%5B1927%5D%7D&SEED=6550068188663910886">
                                                <img src="http://assets.bloomingdales.com/img/titles/title_sd-xx-xx-xx.gif" width="105" height="18" alt="Store Locations" border="0">
                                            </a>
                                        </li>
                                        <li>Find the location and phone number of the Bloomingdale's store nearest you.</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="http://locations.bloomingdales.com/store-locator?cm_sp=FOOTER-_-BOTTOM_NAV-_-STORES_EVENTS&EFCKEY=%7B%22EXPERIMENT%22%3A%5B1927%5D%7D&SEED=6550068188663910886 ">
                                                <img src="http://assets.bloomingdales.com/img/about/title_events.gif" width="47" height="18" alt="Events" border="0">
                                            </a>
                                        </li>
                                        <li>Join us for all the excitement and theater that is Bloomingdale's. Get an insider's view of everything happening in our stores, to make your visit an entertaining one.</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="/about-us/shopping/shopping-services/">
                                                <img src="http://assets.bloomingdales.com/img/about/title_shoppingServices.gif" width="121" height="18" alt="Shopping Services" border="0">
                                            </a>
                                        </li>
                                        <li>Bloomingdale's offers a full range of services to meet your needs, including Size Charts, Check Gift Card Balance, Personal Shoppers, Studio Services, Visitor Services and many more.</li>
                                    </ul>
                                    <div class="clearLeft">
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="/about-us/philanthropy.jsp">
                                                <img src="http://assets.bloomingdales.com/img/about/title_bcause.gif" width="53" height="19" alt="b.Cause" border="0">
                                            </a>
                                        </li>
                                        <li>Our b.cause philanthropy program gives us opportunities to make positive changes where we live. Thousands of our people volunteer, increase awareness and raise funds for causes we partner with.</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="http://www.bloomingdales.com/media/about/mobile.jsp">
                                                <img src="http://assets.bloomingdales.com/img/about/title_apps.jpg" alt="Bloomingdales Apps" border="0" class="displayBlock">
                                            </a>
                                        </li>
                                        <li>Put Bloomingdale's in the palm of your hand with 3 great apps for the iPHONE&reg;, Android&#153; and iPAD&reg;.</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="/about-us/new-store-openings/">
                                                <img src="http://assets.bloomingdales.com/img/about/title_newStores.gif" width="74" height="18" alt="New Stores" border="0">
                                            </a>
                                        </li>
                                        <li>Find out about the latest store opening and see why Bloomingdale's is like no other store in the world.</li>
                                    </ul>
                                    <div class="clearLeft">
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="/media/about/history/">
                                                <img src="http://assets.bloomingdales.com/img/about/title_ourHistory.gif" width="74" height="18" alt="Our History" border="0">
                                            </a>
                                        </li>
                                        <li>Explore the history of Bloomingdale's. Take a look back and see how we made history.</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="http://www1.bloomingdales.com/about/company/press/index.ognc">
                                                <img src="http://assets.bloomingdales.com/img/about/title_pressReleases.gif" width="96" height="18" alt="Press Releases" border="0">
                                            </a>
                                        </li>
                                        <li>Read the latest news about Bloomingdale's.</li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="javascript:pop('http://www.bloomingdalesjobs.com','Careers','directories,location,menubar,resizable,scrollbars,status,toolbar')">
                                                <img src="http://assets.bloomingdales.com/img/about/title_careers.gif" width="48" height="18" alt="Careers" border="0">
                                            </a>
                                        </li>
                                        <li>Find an opportunity for you to build a career in a field with virtually unlimited potential, and with the sophistication and resources to support your initiative.</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




