//- Be sure to set the layout path to the relative path
extends ../../layout

block content
    #bl_main_wrapper.newLayout
      #bl_main_container
        a(name='top')
        .row.layout-desktop(style='display: none;')
          #qa-auto-look-book.lookbook-wrapper.small-24.medium-24.large-24.column
            .lookbook-page-wrapper
              .lookbook-page(data-cm-pageview-tag='page-intro', data-page-number='1')
                .hero-wrapper
                  img.hero-copy(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/header.jpg')
                  .lookbook-pagination-bg
                  ol#qa-auto-pagination_container.lookbook-pagination.hide-for-small-only.js-sticky
                    li.dummy-item SELECT A DESIGNER
                    li.pagination-item.util-hide(data-for-page-number='1')
                    li.pagination-item(data-for-page-number='2', data-cm-element-tag='navigation-burberry')
                      span.util-underline BURBERRY
                    li.pagination-item(data-for-page-number='12', data-cm-element-tag='navigation-costume-national')
                      span.util-underline CoSTUME NATIONAL
                    li.pagination-item(data-for-page-number='10', data-cm-element-tag='navigation-furla')
                      span.util-underline FURLA
                    li.pagination-item(data-for-page-number='7', data-cm-element-tag='navigation-giuseppe-zanotti')
                      span.util-underline GIUSEPPE ZANOTTI
                    li.pagination-item(data-for-page-number='15', data-cm-element-tag='navigation-jerome-c-rousseau')
                      span.util-underline JEROME C. ROUSSEAU
                    li.pagination-item(data-for-page-number='14', data-cm-element-tag='navigation-le-silla')
                      span.util-underline LE SILLA
                    li.pagination-item(data-for-page-number='6', data-cm-element-tag='navigation-longchamp')
                      span.util-underline LONGCHAMP
                    li.pagination-item(data-for-page-number='11', data-cm-element-tag='navigation-max-mara')
                      span.util-underline MAX MARA
                    li.pagination-item(data-for-page-number='5', data-cm-element-tag='navigation-mcm')
                      span.util-underline MCM
                    li.pagination-item(data-for-page-number='13', data-cm-element-tag='navigation-mcq')
                      span.util-underline MCQ
                    li.pagination-item(data-for-page-number='8', data-cm-element-tag='navigation-michael-kors')
                      span.util-underline MICHAEL KORS
                    li.pagination-item(data-for-page-number='12', data-cm-element-tag='navigation-robert-clergerie')
                      span.util-underline ROBERT CLERGERIE
                    li.pagination-item(data-for-page-number='15', data-cm-element-tag='navigation-rupert-sanderson')
                      span.util-underline RUPERT SANDERSON
                    li.pagination-item(data-for-page-number='3', data-cm-element-tag='navigation-salvatore-ferragamo')
                      span.util-underline SALVATORE FERRAGAMO
                    li.pagination-item(data-for-page-number='9', data-cm-element-tag='navigation-sergio-rossi')
                      span.util-underline SERGIO ROSSI
                    li.pagination-item(data-for-page-number='4', data-cm-element-tag='navigation-stewart-weitzman')
                      span.util-underline STUART WEITZMAN
                img.full-width-img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/header_img.jpg', alt='')
              .lookbook-page(data-cm-pageview-tag='page-burberry', data-page-number='2')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/burberry_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/burberry/burberry-shoes?id=1002876', data-cm-element-tag='burberry-shoes') shoes
                  a.shop-link(href='http://www.bloomingdales.com/shop/burberry/burberry-handbags?id=1002877	', data-cm-element-tag='burberry-handbags') handbags
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/burberry?id=1002874', data-cm-element-tag='burberry-image')
                  img.full-width-img.js-lazy(alt="Burberry Shoes  and Handbags - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/burberry_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-salvatore-ferragamo', data-page-number='3')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/salv_ferr_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/ferragamo/salvatore-ferragamo-shoes?id=19210', data-cm-element-tag='salvatore-ferragamo-shoes') shoes
                  a.shop-link(href='http://www.bloomingdales.com/shop/ferragamo/salvatore-ferragamo-handbags?id=19209', data-cm-element-tag='salvatore-ferragamo-handbags') handbags
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/ferragamo?id=11943', data-cm-element-tag='salvatore-ferragamo-image')
                  img.full-width-img.js-lazy(alt="Salvatore Ferragamo Shoes and Handbags - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/salv_ferr_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-stewart-weitzman', data-page-number='4')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/stu_wei_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/stuart-weitzman/stuart-weitzman-shoes?id=1004070', data-cm-element-tag='stewart-weitzman-shop-now') shop now
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/stuart-weitzman/stuart-weitzman-shoes?id=1004070', data-cm-element-tag='stewart-weitzman-image')
                  img.full-width-img.js-lazy(alt="Stuart Weitzman Shoes - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/stu_wei_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-mcm', data-page-number='5')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mcm_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/MCM,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='mcm-shoes') shoes
                  a.shop-link(href='http://www.bloomingdales.com/shop/mcm/mcm-handbags?id=1003796', data-cm-element-tag='mcm-handbags') handbags
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/mcm?id=1003794', data-cm-element-tag='mcm-image')
                  img.full-width-img.js-lazy(alt="MCM Shoes and Handbags - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mcm_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-longchamp', data-page-number='6')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/longchamp_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/longchamp/longchamp-handbags?id=1003785', data-cm-element-tag='longchamp-shop-now') shop now
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/longchamp/longchamp-handbags?id=1003785', data-cm-element-tag='longchamp-image')
                  img.full-width-img.js-lazy(alt="Longchamp Handbags - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/longchamp_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-giuseppe-zanotti', data-page-number='7')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/giu_zan_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Giuseppe%20Zanotti,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='giuseppe-zanotti-shop-now') shop now
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Giuseppe%20Zanotti,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='giuseppe-zanotti-image')
                  img.full-width-img.js-lazy(alt="Guisseppe Zanotti Shoes - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/giu_zan_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-michael-kors', data-page-number='8')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mic_kors_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Michael%20Kors,0,10001,ORIGINAL,96?id=1000674', data-cm-element-tag='michael-kors-shoes') shoes
                  a.shop-link(href='http://www.bloomingdales.com/shop/handbags/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Michael%20Kors,0,10001,ORIGINAL,96?id=1000341', data-cm-element-tag='michael-kors-handbags') handbags
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/michael-kors?id=1002791', data-cm-element-tag='michael-kors-image')
                  img.full-width-img.js-lazy(alt="Michael Kors Shoes and Handbags - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mic_kors_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-sergio-rossi', data-page-number='9')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/ser_ross_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Sergio%20Rossi,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='sergio-rossi-shop-now') shop now
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Sergio%20Rossi,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='sergio-rossi-image')
                  img.full-width-img.js-lazy(alt="Sergio Rossi Shoes - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/ser_ross_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-furla', data-page-number='10')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/furla_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/handbags/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Furla,0,10001,ORIGINAL,96?id=1000341', data-cm-element-tag='furla-shop-now') shop now
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/handbags/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Furla,25,10022,ORIGINAL,96?id=1000341', data-cm-element-tag='furla-image')
                  img.full-width-img.js-lazy(alt="Furla Handbags - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/furla_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-max-mara', data-page-number='11')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/max_mara_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Max%20Mara,0,10001,ORIGINAL,96?id=1000674', data-cm-element-tag='max-mara-shoes') shoes
                  a.shop-link(href='http://www.bloomingdales.com/shop/handbags/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Max%20Mara,0,10001,ORIGINAL,96?id=1000341', data-cm-element-tag='max-mara-handbags') handbags
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/search?keyword=max+mara&x=0&y=0#!fn=BRAND%3DMax%2520Mara%26FOB%3DHandbags%3B%3BShoes%26sortBy%3DORIGINAL%26productsPerPage%3D96', data-cm-element-tag='max-mara-image')
                  img.full-width-img.js-lazy(alt="Max Mara Shoes and Handbags - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/max_mara_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-robert-clergerie', data-page-number='12')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/rob_cle_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Robert%20Clergerie,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='shop-robert-clergerie') ROBERT CLERGERIE
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Costume%20National,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='shop-costume-national') COSTUME NATIONAL
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Costume%20National%7CRobert%20Clergerie,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='costume-image')
                  img.full-width-img.js-lazy(alt='', data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/rob_cle_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-mcq', data-page-number='13')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mcq_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/McQ,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='mcq-shoes') shoes
                  a.shop-link(href='http://www.bloomingdales.com/shop/handbags/premium-designers/Brand,Sortby,Productsperpage/McQ,ORIGINAL,96?id=1000341', data-cm-element-tag='mcq-handbags') handbags
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/search?keyword=mcq&x=0&y=0#!fn=PRODUCT_DEPARTMENT%3DHandbags%26sortBy%3DORIGINAL%26productsPerPage%3D96', data-cm-element-tag='mcq-image')
                  img.full-width-img.js-lazy(alt="McQ Shoes and Handbags - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mcq_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-le-silla', data-page-number='14')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/le_sill_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Le%20Silla,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='le-silla-shop-now') shop now
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Le%20Silla,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='le-silla-image')
                  img.full-width-img.js-lazy(alt="Le Silla Shoes - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/le_sill_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
              .lookbook-page(data-cm-pageview-tag='page-jerome-c-rousseauli', data-page-number='15')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/jer_rou_header.jpg', alt='')
                .link-wrap
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Jerome%20C.%20Rousseau,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='shop-jerome-c-rousseau') JEROME C. ROUSSEAU
                  a.shop-link(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Rupert%20Sanderson,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='shop-rupert-sanderson') RUPERT SANDERSON
                a.image-link-wrapper(href='http://www.bloomingdales.com/shop/shoes/premium-designers/Brand,Bopsradius,Bopszipcode,Sortby,Productsperpage/Jerome%20C.%20Rousseau%7CRupert%20Sanderson,25,10022,ORIGINAL,96?id=1000674', data-cm-element-tag='rupert-sanderson-image')
                  img.full-width-img.js-lazy(alt="Jerome C. Rousseau and Rupert Sanderson Shoes - Bloomingdale's", data-img-src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/jer_rou_img.jpg', src='http://assets.bloomingdales.com/web20/assets/img/ajax-loader.gif')
            .lookbook-footer
              .row
                .shop-wrap
                  span SHOP:
                  a(href='http://www.bloomingdales.com/shop/shoes/premium-designers?id=1000674', data-cm-element-tag='footer-all-premuim-shoes')
                    span.util-underline ALL PREMIUM SHOES
                  a(href='http://www.bloomingdales.com/shop/handbags/premium-designers?id=1000341', data-cm-element-tag='footer-all-premuim-handbags')
                    span.util-underline ALL PREMIUM HANDBAGS
                .social-wrap
                  a.social-btn-facebook(href='#', target='_blank', data-cm-element-tag='social-fb')
                  a.social-btn-twitter(href='#', target='_blank', data-cm-element-tag='social-twitter')
                  a.social-btn-pinterest(href='#', target='_blank', data-cm-element-tag='social-pinterest')
        .row.layout-mobile(style='display: none;')
          #qa-auto-look-book-2.lookbook-wrapper.small-24.medium-24.large-24.column
            .lookbook-page-wrapper
              .lookbook-page(data-page-number='1')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_00.jpg')
              .lookbook-page(data-page-number='2')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_01.jpg')
              .lookbook-page(data-page-number='3')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_02.jpg')
              .lookbook-page(data-page-number='4')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_03.jpg')
              .lookbook-page(data-page-number='5')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_04.jpg')
              .lookbook-page(data-page-number='6')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_05.jpg')
              .lookbook-page(data-page-number='7')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_06.jpg')
              .lookbook-page(data-page-number='8')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_07.jpg')
              .lookbook-page(data-page-number='9')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_08.jpg')
              .lookbook-page(data-page-number='10')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_09.jpg')
              .lookbook-page(data-page-number='11')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_10.jpg')
              .lookbook-page(data-page-number='12')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_11.jpg')
              .lookbook-page(data-page-number='13')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_12.jpg')
              .lookbook-page(data-page-number='14')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_13.jpg')
              .lookbook-page(data-page-number='15')
                img(src='http://assets.bloomingdales.com/web20/assets/img/specialProjects/premium-shoes-handbags-spring-collections-2015/mobile_14.jpg')
          .mobile-footer
            .shop-wrap
              a(href='http://m.bloomingdales.com/shop/shoes/premium-designers?id=1000674')
                span SHOP ALL PREMIUM SHOES
              a(href='http://m.bloomingdales.com/shop/handbags/premium-designers?id=1000341')
                span SHOP ALL PREMIUM HANDBAGS
