<!-- {pageTitle: "Visitor Services", pageLabel: "Visitor Services"} -->
{{{coremetrics 'Corporate_Services_(ab-sh-xx-xx.corporate)' 'ab-sh-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>












                            <div class="bl_cu_mainContent">
                                <div class="bl_header_pg_img">
                                   {{>titleimage}}
                                </div>
                                <br>
                                <div id="bl_vsMainWithMargin">
                                    <p class="bl_vsHeader">Welcome!</p>
                                    <p>Bloomingdale's has a celebrated history as a special destination for shoppers from around the country and around the world.</p>
                                    <p>To make the most of your visit, stop by one of our visitor centers in New York, San Francisco, Chicago
                                        or Miami and take advantage of these special services:</p>
                                    <ul id="bl_vsList">
                                        <li>Translators and store directories in nine languages</li>
                                        <li>Personal shopping assistance and concierge services</li>
                                        <li>Coat and package check</li>
                                        <li>Hotel package delivery for purchases of $250 or more</li>
                                        <li>Information on special visitor promotions</li>
                                    </ul>
                                    <div class="clearBoth">
                                    </div>
                                    <p>For more information, download the <a href="http://assets.bloomingdales.com/dyn_img/cat_splash/GuestServicesPacket.pdf" target="_blank">Bloomingdale's Guest Services Capabilities</a> packet.</p>
                                    <p class="bl_vsHeader">Visitor Center Locations</p>
                                    <div id="bl_vsLeftList">
                                        <p>New York, NY</p>
                                        <p>Miami, FL</p>
                                        <p>Chicago, IL</p>
                                        <p>Chicago, IL</p>
                                        <p>San Francisco, CA</p>
                                    </div>
                                    <div id="bl_vsRightList">
                                        <p>59th Street &amp; Lexington Avenue</p>
                                        <p>Aventura Mall</p>
                                        <p>900 N. Michigan Avenue</p>
                                        <p>Home &amp; Furniture Store at Medinah Temple</p>
                                        <p>845 Market Street</p>
                                    </div>
                                    <div class="clearBoth">
                                    </div>
                                    <p>For more information on Bloomingdale's Stores, visit the <a href="http://www1.bloomingdales.com/store/index.ognc">Store Locations and Events</a> page.</p>
                                    <p class="bl_vsHeader">Professional Services</p>
                                    <div class="clearBoth">
                                    </div>
                                    <p class="bl_vsSubHeader">Like No Other Store in The World.</p>
                                    <p>
                                        Whether they've heard about Bloomingdale's from their most fashionable friends or seen our world-famous stores captured on film and television, there's a good chance your clients already know that Bloomingdale's is a one-of-a-kind shopping destination. Now, with our exclusive group events, they can experience firsthand what all the buzz is about. We'll give your clients the VIP treatment from the moment they arrive—personally greeting them at the door before store hours and pampering them with the latest fashion, glamorous makeovers, special menus, chic swag bags, a behind-the-scenes store tour and more. With a comprehensive list of customizable experiences, we can curate an exciting event your group won't soon forget.
                                    </p>
                                    <p class="bl_vsSubHeader">Every Guest is a Special Guest.</p>
                                    <p>
                                        We'll work with you to craft the perfect gift bags—which can include personalized welcome letters, all-day savings certificates, gift cards, souvenir gifts and so much more—all custom designed to make the members of your group feel special (and stylish).
                                    </p>
                                    <p class="bl_vsSubHeader">We're at Your Service.</p>
                                    <p>
                                        Contact our dedicated Tourism Managers in New York City, Chicago, Miami and San Francisco to arrange a Bloomingdale's tour or event, and we'll take care of the rest—our professional staff is trained to help guide you and your groups through our store with foreign language assistance, coat check and printed multilingual store directories. We also provide personal shopping assistance, hotel package delivery and international and domestic shipping to help your clients find exactly what they want—and take it home with ease.
                                    </p>
                                    <p class="bl_vsSubHeader">Your Clients. Your Tour. Your Way.</p>
                                    <p>
                                        As one of the world's premier retailers, we know that one size never really fits all. The same is true when it comes to entertaining the diverse members of your group. Let us help you customize an experience for your clients, catering to their unique interests, budget and time constraints. Some of our most popular events* include:
                                    </p>
                                    <ul id="bl_vsList">
                                        <li>Breakfast at Bloomingdale's</li>
                                        <li>Pre-theatre Cocktails </li>
                                        <li>Ladies Who Lunch </li>
                                        <li>Trend Presentations</li>
                                        <li>Cosmetics Master Classes</li>
                                        <li>Store Tours </li>
                                    </ul>
                                    <p>*Events vary by store. Contact the Tourism Manager for additional questions and capabilities.</p>
                                    <div class="clearBoth">
                                    </div>
                                    <div class="bl_vsCityHeader">New York</div>
                                    <div id="bl_vsLeftList">
                                        <p>59th Street and Lexington Avenue</p>
                                        <p>Soho 504 Broadway</p>
                                        <p>Manager, Tourism Special Programs, Daniel Borger</p>
                                        <p>
                                            <a href="mailto:daniel.borger@bloomingdales.com">daniel.borger@bloomingdales.com</a>
                                        </p>
                                    </div>
                                    <div id="bl_vsRightList" class="bl_vsPullRight">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>212.418.4182</p>
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="clearBoth">
                                    </div>
                                    <br>
                                    <div class="bl_vsCityHeader">Florida</div>
                                    <div id="bl_vsLeftList">
                                        <p>Aventura Mall 19555 Biscayne Boulevard</p>
                                        <p>The Falls, Miami 8778 SW 136th Street</p>
                                        <p>Miami/Aventura Tourism Manager, Maria Magda de Quesada</p>
                                        <p>
                                            <a href="mailto:maria.magda.de.quesada@bloomingdales.com">maria.magda.de.quesada@bloomingdales.com</a>
                                        </p>
                                    </div>
                                    <div id="bl_vsRightList" class="bl_vsPullRight">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>305.792.1175</p>
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="clearBoth">
                                    </div>
                                    <br>
                                    <div class="bl_vsCityHeader">Chicago</div>
                                    <div id="bl_vsLeftList">
                                        <p>900 North Michigan Avenue</p>
                                        <p>600 North Wabash Avenue</p>
                                        <p>Chicago Tourism Manager, Jennifer Oglesby</p>
                                        <p>
                                            <a href="mailto:jennifer.oglesby@bloomingdales.com">jennifer.oglesby@bloomingdales.com</a>
                                        </p>
                                    </div>
                                    <div id="bl_vsRightList" class="bl_vsPullRight">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>312.440.4596</p>
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="clearBoth">
                                    </div>
                                    <br>
                                    <div class="bl_vsCityHeader">California</div>
                                    <div id="bl_vsLeftList">
                                        <p>845 Market Street Westfield Center</p>
                                        <p>Regional Manager of Tourism, Sarah Roach Henrie</p>
                                        <p>
                                            <a href="mailto:sarah.roach@bloomingdales.com">sarah.roach@bloomingdales.com</a>
                                        </p>
                                    </div>
                                    <div id="bl_vsRightList" class="bl_vsPullRight">
                                        <p>&nbsp;</p>
                                        <p>415.856.5477</p>
                                        <p>&nbsp;</p>
                                    </div>
                                    <div class="clearBoth">
                                    </div>
                                </div>
                                <div id="bl_vsEmailNews">
                                    <img src="https://www.bloomingdales.com/img/shoppingServices/stayInTheKnow.png" alt="STAY IN THE KNOW">
                                    <div id="bl_vsEmailNewsInner" style="padding: 0px 10px;">
                                        <form action="/campaign/campaign.ognc" name="international" method="post" onsubmit="return checkform(this)">
                                            <input value="244" name="CampaignID" type="hidden">
                                            <input value="/about/shopping/thankYou.jsp" name="RedirectionURL" type="hidden">
                                            <input value="/about/shopping/international.jsp" name="SourceURL" type="hidden">
                                            <p>Sign up for emails to be the first to learn of new arrivals, special offers &amp; more.</p>
                                            <div id="bl_vsEmailErrorDiv">
                                                <img src="https://www.bloomingdales.com/img/icons/icon_error.gif" width="13" height="12" alt="Error" border="0" align="absmiddle">
                                                <span id="bl_vsEmailErrorSpan" class="internationalErrorMessage">
</span>
                                                <br>
                                                <br>
                                            </div>
                                            <span id="emailSpan">Email:</span>

                                            <input type="text" name="EmailAddress" value="" size="35" maxlength="100" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 190px;">

                                            <span id="verifySpan">Verify Email:</span>

                                            <input type="text" name="ConfirmEmailAddress" value="" size="35" maxlength="100" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 190px;">

                                            <span id="firstNameSpan">First Name:</span>

                                            <input type="text" name="FirstName" value="" size="35" maxlength="40" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 190px;">

                                            <span id="lastNameSpan">Last Name:</span>

                                            <input type="text" name="LastName" value="" size="35&quot;" maxlength="40" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 190px;">

                                            <span id="birthdateSpan">Birthdate:</span>

                                            <input type="hidden" name="ZipCode" value="00000">
                                            <input type="hidden" name="DateOfBirth" value="">
                                            <table><tr><td>
                                            <input type="text" maxlength="2" name="DOB_month" value="" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 28px;">
                                            </td>
                                                <td>
                                                <input type="text" maxlength="2" name="DOB_day" value="" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 28px;">
                                            </td><td>
                                                <input type="text" maxlength="4" name="DOB_year" value="" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; width: 36px;">
                                            </td>
                                            </tr>
                                            </table>
                                            <span style="font-size: 7pt;">(mm/dd/yyyy)</span>


                                            <div class="floatLeft">
                                                <input type="checkbox" name="LegalAge">
                                            </div>
                                            <div class="floatLeft" id="bl_vsAgeDisclaimer" style="width: 170px;">
                                                <!--Check here to verify that you are at least 13 years old.-->
                                                I confirm that I am 18 years or older and that by providing the information above I agree to receive
                                                emails from bloomingdales.com. I understand that (1) emails from bloomingdales.com and (2) the
                                                bloomingdales.com site itself use cookies or other tracking technologies. to learn more about how
                                                bloomingdales.com uses cookies or other technologies please refer to the <br>
                                                <a href="https://customerservice.bloomingdales.com/app/answers/detail/a_id/357/related/1/" target="_blank">Notice of Privacy Practices</a>
                                                available on bloomingdales.com. By signing up to receive bloomingdales.com emails or by accessing
                                                bloomingdales.com. I agree to the placement of such
                                                <a href="https://customerservice.bloomingdales.com/app/answers/detail/a_id/357/related/1/" target="_blank">cookies</a>
                                                on my device(s).
                                            </div>

                                            <div id="bl_vsSubmitDiv" style="margin: 12px 0px; float: right;">
                                                <input type="image" value="SUBMIT_BUTTON" name="SUBMIT_BUTTON" src="https://www.bloomingdales.com/img/buttons/b_send.gif" align="bottom" border="0" alt="Submit">
                                            </div>
                                            <div class="clearBoth">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


















                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



