<!-- {pageTitle: "Visitor Services", pageLabel: "Visitor Services"} -->
{{{coremetrics 'International ab-sh-xx-xx.international' 'ab-sh-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <!--headCanonical={"href":"/about-us/shopping/international-visitor-services"} -->
    <!--headTitle={"title":"Visitor Services – Shopping Services – About Us | Bloomingdale's"} -->
    <!--headMeta={"name":"description", "content":"Whether you're from out of state or overseas, traveling alone or in a group, Bloomingdale's Visitor Services are designed to make your shopping experience easy, memorable and fun...we'll make you feel at home!"}-->
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bl_cu_mainContent">
                                <div>
                                   {{>titleimage}}
                                </div>
                                <div class="row">
                                    <div class="small-24">
                                        <div id="visitor-services-banner">
                                            <div id="text-container">
                                                <div id="text-left">
                                                    <img src="/fashion/images/projects/about-us/shopping/international-visitor-services/stayInTheKnow.png" 
                                                        alt="STAY IN THE KNOW">
                                                </div>
                                                <div id="text-right">
                                                    <p>save 10% - 
                                                        <b><a href="http://ebm.cheetahmail.com/r/regf2?aid=2083023216&a=0&n=2">sign up</a></b>
                                                        for emails
                                                    </p>
                                                </div>
                                                <div class="clearBoth"></div>
                                            </div>
                                        </div>
                                        <p class="bl_vsHeader">Welcome!</p>
                                        <p>Bloomingdale's has a celebrated history as a special destination for shoppers from around the country and around the world.</p>
                                        <p>To make the most of your visit, stop by one of our visitor centers in New York, San Francisco, Chicago, Miami or Honolulu and 
                                            take advantage of these special services:</p>
                                        <ul id="bl_vsList">
                                            <li>Translators and store directories in nine languages</li>
                                            <li>Personal shopping assistance and concierge services</li>
                                            <li>Coat and package check</li>
                                            <li>Hotel package delivery for purchases of $250 or more</li>
                                            <li>Information on special visitor promotions</li>
                                        </ul>
                                        <div class="clearBoth"></div>
                                        <p>For more information, download the <a href="http://assets.bloomingdales.com/dyn_img/cat_splash/GuestServicesPacket.pdf" target="_blank">Bloomingdale's Guest Services Capabilities</a> packet.</p>
                                        
                                        <p class="bl_vsHeader">Visitor Center Locations</p>
                                        <div class="row visitor-location">
                                            <div class="small-24 medium-12 large-12 columns bl_vsLeftList">
                                                <p class="location-state">New York, NY</p>
                                            </div>
                                            <div class="small-24 medium-12 large-12 columns bl_vsRightList">
                                                <p class="location-address">59th Street &amp; Lexington Avenue</p>
                                            </div>
                                        </div>
                                        <div class="row visitor-location">
                                            <div class="small-24 medium-12 large-12 columns bl_vsLeftList">
                                                <p class="location-state">Miami, FL</p>
                                            </div>
                                            <div class="small-24 medium-12 large-12 columns bl_vsRightList">
                                                <p class="location-address">Aventura Mall</p>
                                            </div>
                                        </div>
                                        <div class="row visitor-location">
                                            <div class="small-24 medium-12 large-12 columns bl_vsLeftList">
                                                <p class="location-state">Chicago, IL</p>
                                            </div>
                                            <div class="small-24 medium-12 large-12 columns bl_vsRightList">
                                                <p class="location-address">900 N. Michigan Avenue</p>
                                            </div>
                                        </div>
                                        <div class="row visitor-location">
                                            <div class="small-24 medium-12 large-12 columns bl_vsLeftList">
                                                <p class="location-state">Chicago, IL</p>
                                            </div>
                                            <div class="small-24 medium-12 large-12 columns bl_vsRightList">
                                                <p class="location-address">Home &amp; Furniture Store at Medinah Temple</p>
                                            </div>
                                        </div>
                                        <div class="row visitor-location">
                                            <div class="small-24 medium-12 large-12 columns bl_vsLeftList">
                                                <p class="location-state">San Francisco, CA</p>
                                            </div>
                                            <div class="small-24 medium-12 large-12 columns bl_vsRightList">
                                                <p class="location-address">845 Market Street</p>
                                            </div>
                                        </div>
                                        <div class="row visitor-location">
                                            <div class="small-24 medium-12 large-12 columns bl_vsLeftList">
                                                <p class="location-state">Honolulu, HI</p>
                                            </div>
                                            <div class="small-24 medium-12 large-12 columns bl_vsRightList">
                                                <p class="location-address">1450 Ala Moana Blvd</p>
                                            </div>
                                        </div>
                                        

                                        <p id="visitor-more-info">For more information on Bloomingdale's Stores, visit the <a href="http://www1.bloomingdales.com/store/index.ognc">Store Locations and Events</a> page.</p>
                                        <p class="bl_vsHeader">Professional Services</p>
                                        <div class="clearBoth">
                                        </div>
                                        <p class="bl_vsSubHeader">Like No Other Store in The World.</p>
                                        <p>
                                            Whether they've heard about Bloomingdale's from their most fashionable friends or seen our world-famous stores captured on film and television, there's a good chance your clients already know that Bloomingdale's is a one-of-a-kind shopping destination. Now, with our exclusive group events, they can experience firsthand what all the buzz is about. We'll give your clients the VIP treatment from the moment they arrive—personally greeting them at the door before store hours and pampering them with the latest fashion, glamorous makeovers, special menus, chic swag bags, a behind-the-scenes store tour and more. With a comprehensive list of customizable experiences, we can curate an exciting event your group won't soon forget.
                                        </p>
                                        <p class="bl_vsSubHeader">Every Guest is a Special Guest.</p>
                                        <p>
                                            We'll work with you to craft the perfect gift bags—which can include personalized welcome letters, all-day savings certificates, gift cards, souvenir gifts and so much more—all custom designed to make the members of your group feel special (and stylish).
                                        </p>
                                        <p class="bl_vsSubHeader">We're at Your Service.</p>
                                        <p>
                                            Contact our dedicated Tourism Managers in New York City, Chicago, Miami and San Francisco to arrange a Bloomingdale's tour or event, and we'll take care of the rest—our professional staff is trained to help guide you and your groups through our store with foreign language assistance, coat check and printed multilingual store directories. We also provide personal shopping assistance, hotel package delivery and international and domestic shipping to help your clients find exactly what they want—and take it home with ease.
                                        </p>
                                        <p class="bl_vsSubHeader">Your Clients. Your Tour. Your Way.</p>
                                        <p>
                                            As one of the world's premier retailers, we know that one size never really fits all. The same is true when it comes to entertaining the diverse members of your group. Let us help you customize an experience for your clients, catering to their unique interests, budget and time constraints. Some of our most popular events* include:
                                        </p>
                                        <ul id="bl_vsList">
                                            <li>Breakfast at Bloomingdale's</li>
                                            <li>Pre-theatre Cocktails </li>
                                            <li>Ladies Who Lunch </li>
                                            <li>Trend Presentations</li>
                                            <li>Cosmetics Master Classes</li>
                                            <li>Store Tours </li>
                                        </ul>
                                        <p>*Events vary by store. Contact the Tourism Manager for additional questions and capabilities.</p>
                                        <div class="clearBoth"></div>

                                        {{! Contact information }}
                                        <div class="row">
                                            <div class="small-24 columns contact-info">
                                                <div class="bl_vsCityHeader">New York</div>
                                                <div class="bl_vsLeftList">
                                                    <p>59th Street and Lexington Avenue</p>
                                                    <p>Soho 504 Broadway</p>
                                                    <p>Manager, Tourism Special Programs, Jane Shin</p>
                                                    <p><a href="mailto:jane.shin@bloomingdales.com">jane.shin@bloomingdales.com</a></p>
                                                    <p>212.418.4182</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="small-24 columns contact-info">
                                                <div class="bl_vsCityHeader">Florida</div>
                                                <div class="bl_vsLeftList">
                                                    <p>Aventura Mall 19555 Biscayne Boulevard</p>
                                                    <p>The Falls, Miami 8778 SW 136th Street</p>
                                                    <p>Miami/Aventura Tourism Manager, Jonathan Torres</p>
                                                    <p><a href="mailto:jonathan.torres@bloomingdales.com">jonathan.torres@bloomingdales.com</a></p>
                                                    <p>305.792.1175</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="small-24 columns contact-info">
                                                <div class="bl_vsCityHeader">Chicago</div>
                                                <div class="bl_vsLeftList">
                                                    <p>900 North Michigan Avenue</p>
                                                    <p>600 North Wabash Avenue</p>
                                                    <p>Chicago Tourism Manager, Jennifer Davidson</p>
                                                    <p><a href="mailto:jennifer.oglesby@bloomingdales.com">jennifer.oglesby@bloomingdales.com</a></p>
                                                    <p>312.440.4596</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="small-24 columns contact-info">                                                
                                                <div class="bl_vsCityHeader">California</div>
                                                <div class="bl_vsLeftList">
                                                    <p>845 Market Street Westfield Center</p>
                                                    <p>Regional Manager of Tourism, Sarah Roach Henrie</p>
                                                    <p><a href="mailto:sarah.roach@bloomingdales.com">sarah.roach@bloomingdales.com</a></p>
                                                    <p>415.856.5477</p>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <br>
                                        <div class="row">
                                            <div class="small-24 columns contact-info">
                                                <div class="bl_vsCityHeader">Hawaii</div>
                                                <div class="bl_vsLeftList">
                                                    <p>Ala Moana Center, 1450 Ala Moana Blvd</p>
                                                    <p>Supervisor, PR and Tourism, Midori Munezuka</p>
                                                    <p><a href="mailto:midori.munezuka@bloomingdales.com">midori.munezuka@bloomingdales.com</a></p>
                                                    <p>808.664.7427</p>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



