<!-- {pageTitle: "Business Gifts", pageLabel: "Business Gifts - Shopping Services - About Us | Bloomingdale's"} -->
{{{coremetrics 'Corporate_Services_(ab-sh-xx-xx.corporate)' 'ab-sh-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="lp_philanthropy bl_cu_mainContent">
                                {{>titleimage}}
                                <div class="row">
                                    <div class="hshim"></div>
                                    <div class="small-24 columns business-gifts">
                                        <p><b>Your business is our business</b>
                                            Our Corporate Service executives make office gift-giving simple and easy. Whether it be for holidays, company-wide recognition, or for that perfect gift for an outstanding client, our experts will offer suggestions, arrange for gift-wrapping and coordinate shipment or delivery of your selections. And, it's absolutely FREE!
                                        </p>
                                        <p><b>Corporate occasions</b>
                                            You can count on Bloomingdale's Corporate Services to be your source for: </p>
                                        <div class="corporate-occasions">
                                            <ul>
                                                <li>Business gifts</li>
                                                <li>Recognition/Achievement Awards</li>
                                                <li>Thank You gifts</li>
                                                <li>Retirement gifts</li>
                                                <li>Anniversary Commemoratives</li>
                                                <li>Performance Motivation Programs</li>
                                                <li>Diplomatic Gifts and Presentations</li>
                                                <li>Furnishings for Offices and Corporate Apartments</li>
                                            </ul>
                                        </div>
                                        <p>We offer comprehensive assistance. Our professional team will oversee your project from selection of appropriate merchandise to gift wrap and delivery. Rely on our experienced staff for knowledgeable assistance by phone or fax, in your office, or in our store. </p>

                                        <p><b>Corporate card holder benefits</b>
                                            Corporate Service customers with Bloomingdale's corporate credit accounts will receive discounts on selected corporate merchandise. If you're a Bloomingdale's cardholder, you'll be entitled to these additional privileges: </p>
                                        <div class="corporate-occasions">
                                            <ul>
                                                <li>10% discount on purchases of $1500 to $4999, and 15% on amounts of $5000 or above</li>
                                                <li>10% discount on single-transaction purchases of $1500 or more on electronic gift cards</li>
                                            </ul>
                                        </div>

                                        <p><b>Free up your busy calendar</b>
                                            To contact Corporate Services please call: </p>
                                        <div class="corporate-occasions">
                                            <ul>
                                                <li>New York &amp; the East Coast: 212-705-3556</li>
                                                <li>Chicago &amp; the Midwest: 312-324-7560</li>
                                                <li>Los Angeles &amp; West Coast: 310-772-2115</li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



