<!-- {pageTitle: 'Shoes', pageLabel: 'Shoes Size Charts - Shopping Services - About Us | Bloomingdale\'s'} -->
{{{coremetrics 'Shoes Size Charts - Shopping Services - About Us | Bloomingdales (ab-sh-si-xx.shoes)' 'ab-sh-si-xx.shoes'}}}
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div class="gn_left_nav_top_cs">
                                        <div id="bl_leftNavContainer">{{>leftnav}}</div>
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bl_cu_mainContent" style="position:relative;">
                                <div class="about-shop-sizing-charts">
                                    <img src="http://assets.bloomingdales.com/img/about/women_shoes_chart.gif" alt="Women's Shoes" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <img src="http://assets.bloomingdales.com/img/about/men_shoes_chart.gif" style="margin: 0px 0px 7px 0px;" alt="Men's Shoes" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <img src="http://assets.bloomingdales.com/img/about/kids_shoes_chart.gif" alt="Kids Shoes" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




