<!-- {pageTitle:"Employee Giving", pageLabel:"Giving Back to Local Communities Through Associate Giving & Community Service"} -->
{{{coremetrics 'Giving_back_to_community' 'ab-eg-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Through our national employee volunteer program, Bloomingdale’s supports organizations and causes that are important to our employees and local communities through organized, grassroots efforts."}-->
<!--headCanonical={"href":"http://fashion.bloomingdales.com/about-us/giving-back-to-community"}-->
<div class="about_us">
    {{>title}}
    <link href="/fashion/styles/projects/about-us/giving-back-to-community/styles.css" rel="stylesheet" type="text/css" />
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <article class="b-cause-main">
                                <section class="row b-cause-body">
                                    <div class="small-24 medium-12 columns">
                                        <section>
                                            <img src="/fashion/images/projects/about-us/giving-back-to-community/logo.png" class="logo" alt="Bloomingdale's – Child Mind Institute">
                                            <p>Through our national employee volunteer program, Bloomingdale’s supports organizations and causes that are important to our employees and local communities through organized, grassroots efforts.</p>
                                            <p>Every year, Bloomingdale’s employees contribute thousands of dollars and volunteer hours to various causes that include but are not limited to arts and culture, education, health, homelessness, hunger relief and women’s issues.</p>
                                        </section>
                                        <section>
                                            <h1>Our national volunteer partners include:</h1>
                                            <img src="/fashion/images/projects/about-us/giving-back-to-community/partners.png" usemap="#partners" class="partners">
                                            <map name="partners">
                                                <area shape="rect" coords="1,6,85,59" alt="American Cancer Society" title="American Cancer Society">
                                                <area shape="rect" coords="93,16,173,46" alt="Atlanta Community Food Bank" title="Atlanta Community Food Bank">
                                                <area shape="rect" coords="189,0,260,69" alt="Care for Real" title="Care for Real">
                                                <area shape="rect" coords="0,80,75,149" alt="Citizens Committee for New York City" title="Citizens Committee for New York City">
                                                <area shape="rect" coords="93,79,174,142" alt="Citymeals on Wheels" title="Citymeals on Wheels">
                                                <area shape="rect" coords="185,90,266,131" alt="Feeding South Florida" title="Feeding South Florida">
                                                <area shape="rect" coords="3,170,82,226" alt="Food Bank for New York City" title="Food Bank for New York City">
                                                <area shape="rect" coords="108,164,168,229" alt="God's Love We Deliver" title="God's Love We Deliver">
                                                <area shape="rect" coords="187,163,265,225" alt="HELP USA" title="HELP USA">
                                                <area shape="rect" coords="1,257,85,289" alt="Mentoring USA" title="Mentoring USA">
                                                <area shape="rect" coords="100,242,166,299" alt="SF-Marin Food Bank" title="SF-Marin Food Bank">
                                                <area shape="rect" coords="182,249,268,293" alt="Second Harvest Food Bank of Orange County" title="Second Harvest Food Bank of Orange County">
                                                <area shape="rect" coords="1,326,82,364" alt="United Way" title="United Way">
                                                <area shape="rect" coords="106,309,238,368" alt="Ronald McDonald House" title="Ronald McDonald House">
                                            </map>
                                        </section>
                                    </div>
                                    <div class="small-24 medium-11 columns">
                                        <h1>Employee giving</h1>
                                        <section>
                                            <h2>Bag Hunger</h2>
                                            <p>Every March during our annual Bag Hunger campaign, our employees raise money, collect food donations and volunteer with local hunger relief organizations. In the last five years, our employees have raised an equivalent of <b>$1.1 million</b> to help eradicate hunger in our local communities.</p>
                                        </section>
                                        <section>
                                            <h2>United Way</h2>
                                            <p>Every August, employees across the organization generously donate funds to support local United Way efforts in impact areas of education, health and income stability. We are proud that our employees have donated more than <b>$3 million</b> in the last five years.</p>
                                        </section>
                                        <section>
                                            <h2>Matching Gifts</h2>
                                            <p>Through our Matching Gifts program, our employees are able to donate to causes that are meaningful to them and we match their donations dollar for dollar.</p>
                                        </section>
                                        <section>
                                            <h2>Annual Events</h2>
                                            <p>Our employees also give back through our holiday coat drive and annual philanthropic events such as the AIDS Walk, American Cancer Society’s Breast Cancer Walk and the Juvenile Diabetes Research Foundation walk.</p>
                                        </section>
                                        <section class="row">
                                            <div class="small-24 columns">
                                                <h2 class="numbers-title"><a href="/fashion/assets/projects/about-us/giving-back-to-community/CorporatePhilanthropyGiftCategories.pdf" target="_blank">SEE THE FULL LIST OF ORGANIZATIONS WE SUPPORTED IN 2015–2016</a></h2>
                                                <div class="row">
                                                    <section class="small-12 columns">
                                                        <img src="/fashion/images/projects/about-us/giving-back-to-community/service-hours.png" class="numbers" alt="8800">
                                                        <p>service hours volunteered by our employees in 2015</p>
                                                    </section>
                                                    <section class="small-12 columns">
                                                        <img src="/fashion/images/projects/about-us/giving-back-to-community/mentoring-hours.png" class="numbers" alt="22000">
                                                        <p>hours of mentoring by our employees since Mentoring USA’s inception in 1998</p>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="small-24 columns">
                                                        <img src="/fashion/images/projects/about-us/giving-back-to-community/food-pounds.png" class="numbers" alt="5000000">
                                                        <p>equivalent pounds of food generated over the past five years to help feed food-insecure children and families</p>
                                                    </section>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </section>
                                {{> bcausefooter}}
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
