.header-second-text {
  width: 100%;
  padding: 13px;
  margin-top: 6rem;
}

.col{
  float: none;
  width: 100% !important;
}

.section-4 .baloon {
  left: 0;
}

.step-number-left {
  font-family: 'Chronicle Display';
  font-size: 100px;
  position: relative;
  top: auto;
  right: auto;
}

.section-header-even .text {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
}

.footer-links a {
  display: block;
}

.main-row .col.col-text-left {
  padding: 0;
}