html, body{
  overflow-x: hidden;
}

#bl_main_container {

  p {
    font-family: "Avenir";
    color: #1e1e1e;
    font-size: 11px;
    margin: 0;
    line-height: 1.5;
  }

  .text-big {
    font-size: 17px;
    line-height: 1.2;
  }
  .small{
    font-size: 6.8px;
  }

  .p-arrow {
    margin-top: 0px;
    max-width: 100px;
    width: 16px;
  }
  .p-arrow-f {
    max-width: 100px;
    width: 20px;
    margin-left: -25px;
  }

  .col {
    float: left;
    padding: 5px;
  }

  .no-margin{
    margin: 0;
  }

  .carousel {
    margin-top: 40px;
  }

  .footer-links {
    margin-left: auto;
  }
  .footer-links a {
    font-size: 30px;
    display: block;
    text-align: center;
    line-height: 1.5;
  }

  .gif_play_button:before, .gif_play_button:after {
    top: -16px;
    left: -22.4px;
    bottom: -16px;
    right: -8.6px;
  }




  /*Specific*/
  .section-title {
    position: absolute;
    margin-top: -8px;
    top: auto;
  }
  .section-title-2{
    margin-top: -32px;
  }

  .section-1 .products {
    position: absolute;
    margin-top: 84px;
    margin-left: -35px;
    width: 185px;
    max-width: none;
  }
  .section-3 .products {
    width: 100%;
    position: relative;
    top: -57px;
    margin-left: -15px;
  }
  .section-5 .products {
    margin-left: -45px;
    width: 184px;
    position: absolute;
    margin-top: 130px;
  }


  .section-2 .section-title-h {
    left: -40px;
    top: -153px;
  }
  .section-4 .section-title-h {
    margin-top: -145px;
    right: -25px;
    margin-left: auto;
  }

  .section-1 .gif, .section-5 .gif {
    width: 465px;
    position: relative;
    top: 50px;
    left: auto;
  }

  .gif_play_button {
    bottom: -18px;
    left: 22px;
  }

  .sec1-bg {
    height: 70vh;
    margin-top: 6vh;
    left: 0;
  }

  .sec3-bg {
    height: 60vh;
    margin-top: 9vh;
    left: 0;
  }

  .sec5-bg {
    height: 60vh;
    margin-top: 9vh;
    left: 0;
  }


}

