@font-face {
  font-family: 'BestDayAvenir';
  src: url("/b/fashion/styles/fonts/AvenirLTStd-Black.eot");
  /* IE9 Compat Modes */
  src: url("/b/fashion/styles/fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), url("/b/fashion/styles/fonts/AvenirLTStd-Black.woff") format("woff"), url("/b/fashion/styles/fonts/AvenirLTStd-Black.ttf") format("truetype"), url("/b/fashion/styles/fonts/AvenirLTStd-Black.svg#2d55e36446b90be6f85f84e74f83cb6c") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: 'BestDayAvenir';
  src: url("/b/fashion/styles/fonts/AvenirLTStd-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("/b/fashion/styles/fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("/b/fashion/styles/fonts/AvenirLTStd-Heavy.woff") format("woff"), url("/b/fashion/styles/fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("/b/fashion/styles/fonts/AvenirLTStd-Heavy.svg#a1eb5a5cfcec2ff7c30fe732daf3b2e8") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'BestDayAvenir';
  src: url("/b/fashion/styles/fonts/AvenirLTStd-Medium.eot");
  /* IE9 Compat Modes */
  src: url("/b/fashion/styles/fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("/b/fashion/styles/fonts/AvenirLTStd-Medium.woff") format("woff"), url("/b/fashion/styles/fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("/b/fashion/styles/fonts/AvenirLTStd-Medium.svg#ef669aafc9b550b465914779447af056") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'BestDayGotham';
  src: url("/b/fashion/styles/fonts/Gotham-Book.eot");
  /* IE9 Compat Modes */
  src: url("/b/fashion/styles/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("/b/fashion/styles/fonts/Gotham-Book.woff") format("woff"), url("/b/fashion/styles/fonts/Gotham-Book.ttf") format("truetype"), url("/b/fashion/styles/fonts/Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }
