.shell {
	position: relative;
	
}

.scratchpad{
	position: absolute;
	width: 640px;
	height:1300px;
}

#swap {
	background-image: url(/images/mystery_money20.jpg);
	background-repeat: no-repeat;
	position: absolute;
	width: 640px;
	min-height: 1300px;
}


a.hotbox {
	height: 80vw;
	width: 80vw;
	display: inline-block;
	position: relative;
	top: 29VW;
	left: 9VW;
	border-radius: 100%;
}

/*#pad {*/
#swap,
a.hotbox {
	display: none;
}
