<!--headTitle={"title":"Nintendo Inspired Clothing & Accessories – Bloomingdale’s"}-->
<!--headMeta={"name":"description", "content":"Shop 100% Bloomingdale’s exclusives inspired by the world of Nintendo."}-->
<!--headCanonical={"href":"https://www.bloomingdales.com/b/campaigns/2018-spring-campaign-100-percent-exclusive/nintendo-clothing-accessories/"}-->

<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/2018-spring-campaign-100-percent-exclusive/styles.css" rel="stylesheet">

<div class="spring-18 spring-18-nintendo" data-coremetrics-page-id="nintendo">
    <!--Sticky header/ -->
    <div class="spring-18-sticky-header">
        <button coremetricTag="nav-hamburger" id="spring-18-nav-switcher" class="nav-hamburger"
                aria-label="Menu"
                role="button" aria-controls="navigation" aria-expanded="true/false">
            <span>toggle menu</span>
        </button>
        <a href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/">
            <img class="spring-18-logo" alt=""
                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/logo.png">
        </a>
    </div>
    <!-- /Sticky header-->

    <!-- Navigation/ -->
    <nav class="spring-18-nav">
        <ul>
            <li><a coremetrictag="aside-nav-Women"
                   href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/womens-designer-clothing/"><span
                    class="nav-item-content">Women</span></a></li>
            <li><a coremetrictag="aside-nav-Men"
                   href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/mens-designer-clothing/"><span
                    class="nav-item-content">Men</span></a></li>
            <li><a coremetrictag="aside-nav-Home"
                   href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/home-exclusives/"><span
                    class="nav-item-content">Home</span></a></li>
            <li><a coremetrictag="aside-nav-Nintendo-Exclusives"
                   class="spring-18-nav__current"
                   href="/b/campaigns/2018-spring-campaign-100-percent-exclusive/nintendo-exclusives/"><span
                    class="nav-item-content">Nintendo Exclusives</span></a></li>
            <li><a coremetrictag="aside-nav-Shop-All-Exclusives"
                   href="https://www.bloomingdales.com/shop/fashion-lookbooks-videos-style-guide/all-100-exclusives?id=1004418"><span class="nav-item-content">Shop All Exclusives</span></a></li>
            <li><a coremetrictag="Back-To-Bloomingdales"
                   href="https://www.bloomingdales.com/" id="last-nav-tabbable"><span class="nav-item-content">Back to Bloominggdales.com</span></a>
            </li>
        </ul>
    </nav>
    <!-- /Navigation -->

    <header class="spring-18-landing-top-jumbotron nintendo-jumbotron">
        <div class="spring-18-nintendo-hero-section">
            <div class="spring-18-nintendo-hero-section-left">
                <img class=""
                      alt=""
                      src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/nintendo-hero-left.jpg">
            </div>
            <div class="spring-18-nintendo-hero-section-center">
                <div class="spring-18-nintendo-section-cta">

                        <span>Designer</span>
                        <span>collaborations</span>
                        <span>inspired by</span>
                        <span>the world of</span>

                    <img alt="Nintendo logo"
                         src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/nintendo-logo-black.svg">
                    <a coremetrictag="Shop-All-Nintendo-Exclusives"
                       href="https://www.bloomingdales.com/shop/fashion-lookbooks-videos-style-guide/Nintendo?id=1049859">Shop
                        All Nintendo&reg;&nbsp;Exclusives</a>
                </div>

            </div>
            <div class="spring-18-nintendo-hero-section-right">
                <img class=""
                      alt=""
                      src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/nintendo-hero-right.jpg">
            </div>
        </div>
    </header>

    <main class="spring-18-main-wrapper spring-18-nintendo-main-wrapper">

            <div class="spring-18-nintendo-grid">

                <!--row 1-->
                <div class="spring-18-nintendo-grid__row">
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__single-img-holder left">
                        <a coremetrictag="Danielle-Nicole-Crossbody"
                           href="http://www1.bloomingdales.com/shop/product/?ID=2864058">
                            <img class=""
                                 alt="Danielle Nicole Crossbody"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/01.jpg">
                            <span>Danielle Nicole Crossbody</span>

                            <div class="scrollme animateme ntnd-lettering-top-left"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="-1000" data-crop="false"
                                 data-rotatez="0">Super
                            </div>
                            <div class="scrollme animateme ntnd-lettering-bottom-right"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="3000"
                                 data-rotatez="0">Fun.
                            </div>
                        </a>
                    </div>
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__img-grid-holder right">
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Skinnydip-London-Belt-Bag"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2839903">
                                <img class=""
                                     alt="Skinnydip London Belt Bag"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/01-1.jpg">
                                <span>Skinnydip London Belt Bag</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Skinnydip-London-iPhone-Cases"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2876002">
                                <img class=""
                                     alt="Skinnydip London iPhone Cases"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/01-2.jpg">
                                <span>Skinnydip London iPhone Cases</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="SCHUTZ-Sandals"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2870617">
                                <img class=""
                                     alt="SCHUTZ Sandals"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/01-3.jpg">
                                <span>SCHUTZ Sandals</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Danielle-Nicole-Crossbody"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2864058">
                                <img class=""
                                     alt="Danielle Nicole Crossbody"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/01-4.jpg">
                                <span>Danielle Nicole Crossbody</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!--row 2-->
                <div class="spring-18-nintendo-grid__row">
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__img-grid-holder left has-order">
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Rebecca-Minkoff-Sweatshirt"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2837671">
                                <img class=""
                                     alt="Rebecca Minkoff Sweatshirt"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/02-1.jpg">
                                <span>Rebecca Minkoff Sweatshirt</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Kenneth-Cole-Sneakers"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2825638">
                                <img class=""
                                     alt="Kenneth Cole Sneakers"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/02-2.jpg">
                                <span>Kenneth Cole Sneakers</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="AQUA-Sneakers"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2825663">
                                <img class=""
                                     alt="AQUA Sneakers"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/02-3.jpg">
                                <span>AQUA Sneakers</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Herschel-Supply-Co-Backpack"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2874821">
                                <img class=""
                                     alt="Herschel Supply Co. Backpack"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/02-4.jpg">
                                <span>Herschel Supply Co. Backpack</span>
                            </a>
                        </div>
                    </div>
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__single-img-holder right has-order">
                        <a coremetrictag="ZAC-Zac-Posen-Crossbody"
                           href="http://www1.bloomingdales.com/shop/product/?ID=2825585">
                            <img class=""
                                 alt="ZAC Zac Posen Crossbody"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/02.jpg">
                            <span>ZAC Zac Posen Crossbody</span>

                            <img class="scrollme animateme spring-18-nintendo-foo-1"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="-4600"
                                 data-rotatez="0"
                                 alt=""
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/coin.png">
                            <img class="scrollme animateme spring-18-nintendo-foo-2"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="-3800"
                                 data-rotatez="0"
                                 alt=""
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/coin.png">
                            <img class="scrollme animateme spring-18-nintendo-foo-3"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="-2600"
                                 data-rotatez="0"
                                 alt=""
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/coin.png">

                        </a>
                    </div>
                </div>

                <!--row 3-->
                <div class="spring-18-nintendo-grid__row">
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__single-img-holder left">
                        <a coremetrictag="Gitman-Vintage-Shirt"
                           href="http://www1.bloomingdales.com/shop/product/?ID=2855405">
                            <img class=""
                                 alt="Gitman Vintage Shirt"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/03.jpg">
                            <span>Gitman Vintage Shirt</span>

                            <img class="scrollme animateme spring-18-nintendo-foo-03-1"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="4000"
                                 data-rotatez="0"
                                 alt=""
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/foo-03.png">
                            <img class="scrollme animateme spring-18-nintendo-foo-03-2"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="3000"
                                 data-rotatez="0"
                                 alt=""
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/foo-03.png">
                        </a>
                    </div>
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__img-grid-holder right">
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Sovereign-Code-Tee"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2843287">
                                <img class=""
                                     alt="Sovereign Code Tee"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/03-1.jpg">
                                <span>Sovereign Code Tee</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Onia-Swim-Trunks"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2854955">
                                <img class=""
                                     alt="Onia Swim Trunks"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/03-2.jpg">
                                <span>Onia Swim Trunks</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="S-well-Bottles"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2873426">
                                <img class=""
                                     alt="S&#39;well Bottles"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/03-3.jpg">
                                <span>S&#39;well Bottles</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Sovereign-Code-Shirt"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2843287">
                                <img class=""
                                     alt="Sovereign Code Shirt"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/03-4.jpg">
                                <span>Sovereign Code Shirt</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!--row 4 -->
                <div class="spring-18-nintendo-grid__row">
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__img-grid-holder left has-order">
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="MOTHER-Sweatshirt"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2844531">
                                <img class=""
                                     alt="MOTHER Sweatshirt"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/04-1.jpg">
                                <span>MOTHER Sweatshirt</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Funboy-Tube"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2821966">
                                <img class=""
                                     alt="Funboy Tube"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/04-2.jpg">
                                <span>Funboy Tube</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Sugarfina-Candy"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2876037">
                                <img class=""
                                     alt="Sugarfina Candy"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/04-3.jpg">
                                <span>Sugarfina Candy</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="MARC-JACOBS-Crossbodies"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2826497">
                                <img class=""
                                     alt="MARC JACOBS Crossbodies"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/04-4.jpg">
                                <span>MARC JACOBS Crossbodies</span>
                            </a>
                        </div>
                    </div>
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__single-img-holder right has-order">
                        <a coremetrictag="Honey-Punch-Hoodie-Sunset-plus-Spring-Skirt"
                           href="http://www1.bloomingdales.com/shop/product/?ID=2872622">
                            <img class=""
                                 alt="Honey Punch Hoodie, Sunset + Spring Skirt"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/04.jpg">
                            <span>Honey Punch Hoodie, Sunset + Spring Skirt</span>

                            <div class="scrollme animateme ntnd-lettering-top-left"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="-1000" data-crop="false"
                                 data-rotatez="0">Super
                            </div>
                            <div class="scrollme animateme ntnd-lettering-bottom-right"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="2000"
                                 data-rotatez="0">Chic.
                            </div>
                        </a>
                    </div>
                </div>

                <!--row 5 -->
                <div class="spring-18-nintendo-grid__row">
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__single-img-holder left">
                        <a coremetrictag="Original-Penguin-Swim-Trunk-Funboy-Tube"
                           href="http://www1.bloomingdales.com/shop/product/?ID=2872987">
                            <img class=""
                                 alt="Original Penguin Swim Trunks, Funboy Tube"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/05.jpg">
                            <span>Original Penguin Swim Trunks, Funboy Tube</span>

                            <div class="scrollme animateme ntnd-lettering-top-left"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="-1000" data-crop="false"
                                 data-rotatez="0">Super
                            </div>
                            <div class="scrollme animateme ntnd-lettering-bottom-right"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="2000"
                                 data-rotatez="0">Exclusive.
                            </div>
                        </a>
                    </div>
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__img-grid-holder right">
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Original-Penguin-Swim-Trunks"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2837640">
                                <img class=""
                                     alt="Original Penguin Swim Trunks"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/05-1.jpg">
                                <span>Original Penguin Swim Trunks</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Sunnylife-Tumbler"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2837616">
                                <img class=""
                                     alt="Sunnylife Tumbler"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/05-2.jpg">
                                <span>Sunnylife Tumbler</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Sunnylife-Paddle-Set"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2837617">
                                <img class=""
                                     alt="Sunnylife-Paddle-Set"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/05-3.jpg">
                                <span>Sunnylife Paddle Set</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Sovereign-Code-Tee"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2843287">
                                <img class=""
                                     alt="Sovereign-Code-Tee"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/05-4.jpg">
                                <span>Sovereign Code Tee</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!--row 6 -->
                <div class="spring-18-nintendo-grid__row">
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__img-grid-holder left has-order">
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Gitman-Vintage-Shirt"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2855405">
                                <img class=""
                                     alt="Gitman Vintage Shirt"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/06-1.jpg">
                                <span>Gitman Vintage Shirt</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Onia-Swim-Trunks"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2854955">
                                <img class=""
                                     alt="Onia Swim Trunks"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/06-2.jpg">
                                <span>Onia Swim Trunks</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Paul-Smith-Socks"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2837738">
                                <img class=""
                                     alt="Paul Smith Socks"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/06-3.jpg">
                                <span>Paul Smith Socks</span>
                            </a>
                        </div>
                        <div class="spring-18-nintendo-grid__square-cell">
                            <a coremetrictag="Sovereign-Code-Hoodie"
                               href="http://www1.bloomingdales.com/shop/product/?ID=2857643">
                                <img class=""
                                     alt="Sovereign Code Hoodie"
                                     src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/06-4.jpg">
                                <span>Sovereign Code Hoodie</span>
                            </a>
                        </div>
                    </div>
                    <div class="spring-18-nintendo-grid__square-cell spring-18-nintendo-grid__single-img-holder right has-order">
                        <a coremetrictag="Sovereign-Code-Hoodie-Herschel-Supply-Co-Backpack"
                           href="http://www1.bloomingdales.com/shop/product/?ID=2874222">
                            <img class=""
                                 alt="Sovereign Code Hoodie, Herschel Supply Co. Backpack"
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/06.jpg">
                            <span>Sovereign Code Hoodie, Herschel Supply Co. Backpack</span>

                            <img class="scrollme animateme spring-18-nintendo-foo-06-1"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="-4600"
                                 data-rotatez="0"
                                 alt=""
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/foo-06.png">
                            <img class="scrollme animateme spring-18-nintendo-foo-06-2"
                                 data-when="enter" data-from="1"
                                 data-to="0" data-opacity="1"
                                 data-translatex="-3600"
                                 data-rotatez="0"
                                 alt=""
                                 src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/nintendo/foo-06.png">

                        </a>
                    </div>
                </div>

            </div>

    </main>

    <footer class="spring-18-page-footer">
        <div class="spring-18-social-links">
            <a coremetrictag="pinterest-share-link"
               class="spring-18-pinterest-link"
               href="javascript:void(0);"><img alt=""
                                               src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/pinterest-icon.png"></a>
            <a coremetrictag="instagram-share-link"
               class="spring-18-instagram-link"
               href="javascript:void(0);"><img alt=""
                                               src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/instagram-icon.png"></a>
            <a coremetrictag="twitter-share-link"
               class="spring-18-twitter-link"
               href="javascript:void(0);"><img alt=""
                                               src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/twitter-icon.png"></a>
            <a coremetrictag="facebook-share-link"
               class="spring-18-facebook-link"
               href="javascript:void(0);"><img alt=""
                                               src="/b/fashion/campaigns/images/2018-spring-campaign-100-percent-exclusive/common/facebook-icon.png"></a>
        </div>
        <a coremetrictag="back-to-top-button"
           href="javascript:void(0);" class="spring-18-back-to-top spring-18-square-btn btn-red arrow-top">&nbsp;</a>
    </footer>

</div>

<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/2018-spring-campaign-100-percent-exclusive/libs/jquery.2.2.4.js"><\/script>')</script>

<script src="/b/fashion/campaigns/javascripts/2018-spring-campaign-100-percent-exclusive/libs/jquery.marquee.js"></script>
<script src="/b/fashion/campaigns/javascripts/2018-spring-campaign-100-percent-exclusive/libs/jquery.scrollme.js"></script>
<script src="/b/fashion/campaigns/javascripts/2018-spring-campaign-100-percent-exclusive/spring-18-main.js"></script>

