<!-- {pageTitle:"New Stores", pageLabel:"New Stores &mdash; About Us | Bloomingdale's"} -->
{{{coremetrics 'New Stores (ab-xx-xx-xx.newstores)' 'ab-xx-xx-xx'}}}
<!--headMeta={"name":"description", "content":"Find out about the latest store opening and see why Bloomingdale's is like no other store in the world."}-->
<!--headCanonical={"href":"/about-us/new-store-openings"}-->
<div class="about_us">
    <link rel="stylesheet" href="/b/fashion/styles/projects/about-us/aboutus.css" />
    {{>title}}
    <div id="bl_main_wrapper" class="newLayout">
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bl_cu_mainContent">
                                {{>titleimage}}
                                <br>
                                <div>
                                    <div class="cs_new_store_main">
                                        <div class="cs_new_store_img">
                                            <a href="http://locations.bloomingdales.com/ala-moana-center">
                                                <img alt="Hawaii Store" src="http://assets.bloomingdales.com/img/about/Ewa_Wing.jpg">
                                            </a>
                                        </div>
                                        <div class="cs_new_store_text">
                                            <span class="bold">HAWAII</span>
                                            <br>
                                            <br>
                                            Bloomingdale's is entering the Hawaii market for the first time with a 167,000-square-foot, three-level store in Honolulu on the Island of Oahu.
                                            The new store is part of a redevelopment of a portion of Ala Moana Center, Hawaii's premier shopping destination.
                                            The store includes a wide range of designer and luxury goods, including women's apparel, shoes, accessories, beauty, men's, kids and home. With tech-savvy fitting rooms,
                                            a luxurious in-house spa, a beauty bar stocked with internationally adored products—plus a roster of crave-worthy designers from local faves to world-renowned fashion houses,
                                            our Hawaii store is a true East-meets-West shopping destination. <br>
                                            <br>
                                            <a href="http://www1.bloomingdales.com/fashion-index/hawaii-ala-moana.jsp" class="bold">Learn More</a> <br>
                                            <br>
                                            <a href="http://locations.bloomingdales.com/ala-moana-center" class="bold" target="_blank">Store Details</a>
                                        </div>
                                        <div class="clearLeft">
                                        </div>
                                    </div>
                                    <div class="clearLeft">
                                    </div>
                                </div>

                                <div class="clearLeft">
                                </div>
                                <div class="cs_new_store_main_bottom">
                                    <div class="cs_new_store_img">
                                        <a href="http://locations.bloomingdales.com/index.html">
                                            <img alt="Bergen Town Center" src="http://assets.bloomingdales.com/img/about/BERGEN.jpg">
                                        </a>
                                    </div>
                                    <div class="cs_new_store_text">
                                        <span class="bold">OUTLETS</span>
                                        <br>
                                        <br>
                                        Bloomingdale’s is opening three new Outlet locations: 2085 Broadway (on the northwest corner of 72nd Street) in Manhattan’s Upper West Side, The Shops at Liberty Place (1625 Chestnut St.) in Center City Philadelphia and in Westfield Mission Valley in San Diego. This will bring the total number of Bloomingdale’s Outlet stores to 16.
                                        <br>
                                        <br>
                                        With 25,000 square feet on three levels, Bloomingdale’s Outlet on Broadway will offer a range of off-price apparel and accessories, all delivering a compelling combination of fashion, quality and value. “This is a premier, flagship location for Bloomingdale’s Outlet at one of the busiest intersections in Manhattan, and with a major subway located just footsteps away,” said Tony Spring, chairman and chief executive officer of Bloomingdale’s. This is a great opportunity to expand the reach of our brand to value-conscious customers as well as better serve the expansive needs of our core west side customers. We look forward to serving this thriving and diverse neighborhood where so many shoppers are already well acquainted with the unique offering of Bloomingdale’s.
                                        <br>
                                        <br>
                                        <a href="http://www1.bloomingdales.com/fashion-index/bloomingdales-the-outlet-store.jsp" class="bold">Learn More</a>	<br>
                                        <br>
                                        <a href="http://locations.bloomingdales.com/index.html" class="bold" target="_blank">Store Details</a>
                                        <div class="clearLeft">
                                        </div>
                                    </div>
                                    <div class="clearBoth">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clearBoth"></div>
            </div>
        </div>
    </div>
</div>




