// @import 'normalize';
// @import 'foundation/_settings';
// @import 'foundation';

body{
    min-width: inherit;	
}

body .row #bl_main_container {
    width: 100%;
}

.mod_row {
    max-width: 100%;
}

header.responsive #header-bottom-section .aboveNavSearchBox {
	height:45px;
}

@media screen and (max-width: 600px) {
	body.bl_mobile, body.bl_trulyResponsive .row, body.bl_trulyResponsive .row #bl_main_container{
		width:100%;
	}
}


//////////nav//////////
//////////nav//////////
//////////nav//////////

.Resort2016Winter_selected{
	background-color: #f5ebe7;
}

#Resort2016Winter_homelink{
	float: left !important;
	a {
		font-family: 'Lato', sans-serif;
		font-size: 19px;
		font-weight: 500;
		color: #000;
		letter-spacing: .1vw;
		text-align: center;
		text-decoration: none;
		padding: 21px 50px;
		transition: 0.3s;
		display: inline-block;
	}
}

ul#Resort2016Winter_stickynav_content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
	float: right;

    li {
		float: left;
		a {
		    font-family: 'Lato', sans-serif;
		    font-size: 14px;
		    font-weight: 500;
		    color: #000;
		    letter-spacing: .1vw;
		    text-align: center;
		    text-decoration: none;
		    padding: 25px 33px 24px 32px;
		    transition: 0.3s;
		    display: inline-block;
		}
		a:hover {
			color: #999;
		}
	}
	
	.nav_hamburger {
		display: none;
	}

}

@media screen and (max-width:1024px) {
	
	ul#Resort2016Winter_stickynav_content{

		li{
			display: none;
		}

		li.nav_hamburger {
			float: right;
			display: inline-block;
		}

		li a{
			padding: 24px 34px 24px 0;
		}
	}

	ul#Resort2016Winter_stickynav_content.responsive{

		width:100%;

		li.nav_hamburger {
			position: absolute;
			right: 0;
			top: 0;
		}

		li {
			float: none;
			display: inline;
		}

		li p {
			height: 50px;
		}

		li a {
			display: block;
			text-align: right;
		}
	}	
}

@media screen and (max-width:480px) {
	#Resort2016Winter_homelink a {
	    font-size: 15px;
	    padding: 24px 0 0 7vw;
	}
}

//////////nav//////////
//////////nav//////////
//////////nav//////////







#Resort2016Winter{

	max-width:1680px;
	margin: auto;
    text-align:center;

    img{
    	display:block;
    }
	.row .row{
		margin-left:0;
		margin-right:0;
	}


	//////////nav//////////
	//////////nav//////////
	//////////nav//////////
	#Resort2016Winter_stickynav_placeholder{
		position: relative;
		height: 70px;
	}

	//////////nav//////////
	//////////nav//////////
	//////////nav//////////


	.columns{
		padding:0;
		padding-left:0;
		padding-right:0;
	}
	.height_grid1{
		height:4.1666vw;
		max-height: 70px;
	}

	/* fade image in after load */
	.lazyload,
	.lazyloading {
	    opacity: 0;
	}
	.lazyloaded {
	    opacity: 1;
	    transition: opacity 300ms;
	}

	.landing_text1{
	    position: absolute;
	    margin: auto;
	    left: 0;
	    right: 0;
	    font-family: 'Playfair Display', serif;
	    font-size: 26px;
	    font-weight: 300;
	    max-width: 980px;
	    color: white;
	    padding-top: 20vw;
	    letter-spacing: 1px;
	    line-height: 3.5vw;
	}
	.landing_text2{
		font-family: 'Playfair Display', serif;
	    font-size: 2.2em;
	    padding: 1em;
	}










/*==========================================================================*/
/*==========================sirv sirv sirv sirv sirv =======================*/
/*==========================================================================*/

	/*
	html { height: 100%; }
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
	}*/
	/*
	.lookbook {
		display: block;
	}
	.spin-box {
		width: 500px;
		height: 500px;
		margin: auto;
		position: relative;
		margin-bottom: 4rem;
	}

	.spin-product-link,
	.spin-product-link > img {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
	.spin-product-link {
		background-color: rgba(217, 217, 217, 0.6);
		display: none;
		z-index: 999999;
	}
	.spin-product-link > img {
		margin: auto;
	}
	.spin-box:hover > .Sirv > .spin-product-link {
		display: block;
	}

	.spin-product-link-bottom {
		background-color: transparent;
		top: 100%;
		bottom: 70px;
	}

	.spin-figure .sirv-spin-hint .hint-side, .sirv-spin-hint-side {
		background-image: url(https://sirv.sirv.com/hint-002.png);
	}

	.spin-figure .sirv-spin-hint {
		width: 260px;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		background-image: none;
		background-color: rgba(255,255,255,0.9);
		height: 33px;
		opacity: 1;
	}

	.spin-figure .sirv-spin-hint .hint-text {
		font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: bold;
		width: auto;
	}*/













/*==========================================================================*/
/*==========================swimswimswimswimswim============================*/
/*==========================================================================*/

	#canvasBloom_mobile {
	    position: relative;
	    top: 0px;
	    left: 0px;
	    width: 1680px;
	    // height:667px;
	    z-index: 10;
	    background-color:#d6dfe0;
	}

	.swim_text1{
		font-family: 'Lato', sans-serif;
		font-size: 19px;
		font-weight: 300;
		letter-spacing: 9px;
		color: black;
		padding: 3.5vh 0 0 0;
		max-width: 500px;
		text-align: center;
		margin: auto;
		text-transform: uppercase;
	}

	.swim_text2{
		font-family: 'Lato', sans-serif;
		font-size: 16px;
		font-weight: 300;
		color: black;
		text-align: center;
		padding: 1vh 0 6vh 0;
		letter-spacing: 1px;
		max-width: 1220px;
		margin: auto;
		line-height: 3vh;
    }

	.swim_text3{
	    font-family: 'Lato', sans-serif;
	    font-size: 38px;
	    font-weight: 300;
	    color: black;
	    letter-spacing: 4px;
	    margin-bottom: 0;
	    padding-bottom: 2vh;
	}
	.swim_text4{
	    font-family: 'Lato', sans-serif;
	    font-size: 27px;
	    font-weight: 300;
	    color: black;
	    letter-spacing: 3px;
	    padding: 3vh 0 3vh 0;
	    max-width: 970px;
	    margin: auto;
	}

	.swim_text5{
	    font-family: 'Lato', sans-serif;
	    font-size: 19px;
	    font-weight: 300;
	    color: black;
	    letter-spacing: 9px;
	    line-height: 4.5vh;
	    text-transform: uppercase;
	    width: 100%;
		padding-top: 3vh;
	}


	.swim_vendorTag{
		font-family: 'Lato', sans-serif;
	    font-size: 13px;
	    font-weight: 500;
	    letter-spacing: .4px;
	    text-align: left;
    	line-height: 17px;
	    text-decoration: none;
		a{
			font-family: 'Lato', sans-serif;
		    font-size: 13px;
		    font-weight: 500;
		    letter-spacing: .4px;
		    text-align: left;
	    	line-height: 17px;
		    text-decoration: none;
		}
	}
	.swim_topLeft{
	    position: absolute;
	    top: 15px;
	    left: 15px;
	    text-align: left;
	}
	.swim_bottomLeft{
	    position: absolute;
	    bottom: 15px;
	    left: 15px;
	    text-align: left;
	}
	.swim_bottomRight{
	    position: absolute;
	    bottom: 15px;
	    right: 15px;
	    text-align: right;
	}	
	.swim_topRight{
	    position: absolute;
	    top: 15px;
	    right: 15px;
	    text-align: right;
	}
	.swim_bottomCenter{
	    position: absolute;
	    bottom: 1vw;
	    text-align: center;
	    width: 100%;
	}
	.swim_whitetext{
		color:white;
	}
	.swim_blacktext{
		color:black;
	}
	.swim4yellow_bg{
	    background: url('/fashion/images/projects/spring-fashion-trends/2017/swim4yellow.png') no-repeat;
    	background-position: center; 
    }


/*==========================================================================*/
/*===========jacketsjacketsjacketsjacketsjackets============================*/
/*==========================================================================*/



	.jackets_text1{
	    font-family: 'Lato', sans-serif;
	    font-size: 34px;
	    font-weight: 500;
	    color: white;
	    text-align: center;
    	letter-spacing: 2px;
	    max-width: 1120px;
	    margin: auto;
		padding-top: 6vh;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.jackets_text2{
		font-family: 'Lato', sans-serif;
	    font-size: 18px;
		font-weight: 300;
	    color: white;
	    text-align: center;
	    letter-spacing: 2px;
    	max-width: 1240px;
	    margin: auto;
	    line-height: 3vh;
	    padding-top: 1vh;
	    padding-bottom: 6vh;
	    padding-left: 20px;
	    padding-right: 20px;
    }

	.jackets_text3{
		font-family: 'Lato', sans-serif;
	    font-size: 2.2vw;
	    font-weight: 400;
	    color: black;
	    padding-top: 8vw;
	    letter-spacing: 2px;
	    max-width: 500px;
	    margin-left: -70px;
	    margin-bottom: 0;
	    text-align:left;
	}
	.jackets_text4{
	    font-family: 'Lato', sans-serif;
	    font-size: 1.2vw;
	    font-weight: 300;
	    color: black;
	    letter-spacing: 2px;
	    line-height: 3vh;
	    margin-left: -70px;
	    text-align:left;
		padding-bottom: 1vw;
	}
	.double_underscore{
		font-family: 'Roboto', sans-serif;
    	letter-spacing: 0;
    }
	.shop_lookbook_btn{

	    margin-left: -70px;
		margin-top: 3em;
		text-align:left;

		a{
		    font-family: "Lato", sans-serif;
		    font-size: 1.3vw;
		    font-weight: 400;
		    padding: 2vh 3.1vw;
		    letter-spacing: .2vw;
		    text-decoration: none;
		    background-color: black;
		    color: white;
		}
	}

	.jackets_text5{
	    font-family: 'Lato', sans-serif;
	    font-size: 40px;
	    font-weight: 500;
	    color: white;
	    text-align: center;
	    padding-top: 6vh;
	    padding-bottom: 6vh;
	    letter-spacing: 3px;
	    max-width: 600px;
	    margin: auto;
	    text-transform: uppercase;
		a{
		    font-family: 'Lato', sans-serif;
		    font-size: 40px;
		    font-weight: 500;
		    color: white;
		    text-align: center;
		    padding-top: 6vh;
		    padding-bottom: 6vh;
		    letter-spacing: 3px;
		    max-width: 600px;
		    margin: auto;
		    text-transform: uppercase;
    		text-decoration: none;
    	}

	}
	.jackets_text6{
	    font-family: 'Lato', sans-serif;
	    font-size: 37px;
	    font-weight: 400;		
	    color: black;
	    text-align: center;
	    padding-top: 4vh;
	    padding-bottom: 4vh;
	    letter-spacing: 3px;
	    margin: auto;
	}

/*==========================================================================*/
/*======shouldershouldershouldershouldershoulder============================*/
/*==========================================================================*/

	.vendorTag{
		font-family: 'Lato', sans-serif;
	    font-size: 13px;
	    font-weight: 300;
	    color: black;
	    letter-spacing: .4px;
	    text-align: left;
    	line-height: 25px;
		a{
			font-family: 'Lato', sans-serif;
		    font-size: 13px;
		    font-weight: 300;
		    color: black;
		    letter-spacing: .4px;
		    text-align: left;
	    	line-height: 25px;
	    	text-decoration: none;		
		}
    }
	.bottomLeft{
	    position: absolute;
	    bottom: 15px;
	    left: 15px;
	}
	.bottomRight{
	    position: absolute;
	    bottom: 15px;
	    right: 15px;
	}	
	.topLeft{
	    position: absolute;
	    top: 15px;
	    left: 15px;	
	}
	.topRight{
	    position: absolute;
	    top: 15px;
	    right: 15px;
	}
	.bottomCenter{
	    position: absolute;
	    bottom: 2vw;
	    text-align: center !important;
	    width: 100%;
	}
	.shoulder_text1{
		font-family: 'Lato', sans-serif;
	    font-size: 26px;
	    font-weight: 600;
	    color: black;
	    text-align: center;
	    padding: 4vh 0 0 0;
	    letter-spacing: 2px;
	    max-width: 1270px;
	    margin: auto;
	}

	.shoulder_text2{
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-weight: 300;
		color: black;
		text-align: center;
		padding: 1vh 0 6vh 0;
		letter-spacing: 2px;
		max-width: 1070px;
		margin: auto;
		line-height: 3vh;
    }

	.shoulder_text3{
	    font-family: 'Playfair Display', serif;
	    font-size: 26px;
	    font-weight: 600;
	    color: white;
	    text-align: center;
	    padding-top: 6vh;
	    padding-bottom: 6vh;
	    letter-spacing: 2px;
	    margin: auto;		
		a{
		    font-family: 'Playfair Display', serif;
		    font-size: 26px;
		    font-weight: 600;
		    color: white;
		    text-align: center;
		    padding-top: 6vh;
		    padding-bottom: 6vh;
		    letter-spacing: 2px;
		    margin: auto;
		}
    }
	.shoulder_text4{
	    font-family: 'Playfair Display', serif;
	    font-size: 26px;
	    font-weight: 600;
	    color: black;
	    text-align: center;
	    padding-top: 6vh;
	    padding-bottom: 6vh;
	    letter-spacing: 2px;
	    margin: auto;	
		a{
		    font-family: 'Playfair Display', serif;
		    font-size: 26px;
		    font-weight: 600;
		    color: black;
		    text-align: center;
		    padding-top: 6vh;
		    padding-bottom: 6vh;
		    letter-spacing: 2px;
		    margin: auto;			
		}
    }

	.shoulder_text_bg_color{
		background-color:#f5ebe7;
		p{
		    font-family: 'Lato', sans-serif;
		    font-size: 13px;
		    font-weight: 300;
		    color: black;
		    letter-spacing: .5px;
		    padding: 0 5vw;
		    text-align: left;

		    a{
			    font-family: 'Lato', sans-serif;
			    font-size: 13px;
			    font-weight: 300;
			    color: black;
			    letter-spacing: .5px;
			    padding: 0;
			    text-align: left;		    	
		    }
		}
	}
	.shoulder_bgtext_1{
		min-height: 424px;
	}
	.shoulder_bgtext_2{
		min-height: 342px;
	}
	.shoulder_bgtext_3{
		min-height: 301px;
	}
/*==========================================================================*/
/*======femininefemininefemininefemininefeminine============================*/
/*==========================================================================*/

	.feminine_shop_button{

		a{
		    font-family: "Lato", sans-serif;
		    font-size: 1.3vw;
		    font-weight: 800;
		    padding: 2vh 3.1vw;
		    letter-spacing: .2vw;
		    text-decoration: none;
			background-color: #fee4d5;
			color: black;
		}
	}
	.feminine_shop_button1{
	    position: absolute;
	    top: 31vw;
	    left: 4vw;
	}

	.feminine_shop_button2{
	    position: absolute;
	    top: 31vw;
	    left: 0;
	}

	.feminine_shop_button4{
	    position: absolute;
		top: 37vw;
		right: 5vw;
   	}

	.feminine_vendorTag{
			font-family: 'Lato', sans-serif;
		    font-size: 13px;
		    font-weight: 500;
		    letter-spacing: .4px;
		    text-align: left;
	    	line-height: 25px;
		    text-decoration: none;
		    text-transform: uppercase;	
			a{
				font-family: 'Lato', sans-serif;
			    font-size: 13px;
			    font-weight: 500;
			    letter-spacing: .4px;
			    text-align: left;
		    	line-height: 25px;
			    text-decoration: none;
			    text-transform: uppercase;	
			}
	}
	.feminine_topLeft{
	    position: absolute;
	    top: 15px;
	    left: 15px;
	    text-align: left;
	}
	.feminine_bottomLeft{
	    position: absolute;
	    bottom: 15px;
	    left: 15px;
	    text-align: left;
	}
	.feminine_bottomRight{
	    position: absolute;
	    bottom: 15px;
	    right: 15px;
	    text-align: right;
	}	
	.feminine_topRight{
	    position: absolute;
	    top: 15px;
	    right: 15px;
	    text-align: right;
	}
	.feminine_bottomCenter{
	    position: absolute;
	    bottom: 0;
	    text-align: center;
	    width: 100%;
	}
	.feminine_whitetext{
		color:white;
	}
	.feminine_blacktext{
		color:black;
	}
	.positionInherit{
		position:inherit;
	}

















	.bg_black{
		background-color:black;
	}
	.footer_row{
		text-align: center;
		background-color:#f5ebe7;
	}
	.social_icons{
		display:inline-block;
     	padding: 50px 10px;
    }
	#backtotop1{
		display:inline-block;
    	padding: 50px;
    	cursor: pointer;
	}


/*==========================================================================*/
/*======customsize customsize customsize customsize customsize =============*/
/*==========================================================================*/


	@media screen and (max-width: 600px) {
		.landing_text1{
			display: none;
		}
		img{
			margin:auto;
		}		

		.jackets_text3{
		    padding-top: inherit;
		    margin-left: inherit;
		    margin: inherit;
		    line-height: inherit;
		    text-align: center;
			padding-left: 5vw;
		    padding-right: 5vw;
		    font-size: 28px;
		}
		.jackets_text4{
		    margin-left: inherit;
		    margin-bottom: inherit;
		    text-align: center;
		    font-size: 15px;
		}

		.jackets_text6{
		    font-size: 5vw;
		    letter-spacing: 1px;
		}

		.shop_lookbook_btn{
			text-align:center;
			margin: 3vh 0;			
			a{
			    font-size: 16px;
			    padding: 2vh 14vw;
			}
		}

		.shoulder_text1{
		    padding: 4vh 5vw 0 5vw;
		}

		.shoulder_text2{
			padding: 1vh 5vw 6vh 5vw;
	    }


		.feminine_shop_button1{
			display:none;
		}
		.feminine_shop_button2{
			display:none;
		}
		.feminine_shop_button4{
			display:none;
		}
		.feminine_shop_button3{
		    margin: 5.5em 0 5.5em 0;

			a {
			    font-size: 5vw;
			    padding: 1.7vh 7vw;
			    letter-spacing: .7vw;
			}

   		}
		.swim_bottomCenter{
		    bottom: 13vw;
		}



	}



	@media screen and (min-width: 1680px) {
		.landing_text1{
			padding-top: 330px;
    		line-height: 64px;
    	}

		.jackets_text3{
			font-size: 38px;
		}
		.jackets_text4{
		    font-size: 18px;
		}
		.shop_lookbook_btn{	
			a{
			    font-size: 23px;
			    padding: 22px 57px;
			    letter-spacing: 3px;
			}
		}

		.feminine_shop_button1{
		    position: absolute;
		    top: 520px;
		    left: 70px;
		}
		.feminine_shop_button2{
		    position: absolute;
		    top: 520px;
		    left: 0;
		}
		.feminine_shop_button4{
		    position: absolute;
		    top: 634px;
		    right: 52px;
		}

		.feminine_shop_button{
			a{
				font-size: 23px;
				padding: 20px 60px;
			}
		}

	}



}
