<!-- {pageTitle:"Bloomingdale’s Loyallists Member Benefits & Perks"} -->
<!--headCanonical={"href":"fashion.bloomingdales.com/loyallist/benefits/"}-->
{{{coremetrics 'loyallist--member_benefits' 'Loyallist'}}}
<!--headMeta={"name":"description", "content":"Bloomingdale's Loyallist Rewards Program - Get points for every dollar you spend, a $25 Reward Card for every 5,000 points & More!"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/loyallist/benefits/"}-->
{{>title}}

<div class="row collapse" id="my-perks">
    <link rel="stylesheet" href="/b/fashion/styles/projects/about-us/aboutus.css" />
    <link href="/b/fashion/styles/projects/loyallist/benefits/styles.css" rel="stylesheet" type="text/css" />
    <script src="/b/fashion/javascripts/projects/loyallist/benefits/main.js"></script>
    <div class="small-5 large-5 collapse">
        <div id="bl_leftNavContainer">
            <div class="bl_breadcrumb_object">
                Loyallist > <span class="bl_breadcrumb_bold">My Perks</span>
            </div>
        </div>
    </div>
    <div class="bl_main  small-19 large-19 columns">
        <div>
            <div class="bl_main">
                <div id="bl_hp_main">
                    <div id="my-perks-main">
                        <section id="my-perks-header">
                            <div class="">
                                <img src="/b/fashion/images/projects/loyallist/benefits/my_perks_top_banner.jpg" class="b-cause-logo" alt="Great styles should be rewarded">
                            </div>
                        </section>
                        <section id="my-perks-body">
                            <div id="my-perks-container">
                                    <div id="the-perks-right">
                                        <div>
                                            <h2>THE PERKS</h2>
                                            <div class="horizontal-divider-thin"></div>
                                            <h3>ALL LOYALLISTS GET:</h3>
                                            <p><strong>AT LEAST ONE POINT FOR EVERY DOLLAR</strong> spent at our stores, outlets and bloomingdales.com<sup>1</sup></p>
                                            <p><strong>DOUBLE POINTS</strong> on all shoe, cosmetic and fragrance purchases at Bloomingdale's every day<sup>1</sup></p>
                                            <p><strong>A $25 REWARD CARD</strong> every time you reach 5,000 points<sup>2</sup></p>
                                            <p><strong>A PERK OF THE MONTH:</strong> A special offer sent to your inbox each month<sup>3</sup></p>
                                            <p><strong>FREE SHIPPING</strong> every day with no minimum purchase required<sup>4</sup></p>
                                            <div id="the-perks-links">
                                                <p><a href="javascript:pop('https://www.customerservice-bloomingdales.com/app/answers/detail/a_id/614/theme/popup?cm_sp=loyallist-_-member_benefits-_-terms_conditions','myDynaPop','width=575,height=550')">Terms & Conditions</a></p>
                                                <p><a href="javascript:pop('https://www.customerservice-bloomingdales.com/app/answers/detail/a_id/615/theme/popup?cm_sp=loyallist-_-member_benefits-_-faqs','myDynaPop','width=575,height=550')">FAQs</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="the-perks-left">
                                        <img src="/b/fashion/images/projects/loyallist/benefits/my_perks_alpha.jpg" class="img-expand" alt="">
                                    </div>
                                </div>
                        </section>
                        <section id="my-perks-bottom">
                            <div id="my-perks-bottom-container">
                                <div id="bottom-right">
                                    <h2>WANT EVEN MORE—EVEN FASTER?</h2>
                                    <div class="horizontal-divider"></div>
                                    <p>Shop with a Bloomingdale’s Credit Card and get three points per dollar<sup>1</sup> at Bloomingdale’s, exclusive cardholder offers and more. <span id="credit-approval">Subject to credit approval.</span></p>
                                    <p><strong><a id="learn-more-and-apply-link" data-cm_sp="cm_sp=creditcardlanding_credit_gateway-_-loyallist_member_benefits-_-learn_more_and_apply" href="https://citiretailservices.citibankonline.com/CRS/acq/launch/index.action?app=UNSOL&siteId=PLCN_BLOOMINGDALES&langId=EN&sc=80202">LEARN MORE & APPLY</a></strong></p>
                                </div>
                                <div id="bottom-left">
                                    <h2>TOP OF THE LIST</h2>
                                    <div class="horizontal-divider"></div>
                                    <p>The most points. The most perks.<br />The very best of Loyallist. See why it’s better at the top and find out how to get there.</p>
                                    <p><strong><a id="learn-more-link" href="http://www.bloomingdales.com/loyallist/benefits/top-of-the-list">LEARN MORE</a></strong></p>
                                </div>
                            </div>
                        </section>
                        <section id="my-perks-footer">
                            <div>
                                <div>
                                    <p>1. U.S. Bloomingdale's stores only. Double Points are not earned on shoe purchases from Bloomingdale's the Outlet Store or the outlet store page of bloomingdales.com. Points are not earned in Nespresso shops, at restaurants in Bloomingdale's, on store services, sales tax, or when redeeming Bloomingdale's Gift and Reward Cards. On December 31 of each year, 75% of all remaining points on your account will be forfeited. See Bloomingdale's Loyallist Program Terms and Conditions for complete details at bloomingdales.com/loyallist/termsandconditions</p>
                                    <p>2. Reward Cards cannot be redeemed in Nespresso shops, exchanged for cash, used to purchase Bloomingdale's Gift Cards, or used as payment on Bloomingdale's account balance(s). Your Total Points Balance must equal at least 5,000 points to receive a Reward Card.</p>
                                    <p>3. Must have an email address in Loyallist profile. One offer per account per month. Bloomingdale's is not responsible for undeliverable emails. Add your email address at <a href="http://www.bloomingdales.com/loyallist">bloomingdales.com/loyallist</a></p>
                                    <p>4. Purchases must be made with your Bloomingdale's Credit Card or Loyallist ID. Free standard shipping on bloomingdales.com purchases shipped to a single U.S. address, excluding Bloomingdale's Gift Cards, furniture, and mattresses. Offer not valid on prior purchases. In-store shipping offer only applies to merchandise that is not available in the store where the order is placed, but is available at another Bloomingdale's Department Store location. Additional delivery charges may apply for expedited shipping. Bloomingdale's may terminate this benefit at any time without notice. Free return shipping everyday on online orders. Offer excludes gift cards, furniture, mattresses, mirrors, lamps and wall art. Only valid when shipping within the U.S.<br />Bloomingdale’s may terminate these benefits at any time without notice.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>