extends ../../../layout


block content
	script(src="/javascripts/includes/auth.js")
	link(rel='stylesheet', href='/styles/includes.css')
	div.content 
		h1 Test of the OAuth System
		p
			a.authRequest Sign In
	div#signInOverlay.pF
