<!-- {pageTitle: 'Women', pageLabel:'Womens Size Charts'} -->
{{{coremetrics 'Women Size Charts - Shopping Services - About Us | Bloomingdales (ab-sh-si-xx.women)' 'ab-sh-si-xx.women'}}}
<!--headMeta={"name":"description", "content":"The Perfect Fit: WOMEN. Use the size charts below to help you determine the perfect fit for many Bloomingdale's styles. If your measurements fall between, order the next larger size."}-->
<!--headCanonical={"href":"/about-us/shopping/sizecharts/womens-petite-plus"}-->
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div class="gn_left_nav_top_cs">
                                        <div id="bl_leftNavContainer">{{>leftnav}}</div>
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <div class="bl_cu_mainContent" style="position:relative;">
                                <div class="hshim"></div>

                                <div id="menuImage" class="about-shop-sizing-main-pic" style="position:relative;">
                                    <img src="/b/fashion/images/projects/about-us/other/size/women_top_nav.jpg"
                                         alt="Women's Size Chart" border="0">
                                    <a href="#International">
                                        <div style="position:absolute; width:37%; height: 4%; top:29%; left:0; z-index: 1234;"></div>
                                    </a>
                                    <a href="#Contemporary">
                                        <div style="position:absolute; width:28%; height: 4%; top:23%; left:0; z-index: 1232;"></div>
                                    </a>
                                    <a href="#Classic">
                                        <div style="position:absolute; width:17%; height: 4%; top:23%; left:32%; z-index: 1234;"></div>
                                    </a>
                                    <a href="#Petites">
                                        <div style="position:absolute; width:17%; height: 4%; top:23%; left:51%; z-index: 1234;"></div>
                                    </a>
                                    <a href="#Plus">
                                        <div style="position:absolute; width:17%; height: 4%; top:23%; left:69%; z-index: 1234;"></div>
                                    </a>
                                    <a href="#Bras">
                                        <div style="position:absolute; width:17%; height: 4%; top:23%; left:86%; z-index: 1234;"></div>
                                    </a>
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Contemporary">
                                    </a>
                                    <a href="#Comfort_Levels">
                                        <img src="/b/fashion/images/projects/about-us/other/size/women_contep_size_chart.jpg" alt="Contemporary" border="0">
                                    </a>
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Classic">
                                    </a>
                                    <img src="/b/fashion/images/projects/about-us/other/size/women_classic_size_chart.gif" alt="Classic" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Petites">
                                    </a>
                                    <img src="/b/fashion/images/projects/about-us/other/size/women_petit_size_chart.gif" alt="Petites" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Plus">
                                    </a>
                                    <img src="/b/fashion/images/projects/about-us/other/size/women_plus_size_chart.gif" alt="Plus" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="Bras">
                                    </a>
                                    <img src="/b/fashion/images/projects/about-us/other/size/women_brus_size_chart.gif" alt="Bras" border="0">
                                </div>
                                <div class="clearBoth">
                                </div>
                                <div class="about-shop-sizing-charts">
                                    <a name="International">
                                    </a>
                                    <img src="/b/fashion/images/projects/about-us/other/size/women_inter_size_chart.gif" alt="International Sizing" border="0">
                                </div>
                                <br>
                                Please note: Some of our brand manufacturer's sizing differs from our exclusive Bloomingdale’s sizing.
                                In these cases, the appropriate size equivalents are noted within the product descriptions.
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>





