@media only screen and (max-device-width : 981px) {
	body {
		min-width: 962px;
	}
}

@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");

#bl_main_container {
	position: relative;
	width: 962px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 0;
}

#bl_main_container *, #bl_main_container *:before, #bl_main_container *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

ul {
	margin-left: 0;
}

/*utility classes*/
.padding_5{
	padding: 5px;
}
.padding_10{
	padding: 10px;
}
.padding_20{
	padding: 20px;
}
.padding_50{
	padding: 50px;
}
.padding_top_5{
	padding-top: 5px;
}
.padding_top_10{
	padding-top: 10px;
}
.padding_top_20{
	padding-top: 20px;
}
.padding_bottom_5{
	padding-bottom: 5px;
}
.padding_bottom_10{
	padding-bottom: 10px;
}
.padding_bottom_20{
	padding-bottom: 20px;
}
.padding_bottom_45{
	padding-bottom: 45px;
}
.margin_5{
	margin: 5px;
}
.margin_10{
	margin: 10px;
}
.margin_20{
	margin: 20px;
}
.margin_top_5{
	margin-top: 5px;
}
.margin_top_10{
	margin-top: 10px;
}
.margin_top_20{
	margin-top: 20px;
}
.margin_bottom_5{
	margin-bottom: 5px;
}
.margin_bottom_10{
	margin-bottom: 10px;
}
.margin_bottom_20{
	margin-bottom: 20px;
}
.margin_bottom_30{
	margin-bottom: 30px;
}
.margin_bottom_45{
	margin-bottom: 45px;
}

/* loader */
	.desktop_loader{
	    position: relative;
	    display: block;
	    height: 100%;
	    height: 100vh;
	    width: 100%;
	    left: 0;
	    top: 0;
	    z-index: 99;
	    background: #fff;
	}    
	.desktop_loader > img{
	    position: absolute;
	    left: 50%;
	    margin-left: -15px;
	    top: 50% !important;
	    margin-top: -30px !important;
	}

.desktop_main_container{
	display: none;
	position: relative;
    font-family: 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color:#000;
    letter-spacing: 1px;
	width: 100%;
	/*overflow: hidden;*/
}

/* buttons */
	a.desktop_button{
		position: absolute;
		top: 0;
		left: 0;
	    font-weight: bold;
	    font-size: 16px;
		padding: 15px 40px;
		border: 2px solid #000;
		text-decoration: none;
		letter-spacing: 1px;
		z-index: 3;
		transition: all 0.3s ease 0s;
	}
	a.desktop_button.hover{
		// color: #fff;
		// background: #000;
		// transition: all 0.3s ease 0s;
	}

/* header */
	.desktop_main_container > .desktop_header{
		height: auto;
		font-size: 0;
		min-width: 962px !important;
	}
	.desktop_main_container > .desktop_header > img{
		width: 100%;
	}
	.desktop_main_container > ul{
		list-style-type: none;
	}

/* navigation */
	.desktop_nav_placeholder{
	    position:relative;
	    width: 100%;
	    height: 42px;
	}
	.desktop_main_container nav{
		background-color: #f6289e;
		height: 42px;
		width: 962px;
		overflow: visible;
		/*overflow: hidden;*/
		z-index: 98;
	}
	.desktop_main_container nav ul{
		left: 0;
		right: 0;
		top: 0;
		display: block;
		position: absolute;
		margin: 0 auto;
		padding: 0 10px;
	}
	.desktop_main_container nav ul li{
		display: inline-table;
		height: 42px;
		padding: 0 25px;
		letter-spacing: 0.25em;
	}
	.desktop_main_container nav ul li a,
	.desktop_main_container nav.desktop_nav .dropdown > a,
	a.desktop_nav_links,
	a.desktop_nav_header_shopall{
		color: #fff;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 13px;
		line-height: 42px;
		text-decoration: none;
	}
	a.desktop_nav_links {
		padding-right: 20px;		
	}
	a.desktop_nav_header_shopall{
		padding: 0 25px;
	}
	.desktop_nav_links_container {
		float: left;
		padding-left: 20px;
	}
	.desktop_main_container nav.desktop_nav .dropdown a.hover,
	.desktop_main_container nav.desktop_nav .dropdown a.hover i,
	.desktop_main_container nav ul li a.active,
	.desktop_main_container nav ul li a.hover,
	a.desktop_nav_links.active,
	a.desktop_nav_links.hover,
	a.desktop_nav_header_shopall.hover {
		color: #fff82c;
	}

	/* DROPDOWN NAV */
	.desktop_main_container nav.desktop_nav .dropdown {
		position: relative;
		float: right;
		height: 42px;
		padding-left: 10px;
		right: 0;
	}
	.desktop_main_container nav.desktop_nav .dropdown a{
		position: relative;
		text-align: right;
		padding-right: 35px;
		left: 0;
		z-index: 9;
		display: block;
		width: 100%;
	}
	.desktop_main_container nav.desktop_nav .dropdown a i{
	    color: #fff;
	    position: absolute;
	    right: 10px;
	    line-height: 42px;
	    width: auto;
	    padding: 0;
	    top: 0;
	    transition: all 0.3s ease 0s;
	}
	.desktop_main_container nav.desktop_nav .dropdown.open a i{
	    transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);		
	}
	.desktop_main_container nav.desktop_nav .desktop_button ul{
		display: none;
	    background-color: #000;
	    position: absolute;
	    top: 40px;
	    padding: 5px 0 10px 0;
	    right: 0;
	}
	.desktop_main_container nav.desktop_nav .dropdown ul li{
		display: block;
		height: 42px;
		line-height: 42px;
		padding: 0 0 0 10px;	
	}
/*section*/
	.desktop_main_container section{
		font-size: 0;
		overflow: hidden;
		margin-top: 30px;
	}
	article[class^="desktop_horizontal_"] > div {
		position: relative;
		width: 100%;
	}

/*articles*/
	.desktop_main_container article{
		position: relative;
		width: 100%;
	}

	.desktop_main_container article > div{
		position: relative;
		float: left;
		display: inline-block;
	}

	.desktop_main_container article img {
		z-index: 1;
		width: 100%;
	}
	
	.desktop_main_container article a {
		z-index: 2;
	}

	/* 4-block grid  */
	.desktop_main_container article.desktop_grid > div.left > div.top,
	.desktop_main_container article.desktop_grid > div.left > div.bottom,
	.desktop_main_container article.desktop_grid > div.right > div.top,
	.desktop_main_container article.desktop_grid > div.right > div.bottom{
		z-index: 0;
		display: block;
		position: relative;
		width: 100%;
	}
	.desktop_main_container article.desktop_grid > div.left > div.top,
	.desktop_main_container article.desktop_grid > div.right > div.top{
		float: left;
	}
	.desktop_main_container article.desktop_grid > div.left > div.bottom,
	.desktop_main_container article.desktop_grid > div.right > div.bottom{
		clear: both;
	}	

	.desktop_main_container blockquote{
		position: relative;
		width: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.desktop_main_container blockquote img{
		top: 0;
		left: 0;
		height: 100%;
		width: auto;
		float: left;
	}
	.desktop_main_container blockquote p{
		padding: 0 40px;
		margin: 0;
		height: inherit;
		display: table-cell;
		vertical-align: middle;
	}

/*HTML5 Video*/
	.desktop_main_container .desktop_HTML5_video,
	.desktop_main_container .desktop_HTML5_video video{
	    width: 100%;
	}

/*Brightcove Video*/
	.BrightcoveExperience{
		display: none;
		position: absolute;
		top: 0;
		width: 962px;
	}
	
	.desktop_brightcove_video {
		position: relative;
		width: 100%;
	    background-repeat: no-repeat;
	}

	a.desktop_brightcove_video_play{
	    display: block;
	    position: relative;
	    top: 20%;
	    margin: 0 auto;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: 0 0;
	    transition: color .5s .3s ease;
	}

	a.desktop_brightcove_video_play.hover{
	    background-position: 0 100%;
	}

/*custome styles*/
	.desktop_main_container p.title{
    	font-family: 'Lato', sans-serif;
    	font-weight: 300;
    	font-size: 30px;
    	text-align: center;
    	text-transform: uppercase;
    	letter-spacing: 10px;
    	margin: 0;
    	padding: 0;
	}
	.desktop_main_container p.callout{
    	font-family: 'Lato', sans-serif;
    	font-weight: 700;
    	font-size: 40px;
    	text-align: left;
    	text-transform: none;
    	letter-spacing: -2px;
    	overflow: hidden;
	}

/*footer*/
	.desktop_main_container > .desktop_footer{
		position: relative;
		display: block;
		height: 48px;
		min-width: 962px !important;
		margin-bottom: 20px;
	}
	.desktop_main_container > .desktop_footer > * {
		display: inline;
	}
	a.desktop_shop_all_featured, 
	a.desktop_shop_all_collection{
		font-style: 13px;
		text-decoration: none;
		font-weight: bold;
		height: 48px;
		line-height: 48px;
		box-sizing: border-box;
		// border: 1px solid #000;
		color: #fff;
		background-color: #f6289e;
		float: right;
		padding: 0 20px;
		margin-right: 20px;
		transition: all 0.3s ease 0s;
	}
	a.desktop_shop_all_featured.hover, 
	a.desktop_shop_all_collection.hover{
		color: #fff;
		// background-color: #000;
		transition: all 0.3s ease 0s;
	}
	ul.desktop_socialshare_container{
		direction: rtl;
	}
	ul.desktop_socialshare_container li{
		display: inline;
		position:relative;
		box-sizing: border-box;
		color: #fff;
		background-color: #f6289e;
		width: 48px;
		height: 48px;
		text-align:center;
		border: 1px solid #fff;
		border-right: none;
		float:right;
		margin:0;
		cursor:pointer;
	}
	// ul.desktop_socialshare_container li.hover{
	// 	color: #fff;
	// 	background-color: #f6289e;
	// }
	ul.desktop_socialshare_container li:first-child{
		border-right: 1px solid #fff;
	}
	ul.desktop_socialshare_container li i {
		font-size: 22px;
		line-height: 48px;
	}

/*aside section*/
	.desktop_main_container > aside{
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		float: right;
		right: 0;
		background-color: #fff;
	}
	.desktop_floating_graphic{
		display: none;
		position: fixed;
		left: 50%;
		top: 50%;
		padding: 0;
		margin: -70px 0 0 461px; /* top value = graphic_width/2 ; left_value = 962px / 2 - offset*/
		outline: 0;
		border: 0;
		background: transparent;
		transition: all 0.9s ease 0s;
		z-index: 9;
	}
	.desktop_back_to_top{
		display: none;
		position: absolute;
		right: -72px; /* right = -(graphic_width) */
		bottom: 93px;
		width: 72px;
		height: 72px;
		padding: 0;
		margin: 0;
		outline: 0;
		border: none;
		cursor: pointer;
		overflow: hidden;
		transition: all 0.9s ease 0s;
	}
	.desktop_back_to_top > img{
		left: 0;
		top: 0;
		position: absolute;
		max-width: none;
	}
	.desktop_back_to_top > img:hover{
		left: -72px;
		position: absolute;
	}
	@media only screen and (min-width: 1230px) {
		.desktop_floating_graphic{
			display: block; 
		}
	}
	@media only screen and (min-width: 1130px) {
		.desktop_back_to_top{
			display: block;
		}
	}

/*bxslider - carousel style*/
	.bxslider {
		margin: 0!important;
	}
	.bx-wrapper {
		position: relative;
		margin: 0 auto 60px;
		padding: 0;
		*zoom: 1;
	}
	.bx-wrapper img {
		max-width: 100%;
		display: block;
	}
	.bx-wrapper .bx-viewport {
		background: #fff;
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
	    	-ms-transform: translatez(0);
	    	-o-transform: translatez(0);
	    	transform: translatez(0);
	}
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom: -30px;
		width: 100%;
	}
	.bx-wrapper .bx-loading {
		min-height: 50px;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000;
	}
	.bx-wrapper .bx-pager {
		text-align: center;
		font-size: .85em;
		font-family: Arial;
		font-weight: bold;
		color: #666;
		padding-top: 20px;
	}
	.bx-wrapper .bx-pager .bx-pager-item,
	.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
		display: inline-block;
		*zoom: 1;
		*display: inline;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #666;
		text-indent: -9999px;
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		outline: 0;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #000;
	}
	.bx-controls.bx-has-controls-direction > div > a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		z-index: 99;
	}	
	.bx-controls.bx-has-controls-direction > div > a.bx-prev {
		left: 10px;
		height: 60px;
		background: url(/fashion/images/projects/template-vertical/desktop_slider_standard_arrows.png) no-repeat 0px 0px; 
	}
	.bx-controls.bx-has-controls-direction > div > a.bx-prev :hover {
		background-position: 0 0;
	}
	.bx-controls.bx-has-controls-direction > div > a.bx-next {
		background: url(/fashion/images/projects/template-vertical/desktop_slider_standard_arrows.png) no-repeat -38px 0px; 
		right: 10px;
		height: 60px;
	}
	.bx-controls.bx-has-controls-direction > div > a.bx-next:hover {
		background-position: -38px 0;
	}
	.bx-wrapper .bx-controls-direction a.disabled {
		display: none;
	}
	.bx-wrapper .bx-controls-auto {
		text-align: center;
	}
	.bx-wrapper .bx-controls-auto .bx-start {
		display: block;
		text-indent: -9999px;
		width: 10px;
		height: 11px;
		outline: 0;
		margin: 0 3px;
	}
	.bx-wrapper .bx-controls-auto .bx-start:hover,
	.bx-wrapper .bx-controls-auto .bx-start.active {
		background-position: -86px 0;
	}
	.bx-wrapper .bx-controls-auto .bx-stop {
		display: block;
		text-indent: -9999px;
		width: 9px;
		height: 11px;
		outline: 0;
		margin: 0 3px;
	}
	.bx-wrapper .bx-controls-auto .bx-stop:hover,
	.bx-wrapper .bx-controls-auto .bx-stop.active {
		background-position: -86px -33px;
	}
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
		text-align: left;
		width: 80%;
	}
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
		right: 0;
		width: 35px;
	}
	.bx-wrapper .bx-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #666\9;
		background: rgba(80, 80, 80, 0.75);
		width: 100%;
	}
	.bx-wrapper .bx-caption span {
		color: #fff;
		font-family: Arial;
		display: block;
		font-size: .85em;
		padding: 10px;
	}


// CUSTOM STYLES
.desktop_main_container {
	
	.desktop_vertical_2 {
		display: block;
		margin-bottom: 3rem;

		> div {
			float: none;
			vertical-align: top;
		}

		span {
			text-transform: none;
			font-size: 12px;
		}

		.copy_block {
			text-align: left;
			padding-left: 3rem;

			&.right_align {
				text-align: right;
				padding-left: 0;
				padding-right: 3rem;

				span { margin-left: auto; }
			}

			h4 {
				font-size: 2rem;
				display: inline-block;
				padding-bottom: 0.05em;
				border-bottom: 1px solid #000;
			}

			p, span {
				width: 75%;
				text-transform: none;
				
				display: block;
			}

			p {
				margin: 0 0 2rem;
				font-family: 'Libre Baskerville', Helvetica;
				font-size: 1.4rem;
			}

			span {
				margin-bottom: 1.8em;
				font-size: 1.2rem;
				width: 80%;
			}

		}

		.feature_block {
			text-align: left;
			padding: 120px 3rem;

			&.right_align {
				text-align: right;

				span, a { margin-left: auto; } 
			}

			h4 {
				font-size: 2rem;
				letter-spacing: 0.2em;
			}

			span {
				margin-bottom: 1.8em;
				font-size: 1.2rem;
				width: 80%;
			}

			.desktop_button {
				position: relative;
			    display: block;
			    width: 60%;
			    font-size: 1.3rem;
			    padding: 1rem 0;
			    text-align: center;
			    margin: 2rem 0;
			}

		}

	}

	.desktop_horizontal_2 {

		> div {
			margin-bottom: 2rem;	
		}
		
		.desktop_button {
			margin: 0 auto;
			display: block;
			left: 0;
			right: 0;
			width: 40%;
			
			margin-top: 80px;
			padding: 2rem;

			&.light {
				color: #fff;
				border-color: #fff;
				background-color: rgba(0,0,0,0.4);

				h4 { color: #fff; }
			}

			h4 {
				font-size: 2rem;
				letter-spacing: 0.2em;
			}

			p {
				text-transform: none;
				font-size: 1.2rem;
			}

		}

	}

	.sub_heading {
		margin: 2rem auto;
	    padding: 1.5rem 0;
	    width: 38%;
	    border-bottom: 1px solid #000;
	    text-align: center;
	    display: block;
	    font-family: 'Libre Baskerville', Helvetica;
	    text-transform: none;
	    font-size: 3rem;
	}

	.animated_gif {
		height: 525px;
		width: auto;
		display: inline-block;
		position: absolute;
		top: 55px;
	}
}

.bot_space {
	margin-bottom: 3rem;
}

.laydown_spot {
	width: 170px;
    height: 260px;
	display: block;
	position: absolute;
}