<!-- {pageTitle: "b.cause", pageLabel: "b.cause Philanthropy - About Us | Bloomingdale's"} -->
{{{coremetrics '(lp-xx-xx-xx.philanthropy)' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        <td>
                            <div class="lp_philanthropy">
                                <div class="bcause_img">
                                    <div class="lp_imgs_top">
                                        <img src="/fashion/images/projects/about-us/other/bcause.jpg"
                                             border="0" class="displayBlock">
                                    </div>

                                    <a href="/about-us/child-mind-institute-b-cause-philanthropy/">
                                        <div style="position:absolute; width:51%; height: 11%; top:65%; left:0%; z-index: 1234;"></div>
                                    </a>
                                    <a href="/about-us/amfar-b-cause-philanthropy/">
                                        <div style="position:absolute; width:51%; height: 12%; top:52%; left:13%; z-index: 1234;"></div>
                                    </a>
                                    <a href="/about-us/jdrf-b-cause-philanthropy/">
                                        <div style="position:absolute; width:26%; height: 11%; top:40%; left:0%; z-index: 1234;"></div>
                                    </a>
                                    <a href="/about-us/pink-campaign-b-cause-philanthropy/" >
                                        <div style="position:absolute; width:26%; height: 12%; top:64%; left:50%; z-index: 1234;"></div>
                                    </a>
                                    <a href="/about-us/help-usa-b-cause-philanthropy/" >
                                        <div style="position:absolute; width:15%; height: 36%; top:52%; left:76%; z-index: 1234;"></div>
                                    </a>

                                    <div class="lp_imgs">
                                        <div id="flashContent">
                                            <img src="http://netstorage.bloomingdales.com/netstorage/media/Philanthropy_main/bcause_main_10_30_13.jpg" width="758" height="469" border="0" class="displayBlock">
                                        </div>
                                    </div>
                                    <div class="lp_imgs">
                                        <a href="http://locations.bloomingdales.com/store-locator">
                                            <div style="position:absolute; width:41%; height: 11%; top:91%; left:0%; z-index: 1234;"></div>
                                        </a>
                                        <a href="http://federated-fds.com/diversitymanagement/?cm_mmc=Philanthropy-_-Diversity-_-Landing%20Page-_-Philanthropy_microsite"
                                           target="_blank" >
                                            <div style="position:absolute; width:47%; height: 11%; top:91%; left:50%; z-index: 1234;"></div>
                                        </a>
                                        <img src="http://netstorage.bloomingdales.com/netstorage/media/Philanthropy_main/bcause_footer_11_06_13.jpg" border="0" class="displayBlock">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>





