<!-- {pageTitle:"b.cause", pageLabel:"Bloomingdale's Loves a Good Cause! b.Cause Philantrophy Program"} -->
<!--headMeta={"name":"description", "content":"Bloomingdale's loves a good cause. Thousands of our people volunteer, increase awareness and raise funds for the causes we partner with. Come see how you can help!"}-->
<!--headCanonical={"href":"http://fashion.bloomingdales.com/about-us/philanthropy/"}-->

{{{coremetrics 'lp-xx-xx-xx.philanthropy' 'lp-xx-xx-xx'}}}
<div class="about_us">
    {{>title}}
    <link href="/fashion/styles/projects/about-us/philanthropy/styles.css" rel="stylesheet" type="text/css" />
    <script src="/fashion/javascripts/projects/about-us/b-cause/main.js"></script>
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main">
                <table>
                    <tr>
                        <td>
                            <div class="bl_nav_side">
                                <!--BEGIN LOCAL NAVIGATION-->
                                <div class="gn_left_nav_container">
                                    <div id="bl_leftNavContainer">
                                        {{>leftnav}}
                                    </div>
                                </div>
                                <!--END LOCAL NAVIGATION-->
                            </div>
                        </td>
                        <td>
                            <article class="b-cause-main">
                                <section class="row b-cause-body">
                                    <div class="small-24 columns">
                                        <article class="row">
                                            <div class="small-24 medium-12 columns">
                                                <img src="/fashion/images/projects/about-us/philanthropy/bcause-logo.png">
                                                <h2>Bloomingdale’s loves a good cause</h2>
                                                <p>Our b.cause philanthropy program gives our employees the opportunity to make positive changes in their communities. Our people volunteer, increase awareness and raise important funds for the causes we partner with.</p>
                                            </div>
                                        </article>
                                        <article class="row">
                                            <div id="philanthropy_main_section" class="small-24 medium-24 columns">
                                                <img src="/fashion/images/projects/about-us/philanthropy/philanthropy-main.png" alt="Bloomingdale's b.cause Philantrophy Program & Charitable Events">
                                                <a id="jdrf" href="/about-us/jdrf-b-cause-philanthropy/"><img src="/fashion/images/projects/about-us/philanthropy/jdrf-logo.png" alt="Bloomingdale's - JDRF Charity Partnership"></a>
                                                <a id="amfar" href="/about-us/amfar-b-cause-philanthropy/"><img src="/fashion/images/projects/about-us/philanthropy/amfar-logo.png" alt="Bloomingdale's - amfAR Charity Partnership"></a>
                                                <a id="help_usa" href="/about-us/help-usa-b-cause-philanthropy/"><img src="/fashion/images/projects/about-us/philanthropy/help-usa-logo.png" alt="Bloomingdale's - Help USA Charity Partnership"></a>
                                                <a id="child_mind" href="/about-us/child-mind-institute-b-cause-philanthropy/"><img src="/fashion/images/projects/about-us/philanthropy/child-mind-logo.png" alt="Bloomingdale's - Child Mind Institute Charity Partnership"></a>
                                                <a id="pink_campaign" href="/about-us/pink-campaign-b-cause-philanthropy/"><img src="/fashion/images/projects/about-us/philanthropy/bcrf-logo.png" alt="Bloomingdale's - BCRF Charity Partnership"></a>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                                {{> bcausefooter}}
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
