#browseShell {

   &.standard {
      width: 100%;
      min-height: 100px;
      font-size: 11px;
      font-family: "Avenir LT W01 55 Roman", Arial;
   }

   &.two-col .products li {
      width: 48%;

      .imgBox {
         min-height: 426px;
      }
   }

   &.three-col .products li {
      width: 31%;

      .imgBox {
         min-height: 280px;
      }
   }

   &.four-col .products li {
      width: 23%;

      .imgBox {
         min-height: 238px;
      }
   }

   .products {

      li {
         list-style-type: none;
         display: inline-block;
         margin: 0 1%;
         padding: 1rem 0 0 0;
         vertical-align: top;

         .imgBox {
            position: relative;
         }

         .primary {
            display: block;
            position: absolute;
            bottom: 0;
            left: 12.5%;
         }

         .breaker {
            border: solid #cccccc;
            border-width: 1px 0 0;
            height: 0;
            margin: 1rem 0;
         }

         .brand {
            font-weight: bold;
         }

         .swatch {
            height: 27px; 
            width: 27px;
            cursor: pointer;

         }

         .white .swatch {
            height: 27px;
            width: 27px;
            border: 1px solid #ddd;
         }

         .colorBox {
            margin-right: 0.5rem;
            margin-bottom: 0.25rem;
            padding-bottom: 5px;
            display: inline-block;
         }

         .colorBox.focus,
         .colorBox.active, {
            padding-bottom: 3px;
            border-bottom: 2px solid #000;
            margin-bottom: 5px;
            vertical-align: top;
         }

         .priceNow {
            color: #ed0000;
         }

      }

   }
}