// ======================================
// Giving Back to Community
// Author: Alessandro Ribeiro
// Date: 11/9/2016
// Project: /about-us/giving-back-to-community/
// ======================================

@import "../b-cause/styles";

.b-cause-main {
    margin: 15px 0;

    h1 {
        margin-bottom: 20px;
        padding: 0;
    }

    img {
        display: block;
        float: none;
        margin: 0 auto;

        &.logo {
            margin-bottom: 20px;
        }

        &.partners {
            margin-bottom: 40px;
        }
    }

    .numbers {
        margin-bottom: 5px;
    }

    .b-cause-body {
        h2 {
            margin-bottom: 5px;

            &.numbers-title {
                margin-bottom: 30px;
            }
        }

        section {
            margin-bottom: 10px;
        }

        area {
            cursor: default;
        }
    }

    .b-cause-footer {
        margin-top: 0;
    }

    @media screen and (min-width: 768px) {

    }
}
