<!--headTitle={"title":"Bloomingdale's Heart of New York"}-->
<!--headMeta={"name":"description", "content":""}-->
<!--headCanonical={"href":"https://www.bloomingdales.com/b/campaigns/heart-of-ny/"}-->

<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="/b/fashion/campaigns/styles/heart-of-ny/styles.css" rel="stylesheet">

<div class="heart-of-new-york heart-of-ny-men">
    
    <!--sticky header-->
    <div class="heart-of-ny-sticky-header">
        <!--hamburger-->
        <button coremetricTag="nav-hamburger" id="heart-of-ny-nav-switcher" class="nav-hamburger" aria-label="Menu" role="button" aria-controls="navigation" aria-expanded="true/false">
            <span>toggle menu</span>
        </button>
        <a href="../">
            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_59th_logo.png" alt="Bloomingdale's 59th Street" class="bloom-logo">
        </a>
    </div>

    <!--Navigation-->
    <nav class="heart-of-ny-nav">
        <ul class="sub">
            <li>
                <a coremetricTag="nav-home" href="/b/campaigns/heart-of-ny/home/">
                    <span class="nav-item-content">Home</span>
                    <ul class="floor-circle">
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-shoes" href="/b/campaigns/heart-of-ny/shoes/">
                    <span class="nav-item-content">Shoes</span>
                    <ul class="floor-circle">
                        <li>5</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-women" href="/b/campaigns/heart-of-ny/women/">
                    <span class="nav-item-content">Women</span>
                    <ul class="floor-circle">
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-cosmetics" href="/b/campaigns/heart-of-ny/cosmetics/">
                    <span class="nav-item-content">Cosmetics</span>
                    <ul class="floor-circle">
                        <li>1</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-men" href="/b/campaigns/heart-of-ny/men/">
                    <span class="nav-item-content">Men</span>
                    <ul class="floor-circle">
                        <li class="ll">LL</li>
                    </ul>
                </a>
            </li>
            <li>
                <a coremetricTag="nav-events" href="/b/campaigns/heart-of-ny/events/">
                    <span class="nav-item-content">Events</span>
                    <ul class="floor-circle">
                        <li class="icon">
                            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_b_icon_black.png" alt="Bloomingdale's B Icon" class="b-icon">
                            <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_b_icon_white.png" alt="Bloomingdale's B Icon" class="b-icon-hover">
                        </li>
                    </ul>
                </a>
            </li>
        </ul>

    </nav>
    <!--Navigation -->
    
    <!--Header-->
    <header class="mens-header">
        <img src="/b/fashion/campaigns/images/heart-of-ny/bloomingdales_59th_logo.png" alt="Bloomingdale's 59th Street" class="bloom-logo">
        <h1>MEN ON THE LOWER LEVEL</h1>
        <p>Check out a brand new curated concept and some fresh additions to our lineup of great labels.</p>
    </header>
    <!--Header-->

    <main>
        <div class="59-carousel">
            <div>
                <img src="/b/fashion/campaigns/images/heart-of-ny/men-jumbotron.jpg" alt="MEN ON THE LOWER LEVEL">
            </div>
            <div>
                <img src="/b/fashion/campaigns/images/heart-of-ny/men-jumbotron.jpg" alt="MEN ON THE LOWER LEVEL">
            </div>
            <div>
                <img src="/b/fashion/campaigns/images/heart-of-ny/men-jumbotron.jpg" alt="MEN ON THE LOWER LEVEL">
            </div>

        </div>
        <!--<img src="/b/fashion/campaigns/images/heart-of-ny/men-jumbotron.jpg" alt="MEN ON THE LOWER LEVEL" class="jumbotron">
        <p class="caption">Canada Goose</p>-->

  
        <div class="feature-bar">
            <div class="inner">
                <div class="contain">
                    <img src="/b/fashion/campaigns/images/heart-of-ny/dquared.jpg" alt="DSQUARED2" class="dsquared">
                    <!--<h2  class="scrollme animateme"
                    data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-translatex="600"
                    data-easing="easeout"
                    data-crop="false">All The Best Designers</h2>-->
                    <h2>The Best<br>Brands</h2>
                    <p>We’ve added 16 new names to our roster, along with the amazing labels you already know and love.</p>
                </div>
            </div>
        </div>

        <div class="photos-container">
            <div class="two-photos scrollme">
                <img src="/b/fashion/campaigns/images/heart-of-ny/moncler.jpg" alt="Moncler" class="animateme"
                        data-when="view"
                        data-from=".5"
                        data-to="0"
                        data-opacity="0"
                        data-translatex="-600"
                        data-easing="easeout"
                        data-scale="1.2">
                <img src="/b/fashion/campaigns/images/heart-of-ny/black-barret.jpg" alt="Black Barrett"   class="animateme"
                        data-when="view"
                        data-from=".5"
                        data-to="0"
                        data-opacity="0"
                        data-translatex="600"
                        data-easing="easeout"
                        data-scale="1.2">
            </div>
        </div>

        <div class="scrollme animateme" data-when="view"
            data-from=".5"
            data-to="0"
            data-opacity="1"
            data-scale="0">
            <img src="/b/fashion/campaigns/images/heart-of-ny/mens-logos.jpg" alt="Brands" class="logos">
        </div>

        <a class="text-link" href="#">SEE ALL DESIGNERS</a>

        <div class="sub-head-box">
            <div class="inner">
                <h2 class="scrollme animateme" data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-opacity="0"
                    data-translatex="0"
                    data-easing="easeout"
                    data-scale="1.2">STREAMLINED SHOPPING</h2>
                <p class="scrollme animateme streamlined-type"
                data-when="view"
                    data-from=".5"
                    data-to="0"
                    data-opacity="0"
                    data-translatex="0"
                    data-easing="easeout"
                    data-scale="1.2">We’re making your life easier by moving our shoe sections together on one floor and offering half-hour hemming in our denim department. </p>
            </div>
        </div>
        <div class="sub-head-photo">
            <img src="/b/fashion/campaigns/images/heart-of-ny/streamlined-shopping.jpg" alt="Streamlined Shopping" class=" scrollme animateme"
            data-when="view"
            data-from=".5"
            data-to="0"
            data-translatey="100"
            data-easing="easeout">
            <p class="caption">Anne de Solene</p>
        </div>
        
        
        <div class="new-feature">
            <div class="col animateme scrollme"
                data-when="view"
                data-from=".5"
                data-to="0"
                data-translatex="-100"
                data-easing="easeout">
                <h2><span>Introducing:<br></span> The Wardrobe</h2>
                <p>Exclusively at 59th Street: Our most elevated curation of men’s suiting, sportswear and outerwear ever, from new names like Kired, Altea, Gallotti and more.</p>
            </div>
            <div class="col scrollme animateme"
            data-when="view"
            data-from=".5"
            data-to="0"
            data-translatex="100"
            data-easing="easeout">
                <img class="lazy" data-src="/b/fashion/campaigns/images/heart-of-ny/wardrobe.jpg" alt="Registry">
            </div>
            <div class="bg"></div>
            <p class="small-feature-type">Exclusively at 59th Street: Our most elevated curation of men’s suiting, sportswear and outerwear ever, from new names like Kired, Altea, Gallotti and more.</p>
        </div>

        <div class="photos-container">
            <div class="two-photos scrollme">
                <img src="/b/fashion/campaigns/images/heart-of-ny/mens-photo1.jpg" alt="Men"   class="animateme"
                        data-when="view"
                        data-from=".5"
                        data-to="0"
                        data-opacity="0"
                        data-translatex="-600"
                        data-easing="easeout"
                        data-scale="1.2">
                <img src="/b/fashion/campaigns/images/heart-of-ny/mens-photo2.jpg" alt="Men" class="animateme"
                        data-when="view"
                        data-from=".5"
                        data-to="0"
                        data-opacity="0"
                        data-translatex="600"
                        data-easing="easeout"
                        data-scale="1.2">
            </div>
        </div>
        
        
    </main>

    <footer class="scrollme">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-1.gif" alt="The Love of New York"
            class="animateme" 
            data-when="view"
            data-from=".5"
            data-to="0"
            data-translatex="-300"
            data-easing="easeout">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-2.gif" alt="The Love of New York"
            class="animateme" 
            data-when="view"
            data-from=".5"
            data-to="0"
            data-translatex="300"
            data-easing="easeout">
        <img src="/b/fashion/campaigns/images/heart-of-ny/footer-logo-3.gif" alt="The Love of New York"
            class="animateme" 
            data-when="view"
            data-from=".5"
            data-to="0"
            data-translatex="-300"
            data-easing="easeout">
        <h3 class="animateme" 
            data-when="view"
            data-from=".5"
            data-to="0"
            data-translatey="300"
            data-easing="easeout">Experience our legendary flagship—newly renovated and better than ever</h3>
    </footer>

</div>





<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.2.2.4.js"><\/script>')</script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.lazy.min.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/slick.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/libs/jquery.scrollme.js"></script>

<script type="text/javascript" src="/b/fashion/campaigns/javascripts/heart-of-ny/heart-of-ny-main.js"></script>
