
<title>The Best Pre-Spring 2018</title>
<meta name="description" content="Some fashion trends are so intertwined with the start of pre-spring, they actually signal it. See 2018’s: florals, stripes and swim for a mid-winter getaway.">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="canonical" href="https://www.bloomingdales.com/b/campaigns/spring-fashion-trends/2018/"/>

<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/b/fashion/campaigns/styles/spring-fashion-trends/2018/styles.css"/>



<div class="resort-wrapper">

    <div class="resort-aside">
        <div class="resort-nav">
            <header class="resort-nav__header">
                <button coremetricTag="nav-hamburger" id="mobile-nav-switcher" class="nav-hamburger" aria-label="Menu"
                        role="button" aria-controls="navigation" aria-expanded="true/false">
                    <span>toggle menu</span>
                </button>
                <h1 class="resort-nav__logo">
                    <span>The Best</span> <span>of Pre-</span><span>Spring</span> <span>Trends</span>
                </h1>
            </header>
            <nav role="navigation">
                <div class="resort-nav__container">
                    <ul class="resort-nav__menu" role="navigation">
                        <li><a coremetricTag="aside-nav-Florals" class="resort-aside-nav-item" href="#florals">Florals</a></li>
                        <li><a coremetricTag="aside-nav-Stripes" class="resort-aside-nav-item" href="#stripes">Stripes</a></li>
                        <li><a coremetricTag="aside-nav-Ruffle"  class="resort-aside-nav-item" href="#ruffle">Ruffle</a></li>
                        <li><a coremetricTag="aside-nav-Swim"    class="resort-aside-nav-item" href="#swim">Swim</a></li>
                        <li><a coremetricTag="aside-nav-Back-To-Bloomingdales"
                                                                 class="resort-aside-nav-item resort-external-link"
                                                                                               href="http://bloomingdales.com/">Back to bloomingdales.com</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <main class="resort-main">
        <!-- image-grid -->
        <div class="resort-image-grid-container"></div>
        <!-- //image-grid -->

        <div class="resort-intro-message-holder">
            <section class="resort-intro-message" tabindex="0" role=”region”>
                <p>
                    <span>Some trends are so intertwined with the start</span>
                    <span>of the new season, they actually help signal it.</span>
                    <span>See: bright new florals, cool&dash;girl stripes and</span>
                    <span>go&dash;with&dash;the&dash;flow ruffles. Here, the noteworthy</span>
                    <span>styles we’re already tracking (plus, all the </span>
                    <span>swimwear we can&#39;t wait to dive into).</span>
                </p>
            </section>
        </div>



        <div class="resort-pages-wrapper">

            <!-- florals -->
            <article id="florals" class="resort-page" style="padding-top:0">

                <header class="resort-page__hero-image"  data-emergence="hidden" style="margin-top:0">
                    <a coremetricTag="Shop-the-Trend"
                       href="https://www.bloomingdales.com/shop/fashion-lookbooks-videos-style-guide/florals?id=1019159">
                        <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/hero-1.jpg">
                        <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                    </a>
                </header>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="Shop-the-Look" class="resort-page-prod__link" href="https://www.bloomingdales.com/shop/product/index.ognc?ID=2818360">
                            <img class="resort-page-copy__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-1.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-copy">
                        <h2 class="resort-page-copy__heading">The Power of <br>Flowers</h2>
                        <p class="resort-page-copy__text">
                            <span>Florals for spring. We know, groundbreaking.</span>
                            <span>But&nbsp;stick with us.There&#39;s a reason this</span>
                            <span>perennial print keeps spopping up each year.</span>
                            <span>The&nbsp;same jolt of joy that comes with spotting</span>
                            <span>the first daffodil of the season can be felt</span>
                            <span>in observing springlike blooms bursting</span>
                            <span>across breezy shoulder&#8209;baring dresses,</span>
                            <span>statement&#8209;sleeve tops or a beach&dash;cruiser&dash;</span>
                            <span>ready jumpsuit. This season in particular,</span>
                            <span>we&#39;re pairing blossoms from abstract and</span>
                            <span>oversized to delicate and dainty with </span>
                            <span>of&dash;the&dash;moment denim like wrap skirts, cropped</span>
                            <span>jeans and oversized jackets for a look that&#39;s</span>
                            <span>as casually cool as the Venice scene.</span>
                        </p>
                        <a coremetricTag="Shop-the-Trend" class="resort-page-copy__link"
                           href="https://www.bloomingdales.com/shop/fashion-lookbooks-videos-style-guide/florals?id=1019159">Shop the Trend</a>
                    </div>
                </div>
                <!-- //page-copy -->

                <div class="resort-page-row">
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="Kobi-Halperin"
                               href="https://www.bloomingdales.com/shop/product/index.ognc?ID=2754531">
                                <img alt="Kobi Halperin"
                                     src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-2-1.jpg">
                                <span>Kobi Halperin</span>
                            </a>
                            <a coremetricTag="kate-spade-new-york"
                               href="https://www.bloomingdales.com/shop/product/kate-spade-new-york-demi-cup-bikini-top-high-waist-bikini-bottom?ID=2797296">
                                <img alt="kate spade new york"
                                     src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-2-2.jpg">
                                <span>kate spade new&nbsp;york</span>
                            </a>
                            <a coremetricTag="TAVIK"
                               href="https://www.bloomingdales.com/shop/product/tavik-chase-one-piece-swimsuit?ID=2758859">
                                <img alt="TAVIK"
                                     src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-2-3.jpg">
                                <span>TAVIK</span>
                            </a>
                            <a coremetricTag="kate-spade-new-york"
                               href="https://www.bloomingdales.com/shop/product/kate-spade-new-york-pansy-stud-earrings?ID=804550">
                                <img alt="kate spade new york"
                                     src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-2-4.jpg">
                                <span>kate spade new&nbsp;york</span>
                            </a>
                        </div>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="Shop-the-Trend" class="resort-page-prod__link" href="https://www.bloomingdales.com/shop/fashion-lookbooks-videos-style-guide/florals?id=1019159">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-2.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-3.jpg">
                            <span class="resort-page-prod__frame frame--yellow"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-4.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-5.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-5-1.jpg">
                                <span>Red Carter</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-5-2.jpg">
                                <span>Loeffler Randall</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-5-3.jpg">
                                <span>For Love &amp; Lemons</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-5-4.jpg">
                                <span>MILLY</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="resort-page__hero-image">
                    <a coremetricTag="" href="javascript:void(0);">
                        <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/hero-2.jpg">
                        <span class="resort-page-prod__frame"><span class="resort-page-prod__label">Shop the Trend</span></span>
                    </a>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-6-1.jpg">
                                <span>Laundry by<br> Shelli Segal</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-6-2.jpg">
                                <span>Converse</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-6-3.jpg">
                                <span>Show Me Your MuMu</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-6-4.jpg">
                                <span>Robin Piccone</span>
                            </a>
                        </div>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-6.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-7.jpg">
                            <span class="resort-page-prod__frame frame--yellow"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-8.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-9.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-9-1.jpg">
                                <span>Vitamin A</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-9-2.jpg">
                                <span>For Love &amp; Lemons</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-9-3.jpg">
                                <span>Krewe</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/florals/prod-9-4.jpg">
                                <span>MINKPINK</span>
                            </a>
                        </div>
                    </div>
                </div>

                <footer class="resort-page-footer">
                    <a coremetricTag="" href="javascript:void(0);">
                        Shop the Trend
                    </a>
                </footer>

            </article>
            <!-- //florals -->


            <!-- stripes -->
            <article id="stripes" class="resort-page">

                <header class="resort-page__hero-image">
                    <a coremetricTag="" href="javascript:void(0);">
                        <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/hero-1.jpg">
                        <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                    </a>
                </header>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-copy__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-1.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-copy">
                        <h2 class="resort-page-copy__heading">Stripes&#39; New Bandwidth</h2>
                        <p class="resort-page-copy__text">Vacation vibes have always been strong with this sea&#8209;friendly print.
                            Sailor&#8209;striped  tees are still a standard, but for your next trip, might we suggest going on a whole new (perhaps
                            asymmetric) direction? Think colorfully banded and marled lightweight knits, bar code
                            patterns on tie&#8209;front dresses and a menswear&#8209;inspired poplin top transformed by
                            tiers of irresistible ruffles. Mix up the look with florals, or ground it with crisp jeans in washes
                            from light to dark for style that always raises the bar.
                        </p>
                        <a coremetricTag="" class="resort-page-copy__link" href="javascript:void(0);">Shop the Trend</a>
                    </div>
                </div>
                <!-- //page-copy -->

                <div class="resort-page-row">
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-2-1.jpg">
                                <span>MILLY</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-2-2.jpg">
                                <span>Scotch &amp; Soda</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-2-3.jpg">
                                <span>FRENCH CONNECTION</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-2-4.jpg">
                                <span>Giorgio Armani</span>
                            </a></div>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-2.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-3.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-4.jpg">
                            <span class="resort-page-prod__frame frame--yellow"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-5.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-5-1.jpg">
                                <span>Splendid</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-5-2.jpg">
                                <span>Tory Burch</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-5-3.jpg">
                                <span>Lanc&#244;me</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-5-4.jpg">
                                <span>Red Carter</span>
                            </a></div>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-6.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-7.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-8.jpg">
                            <span class="resort-page-prod__frame frame--yellow"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-8-1.jpg">
                                <span>Suboo</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-8-2.jpg">
                                <span>Kendra Scott</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-8-3.jpg">
                                <span>La Mer</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/stripes/prod-8-4.jpg">
                                <span>L*Space</span>
                            </a>
                        </div>
                    </div>
                </div>

                <footer class="resort-page-footer">
                    <a coremetricTag="" href="javascript:void(0);">
                        Shop the Trend
                    </a>
                </footer>

            </article>
            <!-- //stripes -->


            <!-- ruffle -->
            <article id="ruffle" class="resort-page">

                <header class="resort-page__hero-image">
                    <a coremetricTag="" href="javascript:void(0);">
                        <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/hero-1.jpg">
                        <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                    </a>
                </header>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-copy__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-1.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-copy">
                        <h2 class="resort-page-copy__heading">Dressed to Frill</h2>
                        <p class="resort-page-copy__text">The only thing better than feeling that
                            first pleasant breeze of spring hit your skin? Having said breeze timed with the
                            debut of a&nbsp;fresh ruffled frock so your
                            gauzy layers catch major air. Luckily, the fashion forecast calls for a season of
                            frills and flounce, meaning you’ll have plenty of opportunities to ruffle up your wardrobe.
                            Whether you tier up and flow head&dash;to&dash;toe or choose a solitary ruffle
                            for a little extra animation, we recommend rocking the trend in unexpected iterations&mdash;like
                            on the sleeves of striped blouses or at the hem of a&nbsp;denim&nbsp;skirt.
                        </p>
                        <a coremetricTag="" class="resort-page-copy__link" href="javascript:void(0);">Shop the Trend</a>
                    </div>
                </div>
                <!-- //page-copy -->

                <div class="resort-page-row">
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-2-1.jpg">
                                <span>Muche et Muchette</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-2-2.jpg">
                                <span>Loeffler Randall</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-2-3.jpg">
                                <span>Daniel Wellington</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-2-4.jpg">
                                <span>MILLY</span>
                            </a>
                        </div>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-2.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>


                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image"  alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-3.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image"  alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-4.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-5.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-5-1.jpg">
                                <span>Kendra Scott</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-5-2.jpg">
                                <span>Red Carter</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-5-3.jpg">
                                <span>For Love &amp; Lemons</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-5-4.jpg">
                                <span>Ray&dash;Ban</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-6.jpg">
                            <span class="resort-page-prod__frame frame--yellow"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-7.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-8-1.jpg">
                                <span>For Love &amp; Lemons</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-8-2.jpg">
                                <span>Loeffler Randall</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-8-3.jpg">
                                <span>Marc Fisher LTD.</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-8-4.jpg">
                                <span>Ramy Brook</span>
                            </a></div>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-8.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-9.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/ruffles/prod-10.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>


                <footer class="resort-page-footer">
                    <a coremetricTag="" href="javascript:void(0);">Shop the Trend</a>
                </footer>

            </article>
            <!-- //ruffle -->


            <!-- swim -->
            <article id="swim" class="resort-page">

                <header class="resort-page__hero-image">
                    <a coremetricTag="" href="javascript:void(0);">
                        <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/hero-1.jpg">
                        <span class="resort-page-prod__frame"><span class="resort-page-prod__label">Shop the Trend</span></span>
                    </a>
                </header>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-copy__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-1.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-copy">
                        <h2 class="resort-page-copy__heading">The Splash Zone</h2>
                        <p class="resort-page-copy__text">Welcome warmer weather with a slew of new bathing suits&mdash;the bolder, the better. Think
                            one&dash;pieces adorned with light&dash;catching metallic appliqués, corset-strap detailing
                            on the
                            backs (and fronts) of standout styles, prints and patterns that bring the party to any pool,
                            and even a sporty black bikini with illusion paneling for the most daring of divers. Long
                            story short (we&#39;ll save the novel for your beach reading list): When it comes to
                            swimwear
                            this spring, it&#39;s okay to be a little extra.
                        </p>
                        <a coremetricTag="" href="javascript:void(0);">
                            <span class="resort-page-copy__link">Shop Swimsuits</span>
                            <span class="resort-page-copy__link damn--special">&amp; Cover&dash;Ups</span>
                        </a>
                    </div>
                </div>
                <!-- //page-copy -->

                <div class="resort-page-row">
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-2-1.jpg">
                                <span>Pitusa</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-2-2.jpg">
                                <span>Heidi Klum Swim</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-2-3.jpg">
                                <span>Red Carter</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-2-4.jpg">
                                <span>MINKPINK</span>
                            </a>
                        </div>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-2.jpg">
                            <span class="resort-page-prod__frame frame--yellow"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-3.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-4.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-5.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-5-1.jpg">
                                <span>TAVIK</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-5-2.jpg">
                                <span>kate spade new&nbsp;york</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-5-3.jpg">
                                <span>Vitamin A</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-5-4.jpg">
                                <span>Robin Piccone</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-6.jpg">
                            <span class="resort-page-prod__frame frame--yellow"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-7.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-8.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-9.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-10-1.jpg">
                                <span>Muche et Muchette</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-10-2.jpg">
                                <span>For Love &amp; Lemons</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-10-3.jpg">
                                <span>Eberjey</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-10-4.jpg">
                                <span>MILLY</span>
                            </a>
                        </div>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-10.jpg">
                            <span class="resort-page-prod__frame frame--yellow"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-11.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label label--white">Shop the Look</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell">
                        <div class="resort-page-prod-grid">
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-11-1.jpg">
                                <span>Suboo</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-11-2.jpg">
                            <span>Laundry by<br>
                                  Shelli Segal</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-11-3.jpg">
                                <span>Splendid</span>
                            </a>
                            <a coremetricTag="" href="javascript:void(0);">
                                <img alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-11-4.jpg">
                                <span>L*Space</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="resort-page-row">
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-12.jpg">
                            <span class="resort-page-prod__frame frame--white"><span class="resort-page-prod__label label--white">Shop the Trend</span></span>
                        </a>
                    </div>
                    <div class="resort-page-row__cell resort-page-prod">
                        <a coremetricTag="" class="resort-page-prod__link" href="javascript:void(0);">
                            <img class="resort-page-prod__image" alt="" src="/b/fashion/campaigns/images/spring-fashion-trends/2018/swim/prod-13.jpg">
                            <span class="resort-page-prod__frame"><span class="resort-page-prod__label">Shop the Look</span></span>
                        </a>
                    </div>
                </div>

                <footer class="resort-page-footer">
                    <a coremetricTag="" href="javascript:void(0);">Shop the Trend</a>
                </footer>

            </article>
            <!-- //swim -->


        </div><!-- //resort-pages-wrapper -->

    </main><!-- //resort-mainr -->

</div><!-- //resort-wrapper -->

<script>window.jQuery || document.write('<script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/libs/jquery.js"><\/script>')</script>

<script>
    window.__define = window.define;
    window.__require = window.require;
    window.define = undefined;
    window.require = undefined;
</script>
<script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/libs/matter.min.js"></script>
<script>
    window.define = window.__define;
    window.require = window.__require;
    window.__define = undefined;
    window.__require = undefined;
</script>
<!-- <script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/libs/matter.js"></script>-->
<!-- <script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/libs/jquery.sticky-sidebar.min.js"></script> -->
<!-- <script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/libs/jquery.sticky-sidebar.js"></script> -->
<!-- <script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/libs/emergence.js"></script> -->
<script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/libs/jquery.pin.js"></script>
<script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/resort-main.js"></script>
<script src="/b/fashion/campaigns/javascripts/spring-fashion-trends/2018/core-metrics.js"></script>