<!--headTitle={"title":"Bloomingdale's Denim Dictionary - Best Jean Styles in 2017"} -->
<!--headMeta={"content":"The hottest, on the rise jean styles in 2017 - See them here at Bloomingdale's! Also check out our Denim-on-Denim and Velvet Jeans DO'S & DON'TS!", "name":"description"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/denim/denim-styles/"}-->

<script>
	$('header.responsive').remove();
</script>

<link rel="stylesheet" href="/b/fashion/styles/projects/denim/styles.css">
<link rel="stylesheet" href="/b/fashion/styles/projects/denim/lookbook.css">

<nav id="mast-nav">
	<div class="inner">
		<div class="page-id"><a href="/b/denim/denim-trends/">Bloomingdale's Jeans Shop</a></div>
		<div class="rightAlign">
			<ul class="nav">
				<li class="trend active"><a href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a></li>
				<li class="style"><a href="/b/denim/denim-styles/">Style Inspiration</a></li>
				<li class="shop"><a href="">Shop All Jeans</a></li>
			</ul>
		</div>
	</div>
</nav>


<nav id="mobile-header">
	<div class="prime">
		<div class="burger">
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
		<img class="logo" src="http://m.bloomingdales.com/mew20/images/bloomingdales.png"/>
	</div>
	<div class="menu open" style="display:none;">
		<a class="active" href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a>
		<div class="sub">
			<a href="#throwback-silhouette">Throwback Silhouette</a>
			<a href="#velvet">Velvet</a>
			<a href="#statement-hems">Statement Hems</a>
			<a href="#jackets">Jackets</a>
			<a href="#best-sellers">Best Sellers</a>
		</div>
		<a href="/b/denim/denim-styles/">Style Inspiration</a>
		<a href="">Shop All Jeans</a>
		<p>Back to</p>
		<a href="//www.bloomingdales.com">bloomingdales.com</a>
	</div>
</nav>

<main id="lookbook">

	<div id="sub-nav">
		<a href="#throwback-silhouette">Throwback Silhouette</a>
		<a href="#velvet">Velvet</a>
		<a href="#statement-hems">Statement Hems</a>
		<a href="#jackets">Jackets</a>
		<a href="#best-sellers">Best Sellers</a>
	</div>

	<div id="hero">
		<img id="heroImg" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hero.jpg" alt="Fall 2017 Jeans"/>
		<div id="hero-text">
			<h1>The Denim<br/> Trend Report</h1>
			<p>Our roundup of all the trends that are having a moment (oh hey, frayed hems!), a new take on denim jackets, plus the best-selling pairs people can't stop raving about.</p>
		</div>
	</div>

	<section id="throwback-silhouette">
		<div class="heading two-col">
			<h2 class="col">The<div class="desktop"><br/></div> Throwback<br/> Silhouette</h2>
			<p class="col circle">It's an It-girl look that's anything but old school: vintage-inspired silhouettes with a higher rise and a straight, structured leg—in denim that's thicker and stiffer so they stand just right.</p>
		</div>
		<div class="sub">
			<div id="paige" class="product">
				<a class="brand" href="">
					<img id="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/throwback-1.jpg" alt="woman in paige jeans"/>
					<span>paige</span>
				</a>
			</div>
			<div id="mankind" class="product">
				<a class="brand" href="">
					<img id="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/throwback-2.jpg" alt="woman in 7 for all mankind jeans"/>
					<span>7 for all mankind</span>
				</a>
			</div>
		</div>
		<div class="sub">
			<div id="three-jeans" class="desktop">
				<a id="joes" class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/joes-jeans.jpg" alt=""/>
					joe's jeans
				</a>
				<a id="nobody" class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/nobody-jeans.jpg" alt=""/>
					nobody
				</a>
				<a id="levis" class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/levis-jeans.jpg" alt=""/>
					levi's
				</a>
			</div>
			<div id="hudson">
				<a class="brand" href="">
					<img class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/throwback-4.jpg" alt="woman in hudson jeans"/>
					<span>hudson</span>
				</a>
				<div class="sub-links">
					<div>
						<hr/><a class="brand" href="">shop throwback silhouettes</a>
					</div>
					<div>
						<hr/><a class="brand" href="">shop all jeans</a>
					</div>
				</div>
			</div>
			<div id="three-jeans" class="mobile">
				<a id="joes" class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/joes-jeans.jpg" alt=""/>
					joe's jeans
				</a>
				<a id="nobody" class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/nobody-jeans.jpg" alt=""/>
					nobody
				</a>
				<a id="levis" class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/levis-jeans.jpg" alt=""/>
					levi's
				</a>
			</div>
		</div>
	</section>

	<section id="velvet">
		<div class="header">	
			<a class="brand" href="">
				<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-1.jpg" alt=""/>
				<span>paige</span>
			</a>
		</div>
		<div class="heading">
			<h2 class="">The Denim Alternative: Velvet Jeans</h2>
			<p class="mobile">Fall's go-to fabric—in a jewel box of fresh shades—gives a plush touch to your favorite silhouettes.</p>
		</div>
		<div class="middle">
			<div class="one">
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-2.jpg" alt=""/>
					<span>J brand</span>
				</a>
			</div>
			<div class="two">
				<div class='desktop'>
					<p class="circle">Fall's go-to fabric—in a jewel box of fresh shades—gives a plush touch to your favorite silhouettes.</p>
				</div>
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-3.jpg" alt=""/>
					<span class="rightAlign">AG</span>
				</a>
			</div>
		</div> 
		<div class="bottom">
			<div class="laydown">
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-4.jpg" alt=""/>
					<span>Joe's Jeans</span>
				</a>
			</div>
			<div class="laydown">
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-5.jpg" alt=""/>
					<span>J brand</span>
				</a>
			</div>
		</div>
		<div class="sub-links">
			<div>
				<hr/><a class="brand" href="">shop velvet jeans</a>
			</div>
			<div>
				<hr/><a class="brand" href="">shop all jeans</a>
			</div>
		</div>
	</section>

	<section id="statement-hems">
		<div class="heading two-col">
			<h2 class="col">Statement Hems</h2>
			<p class="col circle">Avant&mdash;garde hems like jagged and shredded cropped flares, step-hem zippers and split- front styles show just the right amount of leg&mdash;elongating ankle.</p>
		</div>
		<div class="two-col">
			<a href="" class="brand col rightAlign">
				<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-1.jpg" alt=""/>
				<span class="vert">J brand</span>
			</a>
			<a href="" class="brand col rightAlign">
				<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-2.jpg" alt=""/>
				<span>7 for all mankind</span>
			</a>
		</div>
		<div class="two-col">
			<div class="small-col brand">
				<a href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-3.jpg" alt=""/>
					<span>joe's jeans</span>
				</a>
				<a href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-4.jpg" alt=""/>
					<span>ag</span>
				</a>
				<a href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-5.jpg" alt=""/>
					<span>paige</span>
				</a>
			</div>
			<div class="big-col">
				<a href="" class="brand">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-6.jpg" alt=""/>
					<span>DL1961</span>
				</a>
				<div class="sub-links">
					<div>
						<hr/><a class="brand" href="">shop statement hems</a>
					</div>
					<div>
						<hr/><a class="brand" href="">shop all jeans</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="jackets">
		<div class="header">	
			<a class="brand" href="">
				<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-1.jpg" alt=""/>
				<span>joe's jeans</span>
			</a>
		</div>
		<div class="heading">
			<h2 class="">The Denim Jacket Upgrade</h2>
			
		</div>
		<div class="middle">
			<div class="one">
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-2.jpg" alt=""/>
					<span>levi's</span>
				</a>
			</div>
			<div class="two">
				<p class="circle">Fall's go-to fabric—in a jewel box of fresh shades—gives a plush touch to your favorite silhouettes.</p>
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-3.jpg" alt=""/>
					<span class="rightAlign">joe's jeans</span>
				</a>
			</div>
		</div> 
		<div class="bottom">
			<div class="laydown">
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-4.jpg" alt=""/>
					<span>7 for all mankind</span>
				</a>
			</div>
			<div class="laydown">
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-5.jpg" alt=""/>
					<span>paige</span>
				</a>
			</div>
			<div class="laydown">
				<a class="brand" href="">
					<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-6.jpg" alt=""/>
					<span>Calvin Klein Jeans</span>
				</a>
			</div>
		</div>
		<div class="sub-links">
			<div>
				<hr/><a class="brand" href="">shop velvet jeans</a>
			</div>
			<div>
				<hr/><a class="brand" href="">shop all jeans</a>
			</div>
		</div>
	</section>

	<div id="favorites">
		<h2>Five-Pocket<br/>Favorites</h2>
		<span class="circle">Out of the countless cuts, rises and washes we have to offer, our customers love these eight styles the most. And when you consider how hard it is to find the perfect pair of jeans, that really is the truest measure of success. Find out for yourself what all the positive reviews are all about: We've restocked these cult classics just in time for fall.</span>
	</div>

	<section id="best-sellers">
		<a href="">
			<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers-1.jpg" alt=""/>
			<p class="brand">paige</p>
		</a
		><a href="">
			<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers-2.jpg" alt=""/>
			<p class="brand">j brand</p>
		</a
		><a href="">
			<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers-3.jpg" alt=""/>
			<p class="brand">mother</p>
		</a
		><a href="">
			<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers-4.jpg" alt=""/>
			<p class="brand">ag</p>
		</a
		><a href="">
			<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers-5.jpg" alt=""/>
			<p class="brand">7 for all mankind</p>
		</a
		><a href="">
			<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers-6.jpg" alt=""/>
			<p class="brand">levi's</p>
		</a
		><a href="">
			<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers-7.jpg" alt=""/>
			<p class="brand">frame</p>
		</a
		><a href="">
			<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers-8.jpg" alt=""/>
			<p class="brand">rag & bone / jean</p>
		</a>
	</section>

	<div id="shop-best-sellers" class="sub-links">
			<div class="link">
				<hr/><a class="brand" href="">shop best sellers</a>
			</div>
			<div class="link">
				<hr/><a class="brand" href="">shop all jeans</a>
			</div>
		</div>
</main>

<section id="lookbook-footer">
	<div class="housing">
		<a id="back-to-top">Back To Top</a> <span class="arrow">&#x2191;</span>
	</div>
</section>

<script src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>
<script src="/b/fashion/javascripts/projects/denim/script.js"></script>