<!--headTitle={"title":"Bloomingdale's Denim Dictionary - Best Jean Styles in 2017"} -->
<!--headMeta={"content":"The hottest, on the rise jean styles in 2017 - See them here at Bloomingdale's! Also check out our Denim-on-Denim and Velvet Jeans DO'S & DON'TS!", "name":"description"}-->
<!--headCanonical={"href":"fashion.bloomingdales.com/denim/denim-styles/"}-->

<script>
	$('header.responsive').remove();
</script>

<link rel="stylesheet" href="/b/fashion/styles/projects/denim/styles.css">
<link rel="stylesheet" href="/b/fashion/styles/projects/denim/lookbook.css">

<nav id="mast-nav">
	<div class="inner">
		<div class="page-id"><a href="/b/denim/denim-trends/">Bloomingdale's Jeans Shop</a></div>
		<div class="rightAlign">
			<ul class="nav">
				<li class="trend active"><a href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a></li>
				<li class="style"><a href="/b/denim/denim-styles/">Style Inspiration</a></li>
				<li class="shop"><a href="">Shop All Jeans</a></li>
			</ul>
		</div>
	</div>
</nav>
<main id="lookbook">

	<div id="sub-nav">
		<a href="#throwback-silhouette">Throwback Silhouette</a>
		<a href="#velvet">Velvet</a>
		<a href="#statement-hems">Statement Hems</a>
		<a href="#jackets">Jackets</a>
		<a href="#best-sellers">Best Sellers</a>
	</div>

	<div id="hero">
		<img id="heroImg" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hero.jpg" alt="Fall 2017 Jeans"/>
		<div id="hero-text">
			<h1>The Denim<br/> Trend Report</h1>
			<p>Our roundup of all the trends that are having a moment (oh hey, frayed hems!), a new take on denim jackets, plus the best-selling pairs people can't stop raving about.</p>
		</div>
	</div>

	<section id="throwback-silhouette">
		<div class="heading two-col">
			<h2 class="col">The<br/>Throwback<br/>Silhouette</h2>
			<p class="col circle">It's an It-girl look that's anything but old school: vintage-inspired silhouettes with a higher rise and a straight, structured leg—in denim that's thicker and stiffer so they stand just right.</p>
		</div>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/throwback-1.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/throwback-2.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/throwback-3.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/throwback-4.jpg" alt=""/>
	</section>

	<section id="velvet">
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-1.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-2.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-3.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/velvet-4.jpg" alt=""/>
	</section>

	<section id="statement-hems">
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-1.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-2.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-3.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hems-4.jpg" alt=""/>
	</section>

	<section id="jackets">
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-1.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-2.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-3.jpg" alt=""/>
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/jackets-4.jpg" alt=""/>
	</section>

	<section id="best-sellers">
		<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/best-sellers.jpg" alt=""/>
	</section>

</main>

<script src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>
<script src="/b/fashion/javascripts/projects/denim/script.js"></script>