<!--headTitle={"title":"Bloomingdale’s Jean Shop Lookbook – Popular Fashion Jeans 2018"} -->
<!--headMeta={"content":"Bloomingdale’s Jean Shop Lookbook - Your first (and last) destination for everything new and noteworthy on the denim scene.", "name":"description"}-->
<!--headCanonical={"href":"/b/denim/popular-fashion-jeans-lookbook/"}-->

<script>
	if ( BLOOMIES.isMobile === true ) {
		$('header.responsive').remove();
	}
</script>

<link rel="stylesheet" href="/b/fashion/styles/projects/denim/styles.css">
<link rel="stylesheet" href="/b/fashion/styles/projects/denim/lookbook.css">

<nav id="mobile-header">
	<div class="prime">
		<div class="burger">
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
		<a data-cm="nav-denim-trends" href="/b/denim/denim-trends/" class="menu-title">Bloomingdale's Jeans Shop</a>
	</div>
	<div class="menu open" style="display:none;">
		<a class="active"  data-cm="nav-lookbook" href="/b/denim/popular-fashion-jeans-lookbook/">Trend Lookbook</a>
		<div class="sub">
			<a data-cm="nav-track-stripes" href="#track-stripes">Track Stripes</a>
			<a data-cm="nav-skirts" href="#skirts">Skirts</a>
			<a data-cm="nav-front-seams" href="#front-seams">Front Seams</a>
			<a data-cm="nav-white" href="#white">White</a>
			<a data-cm="nav-light-wash" href="#light-wash">Light Wash</a>
			<a data-cm="nav-high-impact-hues" href="#high-impact-hues">High-Impact Hues</a>
			<a data-cm="nav-shorts" href="#shorts">Shorts</a>
		</div>
		<a data-cm="nav-blog" href="/b/denim/denim-styles/">The Guide</a>
		<a data-cm="nav-shop-all" href="/shop/womens-apparel/jeans?id=5545">Shop All Jeans</a>
		<p>Back to</p>
		<a data-cm="nav-bcom" href="//www.bloomingdales.com">bloomingdales.com</a>
	</div>
</nav>

<main id="lookbook-mobile">

	<div id="hero" class="hero">
		<img id="heroImg" class="mobile" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/hero-mob.jpg" alt="7 Days of Denim"/>
		<div id="hero-text" class="hero-text">
			<div class="days-of-week">M T W Th F S Su</div>
			<h1>7 Days</h1>
			<h1>of Denim</h1>
		</div>
		<p class="sub-text">
			Denimheads, this one’s for you. To show just how versatile our latest jeans are, we took on a jam-packed calendar, from work retreats to romantic rendezvous, in the most in-demand pairs of the season.
		</p>
	</div>

	<section id="track-stripes">
		<div class="on-top-text">

			<div class="main-image">
				<a class="brand" id="seven-for-all-mankind-track-stripes" href="/shop/product/?ID=2810003">
					<img class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/track-stripes-mob-1.jpg" alt="7 for all mankind"/>
					<span class="normal-brand-footer brand-footer">7 FOR ALL MANKIND</span>
				</a>
			</div>

			<div class="head">
				<div class="days-of-week"><span class="day-active">M</span> T W Th F S Su</div>
				<h2>App Launch Party</h2>
			
				<p>
					Rev up a pair of body-hugging skinnies with sporty, of-the-moment <span>track stripes.</span> The millennial blush detail--a colorful nod to your target demographic--elevates the look to party-level status thanks to the rich texture.
				</p>

				<div class="main-links">
					<div class="footer-link">
						<a class="brand" id="shop-track-stripes" href="/shop/womens-apparel/jeans/Jean_trends/Track%20Stripes?id=5545"/><span>SHOP TRACK STRIPES</span></a>
						<a class="brand" id="shop-all-jeans-track-stripes" href="/shop/womens-apparel/jeans?id=5545"><span>SHOP ALL JEANS</span></a>
					</div>
				</div>
			</div>

			<div class="main">
				<div class="three-jeans">
					<div class="product">
						<a id="rag-and-bone-jean-track-stripes" class="brand" href="/shop/product/?ID=2813070">
							<div class="track-stripes-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/track-stripes-rag-bone-jeans.jpg" alt=""/>
							</div>
							<span>rag &amp; bone/jean</span>
						</a>
					</div>
					<div class="product">
						<a id="nobody-track-stripes" class="brand" href="/shop/product/?ID=2814052">
							<div class="track-stripes-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/track-stripes-nobody-jeans.jpg" alt=""/>
							</div>
							<span>nobody</span>
						</a>
					</div>
					<div class="product">
						<a id="hudson-track-stripes" class="brand" href="/shop/product/?ID=2810562">
							<div class="track-stripes-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/track-stripes-hudson-jeans.jpg" alt=""/>
							</div>
							<span>hudson</span>
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</section>


	<section id="skirts">
		<div class="on-top-text">

			<div class="main-image">
				<a id="dl1961-skirts" class="brand" href="/shop/product/?ID=2813035">
					<img class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/skirts-1.jpg" alt="DL1961"/>
					<span class="circle-brand-footer normal-brand-footer">DL1961</span>
				</a>
			</div>

			<div class="head">
				<div class="days-of-week">M <span class="day-active">T</span> W Th F S Su</div>
				<h2>Courtside Seats</h2>
			
				<p>
					Cheer with your squad in a <span>denim mini</span> that’s bleachers-ready with a band tee and booties. A pale, love-worn wash and modern silhouette make it an easy style layup.
				</p>

				<div class="main-links">
					<div class="footer-link">
						<a class="brand" id="shop-denim-skirts" href="/shop/womens-apparel/skirts/Skirt_style/Denim?id=19951"/><span>SHOP DENIM SKIRTS</span></a>
						<a class="brand" id="shop-all-jeans-track-stripes" href="/shop/womens-apparel/jeans?id=5545"><span>SHOP ALL JEANS</span></a>
					</div>
				</div>
			</div>

			<div class="main">
				<div class="three-jeans">
					<div class="product">
						<a id="levis-skirts" class="brand" href="/shop/product/levis-deconstructed-denim-mini-skirt-in-gimme-danger?ID=2642792">
							<div class="skirts-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/skirts-levis.jpg" alt=""/>
							</div>
							<span>levi's</span>
						</a>
					</div>
					<div class="product">
						<a id="joes-jeans-skirts" class="brand" href="/shop/product/?ID=2812770">
							<div class="skirts-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/skirts-joes.jpg" alt=""/>
							</div>
							<span>joe's jeans</span>
						</a>
					</div>
					<div class="product">
						<a id="j-brand-skirts" class="brand" href="/shop/product/?ID=2810564">
							<div class="skirts-products">	
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/skirts-j-brand.jpg" alt=""/>
							</div>
							<span>J BRAND</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="front-seams">
		<div class="on-top-text">

			<div class="main-image">
				<a class="brand" id="ag-front-seams" href="/shop/product/?ID=2810006">
					<img class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/front-seams-mob-1.jpg" alt="AG"/>
					<span class="normal-brand-footer brand-footer">AG</span>
				</a>
			</div>

			<div class="head">
				<div class="days-of-week">M T <span class="day-active">W</span> Th F S Su</div>
				<h2>Client Pitch Meeting</h2>
			
				<p>
					This is your power suit: Seal the deal in denim featuring raised <span>front seams</span>--an in-the-know detail that adds a creative twist to your boss-lady look and shows off those trend-forecasting skills.
				</p>

				<div class="main-links">
					<div class="footer-link">
						<a class="brand" id="shop-front-seams" href="/shop/womens-apparel/jeans/Jean_trends/Front%20Seams?id=5545"/><span>SHOP FRONT SEAMS</span></a>
						<a class="brand" id="shop-all-jeans-track-stripes" href="/shop/womens-apparel/jeans?id=5545"><span>SHOP ALL JEANS</span></a>
					</div>
				</div>
			</div>

			<div class="main">
				<div class="three-jeans">
					<div class="product">
						<a id="dl1961-front-seams" class="brand" href="/shop/product/?ID=2812907">
							<div class="front-seams-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/front-seams-dl.jpg" alt=""/>
							</div>
							<span>dl1961</span>
						</a>
					</div>
					<div class="product">
						<a id="good-american-front-seams" class="brand" href="/b/in-store/good-american?cm_kws=good%20american">
							<div class="front-seams-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/front-seams-good-american.jpg" alt=""/>
							</div>
							<span>good american</span>
						</a>
					</div>
					<div class="product">
						<a id="seven-for-all-mankind-front-seams" class="brand" href="/shop/product/?ID=2814049">
							<div class="front-seams-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/front-seams-7-for-all.jpg" alt=""/>
							</div>
							<span>7 for all mankind</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="white">
		<div class="on-top-text">

			<div class="main-image">
				<a id="j-brand-white" class="brand" href="/shop/product/?ID=2810566">
					<img class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/white-1.jpg" alt="J BRAND"/>
					<span class="normal-brand-footer circle-brand-footer">J BRAND</span>
				</a>
			</div>

			<div class="head">
				<div class="days-of-week">M T W <span class="day-active">Th</span> F S Su</div>
				<h2>Dinner Date</h2>
			
				<p>
					Dare to wear <span>white jeans</span> to your favorite red-sauce joint. In this fresh, romantic look, the high-rise and braided trim complements a delicate cami for a conscious coupling that was made to last--even through courses of eggplant parmesan and baked ziti.
				</p>

				<div class="main-links">
					<div class="footer-link">
						<a class="brand" id="shop-white-jeans" href="/shop/womens-apparel/jeans/Wash/White?id=5545"/><span>SHOP WHITE JEANS</span></a>
						<a class="brand" id="shop-all-jeans-white-jeans" href="/shop/womens-apparel/jeans?id=5545"><span>SHOP ALL JEANS</span></a>
					</div>
				</div>
			</div>

			<div class="main">
				<div class="three-jeans">
					<div class="product">
						<a id="paige-white" class="brand" href="/shop/product/?ID=2814001">
							<div class="white-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/white-paige.jpg" alt=""/>
							</div>
							<span>paige</span>
						</a>
					</div>
					<div class="product">
						<a id="frame-white" class="brand" href="/shop/product/?ID=2813073">
							<div class="white-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/white-frame.jpg" alt=""/>
							</div>
							<span>frame</span>
						</a>
					</div>
					<div class="product">
						<a id="ag-white" class="brand" href="/shop/product/?ID=2537932">
							<div class="white-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/white-ag.jpg" alt=""/>
							</div>
							<span>AG</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>





	<section id="light-wash">
		<div class="on-top-text">

			<div class="main-image">
				<a class="brand" id="joes-jeans-light-wash" href="/shop/product/?ID=2814051">
					<img class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/light-wash-mob-1.jpg" alt="Joe's Jeans"/>
					<span class="normal-brand-footer brand-footer">JOE'S JEANS</span>
				</a>
			</div>

			<div class="head">
				<div class="days-of-week">M T W Th <span class="day-active">F</span> S Su</div>
				<h2>Offsite at Work</h2>
			
				<p>
					The season’s must-have rinse--a trendy <span>light wash</span>--still looks effortlessly chic thanks to a timeless trench and scarf that add a professional polish to your team-building style. Added bonus? The cropped tulip hem keeps things nimble enough for trust falls.
				</p>

				<div class="main-links">
					<div class="footer-link">
						<a class="brand" id="shop-light-wash" href="/shop/womens-apparel/jeans/Wash/Light%20Blue?id=5545"/><span>SHOP LIGHT WASH</span></a>
						<a class="brand" id="shop-all-jeans-light-wash" href="/shop/womens-apparel/jeans?id=5545"><span>SHOP ALL JEANS</span></a>
					</div>
				</div>
			</div>

			<div class="main">
				<div class="three-jeans">
					<div class="product">
						<a id="j-brand-light-wash" class="brand" href="/shop/product/?ID=2814054">
							<div class="light-wash-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/light-wash-j-brand.jpg" alt=""/>
							</div>
							<span>j brand</span>
						</a>
					</div>
					<div class="product">
						<a id="ag-light-wash" class="brand" href="/shop/product/?ID=2813012">
							<div class="light-wash-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/light-wash-ag.jpg" alt=""/>
							</div>
							<span>ag</span>
						</a>
					</div>
					<div class="product">
						<a id="seven-for-all-mankind-light-wash" class="brand" href="/shop/product/?ID=2809916">
							<div class="light-wash-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/light-wash-7-for-all.jpg" alt=""/>
							</div>
							<span>7 for all mankind</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="high-impact-hues">
		<div class="on-top-text">

			<div class="main-image">
				<a id="hudson-high-impact-hues" class="brand" href="/shop/product/?ID=2810563">
					<img class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/high-impact-1.jpg" alt="HUDSON"/>
					<span class="normal-brand-footer circle-brand-footer">HUDSON</span>
				</a>
			</div>

			<div class="head">
				<div class="days-of-week">M T W Th F <span class="day-active">S</span> Su</div>
				<h2>Live Band</h2>
			
				<p>
					A fiery hue and shredded hems give this straight-leg silhouette a total rocker vibe. Spring’s unexpected <span>saturated shades</span>--from hot pinks to perky peach--turn up the attitude for looks that are as amped as the venue’s speakers.
				</p>

				<div class="main-links">
					<div class="footer-link">
						<a class="brand" id="shop-high-impact-hues" href="/shop/womens-apparel/jeans/Jean_trends/High-Impact%20Hues?id=5545"/><span>SHOP HIGH-IMPACT HUES</span></a>
						<a class="brand" id="shop-all-impact-hues" href="/shop/womens-apparel/jeans?id=5545"><span>SHOP ALL JEANS</span></a>
					</div>
				</div>
			</div>

			<div class="main">
				<div class="three-jeans">
					<div class="product">
						<a id="joes-jeans-high-impact-hues" class="brand" href="/shop/product/?ID=2814007">
							<div class="high-impact-hues-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/high-impact-joes.jpg" alt=""/>
							</div>
							<span>joe's jeans</span>
						</a>
					</div>
					<div class="product">
						<a id="paige-high-impact-hues" class="brand" href="/shop/product/?ID=2814004">
							<div class="high-impact-hues-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/high-impact-paige.jpg" alt=""/>
							</div>
							<span>paige</span>
						</a>
					</div>
					<div class="product">
						<a id="rag-and-bone-jean-high-impact-hues" class="brand" href="/shop/product/?ID=2813071">
							<div class="high-impact-hues-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/high-impact-rag-bone.jpg" alt=""/>
							</div>
							<span>rag &amp; bone/jean</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="shorts">
		<div class="on-top-text">

			<div class="main-image">
				<a class="brand" id="levis-shorts" href="/shop/product/?ID=2814050">
					<img class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/shorts-mob-1.jpg" alt="Levi's"/>
					<span class="normal-brand-footer brand-footer">LEVI'S</span>
				</a>
			</div>

			<div class="head">
				<div class="days-of-week">M T W Th F S <span class="day-active">Su</span></div>
				<h2>Brunch to<br/>Bike Rides</h2>
			
				<p>
					Cutoffs were made for a chill weekend scene. Go with the flow in a tee-and-shorts combo that embodies street style with off-duty ease. A bleached wash and edgy distressing update your go-to jorts, while longer inseams are ready for any spontaneous adventure--or lazy-afternoon lounging.
				</p>

				<div class="main-links">
					<div class="footer-link">
						<a class="brand" id="shop-shorts" href="/shop/womens-apparel/jean-shorts?id=1004908"/><span>SHOP SHORTS</span></a>
						<a class="brand" id="shop-all-jeans-shorts" href="/shop/womens-apparel/jeans?id=5545"><span>SHOP ALL JEANS</span></a>
					</div>
				</div>
			</div>

			<div class="main">
				<div class="three-jeans">
					<div class="product">
						<a id="current-elliott-shorts" class="brand" href="/shop/product/?ID=2813074">
							<div class="shorts-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/shorts-current.jpg" alt=""/>
							</div>
							<span>current/elliott</span>
						</a>
					</div>
					<div class="product">
						<a id="joes-jeans-shorts" class="brand" href="/shop/product/?ID=2812939">
							<div class="shorts-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/shorts-joes.jpg" alt=""/>
							</div>
							<span>joe's jeans</span>
						</a>
					</div>
					<div class="product">
						<a id="good-american-shorts" class="brand" href="/b/in-store/good-american?cm_kws=good%20american">
							<div class="shorts-products">
								<img id="" class="" src="/b/fashion/images/projects/denim/popular-fashion-jeans-lookbook/shorts-good-american.jpg" alt=""/>
							</div>
							<span>good american</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<section id="lookbook-footer">

	<div class="footer-text mobile-footer">
		<span>ALSO SHOP:
			<a href="/shop/plus-size-clothing/jeans?id=5466" id="plus-jeans">PLUS JEANS</a>
		</span>
		<div class="btt" id="lookbook-btt">
			<a data-cm="back-to-top" id="back-to-top" class="back-to-top" href="" aria-label="Back to Top"></a>
		</div>
	</div>
	<div class="housing">
		<div class="social">
			<a href="https://www.instagram.com/bloomingdales/" data-cm="share-instagram" class="instagram icon">Instagram</a>
			<a aria-label="Share to Facebook" data-cm="share-facebook" href="" class="facebook icon">Facebook</a>
			<a aria-label="Share to Pinterest" data-cm="share-pinterest" href="" class="pinterest icon">Pinterest</a>
			<a aria-label="Share to Twitter" data-cm="share-twitter" href="" class="twitter icon">Twitter</a>
		</div>
	</div>
</section>

<script src="/b/fashion/javascripts/libs/jquery-1.9.1.min.js"></script>
<script src="/b/fashion/javascripts/projects/denim/script.js"></script>